<ion-view title="{{campaign.theme}}">

  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear button-dark" href="{{ campaignReturnUri }}">返回</a>
  </ion-nav-buttons>

  <ion-tabs tabs-type="tabs-icon-top tabs-positive" class="donler_tabs donler_tabs_bottom">

    <ion-tab title="详情" icon="ion-ios7-information-outline">
      <ion-content has-header="true" class="wrap campaign_detail">
        <div class="list detail_list">
          <div class="item item-divider">
            主题: {{campaign.theme}}
          </div>
          <div class="item clearfix">
            <span class="title">开始时间:</span>
            <span class="content">{{campaign.start_time | date:"yyyy-MM-dd HH:mm"}}</span>
          </div>
          <div class="item clearfix">
            <span class="title">结束时间:</span>
            <span class="content">{{campaign.end_time | date:"yyyy-MM-dd HH:mm"}}</span>
          </div>
          <div class="item clearfix">
            <span class="title">报名截止:</span>
            <span class="content">{{campaign.deadline | date:"yyyy-MM-dd HH:mm"}}</span>
          </div>
          <div class="item item-divider">
            活动介绍:
          </div>
          <div class="item intro_item">
            <div ng-bind-html="campaign.content"></div>
          </div>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="评论" icon="ion-chatbubble">
      <div class="comment_edit" ng-if="publishing">
        <form name="comment_form">
          <input class="comment_input" type="text" name="comment" ng-model="comment_content.text" placeholder="写点什么吧" maxlength=140 required/>
          <button class="comment_button" ng-click="publishComment()" ng-disabled="comment_form.$invalid"> 发表</button>
        </form>
      </div>
      <ion-content has-header="true" class="wrap campaign_detail">
        <div class="simple_title padding clearfix">
          <div class="title">活动相册</div>
          <!-- <form id="upload_form" class="upload_form pull-right" name="upload_form" action="{{ upload_form_url }}" method="post" enctype="multipart/form-data" upload-directive>
            <input id="upload_input" class="upload_input" type="file" name="photos" multiple="multiple" accept="image/*;capture=camera" validFile required/>
            <label for="upload_input" class="button icon ion-plus upload_button operator_button"></label>
          </form> -->
          <button class="button icon ion-plus upload_button operator_button" ng-click="selectFile()"></button>
        </div>
        <div id="photo_list" class="photo_list" ng-if="photos.length > 0">
          <ion-slide-box on-slide-changed="slideChange($index)" class="photo_slide_box clearfix">
            <ion-slide ng-repeat="photo_page in photos_view" class="photo_box" length="photos_view.length" hide-pager>
              <div class="inner_{{photo_page.length}} clearfix">
                <div ng-repeat="photo in photo_page" class="cell_{{$index+1}}" ng-click="openModal(photo.index)">
                  <img class="photo" ng-src="{{ base_url + photo.uri +'/145/145'}}" thumbnail-photo/>
                </div>
              </div>
            </ion-slide>
          </ion-slide-box>
        </div>
        <div class="padding">
          <p ng-if="photos.length === 0">目前还没有活动照片，快来上传吧</p>
        </div>

        <div class="padding clearfix simple_title">
          <div class="title">评论</div>
          <button class="button icon ion-plus pull-right operator_button" ng-click="togglePublishing()"></button>
        </div>
        <div ng-if="comments.length > 0" class="comments">
          <div ng-repeat="comment in comments" ng-class="{'self':comment.poster._id==user_id, 'other':comment.poster._id!=user_id}" class="clearfix">
            <div class="photo_box">
              <img ng-src="{{base_url + comment.poster.photo}}" class="photo img_user"/>
            </div>
            <div class="comment_body">
              <div class="nickname">{{comment.poster.nickname}}</div>
              <div class="clearfix">
                <div class="content">{{comment.content}}</div>
              </div>
              <div class="time">{{comment.create_date | date:'yyyy-MM-dd HH:mm'}}</div>
            </div>
          </div>
        </div>
        <div class="padding">
          <p ng-if="comments.length === 0">目前没有评论，快来抢沙发吧</p>
        </div>
        <div class="placeholder" ng-if="publishing"></div>
      </ion-content>
    </ion-tab>

    <ion-tab title="成员" icon="ion-ios7-person-outline">
      <ion-content has-header="true" class="wrap campaign_detail">
        <div class="padding">
          <div ng-if="campaign.campaign_type<=3" class="campaign_members_wrap content clearfix">
            <!-- href="#/app/other_user_info/{{ user.uid }}" -->
            <a class="campaign_member_panel" ng-repeat="user in campaign.member">
              <div class="campaign_member_wrap">
                <img class="campaign_member_photo img_user" ng-src="{{ base_url + '/logo/user/' + user.uid + '/100/100' }}"/>
                <p class="campaign_member_name">{{ user.nickname }}</p>
              </div>
            </a>
            <p ng-if="campaign.member.length==0">目前没有人员参加</p>
          </div>
          <div ng-if="campaign.campaign_type>3" class="campaign_members_wrap content clearfix">
            <!-- href="#/app/other_user_info/{{ user.uid }}" -->
            <div ng-repeat="team in campaign.myteam">
              <div class="row campaign_line">
                <p class="campaign_team_info">
                  <img class="campaign_group_logo" ng-src="{{ base_url + team.logo }}"/>
                  {{ team.name }}
                </p>
              </div>
              <a class="campaign_member_panel" ng-repeat="user in team.member">
                <div class="campaign_member_wrap">
                  <img class="campaign_member_photo img_user" ng-src="{{ base_url + '/logo/user/' + user.uid + '/100/100' }}"/>
                  <p class="campaign_member_name">{{ user.nickname }}</p>
                </div>
              </a>
              <p ng-if="team.member.length==0">目前没有人员参加</p>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="地点" icon="ion-ios7-location-outline">
      <ion-content has-header="true" class="wrap campaign_detail">
        <div class="padding">
          <p>活动地点</p>
          <a ng-if="campaign.location.coordinates.length==2" href="http://mo.amap.com/?q={{campaign.location.coordinates[1]}},{{campaign.location.coordinates[0]}}&name={{campaign.location.name}}" target="_blank">
<!--             <img ng-if="campaign.location.coordinates.length==2" class="location" ng-src="http://api.map.baidu.com/staticimage?width=580&height=520&center={{campaign.location.coordinates[0]}},{{campaign.location.coordinates[1]}}&zoom=15&markers={{campaign.location.name}}|{{campaign.location.coordinates[0]}},{{campaign.location.coordinates[1]}}&markerStyles=m,A,0xff0000&labels={{campaign.location.name}}|{{campaign.location.coordinates[0]}},{{campaign.location.coordinates[1]}}&labelStyles={{campaign.location.name}},1,14,0xffffff,0x000fff,1"/> -->
          <img ng-if="campaign.location.coordinates.length==2" class="location" ng-src="http://restapi.amap.com/v3/staticmap?location={{campaign.location.coordinates[0]}},{{campaign.location.coordinates[1]}}&zoom=15&size=600*520&markers=mid,,A:{{campaign.location.coordinates[0]}},{{campaign.location.coordinates[1]}}&labels={{campaign.location.name | nospace}},2,0,12,0xffffff,0x3498db:{{campaign.location.coordinates[0]}},{{campaign.location.coordinates[1]}}&key=077eff0a89079f77e2893d6735c2f044"/>
          </a>
          <p ng-if="campaign.location.coordinates.length==0">{{campaign.location.name}}</p>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="参加" icon="ion-ios7-location-outline" ng-if="!campaign.finish"></ion-tab>

  </ion-tabs>

  <div class="join_box" ng-if="!campaign.finish">
    <div class="operator" ng-if="!campaign.is_joined" ng-click="campaign.myteam.length<2 ? join(campaign,campaign.myteam[0].id) : openselectModal()">参加</div>
    <div class="operator" ng-if="campaign.is_joined" ng-click="quit(campaign._id)">退出</div>
  </div>

</ion-view>





