
<ion-view title="我参加的活动" class="campaign">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-refresher
      on-refresh="doRefresh()">
    </ion-refresher>
    <ng-include src="'templates/partials/campaigns.html'"></ng-include>
    <ion-infinite-scroll ng-if="moreData && campaign_list.length>0" on-infinite="loadMore(loadMoreFinish)" distance="5%"></ion-infinite-scroll>
    <div class="more_data_text" ng-if="!moreData">{{ remind_text }}</div>
  </ion-content>
</ion-view>
