
<ion-view title="动梨">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href="#/app/campaign_list" class="button button-clear icon ion-ios7-alarm-outline"> </a>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <ion-refresher
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-slide-box does-continue="true" class="index_slide_box" length="nowCampaigns.length" hidePager ng-cloak>
      <ion-slide class="now_campaign_item" ng-repeat="nowCampaign in nowCampaigns">
        <a href="#/app/campaign_detail/{{ nowCampaign._id }}/{{nowCampaign.start_flag==1 ? '1':''}}" class="campaign_link">
          <div class="row campaign_title">
            <img class="campaign_group_logo" ng-src="{{ img_url + nowCampaign.logo + '/72/72'}}"/>
            <div class="campaign_label">
              <p class="campaign_theme"> {{ nowCampaign.theme }} </p>
              <p class="now_campaign_now" ng-if="nowCampaign.start_flag==1"> 正在进行的活动 </p>
            </div>

          </div>
          <div ng-if="nowCampaign.start_flag==0 || nowCampaign.photo_thumbnails.length==0" class="now_campaign_time">
            <p class="campaign_time_remind">{{ nowCampaign.remind_text }}</p>
            <p ng-if="nowCampaign.start_flag!=0" class="campaign_time_count">快来传照片吧</p>
            <p ng-if="nowCampaign.start_flag==0" class="campaign_time_count">{{ nowCampaign.start_time_text }}</p>
          </div>
          <div ng-if="nowCampaign.start_flag!=0 && nowCampaign.photo_thumbnails.length>0" class="now_campaign_photos">
            <img class="now_campaign_photo" ng-src="{{ img_url + photo.uri + '/150/150'}}" ng-repeat="photo in nowCampaign.photo_thumbnails">
          </div>
        </a>
      </ion-slide>
    </ion-slide-box>
    <ion-list>
      <ion-item class="new_campaign_item" ng-repeat="campaign in newCampaigns">
        <div class="new_finish_campaign" ng-if="campaign.finishStatus==true">
          <a href="#/app/campaign_detail/{{ campaign._id }}/1" class="campaign_link">
            <div class="row campaign_title">
              <p class="campaign_theme"> {{ campaign.theme }} </p>
              <p class="campaign_time"> {{ campaign.formatTime }} 结束</p>
            </div>
            <div class="campaign_photos">
              <img class="campaign_photo" ng-src="{{ img_url + photo.uri + '/150/150' }}" ng-repeat="photo in campaign.photo_thumbnails">
            </div>
          </a>
        </div>
        <a href="#/app/campaign_detail/{{ campaign._id }}/" class="campaign_link" ng-if="!campaign.finishStatus">
          <div class="row campaign_title">
            <img class="campaign_group_logo" ng-src="{{ img_url + campaign.logo + '/72/72'}}"/>
            <div class="campaign_label">
              <p class="campaign_theme"> {{ campaign.theme }} </p>
              <p class="new_campaign_time">开始时间：{{campaign.start_time | date:"yyyy-MM-dd HH:mm"}} </p>
              <div ng-if="campaign.is_joined" class="joined_sign"></div>
            </div>
          </div>
        </a>
        <ion-option-button class="button-calm" ng-if="campaign.active!=undefined &&!campaign.is_joined" ng-click="campaign.myteam.length<2 ? join(campaign,campaign.myteam[0].id) : openselectModal(campaign)">
          参加
        </ion-option-button>
        <ion-option-button class="button-calm" ng-if="!campaign.active ||campaign.is_joined">
          已参加
        </ion-option-button>

      </ion-item>
    </ion-list>
    <div class="more_data_text" ng-if="!moreData">您还没有活动，快去组织吧。</div>
  </ion-content>
</ion-view>
