<ion-content class="login_wrap">
  <div class="login_head">
    <div class="table_wrap">
      <div class="table_cell">
        <img class="logo" src="./img/dl_logol.png"/>
      </div>
    </div>
  </div>
  <div class="row login_body" ng-if="checkStatus">
    <div class="col-10"></div>
    <div class="col-80 login_modal">
      <div class="list list-inset login_line">
        <label class="item item-input">
          <i class="icon ion-ios7-person-outline placeholder-icon"></i>
          <input type="email" placeholder="邮箱" ng-model="data.username">
        </label>
      </div>
      <div class="list list-inset login_line">
        <label class="item item-input">
          <i class="icon ion-ios7-locked-outline placeholder-icon"></i>
          <input type="password" placeholder="密码" ng-model="data.password">
        </label>
      </div>
      <div class="list list-inset login_line">
        <label class="item item-input">
          <a class="agreement_button" href="#/app/agreement">隐私政策</a>
        </label>
      </div>
      <div class="login_line">
        <button class="button button-block login_button" ng-click="login(data.username, data.password)" ng-disabled="data.username==''|| data.password==''">马上登录</button>
      </div>
      <p class="login_forget login_line">
        <span class="login_msg">{{ loginMsg }}</span>
        <!-- <a href="#">忘记密码?</a> -->
      </p>
      <!--<p class="login_info">注册请至Donler.com网页端注册</p>-->
    </div>
    <div class="col-10"></div>
  </div>
</ion-content>

