<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7 menu_bar">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left" class="menu_wrap">
    <ion-content>
      <header>
        <img class="menu_logo" src="img/logo_b.png"/>
      </header>
      <div class="menu_personal_info" ng-if="_id">
        <img class="menu_photo" ng-src="{{ base_url }}/logo/user/{{ _id }}/80/80"/>
        <p class="menu_nickname">{{ nickname }}</p>
      </div>
      <ion-list class="menu_list">
        <ion-item nav-clear menu-close href="#/app/campaign_list">
          活动列表
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/schedule_list">
          我的日程
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/dynamic_list">
          我的动态
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/group_list/joined">
          小队列表
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/timeline">
          我的活动足迹
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/user_info">
          个人资料
        </ion-item>
        <ion-item nav-clear menu-close ng-click="logout()">
          退出
        </icon-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
