<ion-side-menus>

  <ion-side-menu-content drag-content="enable_drag">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7 menu_bar">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="menu_wrap">
    <ion-content>
      <header>
        <img class="menu_logo" src="img/dl_logol.png"/>
      </header>
      <div class="menu_personal_info" ng-if="user._id">
        <a href="#/app/user_info">
          <img class="menu_photo" ng-src="{{ img_url }}/logo/user/{{ user._id }}/80/80"/>
        </a>
        <p class="menu_nickname">{{ user.nickname }}</p>
      </div>
      <ion-list class="menu_list">
        <ion-item nav-clear menu-close href="#/app/index">
          最新活动
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/campaign_list">
          我的提醒
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/schedule_list">
          我的日程
        </ion-item>
        <!--<ion-item nav-clear menu-close href="#/app/dynamic_list">
          我的动态
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/group_list/joined">
          小队列表
        </ion-item> -->
        <ion-item nav-clear menu-close href="#/app/timeline">
          我的足迹
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings">
          设置
        </ion-item>
        <!-- <ion-item nav-clear menu-close ng-click="#/app/msg_list">
          <span class="donler_msg_corner"></span>
          站内信
        </icon-item> -->
        <!--ion-item nav-clear menu-close ng-click="logout()">
          退出
        </icon-item> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
