<ion-view title="活动足迹">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" delegate-handle="timelineScroll">
    <ion-refresher on-refresh="doRefresh()" pulling-text="下拉刷新..." refreshing-text="刷新中...">
    </ion-refresher>
    <div class="dl_timeline">
      <div class="timeline_element" ng-repeat="time_line in time_lines">
        <a ng-click="rememberPosition(time_line.id)" href="">
          <div class="timeline-left">
            <img class="timeline-logo" ng-src="{{base_url + time_line.logo}}"/>
          </div>
          <div class="timeline-right">
            <div class="title">
              <span class="head">
                {{time_line.head}}
              </span>
              <span class="date">
                {{time_line.start_time | date:'MM/dd'}}
              </span>
            </div>
            <div class="timeline_content">
              <div class="img_scroll">
                <div class="photos_{{time_line.photo_list.length}}">
                  <img class="photo photo_{{$index}}" ng-src="{{base_url + photo.thumbnail_uri}}" ng-repeat="photo in time_line.photo_list">
                </div>
              </div>
            </div>
          </div>
        </a>

      </div>
    </div>

    <ion-infinite-scroll ng-if="moreData && time_lines.length>0" on-infinite="loadMore(loadMoreFinish)" distance="5%"></ion-infinite-scroll>
    <div class="more_data_text" ng-if="!moreData">没有更多的足迹</div>
  </ion-content>
</ion-view>