<ion-view title="活动足迹">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="dl_timeline">
      <div class="timeline_element" ng-repeat="time_line in time_lines">
        <div class="timeline-left">
          <a href="#/app/campaign_detail/{{ time_line.id }}">
            <img class="timeline-logo" ng-src="{{base_url + time_line.logo}}"/>
          </a>
        </div>
        <div class="timeline-right">
          <a href="#/app/campaign_detail/{{ time_line.id }}">
            <div class="title">
              <span class="head">
                {{time_line.head}}
              </span>
              <span class="date">
                {{time_line.start_time | date:'MM/dd'}}
              </span>
            </div>
            <div class="timeline_content">
              <div class="img_scroll">
                <div class="photos_{{time_line.photo_list.length}}">
                  <img class="photo photo_{{$index}}" ng-src="{{base_url + photo.thumbnail_uri}}" ng-repeat="photo in time_line.photo_list">
                </div>
              </div>
              <p ng-if="time_line.photo_list.length==0" ng-bind-html="time_line.content">
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <ion-infinite-scroll ng-if="moreData" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
    <div class="head_title" ng-if="!moreData">没有更多的足迹</div>
  </ion-content>
</ion-view>