
<ion-view title="修改头像" animation="slide-left-right">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-ios7-arrow-back button-clear button-dark" href="#/app/settings">返回</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button icon-right ion-plus button-clear button-dark" ng-click="openUploadModal()"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="user_photo">
      <button class="button button-block button-large button-outline button-positive" ng-click="getPhoto()">
        <i class="icon ion-camera"></i> 拍照上传
      </button>
      <button class="button button-block button-large button-outline button-positive" ng-click="selectFile()">
        <i class="icon ion-images"></i> 本地图片
      </button>
      <form id="edit_photo_form" action="{{ edit_form_action }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="userId" value="{{uid}}">
        <input type="hidden" name="target" value="u">
        <input type="hidden" name="width" value="{{crop_args.width}}">
        <input type="hidden" name="height" value="{{crop_args.height}}">
        <input type="hidden" name="x" value="{{crop_args.x}}">
        <input type="hidden" name="y" value="{{crop_args.y}}">
        <!-- <div class="photo_border"> 
          <img class="photo" id="preview" ng-src="{{preview_img}}" crop="crop_args" resource="preview_img" crop-photo/>
        </div> -->
        <!-- <button ng-disabled="!uploadfile" class="button button-calm" ng-click="uploadPhoto()">确认</button> -->
      </form>
    </div>
  </ion-content>
</ion-view>