/* Empty. Add your own CSS if you like */


body
  background-color #e2e2e2

.dl_header
  opacity 0.9
.campaigns_container
  padding-bottom 44px
  .campaign_list
    height 100%
    margin-bottom 49px
    background-color #e2e2e2
    .campaign_container
      .campaign_container_title
        color #618BD7
        font-size 24px
        margin-left 20px
        padding-top 20px
.dl_card
  margin 20px 20px 15px
  box-shadow 0 4px 0 rgba(204, 204, 204, 1)
  background-color #fff
  .item
    background-color #fff
    border-color #fff
  .dl_card_header
    .dl_team_logo_right
      position absolute
      top 16px
      right 16px
    .dl_team_vs
      width 100%
      height 30px
      width 135px
      display block
      background-color #6a73c6
      margin 0 auto
      border-radius 100%
      color #fff
      font-size 32px
      line-height 24px
      text-align center
    .button_container
      position absolute
      right 16px
      top 16px
  .dl_card_header_provoke
    padding-right 72px
  .dl_card_body
    padding 0
    .dl_prvoke_info
      .dl_team_name
        color #6a73c6
        margin 0 5px
    .dl_photo_alb
      white-space nowrap
.bar-footer
  padding 0
.icon_blue
  color #3ca2e0
.button-bar > .button
  padding 0
  color #999
.app_tabs > .tabs
  background-color #000
  color #fbfbfb
  .tab-item
    position relative
    .icon
      width 32px
    .red_spot
      background-color #f48361
      position absolute
      width 12px
      height 12px
      border-radius 100%
      left 55%
      top 5%
  .tab-item-active
    .tab-title
      color #3ca2e0
.ion_campaign
  background-image url('/img/icon.png')
  background-size 160px
  background-position 8px 5px
.ion_campaign_active
  background-image url('/img/icon.png')
  background-size 160px
  background-position 8px -35px
.ion_discuss
  background-image url('/img/icon.png')
  background-size 160px
  background-position -33px 5px
.ion_discuss_active
  background-image url('/img/icon.png')
  background-size 160px
  background-position -33px -35px
.ion_discover
  background-image url('/img/icon.png')
  background-size 160px
  background-position -73px 5px
.ion_discover_active
  background-image url('/img/icon.png')
  background-size 160px
  background-position -73px -35px
.ion_personal
  background-image url('/img/icon.png')
  background-size 160px
  background-position -113px 5px
.ion_personal_active
  background-image url('/img/icon.png')
  background-size 160px
  background-position -113px -35px
.comments
  .time
    text-align center
    width 100%
    float left
  .comment
    width 100%
    .content
      float left
      width 80%
    .author
      float right
      width 20%

.signup_form
  select
    width 30%
    float left
  .dl_item_input
    padding 6px 0 5px 16px
    input.arecode
      width 25%
      float left
    input.number
      width 50%
      float left
    input.extension
      width 25%
      float left
  .ng-dirty.ng-invalid
    background-color #FCEBEB

// 日程
.calendar
  height 100%

  nav
    background-color rgb(246, 246, 246)
    border-bottom solid 1px rgb(220, 220, 220)
    .operator
      background-color #3ca2e0
      color white
      border none
    .week
      position relative
      background-color #3ca2e0
      .day
        float left
        width (100 / 7)%
        height 20px
        line-height 20px
        color #fff
    .date_list
      position relative
      margin-top 5px

      .date_box
        float left
        width (100 / 7)%
        height 30px
        line-height 30px

        .date
          margin-top 10%
          margin-left auto
          margin-right auto
          // width navDateSize
          // height navDateSize
          // line-height navDateSize

        .current_day
          color white
          border-radius 50px
          background-color black

        // .current_day.today
        //   background-color themeColor

    .date_bar
      margin 5px auto

  .full_box
    height 100%

  .calendar_box
    position relative

    .swipe-cards
      height 100%

    .swipe-card
      height 100%

  .calendar_year
    position relative
    height 100%
    // padding yearSectionPadding

    .year_section
      float left
      width (100 / 3)%
      height 25%
      text-align center
      // padding yearSectionPadding
      // color themeColor

      // .table_wrap
      //   border solid 1px themeColor

  .calendar_month
    position relative
    height 100%

    .month
      width (100 / 7)%
      height 40px
      padding-top 15px
      // color themeColor
      text-align center

    .calendar_day
      position relative
      float left
      width (100 / 7)%
      height 60px
      border-top solid 1px rgb(220, 220, 220)
      .calendar_date
        margin-top 15%
        margin-left auto
        margin-right auto
        // width monthDateSize
        // height monthDateSize
        // line-height monthDateSize
      .calendar_campaign_count
        display inline-block
        color white
        background-color #3ca2e0
        border-radius 100%
        width 20px
        height 20px
        line-height 20px
      &.today
        background-color #3ca2e0
        .calendar_date
          color white
          border-radius 50px
        .calendar_campaign_count
          color #3ca2e0
          background-color white
      

      .event_unjoin, .event_joined
        width 0
        height 0
        margin-top 15%
        margin-left auto
        margin-right auto
        border-style solid
        border-width 3px
        border-radius 30px
        font-size 0px

      .weekend
        color gray

    for day in (0..6)
      .offset_{day}
        margin-left (100 * day / 7)%

  .calendar_day
    padding 5px
    position relative
    .swipe-cards
      height auto

    .swipe-card
      height auto
      min-height 100%

    .calendar_campaign
      margin 0
      padding 0
      border-bottom 1px
      border-left none
      border-right none
      &:first-child
        border-top none
      .campaign_link
        text-decoration none
        .campaign_title
          padding 0
          .campaign_group_logo
            margin 10px
            width 36px
            height 36px
            vertical-align middle
            border 1px solid white
            border-radius 5px
          .campaign_label
            padding 10px 0
            p
              padding 0
              margin 0
            .campaign_theme
              font-size 16px
              color black
            .new_campaign_time
              font-size 14px
            .joined_sign
              position absolute
              right 0
              top 0
              width 0
              height 0
              border-color transparent #43cee6 transparent transparent
              border-style solid
              border-width 0 20px 20px
