/* Empty. Add your own CSS if you like */

// colors
col_black = #333333
col_navGray = #fbfbfb
col_gray = #e2e2e2
col_darkGray = #999999
col_blue = #3ca2e0
col_darkBlue = #618bd7
col_iconPurple = #6a73c6
col_borderPurple = #806dd0
col_textPurple = #9e6dd0
col_lightGray = #676767

html
  font-size 12px
body
  background-color col_gray
  font-size 12px
.pane, .view
  background-color col_gray

.clearfix
  &:before, &:after
    display table
    content " "
  &:after
    clear both

.dl_header
  opacity 0.9
.campaigns_container
  padding-bottom 44px
  .campaign_list
    height 100%
    margin-bottom 49px
    background-color col_gray
    .campaign_container
      .campaign_container_title
        font-size 16px
        margin-left 1rem
        padding-top 1rem
        &.icon_blue
          color col_blue
        &.icon_darkBlue
          color col_darkBlue
        &.icon_iconPurple
          color col_iconPurple
        &.icon_borderPurple
          color col_borderPurple
        &.icon_textPurple
          color col_textPurple
.dl_card
  position relative
  margin 1rem
  box-shadow 0 2px 0 rgba(204, 204, 204, 1)
  background-color #fff
  .provoke_card
    display block
    text-decoration none
    .dl_card_header
      border-bottom 1px solid col_darkGray
      height 65px
    .dl_team_logo
      position absolute
      display block
      left 0
      top 0
      margin 10px
      width 45px
      height 45px
    .dl_team_logo_right
      left initial
      right 0
    .dl_team_vs
      margin 17.5px auto
      height 30px
      width 135px
      display block
      background-color col_darkBlue
      border-radius 100%
      color #fff
      font-size 32px
      line-height 24px
      text-align center
    .dl_card_body
      padding 1rem
      font-size 14px
    .dl_provoke_info
      color col_darkGray
    .dl_team_name
      color col_iconPurple
    .dl_cp_name
      margin-top 10px
      color col_black
      font-size 16px
    .dl_card_footer
      padding 0.833333rem
      height 50px
      border-top 1px solid col_darkGray
    .dl_cp_confirm, .dl_cp_refuse, .dl_cp_cancel
      width 135px
      height 30px
      border none
      color white
      background-color col_darkGray
      font-size 14px
      border-radius 5px
    .dl_cp_confirm
      background-color col_iconPurple
    .dl_cp_refuse
      float right
    .dl_cp_cancel
      display block
      margin 0 auto

  .campaign_card
    display block
    text-decoration none
    .dl_card_header
      padding 0.833333rem
      height 65px
    .dl_team_logo
      display block
      float left
      margin-right 0.833333rem
      width 45px
      height 45px
    .dl_cp_name, .dl_cp_address
      margin 0
      float left
      width 150px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
    .dl_cp_name
      font-size 16px
      color col_black
    .dl_cp_address
      margin-top 6px
      font-size 12px
      color col_darkGray
    .dl_card_header_operator
      float right
    .dl_photo_alb
      white-space nowrap
    .dl_cp_photo
      margin-right 5px
      width 150px
      height 150px
    .dl_card_footer
      height 30px
      line-height 30px
      padding 0 0.833333rem
      font-size 12px
      color col_darkGray
    .dl_team_name
      float left
      width 200px
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      padding-right 5px
    .dl_team_number
      float right
    .dl_team_comment
      float right
      margin-left 10px
    .ion_member, .ion_comment
      display block
      float left
      margin-top 9px
      margin-right 5px
      width 12px
      height 12px
    .dl_card_footer_count
      display block
      float left

.bar-footer
  padding 0
.button-bar > .button
  padding 0
  color col_darkGray
.button
  &.button-clear
    color col_darkGray
  &.icon_blue
    color col_blue
.dl_button
  margin 0
  color #fff
  padding 0 10px
  border-width 0
  border-radius 2px
  vertical-align top
  text-align center
  text-overflow ellipsis
  font-size 12px
  line-height 30px
  cursor pointer

//-input全局placeholder
input::-webkit-input-placeholder /* WebKit browsers */
  color col_blue
input::-moz-placeholder /* Mozilla Firefox 4 to 18 */
  color col_blue
input::-moz-placeholder /* Mozilla Firefox 19+ */
  color col_blue
input:-ms-input-placeholder /* Internet Explorer 10+ */
  color col_blue

input:focus::-webkit-input-placeholder /* WebKit browsers */
  color transparent
input:focus::-moz-placeholder /* Mozilla Firefox 4 to 18 */
  color transparent
input:focus::-moz-placeholder /* Mozilla Firefox 19+ */
  color transparent
input:focus:-ms-input-placeholder /* Internet Explorer 10+ */
  color transparent

//-通用bar
.bar
  border-bottom 1px solid #ccc
  .button
    border 0
    background-color transparent
    color col_blue
    font-size 16px
    font-weight 600
    line-height 34px
  .button.activated
    box-shadow inset 0px 1px 1px rgba(0, 0, 0, 0.15)
//- home页
.home
  background url('../img/index_1.gif') center no-repeat
  background-size 401px
  background-color col_gray
  .home_buttons
    position absolute
    bottom 10px
    text-align center
    width 100%
    .button
      width 45%
      min-height 40px
      line-height 40px
      font-size 16px
      font-weight bold
    .login_button
      background-color col_blue
      margin-right 3%
    .register_button
      background-color col_darkBlue
//-登录页
.login
  background-color #fff
  input
    color col_blue
  .list-inset
    .item
      border 1px solid col_blue
      border-radius 5px
    .login_button
      background-color col_blue
      border-radius 5px
      font-size 16px
      font-weight 600
      width 100%
    .login_link
      text-decoration none
      font-size 14px
      color #666
  .login_msg
    color col_blue
    padding 0 10px
.pull-right
  float right
.app_tabs > .tabs
  background-color #000
  color white
  .tab-item
    position relative
    .icon
      width 32px
      height 30px
    .red_spot
      background-color #f48361
      position absolute
      width 12px
      height 12px
      border-radius 100%
      left 55%
      top 5%
  .tab-item-active
    .tab-title
      color col_blue
.ion_campaign
  background-image url('../img/nav_tab.png')
  background-size 300px 110px
  background-position 6px -7px
.ion_campaign_active
  background-image url('../img/nav_tab.png')
  background-size 300px 110px
  background-position 6px -50px
.ion_discuss
  background-image url('../img/nav_tab.png')
  background-size 300px 110px
  background-position -75px -7px
.ion_discuss_active
  background-image url('../img/nav_tab.png')
  background-size 300px 110px
  background-position -75px -50px
.ion_discover
  background-image url('../img/nav_tab.png')
  background-size 300px 110px
  background-position -153px -7px
.ion_discover_active
  background-image url('../img/nav_tab.png')
  background-size 300px 110px
  background-position -153px -50px
.ion_personal
  background-image url('../img/nav_tab.png')
  background-size 300px 110px
  background-position -233px -7px
.ion_personal_active
  background-image url('../img/nav_tab.png')
  background-size 300px 110px
  background-position -233px -50px
.ion_member
  background-image url('../img/icon.png')
  background-size 160px
  background-position 0px -80px
.ion_comment
  background-image url('../img/icon.png')
  background-size 160px
  background-position -40px -80px
.comments
  .time
    text-align center
    width 100%
    float left
  .comment
    width 100%
    .content
      float left
      width 80%
    .author
      float right
      width 20%

.signup_form
  select
    width 30%
    float left
  .dl_item_input
    padding 6px 0 5px 16px
    input.arecode
      width 25%
      float left
    input.number
      width 50%
      float left
    input.extension
      width 25%
      float left
  .ng-dirty.ng-invalid
    background-color #FCEBEB

// 日程
.calendar
  height 100%

  nav
    background-color rgb(246, 246, 246)
    border-bottom solid 1px rgb(220, 220, 220)
    .operator
      background-color col_blue
      color col_navGray
      border none
    .week
      position relative
      background-color col_blue
      .day
        float left
        width (100 / 7)%
        height 20px
        line-height 20px
        color #fff
    .date_list
      position relative
      margin-top 5px

      .date_box
        float left
        width (100 / 7)%
        height 30px
        line-height 30px

        .date
          margin-top 10%
          margin-left auto
          margin-right auto
          // width navDateSize
          // height navDateSize
          // line-height navDateSize

        .current_day
          color white
          border-radius 50px
          background-color black

        // .current_day.today
        //   background-color themeColor

    .date_bar
      margin 5px auto

  .full_box
    height 100%

  .calendar_box
    position relative

    .swipe-cards
      height 100%

    .swipe-card
      height 100%

  .calendar_year
    position relative
    height 100%
    // padding yearSectionPadding

    .year_section
      float left
      width (100 / 3)%
      height 25%
      text-align center
      // padding yearSectionPadding
      // color themeColor

      // .table_wrap
      //   border solid 1px themeColor

  .calendar_month
    position relative
    height 100%

    .month
      width (100 / 7)%
      height 40px
      padding-top 15px
      // color themeColor
      text-align center

    .calendar_day
      position relative
      float left
      width (100 / 7)%
      height 60px
      border-top solid 1px rgb(220, 220, 220)
      .calendar_date
        margin-top 15%
        margin-left auto
        margin-right auto
        // width monthDateSize
        // height monthDateSize
        // line-height monthDateSize
      .calendar_campaign_count
        display inline-block
        color white
        background-color col_blue
        border-radius 100%
        width 20px
        height 20px
        line-height 20px
      &.today
        background-color col_blue
        .calendar_date
          color white
          border-radius 50px
        .calendar_campaign_count
          color col_blue
          background-color white
      

      .event_unjoin, .event_joined
        width 0
        height 0
        margin-top 15%
        margin-left auto
        margin-right auto
        border-style solid
        border-width 3px
        border-radius 30px
        font-size 0px

      .weekend
        color gray

    for day in (0..6)
      .offset_{day}
        margin-left (100 * day / 7)%

  .calendar_day
    padding 5px
    position relative
    .swipe-cards
      height auto

    .swipe-card
      height auto
      min-height 100%

    .calendar_campaign
      margin 0
      padding 0
      border-bottom 1px
      border-left none
      border-right none
      &:first-child
        border-top none
      .campaign_link
        text-decoration none
        .campaign_title
          padding 0
          .campaign_group_logo
            margin 10px
            width 36px
            height 36px
            vertical-align middle
            border 1px solid white
            border-radius 5px
          .campaign_label
            padding 10px 0
            p
              padding 0
              margin 0
            .campaign_theme
              font-size 16px
              color black
            .new_campaign_time
              font-size 14px
            .joined_sign
              position absolute
              right 0
              top 0
              width 0
              height 0
              border-color transparent #43cee6 transparent transparent
              border-style solid
              border-width 0 20px 20px

// todo
.dl_family_photo_selected
  border 1px solid col_blue

// todo
.dl_message_unread
  color darkred

.campaign_filter
  height 34px
  background-color #ffffff
  border-top 1px solid col_gray
  .button
    height 32px
    line-height 30px
    min-height 32px
    color col_lightGray
    border-bottom 1px solid col_gray
    &.icon_blue
      height 31px
      color col_blue
      border-bottom 2px solid col_blue
    &.icon_darkBlue
      height 31px
      color col_darkBlue
      border-bottom 2px solid col_darkBlue
    &.icon_iconPurple
      height 31px
      color col_iconPurple
      border-bottom 2px solid col_iconPurple
    &.icon_borderPurple
      height 31px
      color col_borderPurple
      border-bottom 2px solid col_borderPurple
    &.icon_textPurple
      height 31px
      color col_textPurple
      border-bottom 2px solid col_textPurple

// 小队主页
.team_page
  .team_header
    position relative
    .logo
      position absolute
      left 20px
      bottom 15px
      border-radius 5px
      width 65px
      height 65px
      border 3px solid white
  .team_info
    border-radius 5px
    .info_header
      position relative
      padding 0 1rem
      height 50px
      color white
      background-color col_blue
    .team_name
      float left
      font-size 16px
      line-height 50px
    .team_type
      float right
      margin 10px 0
      padding 0 1rem
      font-size 12px
      line-height 30px
      color col_blue
      background-color white
      border-radius 5px
    .info_body
      padding 1rem
    .start_time, .team_des
      font-size 14px
      color col_black
    .team_des
      margin-top 5px
    .btn_join, .btn_joined
      display block
      width 100%
      margin 0
      margin-top 15px
      padding 0 1rem
      border 0
      height 40px
      text-align center
      cursor pointer
      text-overflow ellipsis
      border-radius 5px
    .btn_join
      color white
      background-color col_blue
    .btn_joined
      color col_blue
      background-color white
      border 1px solid col_blue
    .info_footer
      position relative
      padding 0
      height 40px
      border-top 1px solid col_gray
    .btn_member, .btn_cp
      border-left 1px solid col_gray
    .btn_upload_photo, .btn_member, .btn_cp
      padding 0
      color col_darkGray
      text-align center
      text-decoration none
      cursor pointer
      font-size 12px
      line-height 40px

  .team_home_court
    border-radius 5px
    .home_court_tabs
      padding 0
      height 35px
    .tab
      text-align center
      padding 0
      line-height 35px
      font-size 16px
      color white
      background-color col_blue
    .tab.active
      color col_blue
      background-color white
    .map_wrap
      display block
    .map_img
      display block
    .home_court_name
      padding 0 1rem
      margin 0
      height 30px
      font-size 16px
      line-height 30px
      color col_black
    .no_homecourt
      max-width 100%
      display block

  .member_card
    position relative
    background-color col_blue
    height 60px
    padding 0 1rem
    border-radius 5px
    .member_wrap
      height 60px
      line-height 60px
      float left
    .member
      margin 10px 0
      margin-right 5px
      width 40px
      height 40px
      border-radius 5px
    .member_link
      position absolute
      top 0
      right 0
      width 40px
      height 60px
      display block
      border-radius 5px
      background-color col_blue
      color white
      line-height 60px
      font-size 12px
      text-align center
      text-decoration none
