/* Empty. Add your own CSS if you like */

// colors
col_black = #333333
col_navGray = #fbfbfb
col_gray = #f2f2f5
col_darkGray = #999999
col_blue = #3ca2e0
col_darkBlue = #618bd7
col_iconPurple = #6a73c6
col_borderPurple = #806dd0
col_textPurple = #9e6dd0
col_lightGray = #676767
col_bottomGray = #f7f7f7
col_borderGray = #c9c9c9
col_textBlack = #707070
col_link = #294a7e
col_mainText = #202020
col_textGray = #666666
col_textLight = #ababab
col_boderlighttGray = #e3e3e3
col_now = #13adb6
col_unstart = #3ca2df
col_unjoin = #f48361
// mixins
dl_card()
  display block
  margin 10px 10px 5px
  padding 10px
  box-shadow 0 2px 0 rgba(204, 204, 204, 1)
  line-height 18px
  background-color #fff
placeholderColor(colorValue)
  input::-webkit-input-placeholder
    color colorValue
  input::-moz-placeholder /* Mozilla Firefox 4 to 18 */
    color colorValue
  input:-ms-input-placeholder /* Internet Explorer 10+ */
    color colorValue
displayFlex()
  display -webkit-box
  display -webkit-flex
  display -moz-box
  display -moz-flex
  display -ms-flexbox
  display flex
flexValue(value)
  -webkit-box-flex value
  -webkit-flex value
  -moz-box-flex value
  -moz-flex value
  -ms-flex value
  flex value
textOverflow()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
indentLine()
  border-width 0
  padding-bottom 17px
  &:after
    display block
    position absolute
    left 15px
    bottom 0
    width 100%
    content ''
    border 1px solid #ddd
  &:first-child
    border-top-width 1px
  &:last-child
    border-bottom-width 1px
    padding-bottom 16px
    &:after
      content none
      display none
html
  font-size 12px
body
  background-color col_bottomGray
  font-size 12px
.pane, .view
  background-color col_bottomGray
//-input全局placeholder
placeholderColor(col_blue)
  
input:focus::-webkit-input-placeholder textarea /* WebKit browsers */
  color transparent
input:focus::-moz-placeholder /* Mozilla Firefox 4 to 18 */
  color transparent
input:focus:-ms-input-placeholder /* Internet Explorer 10+ */
  color transparent
textarea
  resize none
.item
  border-color col_boderlighttGray
a.no_underline
  text-decoration none
//-通用bar
.bar
  border-bottom 0
  //title的button用的时{{}}绑定时会不居中，所有统一固定为70
  .dl_title
    left 70px !important
    right 70px !important
  .title + .button.ion_discuss_active:last-child
    right 15px
    width 30px
  .button
    border 0
    background-color transparent
    color col_blue
    font-size 16px
    font-weight 600
    line-height 35px
  .button.activated
    box-shadow 0 0 0
    color #ddd
  .icon-left, .icon-right
    &.button:before
      font-size 16px
  &.bar-header
    .title
      color col_mainText
.clearfix
  &:before, &:after
    display table
    content " "
  &:after
    clear both
.icon.icon_small
  font-size 16px !important
  &:before
    font-size 16px !important
.dl_header
  opacity 0.9
.title.title_have_right
  margin-right 30px

.ion_member, .ion_comment, .ion_ballon, .ion_teams, .ion_team, .ion_foot, .ion_message, .ion_calendar, .ion_setting, .ion_invite_code, .ion_time, .ion_address, .ion_circle
  background-image url('../img/icon.png')
  background-size 640px 240px
//- .ion_member
//-   background-position 0px -80px
//- .ion_comment
//-   background-position -40px -80px
.dl_icon
  background-image url('../img/icon.png')
  background-size 720px 270px
  display inline-block
  height 18px
  width 18px
  vertical-align middle
  &.ion_campaign
    background-position -173px -84px
    &.active
      background-position 7px -490px
  &.ion_discuss
    background-position -488px -84px
    &.active
      background-position -38px -490px
  &.ion_discover
    background-position -578px -84px
    &.active
      background-position -83px -490px
  &.ion_company
    background-position -218px -84px
    &.active
      background-position -129px -490px
  &.ion_personal
    background-position -264px -85px
    &.active
      background-position -129px -445px
  &.ion_address
    background-position -538px -40px
  &.ion_member
    background-position -316px -41px
  &.ion_time
    background-position -450px -41px
  &.ion_chat_circle
    background-position -495px -45px
  &.ion_member_small_blue
    background-position 0 -134px
  &.ion_member_small
    background-position 0 -90px
  &.ion_comment_small
    background-position -46px -91px
  &.ion_log_out
    background-position -225px -180px
.ion_ballon
  background-position -110px -65px
.ion_teams
  background-position -70px -62px
.ion_foot
  background-position -110px -103px
.ion_message
  background-position 10px -342px
.ion_calendar
  background-position -70px -103px
.ion_setting
  background-position -30px -145px
.ion_invite_code
  background-position 10px -25px
.ion_time
  background-position -80px -160px
.ion_address
  background-position -120px -160px
.ion_member
  background-position 0 -200px
.ion_comment
  background-position -320px -39px
.ion_circle
  background-position -559px -39px
.ion_log_out
  background-position -200px -160px
.icon_small
  background-size 520px 195px
  height 16px
  width 16px
  &.ion_member
    background-position -228px -32px
  &.ion_time
    background-position -325px -32px
  &.ion_address
    background-position -389px -32px
  &.ion_comment_line_white
    background-position -292px -64px
  &.ion_comment_dot_horizontal_gray
    background-position -195px -96px
  &.ion_comment_dot_horizontal_blue
    background-position -195px -128px
  &.ion_heart_outline
    background-position -226px -97px
.campaigns_container
  .campaign_filter
    height 33px
    background-color #ffffff
    .button
      height 32px
      line-height 30px
      min-height 32px
      color col_lightGray
      border-bottom 1px solid col_gray
      padding 0
      &.icon_blue
        height 31px
        color col_blue
        border-bottom 2px solid col_blue
      // &.icon_darkBlue
      //   height 31px
      //   color col_darkBlue
      //   border-bottom 2px solid col_darkBlue
      // &.icon_iconPurple
      //   height 31px
      //   color col_iconPurple
      //   border-bottom 2px solid col_iconPurple
      // &.icon_borderPurple
      //   height 31px
      //   color col_borderPurple
      //   border-bottom 2px solid col_borderPurple
      // &.icon_textPurple
      //   height 31px
      //   color col_textPurple
      //   border-bottom 2px solid col_textPurple
  .campaign_list
    height 100%
    margin-top 0
    .no_campaign
      background-image url('../img/no_new_campaign.png')
      width 100%
      height 100%
      background-repeat no-repeat
      position relative
      background-size contain
      .no_campaign_tip
        position absolute
        top 10px
        left 10px
        font-size 14px
        p
          margin 6px 1px
          .team_link
            margin 0
            color #FFF
            background-color #3498DB
            border none
            position relative
            font-size 12px
            text-align center
            vertical-align middle
            display inline-block
            cursor pointer
            border-radius 5px
            padding 7px 11px
            text-decoration none
          .tip_info
            padding-left 11px
    .campaign_container
      .campaign_container_title
        border 1px solid col_boderlighttGray
        border-top 0
        padding 8px 10px
        color #707070
        font-size 14px
        line-height 1
      //未参加的新活动
      &.cp_unjoin
        .campaign_container_title, .dl_cp_time_countdown
          color col_unjoin
      //进行中的活动
      &.cp_now
        .campaign_container_title, .dl_cp_time_countdown
          color col_now
      //即将开始的活动
      &.cp_unstart
        .campaign_container_title, .dl_cp_time_countdown
          color col_unstart
//-两个卡片的共用样式
.dl_timeline_card, .dl_campaign_card
  background-color #fff
  margin 0
  padding 15px
  position relative
  box-shadow 0 0 0
  .campaign_card
    text-decoration none
    padding 0
    .dl_card_content
      .dl_cp_logos
        width 60px
        height 60px
        border-radius 5px
        background-color col_boderlighttGray
        float left
        .dl_team_logo
          width 60px
          height 60px
          border-radius 5px
        .provoke_label,.fellowship_label
          width 100%
          height 14px
          color #fff
          float left
          text-align center
          line-height 14px
          background-color #f48361
        .fellowship_label
          background-color #ffc053
      .logos_2
        &:first-child
          margin-right 2px
        .dl_team_logo
          width 29px
          height 29px
          margin-top 7px
          margin-bottom 6px
          border-radius 3px
          float left
      .dl_cp_texts
        float left
        .dl_cp_time,.dl_cp_address,.dl_cp_member,.dl_cp_name
          margin-bottom 6px
          width 100%
          height 16px
          line-height 1
          font-size 14px
          color col_textBlack
          padding-left 10px
          .icon
            float left
            margin-right 10px
          .dl_cp_text
            float left
//-历史卡片
.dl_timeline_card
  margin-left 15px 
  padding 10px 0
  border-left 0px
  margin-top -1px
  //- border-bottom 1px solid #ddd
  .campaign_card
    .dl_card_content
      .dl_cp_texts
        width 55%
        border-right 1px solid #ddd
        .dl_cp_name
          font-size 16px
          margin-bottom 7px
        .dl_cp_time,.dl_cp_address
          color #999
          margin-bottom 5px
          .icon
            margin-right 5px
        .dl_cp_address
          margin-bottom 0
      .dl_card_member
        width 24%
        float left
        text-align center
        padding-top 10px
        .dl_cp_member
          font-size 16px

//-活动列表卡片
.dl_campaign_card
  border-bottom 1px solid col_boderlighttGray
  .campaign_card
    border-bottom 1px solid col_boderlighttGray
    .dl_card_header
      height 20px
      margin-bottom 10px
      .dl_card_header_info
        .dl_cp_name
          font-size 16px
          color #000
          line-height 1
          margin-bottom 0
          font-weight 200
          max-width 205px
          textOverflow()
      .dl_card_time
        position absolute
        right 10px
        top 8px
        .dl_cp_time_countdown
          width 92px
          height 22px
          padding 0
          padding-right 0
          border 1px solid col_boderlighttGray
          border-radius 5px
          overflow hidden
          line-height 20px
          text-align center
          .dl_cp_time_text
            border-right 1px solid col_boderlighttGray
            padding-right 5px
          .dl_cp_time_count
            margin-left 5px
    .dl_card_content
      .dl_cp_texts
        .dl_cp_member
          margin-bottom 0
          line-height 16px
          .number
            color #f48361
    .dl_card_footer
      margin-top 10px
      color #c2c1c1
      .dl_team_name
        float left
        max-width 45%
        textOverflow()
      .dl_campaign_comment,.dl_campaign_circle,.dl_cp_time
        float right
        margin-right 10px
        .dl_card_footer_count
          float left
        .icon
          float left
          height 18px
          width 18px
          margin-right 5px
      .dl_campaign_comment
        margin-right 0
.dl_campaign_detail
  .campaign_detail
    margin-top 10px
    color col_textGray
    padding-bottom 50px
    .campaign_info
      background-color white
      padding 15px
      padding-bottom 0
      color col_textGray
      position relative
      font-size 14px
      height 75px
      .cp_logos
        width 60px
        height 60px
        border-radius 5px
        background-color col_bottomGray
        float left
        margin-right 17px
        .team_logo
          width 60px
          height 60px
          border-radius 5px
        .provoke_label, .fellowship_label
          width 100%
          height 14px
          color #fff
          float left
          text-align center
          line-height 14px
          background-color #f48361
        .fellowship_label
          background-color #ffc053
        &.logos_2
          .team_logo
            width 29px
            height 29px
            margin-top 7px
            margin-bottom 6px
            border-radius 3px
            float left
      .campaign_theme
        font-size 16px
        color col_mainText
        margin 5px 0
      .cp_time
        margin-bottom 10px
        line-height 15px
      .ion_member
      .ion_time
      .ion_address
        float left
        margin-right 10px
    .campaign_status
      background-color white
      padding 5px 15px
      height 30px
      color col_textLight
      .status
        float right
        &.now
          color col_now
        &.unstart
          color col_unstart
        &.unjoin
          color col_unjoin
    .item
      padding 15px
      font-size 14px
      color col_mainText
      &.campaign_content
        .content_simple
          max-height 60px
          overflow-y hidden
        .operator
          text-align center
          padding-top 5px
          .more_content
            color col_blue
            text-decoration none
            font-size 16px
      &.item_header
        height 44px
        line-height 16px
        .title
          font-size 16px
          margin-right 20px
      .ion-chevron-right
        float right
    .item-divider
      height 40px
      padding 10px 15px
      &.circle
        .ion-camera
          float right
          font-size 22px
    .cp_member
      line-height 16px
      .member_num
        color #f07151
    .cp_address
      .cp_location
        color col_textGray
    .campaign_footer
      displayFlex()
      padding 0
      height 44px
      .footer_col
        flexValue(1)
        text-align center
        border-right 1px solid #ccc
        padding 10px
        color col_textGray
        height 100%
        line-height 24px
        &:last-child
          border-right none
        .dl_icon
          height 20px
          width 20px
        .member_num
          color #f07151
      a
        text-decoration none
        color black
    .dl_circle_card
      margin 0
      border-radius 0
      border-bottom 1px solid #CCC
  .bar-footer
    height 50px
    border-top 1px solid #ccc
    .button
      margin 0 15px
      border-radius 5px
      height 40px
      &.dl_cp_join
        color white
        background-color col_blue
      &.dl_cp_quit
        color col_textGray
        background-color white
        border 1px solid #ccc
.notice_page
  background-color #efefef
  .list
    margin-bottom 0
    margin-top 10px
    .dl_notice_head
      height 40px
      padding 10px 16px
      .time
        color col_mainText
      .tip
        color #707070
        margin-left 20px
.dl_divider
  height 10px
  border 1px solid col_boderlighttGray
  border-top 0
  background-color col_bottomGray
.dl_card_detail
  dl_card()
  padding 0
  border-radius 5px
  .dl_card_header
    background-color col_blue
    color white
    padding 10px
    height 50px
    border-top-right-radius 5px !important
    border-top-left-radius 5px !important
    .dl_team_logo
      float left
      border-radius 5px
    .dl_team_name
      color white
      float left
      margin 0 0 0 10px
      line-height 30px
      textOverflow()
      width 60%
    .campaign_mold
      float right
      color col_blue
      background-color white
      border-radius 5px
      padding 5px 10px
      font-weight bolder
    .publish_notice
      float right
      margin 0 10px 0 0
      line-height 30px
      padding-left 20px
    .dl_card_title
      margin 0 0 0 10px
      line-height 30px
    .dl_notice_container
      padding 10px
      .dl_card_title
        margin 0
      .dl_notice_count
        margin-left 10px
  .dl_card_header_provoke
    .dl_team_logo_right
      float right
    .dl_team_name
      width 25%
    .dl_team_vs
      color white
      float left
      margin 0 0 0 10px
      line-height 30px
  .dl_card_header_small
    height 25px
    padding 5px 10px
    font-size 12px
    line-height 13px
    font-weight bolder
    border-top-left-radius 5px !important
    border-top-right-radius 5px !important
  .dl_card_body
    padding 10px
    .dl_cp_name
      margin-bottom 10px
    a.dl_cp_address
      display inline-block
      background-color #efefef
      padding 10px
      margin-bottom 10px
      color col_darkGray
      text-decoration none
      font-size 14px
      .icon
        margin-left 5px
    .dl_cp_time
      margin-bottom 10px
    .dl_photo_alb
      white-space nowrap
      .dl_cp_photo
        margin-right 5px
    .dl_cp_join
      min-height 40px
      height 40px
      border-radius 5px
      border none
      color white
      background-color col_blue
    .dl_cp_quit
      min-height 40px
      height 40px
      border-radius 5px
      color col_blue
      border 1px solid col_blue
      background-color white
    .dl_cp_confirm, .dl_cp_refuse, .dl_cp_cancel
      width 48%
      height 40px
      min-height 40px
      border none
      color white
      background-color col_darkGray
      font-size 14px
      border-radius 5px
    .dl_cp_confirm
      background-color col_iconPurple
    .dl_cp_refuse
      float right
    .dl_cp_cancel
      display block
      margin 0 auto
  .dl_card_footer
    height 40px
    padding 0
    border-bottom-left-radius 5px !important
    border-bottom-right-radius 5px !important
    .col
      padding 0
      color col_darkGray
      text-align center
      text-decoration none
      cursor pointer
      font-size 12px
      line-height 40px
      border-right 1px solid #ccc
      &:last-child
        border-right none
      .icon
        display inline-block
        vertical-align middle
        margin-top -2px
        margin-right 5px
        color col_blue
        font-size 16px
      .dl_icon
        display inline-block
        width 24px
        height 24px
        background-size 200px
        vertical-align middle
        margin-top 3px
      .ion_member
        background-position 5px -148px
  .dl_cp_time_status
    color col_textPurple
    margin-right 10px
  .dl_cp_time_countdown
    margin-top -6px
    width 70px
    height 30px
    line-height 30px
    border 1px solid col_borderPurple
    border-radius 3px
    color col_textPurple
    font-size 16px
    float right
    .dl_cp_time_count, .dl_cp_time_unit
      display block
      float left
      width 34px
      height 28px
      line-height 28px
      text-align center
    .dl_cp_time_count
      border-right 1px solid col_borderPurple
  .dl_notice
    span
      color col_darkGray
    .dl_notice_sender
      color col_blue
    .dl_notice_content
      margin-left 10px
  .dl_card_member
    background-color col_blue
    padding 6px 46px 2px 10px
    border-radius 5px !important
    min-height 50px
    .dl_member
      position relative
      .dl_member_logo
        border-radius 5px
        margin-right 5px
        width 40px
        height 40px
      .dl_member_leader
        width 20px
        height 20px
        display inline-block
        position absolute
        right 5px
        bottom 3px
        background-color #fbc441
        border-radius 100%
        background-image url('../img/icon.png')
        background-size 192px 240px
        background-position -45px -140px
    .dl_card_more
      background-color col_blue
      color white
      border none
      position absolute
      top 0
      right 10px
      line-height 50px
      .icon
        margin-left 5px
  .dl_card_time
    height 50px
    font-size 14px
    border-radius 5px !important
  .item:last-child
    border-bottom-right-radius 5px
    // border-bottom-left-radius 5px
.dl_photo_album_card
  dl_card()
  .card_header
    height 20px
  .header_title
    float left
    margin 0
    font-size 12px
    line-height 20px
    color col_black
  .photo
    display block
    float left
    margin-top 5px
    margin-right 5px
    width 65px
    height 65px
  .photo_wrap
    display block
    position relative
    float left
    margin-top 5px
    margin-right 5px
    width 65px
    height 65px
    .family_photo
      width 65px
      height 65px
    .delete_op_wrap
      position absolute
      top 0
      left 0
      width 65px
      height 65px
      background-color transparent
      z-index 10
    .delete_icon_background
      position absolute
      top 20px
      left 18px
      width 26px
      height 26px
      border-radius 100%
      background-color white
    .delete_icon
      position absolute
      top 20px
      left 20px
      font-size 25px
      color #e74c3c // todo


.bar-footer.comment_box
  padding 0
.button-bar.comment_box > .button
  padding 0
//   color col_darkGray
// .button
//   &.button-clear
//     color col_darkGray
//   &.icon_blue
//     color col_blue
.dl_button
  margin 0
  color #fff
  padding 0 10px
  border-width 0
  border-radius 2px
  vertical-align top
  text-align center
  text-overflow ellipsis
  font-size 12px
  line-height 30px
  cursor pointer
  &:hover
    color #fff


.login>.bar
  .icon-left, .icon-right
    &.button:before
      padding-left 10px
  .icon-right
    &.button:before
      padding-left 5px
      padding-right 10px

//- home页
.home
  background-color col_gray
  .slider
    height 100%
    .page_1
      height 100%
      background url('../img/index_1.gif') center no-repeat
      background-size 401px
    .page_2
      height 100%
      background url('../img/index_2.gif') center no-repeat
      background-size 320px
  .slider-pager
    bottom 90px
    .active>.icon.ion-record
      color col_blue
  .home_buttons
    position absolute
    bottom 10px
    text-align center
    width 100%
    z-index 2
    .button
      width 45%
      min-height 40px
      line-height 40px
      font-size 16px
      font-weight bold
    .login_button
      background-color col_blue
      margin-right 3%
    .register_button
      background-color col_darkBlue
//-search icon
.login, .edit_team_info
  .dl_search_icon
    color #3ca2e0
    font-size 30px
    margin -10px 10px
//-登录页、忘记密码页、注册页
.login
  background-color #fff
  input
    color col_blue
  .bar
    .title
      color col_blue
  .list.list-inset
    &:first-child
      margin 20px 20px 10px
  .list.list-inset
    margin 15px 20px
    .item
      border 1px solid col_blue
      border-radius 5px
    //-buttons
    .login_button
      background-color col_blue
      border-radius 5px
      font-size 16px
      font-weight 600
      width 100%
      min-height 40px
      line-height 40px
    .dkblue_button
      background-color col_darkBlue

  //-words
  .links, .tip_msg
    margin 0 20px
    .medium_tip
      font-size 14px
    .large_tip
      font-size 16px
    .gray_msg
      color col_darkGray
    .black_msg
      color col_textGray
      font-weight 600
    .blue_msg
      color col_blue
    .dkblue_msg
      color col_darkBlue
    a
      text-decoration none
  .companies_list
    color col_blue
    padding 16px 18px
    a>&:activated
      background-color col_lightGray
    .icon.ion-chevron-right
      font-size 18px
  //-special for input
  .login_form
    .item-input>input
      height 37px
  .signup_form
    //- .item-input
    //-   padding 5px 0 5px 16px
    //-   input
    //-     height 18px
    .dl_list
      display flex
      margin 15px 20px
      border 1px solid col_blue
      border-radius 5px
      padding 5px 0 5px 16px
      height 47px
      select
        width 32%
        float left
        border 0
        background-color transparent
        margin-right 3px
        color col_blue
        height 34px

      input.arecode
        width 25%
        float left
      input.number
        width 50%
        float left
      input.extension
        width 25%
        float left
    .ng-dirty.ng-invalid
      background-color #FCEBEB
.pull-right
  float right
.app_tabs > .tabs
  background-color #000
  color white
  background-size 100% 0
  .tab-item
    position relative
    opacity 1
    .icon
      width 32px
      height 30px
    .badge
      background-color #FF5724
      width 12px
      height 12px
      color transparent
      right calc(50% - 20px)
    &.tab-item-active,
    &.active
      color col_blue
.emoji
  margin 0 0.1rem
  vertical-align middle
//- 讨论页
.discuss_detail
  background-image url('../img/discuss_bgd.jpg')
  background-size cover
  background-position center
  //-右icon
  //- ion-infinite-scroll
  //-   height 20px
  .icon-right
    width 40px
    margin-top 3px
  .ion_teams
    position absolute
    min-height 40px
    right 10px
    top 0
    margin-top 0

  //- .balloon
  //-   position absolute
  //-   right 10px
  //-   margin-bottom 20px
  //-   z-index 10
  //-   background-color #f48361
  //-   width 31px
  //-   height 31px
  //-   border-radius 5px
  //-   padding 6px 11px
  //-   color #fff
  //-   font-size 16px
  //-   .triangle
  //-     position absolute
  //-     bottom -10px
  //-     left 10px
  //-     border-style solid
  //-     border-width 10px 10px 10px 0
  //-     border-color transparent #f48361

  //-评论列表
  .comments
    .time_block
      text-align center
      width 100%
      float left
      opacity 0.8
      padding 5px
      .time
        border-radius 3px
        color #fff
        background-color #333
        padding 2px 15px
    //- 发送失败样式
    .failed
      text-align center
      color #fff
      .tip
        background-color col_darkGray
        padding 2px 10px
        border-radius 5px
        display -webkit-inline-box
    .comment
      width 100%
      clear both
      margin-bottom 1rem
      .logo
        float left
        width 5rem
        height 5rem
        padding-left 1rem
        img
          float left
      .contents
        float left
        width 80%
        .name
          width 100%
          text-align left
          color #fff
          font-weight 600
          padding 0 0.5rem
          line-height 1
          margin-bottom 0.5rem
        .ion-looping
          float left
          margin-top 0.8rem
          color #fff
          font-size 14px
        .content
          display inline-block
          font-size 16px
          color col_lightGray
          max-width 100%
          padding 2px 7px
          line-height 22px
        .remind_box
          border 1px solid #ddd
          border-radius 3px
          text-decoration none
          background-color #fff
          float left
          margin-left 10px
          width 93%
          .remind_box_head
            border-bottom 1px solid #ddd
            color col_mainText
            text-decoration none
            padding 5px 10px
            font-size 14px
          .remind_box_content
            padding 5px
            padding-left 10px
            .team_logo
              float left
              width 45px
              height 45px
              border-radius 5px
            .text
              float left
              padding 5px
              line-height 1
              width 14rem
              .tname
                font-size 14px
                color col_mainText
                textOverflow()
              .cname
                margin-top 8px
                font-size 12px
                color col_textGray
                textOverflow()
      .triangle_isosceles
        position relative
        padding 0.5rem 1rem
        background #fff
        border-radius 5px
        background linear-gradient(top, #fff, #fbfbfb)
        margin-left 0.8rem
        a
          text-decoration none
          color black
          display block
          .link
            color col_lightGray
      .triangle_isosceles:after
        content ""
        display block
        position absolute
        bottom -15px
        left 50px
        width 0
        //- border-width 15px 15px 0
        border-style solid
        border-color #fff transparent
        top 0.8rem
        left -0.7rem
        bottom auto
        border-width 0.5rem 0.8rem 0.5rem 0
        border-color transparent #fff
      .triangle_img
        background none
        padding 0
        .box
          position relative
          overflow hidden
          width 170px
          height 170px
          border-radius 10px
          background-color #fff
          img
            position absolute
            top -10px
            left -10px
        .tr
          position absolute
          overflow hidden
          top 10px
          left -5px
          width 14px
          height 14px
          -webkit-transform rotate(45deg)
          -ms-transform rotate(45deg)
          transform rotate(45deg)
          background-color #fff
          img
            position absolute
            top -4px
            left -20px
            -webkit-transform-origin  0px 0px
            -ms-transform-origin: 0px 0px
            transform-origin  0px 0px
            -webkit-transform rotate(-45deg)
            -ms-transform rotate(-45deg)
            transform rotate(-45deg)
      .triangle_img:after
        display none
    .putright
      .logo
        float right
        padding-left 0
        padding-right 1rem
        img
          float right
      .contents
        float right
        .name
          text-align right
        .ion-looping
          float right
        .content
          color #fff
          float right
      .triangle_isosceles
        margin-right 0.4rem
        background col_blue
        a
          text-decoration none
          color white
          display block
          .link
            color col_lightGray
      .triangle_isosceles:after

        right -0.7rem
        left auto
        bottom auto
        border-width 0.5rem 0rem 0.5rem 0.8rem
        border-color transparent col_blue
      .triangle_img
        background none

        .tr
          top 10px
          left 162px
          -webkit-transform rotate(-45deg)
          -ms-transform rotate(-45deg)
          transform rotate(-45deg)
          img
            top -19px
            left -33px
            -webkit-transform-origin  106px -129px
            -ms-transform-origin: 106px -129px
            transform-origin  106px -129px
            -webkit-transform rotate(45deg)
            -ms-transform rotate(45deg)
            transform rotate(45deg)
        .box
          img
            left auto
            border none
            right -10px
//-发评论
.comment_box
  color #333
  background-color col_gray
  display block
  height auto
  padding-top 5px
  .publish_box
    displayFlex()
    .icon.ion-image
      font-size 22px
      width 20px
      margin auto 5px
    .comment_input
      flexValue(1)
      margin 5px 0
      padding-left 5px
      background-color #fff
      box-shadow 0 0 0
      border-radius 3px
      min-height 28px
      max-height 70px
      resize none
      overflow-y auto
      -webkit-user-select text
      user-select text
      font-size 16px
    .emotion_button
      background-color transparent
      width 25px
      padding 0
      line-height 100%
      text-align left
      .emoji
        vertical-align baseline
    button.publish_button[disabled]
      color col_darkGray !important
    .publish_button
      padding 0
      border 0
      background-color transparent
      color #333
      width 60px
      font-size 18px
      line-height 100%
  .emotion_box
    border-top 1px solid #ccc
    padding 5px 0
    width 100%
    height 160px
    background-color #fff
    .box
      width 320px
      padding 4px
      margin auto
      .emotion
        padding 9px
        float left
        .emoji
          margin-right 0
          height 21px
          width 21px
          margin 0
    .slider-pager
      bottom 5px
      .icon.ion-record
        color col_blue

//-讨论列表页
.discuss_list
  .chat_pre
    max-height 21px
  .list
    padding-top 0
    background-color white
    .custom_items
      margin-top 1px
      .item
        position relative
        padding-top 18px
        padding-bottom 18px
        border-style none
        border-width 0px
        .red_spot
          background-color #f48361
          position absolute
          width 1rem
          height 1rem
          border-radius 100%
          left 4rem
          top 1rem
      .custom_border
        height 2px
        border-bottom 1px solid col_boderlighttGray
        &.non_last_custom_border
          margin-left 15px

.item-avatar_custom
  padding-left 72px
  min-height 72px
.item-avatar_custom > img:first-child
  position absolute
  top 16px
  left 15px
  width 45px
  height 45px
  border-radius 4px
.item-avatar > img:first-child
  border-radius 0

//- 活动留言页
.campaign_discuss
  .icon-right
    width 40px
    margin-top 3px
  .comments
    .comment
      padding 16px
      background-color #fff
      border-bottom 1px solid #ddd
      .logo
        float left
        margin-right 10px
        img
          width 30px
          height 30px
          border-radius 3px
      .contents
        float left
        .name
          color #202020
          line-height 1
          margin-bottom 13px
          font-size 16px
        .content
          color #666
          font-size 14px
          line-height 1
          margin-bottom 10px
        .time
          color #a2a2a2
          font-size 12px
          line-height 1
    .item-button
      text-align center
      .ion-looping
        color #a2a2a2
  .button-clear
    font-size 14px
//-发现页
.discover, .rank_page
  .rank_table
    background-color #fbfbfb
    .rank_line
      height 67px
      width 100%
      padding 10px 0
      font-size 14px
      line-height 1
      border-right 0
      .team_logo
        border-radius 3px
        width 45px
        height 45px
      .rank_col,.logo_col,.name_col,.score_col
        float left
      .rank_col
        width 10%
        text-align center
        padding-top 15px
        color col_mainText
      .logo_col
        width 20%
      .name_col
        width 60%
        padding-top 2px
        .team_name
          color col_mainText
          font-size 14px
          margin-bottom 10px
        .team_cname
          color col_textGray
          font-size 12px
      .score_col
        padding-top 15px
        width 10%
        color col_textGray
    a
      text-decoration none
      align-items center

.discover
  .list
    margin-top 10px
    .item
      .icon
        width 3rem
        font-size 14px
        color col_blue
      .icon.ion-chevron-right
        color col_textLight
      .icon.ion-android-contacts
        font-size 22px
        padding-left 4px
      .item-note
        color col_blue
      .badge_dot
        background-color #FF5724
        width 12px
        height 12px
        bottom 10px
        display inline-block
        border-radius 100%
        position relative
  .rank_panel
    border-top 1px solid #ddd
    margin-top 30px
    .rank
      background-color #f48361
      padding 10px 15px
      border 0
      .rank_title
        float left
        color #fff
        line-height 26px
      .rank_button
        float right
        background-color #fff
        border-radius 5px
        color col_textGray
        padding 5px
        height 26px
        min-height 25px
        line-height 1
        border 0
    .team_select
      displayFlex()
      background-color white
      padding 10px 20px
      .team_container
        flexValue(1)
        text-align center
        .team
          width 100%
          height 100%
          position relative
          .icon
            font-size 22px
            position absolute
            top 17px
            color col_textLight
          .team_logo
            width 35px
            height 35px
            margin-top 10px
            border-radius 3px
          .team_name
            width 100%
            word-break break-all
            textOverflow()
            color col_textGray
            font-size 14px
        .team.selected_team
          .team_logo
            width 45px
            height 45px
            margin-top 0
          .team_name
            font-size 14px
            font-weight 400
            color col_mainText
        .last_team
          .icon
            left 0
        .next_team
          margin-right 10px
          .icon
            right 0
    .rank_table
      margin-top 0
      border-top 1px solid #d7d7d7
      .rank_line
        background-color #faf9f9
        border 0
        .rank_col
          font-size 16px
      .rank_line.single_line
        background-color #f2f2f2


//- 排行榜详细页
.rank_page
  //-覆盖样式
  .rank_table
    .rank_title
      height 27px
      padding 8px 15px
      background-color #f7f7f7
      font-size 12px
      border-top 0
      line-height 1
      .rank_name
        float left
      .tip
        text-align center
      a
        color #444

    .rank_line
      padding 10px
      height 70px
      .rank_col
        width 35px
        padding 18px 13px
        margin-right 10px
        text-align center
      .logo_col
        width 50px
        .team_logo
          height 50px
          width 50px
          border-radius 5px
      .content_col
        float left
        width 60%
        margin-left 15px
        p
          font-size 12px
          line-height 1
          margin-bottom 9px
        p.others, p.team_cname
          font-size 10px
        .team_name
          color col_mainText
        .others
          .activity_score, .odds_percent
            margin-left 10px
      .top
        .top_flag
          width 25px
          height 25px
          position absolute
          left 15px
          top 20px
          padding 5px 9px 7px
          background-color #3ba2e0
          border-radius 100%
          color #fff
    .belong
      color #3ca2e0
      .no_rank_table
        text-align center

//-选择小队类型
.rank_select
  .groups
    .group
      min-width 50px
      float left
      width 33.33333%
      text-align center
      padding 19px 18px 22px
      background-color #fff
      border-right 1px solid #eee
      border-bottom 1px solid #eee
      a
        text-decoration none
        label
          color col_mainText
          &.active
            color #3ca2e0
        .img_contain
          width 25px
          height 25px
          background-image url('../img/icons/groups_new.png')
          background-repeat no-repeat
          background-size 300px 750px
          margin 0 auto
        for i in 0..16
          .group_{i+1}
            background-position i%6 * -50px floor(i/6) * -50px

//-
.rank_rules
  .list
    .card
      margin-top 0
//-我的等页面通用">"
.personal, .settings, .about, .settings_account, .contacts, .tab_company_page, .company
  .list
    margin-top 10px
    .ion-chevron-right
      font-size 14px
      color #ccc
    .ion-compose
      color #333
      font-size 20px
      display block
      top 16px
//公司页
.tab_company_page
  .company_header
    position relative
    height 190px
    .company_family
      width 100%
  .company_info
    padding-top 0
    padding-bottom 0
    border-radius 5px
    .info_header
      position relative
      padding 0 1rem
      height 55px
      color white
      background-color white
      .logo
        position absolute
        left 15px
        top -40px
        border-radius 5px
        width 80px
        height 80px
        border 2px solid #ccc
      .info_content
        position absolute
        left 110px
        top -30px
        .company_name
          font-size 16px
          text-shadow 2px 2px 3px black
          line-height 30px
          color white
        .company_brief
          font-size 14px
          color col_textGray
  .list
    margin-bottom 0
    margin-top 0
    .staff_item
      height auto
      padding-top 12px
      padding-bottom 12px
      padding-right 36px
      border-bottom 0
      .staff_photo
        display block
        float left
        margin-right 15px
        width 30px
        height 30px
      .more_text
        float right
        color col_textGray
        font-size 12px
        line-height 30px
    .icon_right
      right 0
    .icon.ion-chevron-right
      color col_textLight
  .menu_list
    margin-top 10px
    .item
      padding-left 50px
      indentLine()
    .icon_left
      width 3rem
      font-size 14px
      color col_blue
      left 7px
    .ionic_icon
      font-size 22px
      padding-left 4px
    .item-note
      color col_blue
    .badge
      background-color #FF5724
      padding 2px 6px 1px
      top 17px
      font-size 12px
      margin-left 4px
      right auto
      display inline-block
    .badge_image
      position absolute
      right 36px
      top 10px
      height 30px
      .red_spot
        background-color #f48361
        position absolute
        width 1rem
        height 1rem
        border-radius 100%
        right -0.5rem
        top -0.5rem
      .logo
        width 30px
        height 30px

//-通讯录
.platform-ios.platform-cordova:not(.fullscreen) .contacts .bar-header.search_box:not(.bar-subheader).item-input-inset 
    .item-input-wrapper
      margin-top -1px !important
    input
      margin-top -1px !important
.platform-ios.platform-cordova:not(.fullscreen) .contacts .bar-header.search_box:not(.bar-subheader) > *
  margin-top -1px !important
.contacts, .map_select
  .search_box
    width 100%
    background-color col_gray
    .item-input-wrapper
      background-color #fff
    input
      background-color #fff
.contacts
  .bar
    border-bottom none
  .user_list
    margin-top 0
  .user_item
    padding-left 77px
    indentLine()
  .user_photo
    width 45px !important
    height 45px !important
    max-width 45px !important
    max-height 45px !important
    border-radius 5px !important
  .nickname
    font-size 14px
    line-height 24px
    color col_mainText
  .realname
    font-size 12px
    line-height 18px
    color col_textGray

//- 地图选择样式
.map_select
  .search_box
    height 40px
    padding 9px
  .map_container
    height 400px
  .name
    background-color #fff
    padding 5px
//-账号设置页
.settings_account
  a.item
    color #444
//-我的
.personal
  .list
    padding-top 0
    margin-bottom 0
    .icon_right
      right 4px
  .user_info
    margin-top 10px
    .item_user
      padding-top 15px
      padding-bottom 12px
      .avatar_photo
        max-width 45px
        max-height 45px
        width 45px
        height 45px
        border-radius 5px
      .nickname
        font-size 14px
        line-height 24px
      .introduce
        font-size 12px
        line-height 18px
        color col_darkGray
    .statistics
      text-align center
      padding 0
      .row
        padding 0
        .col-33
          border-left 1px solid #ccc
          padding 7px 0
          .number
            font-size 12px
            line-height 18px
            color col_mainText
          .key
            font-size 12px
            line-height 18px
            color col_textGray
        .col-33
          &:first-child
            border-left 0
        a
          text-decoration none
  .menu_list
    .item
      padding-left 50px
      indentLine()
      .icon_left
        width 3rem
        margin-left -6px
  //其他人看
  .user_header
    position relative
    .img_container
      position absolute
      height 200px
      width 104%
      left -5px
      top -5px
      -webkit-filter blur(4px)
      -moz-filter blur(4px)
      -ms-filter blur(4px)
      filter blur(4px)
    .user_card
      position relative
      text-align center
      color white
      padding-top 35px
      width 100%
      height 190px
      text-shadow 2px 2px 2px black
      .user_logo
        border-radius 100%
        border 3px solid #efefef
        height 80px
        width 80px
      .user_name
        font-size 16px
        margin-top 5px
      .user_introduce
        textOverflow()
        width 80%
        margin 0 auto
    .tab_view
      position relative
      .nav
        border-bottom 1px solid col_gray
        displayFlex()
        width 100%
        height 40px
        background-color white
        .tab_style
          flexValue(1)
          text-align center
          height 100%
          a
            font-size 14px
            height 30px
            padding 10px
            display block
            color col_textGray
            margin 5px 0
            padding 5px
            border-right 1px solid col_gray
          &.active
            border-bottom 2px solid col_blue
            a
              color col_blue
      .tab_content
        .team_list
          .dl_team_card
            margin 0
            box-shadow none
            border-bottom 1px solid #CCC
            border-radius 0
            min-height 75px
            height 75px
            padding 15px
            .team_logo
              border-radius 5px
              width 45px
              height 45px
              left 15px
              top 15px
            .team_info
              color col_textGray
              .team_name
                color col_mainText
                margin-top 0
                line-height 25px
              .team_count
                margin-top 0
                line-height 20px
        .circle_list
          .no_moment_remind
              background-color white
              padding 10px
              text-align center
              color col_textGray
//-编辑个人信息页
.edit_info
  .list
    padding-top 10px
    .item-thumbnail-right
      h2
        margin-top 10px
      img:first-child
        left 36%
    .item-input
      padding 6px 20px 5px
      input
        color col_blue
      input[readonly]
        background-color #fff
      .introduce
        color col_blue
        resize none
    .item-radio
      .item-content
        padding 0 30px
      .radio-icon
        padding 0 5px
        font-size 16px
        color col_textGray
    .item-icon-right
      .icon
        color col_darkGray
        z-index 1
        font-size 18px
//- HR编辑小队
.edit_team_info
  .list
    background-color #fff
    .leader
      span
        float left
      .leader_logo
        float lefthr
        height 20px
        width 20px
        margin-right 10px
    .search
      border 1px solid col_blue
      border-radius 5px
      margin 5px 16px
    .people
      .person
        float left
        width 25%
        text-align center
        .photo
          width 50px
          height 50px
          margin 0 auto
        .photo.selected
          border 1px solid #f44
        .name
          width 100%
          text-align center
          overflow hidden
          white-space nowrap
          font-size 12px
          //- text-overflow ellipsis

//- HR公司主页
.hr_company_page
  .company_header
    position relative
    .company_cover
      width 100%
  .company_info
    padding-top 0
    padding-bottom 0
    border-radius 5px
    .item
      border none
      indentLine()
      &:last-child
        border-bottom 1px solid #ddd
    .info_header
      position relative
      padding 0 1rem
      height 55px
      color white
      background-color white
      &:after
        display block
        position absolute
        margin-left -12px
        bottom 0
        width 100%
        content ''
        border 1px solid #ddd
      .logo
        position absolute
        left 15px
        top -40px
        border-radius 5px
        width 80px
        height 80px
        border 2px solid #ccc
      .info_content
        position absolute
        left 110px
        top -30px
        .company_name
          font-size 16px
          text-shadow 2px 2px 3px black
          line-height 30px
        .company_brief
          font-size 14px
          color col_textGray
    .company_member_num, .company_team_num
      position absolute
      right 50px
      color #c4c4c4
    .info_body
      padding 15px
      position relative 
      z-index 2
      background-color white
      border-top 1px solid #e2e2e2
      border-bottom 1px solid #e2e2e2
      font-size 14px
      color col_textGray
    .icon
      width 3rem
      font-size 14px
      color col_textGray
      &.ion-android-contacts
        font-size 22px
        padding-left 4px
        color col_blue
  .bar-footer
    height 50px
    border-top 1px solid #ccc
    .button
      margin 0 15px
      border-radius 5px
      border 1px solid #e2e2e2
      height 40px
      color col_blue
//- HR编辑公司
.edit_company_info
  .company_name
    position relative
    height 45px
    margin-top 10px
    margin-bottom 1px
    .item
      padding 12px 15px
      margin 1px 0px
      &:after
        display block
        position absolute
        left 15px
        bottom 0
        width 100%
        content ''
        border-top 1px solid #ddd
      .title, .content
        font-size 14px
      .content
        margin-left 20px
        color col_textGray
  .item-icon-right
    position relative
    padding 15px
    height 90px
    margin 0px
    border 0px
    &:after
      display block
      position absolute
      left 15px
      bottom 0
      width 100%
      content ''
      border-top 1px solid #ddd
    .icon
      color col_darkGray
      z-index 1
      font-size 18px
    .company_logo
      font-size 14px
      margin-top 23px
      width 100px
  .item-icon-right > img:first-child
    position absolute
    right 50px
    width 60px
    height 60px
  .item-input
    position relative
    height 90px
    margin 0px
    padding 15px
    border none
    border-bottom 1px solid #ddd
    .input-label
      position absolute
      color black
      top 5px
      font-size 14px
    textarea
      margin-left 30px
      width 100%
      font-size 14px
      color col_textGray
//-HR小队主页
.hr-team-page
  .item-label
    margin 10px 0px 0px
  .list
    padding 0px
    margin-top 1px
    .item
      position relative
      border none
      indentLine()
      &:last-child
        border-bottom 1px solid #ddd
      .team-name
        max-width 200px
      .team-status
        position absolute
        top 16px
        right 10px
      .team-member
        position relative
        .team-leader
          max-width 80px
        .team-member-num
          position absolute
          left 90px
          top 0px
          font-size 14px
          color #666
    .item-avatar-custom
      padding-left 72px
      min-height 72px
    .item-avatar-custom > img:first-child
      position absolute
      top 16px
      left 15px
      width 45px
      height 45px
      border-radius 0px
      
// 我的小队页面
.personal_team_list_page
  .team_list_item
    padding-top 15px
    padding-bottom 15px
  .team_label
    font-size 12px
    padding-top 3px
    padding-bottom 3px
    line-height 18px
    min-height 0
    color col_mainText
  .team_logo
    width 45px !important
    height 45px !important
    max-width 45px !important
    max-height 45px !important
    border-radius 5px !important
  .team_name
    font-size 14px
    line-height 24px
    color col_mainText
  .team_info
    color col_textGray
    font-size 12px
    line-height 18px
  .info_item
    margin-right 10px
//-别人的卡片
// .user_card
//   .tags
//     white-space normal
//     .tag
//       padding 2px
//   .tabs
//     border-top 1px solid col_gray !important
//-设置
.settings
  .list
    padding-top 0
    &:first-child
      margin-bottom 10px
      margin-top 10px
    .item
      color #333
      padding-left 20px
  .quit_button
    border-top 0
    color #f3835c
    height 50px
    border-top 1px solid #ccc
    border-bottom 1px solid #ccc
//- 关于
.about
  .list
    color col_textGray
    font-weight 600
    border-bottom 1px solid #ccc
    .item
      padding-left 20px
  .about_title
    width 100%
    height 70px
    text-align center
    font-size 16px
    padding 30px
    color #333
//- 反馈
.settings_feedback, .changePwd
  .list>.list-inset
    background-color transparent
    margin 20px
    .item
      border-radius 5px
      input::-webkit-input-placeholder /* WebKit browsers */
        color col_lightGray
      input::-moz-placeholder /* Mozilla Firefox 4 to 18 */
        color col_lightGray
      input:-ms-input-placeholder /* Internet Explorer 10+ */
        color col_lightGray
      textarea::-webkit-input-placeholder /* WebKit browsers */
        color col_lightGray
      textarea::-moz-placeholder /* Mozilla Firefox 4 to 18 */
        color col_lightGray
      textarea:-ms-input-placeholder /* Internet Explorer 10+ */
        color col_lightGray
      textarea
        height 100px
      .ng-dirty.ng-invalid
        background-color #FCEBEB
    .submit_button
      border 0
      border-radius 5px
      background-color col_blue
      font-size 16px
      font-weight 600
//- 发公告、留言等popover样式
.dl_publish
  background-color #eee
  .publish_card
    background-color #fff
    margin 10px 0
    padding 11px 16px
    border 1px solid #ddd
    textarea
      color #202020
      line-height 20px
// 日程
.calendar
  margin 6px 0px
  color col_darkGray
  height 100%
  nav
    background-color rgb(246, 246, 246)
    border-top-left-radius 4px
    border-top-right-radius 4px
    margin 0px 4px
    .operator
      // background-color col_blue
      color col_navGray
      border none
      margin 0
      border-top-left-radius 4px
      border-top-right-radius 4px
      height 45px
    .icon_blue
      background-color transparent
      color #3ca2e0
    .icon_margin_left
      margin-left 22px
    .icon_margin_right
      margin-right 22px
    .week
      position relative
      height 27px
      background-color rgb(255, 255, 255)
      border-top 1px solid #ccc
      border-bottom 1px solid #ccc
      .day
        position relative
        float left
        width (100 / 7)%
        line-height 15px
        color col_blue
        margin-top 7px
    .date_list
      position relative

      .date_box
        position relative
        float left
        width (100 / 7)%
        height 60px
        border-top 1px solid #ccc
        border-right 1px solid #ccc
        border-bottom 2px solid #ccc
        background-color #fbfbfb
        color #999999
        &.other_month
          background-color #efefef
          color #ccc
        .date
          margin-top 15%
          margin-left auto
          margin-right auto
          font-weight bold
          font-size 16px
        .calendar_campaign_join
          position absolute
          color white
          right 50%
          bottom 0px
          background-color #48bebc
          width 50%
          height 1.5rem
          line-height 1.5rem
        .calendar_campaign_unjoin
          position absolute
          color white
          right 0px
          bottom 0px
          background-color #d46c93
          width 50%
          height 1.5rem
          line-height 1.5rem
        .campaign_count
          margin-top 15%
          display inline-block
          color white
          background-color col_blue
          border-radius 100%
          width 1.5rem
          height 1.5rem
          line-height 1.5rem
        &.current_day
          background-color rgb(255, 255, 255)
          color white
          .date
            color col_blue
            border-radius 50px
          .campaign_count
            color col_blue
            background-color white



        // .current_day.today
        //   background-color themeColor

    .date_bar
      margin 5px auto
  .full_box
    height 100%

  .calendar_box
    position relative
    height 100%
  .calendar_year
    height 100%

    .year_section
      float left
      width (100 / 3)%
      height 25%
      text-align center

  .calendar_month
    height 100%
    margin-top 1px
    .today_container
      position fixed
      bottom 0
      width 100%
      background-color #efefef
      height 50px
      .today
        height 30px
        min-height 30px
        line-height 30px
        margin 10px
        border-radius 6px
    .month
      width (100 / 7)%
      height 40px
      padding-top 15px
      text-align center

    .calendar_day
      position relative
      float left
      width (100 / 7)%
      height 60px
      background-color #efefef
      border-bottom solid 1px #ccc
      border-right solid 1px #ccc
      &.calendar_current_month
        color #999999
        background-color #fbfbfb
      .calendar_date
        margin-top 15%
        margin-left auto
        margin-right auto
        font-weight bold
        font-size 16px
      .calendar_campaign_join
        position absolute
        color white
        right 50%
        bottom 0px
        background-color #48bebc
        width 50%
        height 1.5rem
        line-height 1.5rem
      .calendar_campaign_unjoin
        position absolute
        color white
        right 0px
        bottom 0px
        background-color #d46c93
        width 50%
        height 1.5rem
        line-height 1.5rem
      .calendar_campaign_count
        margin-top 15%
        display inline-block
        color white
        background-color col_blue
        border-radius 100%
        width 1.5rem
        height 1.5rem
        line-height 1.5rem

      &.today
        .calendar_date
          color col_blue
          font-size 24px
          font-weight 900
        .calendar_campaign_count
          color col_blue
          background-color white

      .weekend
        color gray
    for day in (0..6)
      .offset_{day}
        margin-left (100 * day / 7)%

  .calendar_day
    height 100%
    .no_campagin
      background-color col_navGray
    .campaign_join
      height 20px
      color col_blue
    .calendar_campaign
      margin 0
      padding 0
      border-bottom 1px
      border-left none
      border-right none
      &:first-child
        border-top none
      .provoke
        padding-left 116px
        .second_team
          position absolute
          top 16px
          left 66px
          max-width 40px
          max-height 40px
          width 100%
          border-radius 4px
      .flag
        position absolute
        top 0
        right 5px
        &.now
          color col_textPurple
        &.join
          color col_blue
      .campaign_link
        text-decoration none
        .campaign_title
          padding 0
          .campaign_group_logo
            margin 10px
            width 36px
            height 36px
            vertical-align middle
            border 1px solid white
            border-radius 5px
          .campaign_label
            padding 10px 0
            p
              padding 0
              margin 0
            .campaign_theme
              font-size 16px
              color black
            .new_campaign_time
              font-size 14px
            .joined_sign
              position absolute
              right 0
              top 0
              width 0
              height 0
              border-color transparent #43cee6 transparent transparent
              border-style solid
              border-width 0 20px 20px
      .calendar_divider
        height 10px
        border-top 0
        background-color col_bottomGray
  .dl_card_footer
    position relative
    height 18px
    line-height 18px
    padding 0 0.833333rem
    font-size 12px
    color col_darkGray
    width 100%
    .dl_team_number
      position absolute
      top 0
      right 50px
    .dl_team_comment
      position absolute
      top 0
      right 10px
      margin-left 10px
    .ion_member, .ion_comment
      display block
      float left
      margin-top 2px
      margin-right 5px
      width 12px
      height 12px
    .dl_card_footer_count
      display block
      float left
  .campaign_title_joined
    color #48bebc
    margin-left 15px
  .campaign_title_unjoined
    color #d46c93
    margin-left 15px
  &.other
    .calendar_month
      .calendar_day
        .calendar_campaign_join
          right 25%
          bottom 5px
    nav
      .date_list
        .date_box
          .calendar_campaign_join
            right 25%
            bottom 5px
.dl_popover
  background-color rgba(0,0,0,0.7)
  border-radius 0 !important
  .dl_popover_content
    .dl_popover_button
      color white
      height 30px
      line-height 30px
      text-align center
      font-size 16px
      border-bottom 1px solid black
  .popover-arrow
    top -19px
    &:after
      background-color rgba(0,0,0,0.7) !important
.calendar_filter_popover
  width 80px
  height 105px
.campaign_filter_popover
  width 140px
  height 160px
  .dl_popover_content
    margin 10px
    border-radius 0 !important
    .dl_popover_button
      background-color transparent
      border 0
      border-bottom 0
      line-height 35px
      height 35px
      font-weight 700
      text-align left
      padding-left 10px
      width 100%
    .dl_popover_button.activated
      background-color #aaa
.user_more_popover
  width 80px
  height 46px
  .dl_popover_button
    .full_parent_link
      text-decoration none
      color white
      display inline-block
      width 100%

// todo
.dl_message_unread
  color darkred


// 小队主页
.team_page
  .team_header
    position relative
    .team_family
      width 100%
  .team_info
    padding-top 0
    padding-bottom 0
    border-radius 5px
    .info_header
      position relative
      padding 0 1rem
      height 55px
      color white
      background-color white
      .logo
        position absolute
        left 15px
        top -40px
        border-radius 5px
        width 80px
        height 80px
        border 2px solid #ccc
      .info_content
        position absolute
        left 110px
        top -30px
        .team_name
          font-size 16px
          text-shadow 2px 2px 3px black
          line-height 30px
        .team_brief
          font-size 14px
          color col_textGray
    .info_body
      padding 15px
      position relative 
      z-index 2
      background-color white
      border-top 1px solid #e2e2e2
      border-bottom 1px solid #e2e2e2
      font-size 14px
      color col_textGray
      .start_time
        margin-top 5px
      .operator
        displayFlex()
        margin-top 10px
        .btn
          flexValue(1)
          background-color white
          color col_textGray
          padding 5px 15px
          border 1px solid #efefef
          border-radius 5px
          margin 0 25px
          min-width 50px
          text-align center
          text-decoration none
      .score
        span
          margin-right 10px
    .members
      font-size 14px
      height 50px
      .col
        text-decoration none
        color col_textGray
        line-height 30px
        padding-left 15px
        .title
          float left
          margin-right 20px
        .user_logo
          height 30px
          width 30px
          border-radius 5px
        .ion-chevron-right
          float right
        &:first-child
          border-right 1px solid #e2e2e2
    .home_court
      font-size 14px
      .title
        margin-right 20px
      .home_court_name
        color col_textGray
    .info_footer
      position relative
      padding 0
      height 40px
      border-top 1px solid col_gray
      .icon
        display inline-block
        vertical-align middle
        margin-top -2px
        margin-right 5px
        color col_blue
        font-size 16px
    .icon
      width 3rem
      font-size 14px
      color col_textGray
      &.ion-android-contacts
        font-size 22px
        padding-left 4px
        color col_blue
//-timeline 卡片与小队timeline卡片共用时间样式
.dl_campaign_group, .timeline_card ,.competition_timeline_card
  background-color #fff
  .dl_campaign_timeline_date
    background-color col_bottomGray
    padding 7px 15px
    font-size 12px
    line-height 1
  .dl_campaign_group
    .dl_campaign_group_date
      margin 1rem
      height 20px
      background-color col_darkGray
      color white
      border-radius 5px
      text-align center
.dl_timeline
  .dl_timeline_card
    z-index 10
  .dl_timeline_date
    display block
    margin 1rem auto
    width 100px
    height 20px
    background-color #ccc
    color white
    border-radius 5px
    text-align center
    position relative
    z-index 10
  &:last-child
    .dl_timeline_card
      border-bottom none
.nomore_text
  margin 10px
  font-size 14px
  text-align center

.member_page
  .member_group
    .member_group_name
      color col_textGray
      font-size 14px
      padding 5px 15px
    .members
      background-color white
      border 1px solid #ccc
      .member
        position relative
        margin 0.833333rem 0.833333rem 0
        float left
        text-decoration none
      .member_photo
        display block
        width 45px
        height 45px
        border-radius 5px
      .dl_member_leader
        width 20px
        height 20px
        display inline-block
        position absolute
        right 0
        bottom 23px
        background-color #fbc441
        border-radius 100%
        background-image url('../img/icon.png')
        background-size 192px 240px
        background-position -45px -140px
      .member_name
        margin 3px auto 0
        width 45px
        text-align center
        color col_black
        textOverflow()

.photo_album_detail_page
  .hidden_figcaption
    display none
.dl_team_title
  font-size 14px
  margin-left 10px
.dl_team_card
  dl_card()
  position relative
  border-radius 5px
  text-decoration none
  min-height 80px
  .team_logo
    display block
    position absolute
    top 10px
    left 10px
    width 60px
    height 60px
  .team_info
    width 100%
    padding-left 70px
    color col_black
    text-decoration none
    .team_name
      margin 0
      margin-top 5px
      font-size 14px
    .team_cp_title, .team_count, .team_member, .team_cp_number
      margin 0
      font-size 12px
    .team_count
      margin-top 12px
    .team_cp_title
      margin-top 5px
    .team_cp_number
      margin-left 10px
    .team_name, .team_cp_title, .team_cp_number
      max-width 100%
      textOverflow()
.all_team_list_page
  .dl_team_card
    .team_logo
      width 85px
      height 85px
    .team_info
      padding-left 95px
    .team_count
      margin-top 6px
    .btn_quit, .btn_join
      margin-top 10px
      padding 0
      width 100%
      height 30px
      border-radius 5px
      font-size 14px
    .btn_quit
      border 1px solid col_blue
      color col_blue
      background-color white
    .btn_join
      color white
      background-color col_blue
      border none

//-某些页面需要的loading层
.loading_cover
  width 100%
  padding-top 10px
  text-align center
  color #666
  font-size 16px

//-下拉刷新的loading图标
.scroll-content>.scroll
  .ion-looping
    font-size 24px

//地图页面
.map_page
  dl_card()
  .map
    .map_img
    .no_map
      width 100%

.sponsor
  background-color col_bottomGray
  .list
    margin-top 10px
    .competition
      align-items center
      font-size 14px
      color col_mainText
      background-color #fff
      border-top 1px solid #ddd
      border-bottom 1px solid #ddd
      height 92px
      padding 15px
      .col
        text-align center
      .col_sm
        flex 0.25
        padding 0
      .col_center
        flex 0.5
      .team_logo
        height 60px
        width 60px
        border-radius 5px
    .item-divider
      min-height 10px
      height 10px
      padding 0
    .item
      height 50px
      .input-label
        color col_mainText
      .icon
        color col_textLight
        font-size 18px
    .item-input
      .result
        color col_textLight
      input::-webkit-input-placeholder
        color col_textLight
      input::-moz-placeholder /* Mozilla Firefox 4 to 18 */
        color col_textLight
      input:-ms-input-placeholder /* Internet Explorer 10+ */
        color col_textLight
      input[readonly]
        background-color #fff
      .dl_icon
        width 20px
        margin 10px 0
    .introduce
      height 108px
      align-items baseline
      textarea
        width 65%
        line-height 22px
    .input-label
      padding-top 0
      padding-bottom 0
    .item-select
      select
        padding 14px 48px 7px 16px

//-通用发布按钮
.sponsor, .campaign_discuss ,.map_select
  .item-button
    margin 10px 20px
    .button
      width 100%
      border-radius 5px
    .button_sponsor
      background-color col_blue
      color white
    .button_close
      background-color col_darkGray
      border none

.pswp
  .dl_button_to_album
    background-image none
    color white
    .icon
      font-size 20px

.popup-container
  .popup
    width 100%

.campaign_card_container
  -moz-transition  -moz-transform 1s /* Firefox 4 */
  -webkit-transition -webkit-transform 1s /* Safari and Chrome */
  -o-transition -o-transform 1s /* Opera */


.campaign_card_container.remove
  transform translateY(500px) scale(0.1)
  -moz-transform translateY(500px) scale(0.1) /* Firefox 4 */
  -webkit-transform translateY(500px) scale(0.1) /* Safari and Chrome */
  -o-transform translateY(500px) scale(0.1) /* Opera */
.invite_key_qr_code
  img
    margin 0 auto
    width 165px
    height 165px
.invite_key
  .ion-clipboard
    color col_blue
.personal_invite_code_page
  .list
    margin-top 10px
    margin-bottom 0
  .item
    color col_mainText
  .description_item
    height 120px
  .invite_key_qr_code
    margin auto
    width 165px
    height 165px
    img
      max-width 100%


// 同事圈发文字或发图片附加文字样式
.circle_send_content_page
  .circle_content_form
    .content_border
      padding-right 6px
      z-index 1500
      height 5px
      border-left 1px solid #33B5E5
      border-right 1px solid #33B5E5
      border-bottom 1px solid #33B5E5
      background-color transparent
    textarea
      overflow hidden
      height auto
      padding 0px
      resize none
      max-height 560px
      margin 0px 4px 2px
      background-color transparent

.circle_post_page
  background-color #e2e2e2 // ionic 默认背景色
  .publish_content
    height auto
    padding 5px
    margin-bottom 20px
  .button_add
    float left
    padding 5px
    width (1 / 3 * 100)%
    .button_inner
      border 1px solid col_borderGray
      text-align center
      color col_borderGray
  .preview_img_box
    display block
    position relative
    float left
    padding 5px
    width (1 / 3 * 100)%
  .preview_img
    width 100%
    height 100%
  .circle_campaign_info
    padding 0 16px
    line-height 32px
    font-size 18px

// 同事圈发送文字页面
.circle_send_content_page
  .circle_content
    margin 20px 20px 10px

.circle_content_detail_page
  background-color white
//通用对战样式

.competition_teams
    padding 15px
    text-align center
    .col
      padding 0
    .team
      .team_title
        position relative
        color white
        text-align center
        font-size 14px
        height 26px
        line-height 26px
        &:before
          content ""
          position absolute
          top 0
          width 15px
          height 26px
          border-style solid
          border-color white transparent transparent transparent
      .team_content
        padding 15px 15px 0 15px
        .team_name
          max-width 100%
          textOverflow()
          margin-top 5px
          font-size 14px
        .team_logo
          width 60px
          height 60px
          border-radius 5px
    .vs
      font-size 16px
      min-width 42px
    .sponsor_team
      .team_title
        background-color #f75c5c
        &:before
          right 0
          border-width 26px 0 0 20px
    .opposite_team
      .team_title
        background-color col_blue
        &:before
          left 0
          border-width 26px 20px 0 0
    .vs_title
      position absolute
      left 50%
      font-size 16px
      top 18px
      span
        display inline-block
        position relative
      .v
        color #f75c5c
        left -15px
      .s
        color col_blue
        left -5px
// 公司、个人同事圈页面
.circle_company_page, .circle_user_page, .circle_team_page
  .remind_icon
    background-size 720px 270px
    background-position -38px -489px !important
    width 32px
    box-shadow none
    border none
  .custom_ion_content
    background white
  .circle_banner_image
    width 100%
    display block
    background url('../img/discover.jpg') no-repeat
    background-size 100%
    height 144px
  .circle_owner
    position relative
    margin-bottom 20px
    z-index 1
    .circle_owner_name
      position absolute
      top -30px
      right 95px
      color #FFFFFF
      font-size 14px
      font-family Arial, Helvetica, sans-serif
    .circle_owner_image_wrap
      display block
      position absolute
      top -50px
      right 5px
      padding 1px
      background-color white
      border 1px solid col_gray
      .circle_owner_image
        display block
        width 70px
        height 70px
  .no_moment_remind
    margin-top 35px
    padding 10px
    line-height 18px
    font-size 14px

  .remind_box
    display block
    margin 0 auto
    width 100px
    height 36px
    line-height 36px
    color white
    background-color black
    opacity 0.7
    text-align center
    text-decoration none
    border-radius 5px

// 消息提醒页
.circle_reminds_page
  .remind_item
    position relative
    padding-right 88px
  .item_date
    color col_darkGray
  .content_preview
    position absolute
    top 16px
    right 16px
    width 64px
    height 64px

// 评论组件
.circle_comment_box
  z-index 101
  padding 5px
  &.show_emotion_box
    bottom 160px
  .emoji_click_wrap
    position absolute
    left 6px
    top 7px
    width 28px
    height 28px
    z-index 1
.circle_emotion_box
  position absolute
  bottom 0
  z-index 101
  border-top 1px solid #ccc
  padding 5px 0
  width 100%
  height 160px
  float left
  background-color #fff
  .box
    width 320px
    padding 4px
    margin auto
    .emotion
      padding 9px
      float left
      .emoji
        margin-right 0
        height 21px
        width 21px
        margin 0
  .slider-pager
    bottom 5px
    .icon.ion-record
      color col_blue

.dl_circle_card_list
  display block
  .circle_card_wrap
    display block
    border-top 1px solid col_gray
    &:first-child
      border-top none

.dl_circle_card
  display block
  position relative
  text-decoration none
  min-height 80px
  padding 25px 10px 24px 10px
  background-color white
  .focus_on_show_comment_op, .focus_on_hide_comment_op
    position absolute
    opacity 0
    width 1px
    height 1px
    left 20px
    top 40px
  .link_name
    color col_link
    text-decoration none
    font-weight bold
  .circle_company_logo
    display block
    position absolute
    top 25px
    left 10px
    width 40px
    height 40px
    z-index 1
  .circle_info
    margin-left 50px
    color col_mainText
    text-decoration none
    .user_name
      margin 0
      font-size 16px
      line-height 16px
    .circle_content
      margin-top 7px
      .content_text
        padding 0
        margin 0
        overflow hidden
        color col_mainText
        background-color white
        font-size 14px
        line-height 18px
      .ellipsis
        color col_darkGray
        margin-right 5px
    .image_box
      margin-top 10px
      width 240px
      .preview_img
        display block
        float left
        margin-right 4px
        margin-bottom 4px
        width 75px
        height 75px
    .campaign_link
      margin 0
      margin-top 7px
      font-size 12px
      line-height 12px
      max-width 320px
      word-break break-all
      textOverflow()
    .text_from
      color col_darkGray
      margin-right 5px
    .date_and_op
      position relative
      margin-top 9px
      font-size 12px
      line-height 12px
      .text_item
        display block
        float left
        margin-left 5px
        &:first-child
          margin-left 0
      .date
        color col_darkGray
      .op_icon
        position absolute
        right 0
        top -2px
        width 23px
        height 22px
      .toggle_click_wrap
        position absolute
        right -10px
        top -16px
        width 44px
        height 40px
        z-index 1
      .comment_op
        position absolute
        top -14px
        right 30px
        z-index 1
        .op_bg_wrap
          position absolute
          width 181px
          height 40px
          top 0
          right 0
          background-color black
          opacity 0.7
          border-radius 6px
          z-index -1
        .op_box
          float right
          width 181px
          height 40px
          color white
        .op_item
          float left
          padding 0 10px
          width 90px
          line-height 40px
          font-size 14px
          text-align center
        .op_item_text
          margin-left 5px
        .op_divider
          float left
          margin 6px 0
          height 28px
          border-right 1px solid col_mainText
  .circle_comment_list
    position relative
    margin-top 13px
    padding 6px 5px
    color col_mainText
    background-color col_bottomGray
    font-size 14px
    line-height 20px
    .circle_triangle
      position absolute
      left 5px
      top -10px
      border-style solid
      border-width 5px
      border-color transparent
      border-bottom-color col_bottomGray
    .appreciate_container
      word-break break-all
      textOverflow()
      .appreciate_icon
        color col_link
      .appreciate
        margin-left 5px
        &:after
          content ","
        &:last-child
          &:after
            content ""
    .comment_divider
      margin 5px 0
      border-top 1px dashed col_darkGray
    .comment
      .content
        margin-left 10px
      .reply_text
        margin 0 5px

.competition_message_panel
  background-color white
  .competition_message_list
    .type_filter
      text-align center
      .button
        border-bottom 1px solid #ccc
        opacity 1
        color col_textGray
        height 40px
        min-height 40px
        line-height 40px
        &.active
          color col_blue
          border-bottom 4px solid col_blue
      .splite
        position: absolute
        width 1px
        height 35px
        background-color #CCC
        left 50%
        top 5px
    .competition_message
      text-decoration none
      color col_textGray
      background-color white
      text-align center
      font-size 12px
      border-bottom 1px solid #ccc
      height 68px
      margin-top 0
      .dot
        width 10px
        height 10px
        background-color red
        border-radius 100%
        display inline-block
        margin-top 12px
        float left
        margin-right 10px
      .text_left
        text-align left
      .status_text
        margin 7px 0
        font-size 12px
        color col_mainText
      .create_time
        font-size 10px
      .team_name
        textOverflow()
        width 100%
        line-height 14px
      .team_logo
        width 30px
        height 30px
        border-radius 5px
      .competition_type
        min-width 40px
        font-size 12px
    .operator
      text-align center
      color col_textGray
  .competition_message_detail
    .vote
      padding 0 60px
      height 50px
      position relative
      margin-bottom 15px
      .vote_team
        height 3px
        margin-top 23px
        .vote_icon
          width 40px
          height 40px
          display inline-block
          background-color #FFF
          border-radius 100%
          border-style solid
          border-width 1px
          position absolute
          top 5px
          .icon
            position absolute
            left 10px
            top 10px
            display inline-block
            font-size 20px
            width 20px
            text-align center
        .vote_num
          position absolute
          width 50px
          bottom 0
        &:first-child
          text-align left
          background-color red
          float left
          .vote_icon
            left 20px
            border-color red
            .icon
              color red
          .vote_num
            left 60px
        &:last-child
          text-align right
          background-color blue
          float right
          .vote_icon
            right 20px
            border-color blue
            .icon
              color blue
          .vote_num
            right 60px
    .competition_status
      height 44px
      text-align center
      padding 14px
      line-height 14px
    .competition_type_select
      .item-content
        padding-right 30px
        .type_content
          margin-right 45px
        .tips
          font-size 14px
          color col_textLight
      .ion-checkmark
        font-size 16px
        padding 15px
        color col_blue
    .item
      color col_textGray
  .competition_message_comment
    .comment_title
      height 25px
      line-height 25px
      font-size 14px
      min-height 25px
      padding 0 15px
    .comment
      width 100%
      padding 15px 17px
      border-bottom 1px solid #ccc
      color col_textGray
      padding-left 57px
      position relative
      .team_logo
        width 30px
        height 30px
        position absolute
        left 15px
        top 17px
        border-radius 5px
      .comment_contents
        float left
        .team_name
          textOverflow()
          word-break break-all
          font-size 16px
          color black
          margin-bottom 12px
        .create_date
          color col_textLight
        .comment_content
          margin-bottom 16px
      &.pull_right
        text-align right
        padding-right 57px
        .team_logo
          right 15px
          left initial
        .comment_contents
          float right
  .operator
    text-align center
    margin 10px 20px
    .button_comment
      background-color col_blue
      color white
      border-radius 5px
      width 100%
// 找对手
.search_opponent
  .select_team
    .item-divider
      padding 7px 16px
      line-height 1
      color col_mainText
    .clear_both
      clear both
      border-top 0
    .units
      background-color white
      .unit
        float left
        width 33.333%
        border-right 1px solid col_gray
        border-bottom 1px solid col_gray
        text-align center
        padding 15px 5px
        height 96px
        text-decoration none
        .logo
          width 45px
          height 45px
          border-radius 5px
        .text
          line-height 1
          margin-top 2px
          textOverflow()
          font-size 14px
          color col_textGray
        .button
          width 100%
          height 25px
          background-color #ccc
          box-shadow 0 0 0
  .selected_team
    .team
      height 65px
      padding 10px 15px
      position relative
      .logo
        width 45px
        height 45px
        border-radius 5px
        margin-right 10px
        position absolute
      .text
        line-height 15px
        color col_textGray
        font-size 12px
        width 100%
        .tname
          font-size 14px
          color col_mainText
          margin-bottom 5px
          textOverflow()
      .operator
        position absolute
        right 15px
        top 15px
        border-left 1px solid col_gray
        padding-left 15px
        p
          margin-bottom 0
          color col_blue
          text-align center
          line-height 1
          font-size 14px
        .change_team
          color col_blue
          min-height 20px
          height 20px
      &.now_team
        margin-top 10px
        .text
          margin-top 5px
          padding 0 80px 0 60px
    .tab_view
      width 100%
      background-color #fff
      margin-top 10px
      .tab_content
        padding 40px 0 0
        .team
          float left
          padding 15px
          text-decoration none
          width 100%
          border-bottom 1px solid col_gray
          height 90px
          .text
            padding-left 75px
            .rank
              span
                white-space nowrap
                margin-right 5px
            .rank, .leader
              font-size 12px
              margin-top 7px
          .logo
            width 60px
            height 60px
        .operator, .no_more_team
          clear both
          text-align center
          background-color col_bottomGray
          color #B2B2B2
          font-size 14px
        .no_more_team
          padding-top 10px
      .nav
        border-bottom 1px solid col_gray
        float left
        width 100%
        height 40px
        .opponent_tab_style
          float left
          text-align center
          border-right 1px solid col_gray
          height 100%
          a
            font-size 14px
            height 100%
            padding 10px
            display block
            color col_textGray
          &.active
            border-bottom 2px solid col_blue
            a
              color col_blue
          &.sameCity
            width 25%
          &.nearbyTeam
            width 25%
          &.search
            width 50%
            position relative
            placeholderColor(col_textLight)
            a
              padding 7px 10px
            .search_opponent_input
              height 25px
              border-radius 5px
              border 1px solid col_gray
              padding 8px 10px
              color col_textGray
              font-size 12px
            .search_button
              height 100%
              min-height 14px
              width 14px
              min-width 14px
              position absolute
              right 20px
              top 0
              background-color transparent
              color col_textLight
              padding 0
              border none
              &:before
                font-size 18px
.competition_team_page
  .competition_team
    padding-bottom 50px
    .team_item
      padding-left 77px
      .team_logo
        width 45px
        height 45px
        max-width 45px
        max-height 45px
        border-radius 5px
    .team_name
      margin-top -5px
      margin-bottom 0
      color col_mainText
      font-size 14px
      line-height 24px
    .info_text
      margin 0
      color col_textGray
      font-size 12px
      line-height 18px
    .first_info_text
      margin-top -2px
    .team_info
      .text_label
        margin-right 8px
      .text_data
        margin-right 10px
    .campaign_info
      .item
        display flex
        display -webkit-flex
      .text_label
        width 60px
        font-size 14px
        line-height 24px
        color col_mainText
      .text_data
        flex 1
        webkit-flex 1
        font-size 14px
        line-height 24px
        color col_textGray
        text-align center
    .competition_timeline_card
      .together_campaign
        displayFlex()
      .text_label
        width 60px
      .text_data
        flexValue(1)
        color col_textGray
        text-align center
  .bar-footer
    height 50px
    .bottom_button
      display block
      font-size 16px
      height 40px
      color white
      background-color col_blue
      text-align center
      width 100%
      border none
      border-radius 5px


.score_board
  .item
    height 44px
    &.score_board_operator
      text-align center
      padding 10px 15px
      .operator
        min-height 24px
    &.play_team
      padding 15px 15px 15px 65px
      height 70px
      .team_logo
        position absolute 
        width 40px
        height 40px
        left 15px
        top 15px
      .team_name
        font-size 14px
      .show_score
        .score
          float left
          width 80px
        .result
          float left
      .editing
        .score
          float left
          width 80px
        .results
          float left
    &.score_board_footer
      text-align center
      padding 0
      .remind_text
        padding 10px 0
        float left
        width 50%
      .getlog
        color col_blue
        padding 10px 0
        float left
        width 50%
    &.logs
      .log
        .content
          font-size 14px
          color col_blue
    &.competition_teams
      height initial
      .vs
        .score
          font-size 24px
        .set_score
          color col_blue
  .tab_view
    width 100%
    background-color #fff
    margin-top 10px
    .nav
      border-bottom 1px solid col_gray
      float left
      width 100%
      height 40px
      .tab_style
        float left
        text-align center
        border-right 1px solid col_gray
        height 100%
        width 50%
        a
          font-size 14px
          height 100%
          padding 10px
          display block
          color col_textGray
        &.active
          border-bottom 2px solid col_blue
          a
            color col_blue
.campaign_content_page
  .content_page
    padding-top 10px
    .item
      height 40px
      padding 10px 15px
      font-size 14px
      indentLine()
      .title
        display inline-block
        width 110px
        color col_mainText
      .content
        color col_textLight
      &.has_content
        height initial
        .content
          white-space normal
.all_campaigns
  .operator
    padding 10px 15px
    text-align center
    .show_more
      color col_textGray
