platforms/android/ant-build/
platforms/android/ant-gen/
platforms/android/local.properties
platforms/android/CordovaLib/
platforms/android/bin/
platforms/android/assets/

platforms/ios/www/
platforms/ios/build/
platforms/ios/CordovaLib/
node_modules/

.bower-*/

www/lib/