platforms/

node_modules/
plugins/
.bower-*/
.idea/

www/lib/


platforms/ios/build/
platforms/ios/cordova/
platforms/ios/CordovaLib/
platforms/ios/Donler.xcodeproj/
platforms/ios/Donler.xcodeproj/project.pbxproj