extends ./tab-layout
block header
  a.button.icon.ion-chevron-left(href="#/discover") &nbsp;发现
  h1.title 所有小队（20）
block content
  .list
    a.item.item-thumbnail-left(href="#")
      img(src="http://placehold.it/85x85")
      h2 动梨篮球队
      p 2014-11-20 年末足球赛
      p 队员：90 活动：100
      button 已加入小队
    a.item.item-thumbnail-left(href="#")
      img(src="http://placehold.it/85x85")
      h2 动梨篮球队
      p 2014-11-20 年末足球赛
      p 队员：90 活动：100
      button 已加入小队
    a.item.item-thumbnail-left(href="#")
      img(src="http://placehold.it/85x85")
      h2 动梨篮球队
      p 2014-11-20 年末足球赛
      p 队员：90 活动：100
      button 已加入小队
    a.item.item-thumbnail-left(href="#")
      img(src="http://placehold.it/85x85")
      h2 动梨篮球队
      p 2014-11-20 年末足球赛
      p 队员：90 活动：100
      button 立即加入
    a.item.item-thumbnail-left(href="#")
      img(src="http://placehold.it/85x85")
      h2 动梨篮球队
      p 2014-11-20 年末足球赛
      p 队员：90 活动：100
      button 立即加入
