ion-view

  ion-header-bar
    a.button.button-clear(ng-href="{{backUrl}}") 返回
    h1.title {{campaign.theme}}
    a.button.icon.button-clear.ion-chatbox
  ion-content
    .card.dl_card
      .item.item-divider
        .item.item-avatar(ng-if="campaign.campaign_unit.length==1")
          img.dl_team_logo(ng-src="{{STATIC_URL +(campaign.campaign_unit[0].team.logo || campaign.campaign_unit[0].company.logo)+'/45/45'}}")
          h2.dl_team_name {{campaign.campaign_unit[0].team.name || campaign.campaign_unit[0].company.name}}
          span.campaign_mold {{campaign.campaign_mold}}
        .item.item-avatar(ng-if="campaign.campaign_unit.length==2")
          img.dl_team_logo(ng-src="{{STATIC_URL +(campaign.campaign_unit[0].team.logo || campaign.campaign_unit[0].company.logo)+'/45/45'}}")
          span.dl_team_vs vs
          img.dl_team_logo.dl_team_logo_right(ng-src="{{STATIC_URL +(campaign.campaign_unit[1].team.logo || campaign.campaign_unit[1].company.logo)+'/45/45'}}")
      .item.item-text-wrap.dl_card_body
        h1.dl_cp_name {{campaign.theme}}
        p 活动地点：{{campaign.location.name}}
        p 开始：{{campaign.start_time | date:"yyyy-MM-dd HH:mm" | day}} 结束： {{campaign.end_time | date:"yyyy-MM-dd HH:mm" | day}}
        p 报名截止：{{campaign.deadline | date:"yyyy-MM-dd HH:mm" | day}}
        div
          button.button.button-block.dl_cp_join(ng-if="campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign"  ng-click="join(campaign._id)") 立即参加
          button.button.button-block.dl_cp_quit(ng-if="campaign.allow.quitCampaign"  ng-click="quit(campaign._id)") 已经加入
        ion-scroll(direction="x")
          .dl_photo_alb
            img.dl_cp_photo(ng-repeat="photo in campaign.photo_album.photos" ng-src="{{STATIC_URL +photo.uri+'/150/150'}}")
      .item.tabs.tabs-secondary.tabs-icon-left.dl_card_footer
        a.tab-item.btn_upload_photo(ng-href="#/photo_album/{{campaign.photo_album._id}}/detail")
          i.icon.ion-image
          | 上传图片
        a.tab-item.dl_team_number(href="#/members/campaign")
          i.icon.ion-person-stalker
          | 活动成员({{campaign.members_count || '0'}})
        .tab-item.dl_team_comment
          i.icon.ion-chatbox
          | {{campaign.comment_sum}}条讨论
    .card
      .item.item-text-wrap
        span 即将开始
        span {{campaign.remind_text}}：
        span {{campaign.time_text}}
    .card(ng-if="notices.length>0")
      .item.item-divider
        span 活动公告
        span {{notices.length}}
      a.item.item-avatar
        img(ng-src="{{STATIC_URL +notices[0].sender[0].photo}}")
        h2 {{notices[0].content}}
        p {{notices[0].post_date | date:"yyyy-MM-dd HH:mm" }}
    .card(ng-if="campaign.members.length>0")
      .item.item-button-right
        ion-scroll(direction="x")
          img(ng-repeat="member in campaign.members" ng-src="{{STATIC_URL +member.photo+'/40/40'}}")
        a.button.button-positive(href="#/members")
          span {{campaign.members_count}}
          i.icon.ion-chevron-right
    .card
      .item.item-divider
        | 活动简介
      .item.item-avatar
        p {{campaign.content}}
