ion-view.dl_campaign_detail
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title(ng-bind="campaign.campaign_unit[0].team.name || campaign.campaign_unit[0].company.name")
    a.button.dl_cp_edit(ng-if="campaign.active && campaign.allow.editTeamCampaign || campaign.allow.editCompanyCampaign" href="#/campaign/edit/{{campaign._id}}") 编辑
  ion-content(delegate-handle="detailScroll")
    ion-refresher(refreshing-icon="ion-looping" on-refresh="doRefresh()")
    .campaign_detail(ng-if="campaign")
      .campaign_info
        .cp_logos(class="logos_{{campaign.campaign_unit.length}}")
          a(ng-href="{{campaign.campaign_unit[0].team._id ? '#/team/'+ campaign.campaign_unit[0].team._id: ''}}")
            img.team_logo(ng-repeat="campaign_unit in campaign.campaign_unit" ng-src="{{STATIC_URL + (campaign_unit.team.logo || campaign_unit.company.logo)}}/60/60")
          .provoke_label(ng-if="campaign.campaign_type===4 || campaign.campaign_type===5")
            span 挑战
          .fellowship_label(ng-if="campaign.campaign_type===7")
            span 联谊 
          a(ng-href="{{campaign.campaign_unit[0].team._id ? '#/team/'+ campaign.campaign_unit[0].team._id: ''}}")
        .campaign_theme(ng-cloak)  {{campaign.theme + (!campaign || campaign.active ? '' : '(已关闭)')}}
        .cp_time
          //-i.icon.icon_small.ion_time
          svg.svg_icon
            use(xlink:href="#time")
          span(ng-cloak) {{campaign.start_time | date:"MM-dd HH:mm"}} ~ {{campaign.end_time | date:"MM-dd  HH:mm" }}
      .campaign_status
        span.dl_cp_time(ng-cloak) {{campaign.create_time | beforeNow}}发布
        span.status(ng-class="{'now':campaign.is_start&&!campaign.is_end,'unstart':!campaign.is_start,'unjoin':campaign.join_flag!=1}") {{campaign.start_time | campaignStatus:campaign.end_time}}
      a.item.item_header.cp_address(ng-href="#/location/{{campaign._id}}")
        span.title 地点
        span.cp_location(ng-cloak)  {{campaign.location.name}}
        span.icon.icon_small.ion-chevron-right.button-clear
      a.item.item_header(ng-if="!campaign.is_end && (campaign.notices.length>0 || campaign.allow.publishCampaignMessage)" ng-href="#/campaign/notice/{{campaign._id}}")
        span.title 公告
        span.icon.icon_small.ion-chevron-right.button-clear
      .item.item-text-wrap.campaign_content
        p.content_simple(ng-cloak)  {{campaign.content ?campaign.content :'暂无'}}
        .operator
          a.more_content(ng-href="#/campaign/content/{{campaign._id}}")  更多活动详情
      .item.campaign_footer
        a.footer_col(ng-href="#/members/campaign/{{campaign._id}}")
          //- i.ion_member.dl_icon.icon_small
          svg.svg_icon
            use(xlink:href="#renshu")
          span.footer_label(ng-cloak)  已报名({{campaign.members_count}})
        .footer_col(ng-click="goDiscussDetail(campaign._id, campaign.theme)")
          //- i.dl_icon.ion_chat_circle
          svg.svg_icon.discussion_icon
            use(xlink:href="#discussion")
          span.footer_label 活动讨论
      score-board(ng-if="campaign.is_end && scoreBoardId" component-id="scoreBoardId")
      .item.item-divider.circle
        span 精彩瞬间
        svg.svg_icon(ng-if="campaign.join_flag==1" post-circle campaign="campaign" after-post="doRefresh()")
          use(xlink:href="#camera")
        //- i.icon.ion-camera(ng-if="campaign.join_flag==1" post-circle campaign="campaign")
      circle-card-list(circle-list="circleContentList" user="user" ctrl="circleCardListCtrl" on-click-comment-button="openCommentBox" on-click-content-img="onClickContentImg" on-click-blank="clickBlank" static-url="STATIC_URL")
      ion-infinite-scroll(ng-if="loadingStatus.hasMore && loadingStatus.hasInit" icon="ion-looping" on-infinite="loadMore()" distance="1%")
  //- 与ion-content同级
  circle-comment-box(ctrl="circleCommentBoxCtrl" on-post="postComment")
  photo-swipe(ctrl="pswpCtrl")
  ion-footer-bar(ng-if="campaign.active &&(campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign ||campaign.allow.quitCampaign)")
    button.button.button-full.dl_cp_join(ng-if="campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign"  ng-click="join(campaign._id)") 报名参加
    button.button.button-full.dl_cp_quit(ng-if="campaign.allow.quitCampaign"  ng-click="quit(campaign._id)") 已经参加
