ion-view.dl_campaign_detail
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title(ng-cloak) {{campaign.theme + (!campaign || campaign.active ? '' : '(已关闭)')}}
    a.button.dl_cp_edit(ng-if="campaign.active && campaign.allow.editTeamCampaign || campaign.allow.editCompanyCampaign" href="#/campaign/edit/{{campaign._id}}") 编辑
  ion-content(delegate-handle="detailScroll")
    .campaign_detail
      .campaign_info
        a(ng-href="{{campaign.campaign_unit[0].team._id ? '#/team/'+ campaign.campaign_unit[0].team._id: ''}}")
          img.team_logo(ng-src="{{STATIC_URL +(campaign.campaign_unit[0].team.logo || campaign.campaign_unit[0].company.logo)+'/40/40'}}")
        .team_name {{campaign.campaign_unit[0].team.name || campaign.campaign_unit[0].company.name}}
        .cp_time
          i.icon.icon_small.ion_time
          span {{campaign.start_time | date:"MM-dd HH:mm"}} ~~{{campaign.end_time | date:"MM-dd  HH:mm" }}
        .cp_member(ng-if="campaign.is_start"  ng-cloak)
          i.icon.icon_small.ion_member
          span.member_num {{campaign.members_count}}
          span.member_num {{campaign.member_max!=0 ? ' | ' + campaign.member_max :''}}
        .cp_address(ng-if="!campaign.is_start" ng-cloak)
          i.icon.icon_small.ion_address
          span.cp_location {{campaign.location.name}}
      //- 测试用
      .item.item-text-wrap
        button.button.button-small.button-positive(ng-click="chooseUploadImages()") 发同事圈
      .item.cp_address(ng-if="campaign.is_start" href="#/location/{{campaign._id}}")
        span 活动地点:&nbsp;
        span.cp_location {{campaign.location.name}}
        span.icon.icon_small.ion-chevron-right.button-clear
      .item.campaign_footer(ng-if="!campaign.is_start && !campaign.allow.quitCampaign")
        a.footer_col(ng-href="#/members/campaign/{{campaign._id}}")
          i.ion_member.icon.icon_small
          span.member_num {{campaign.members_count}}
          span.member_split(ng-if="campaign.member_max!=0") |
          span.member_num(ng-if="campaign.member_max!=0") {{campaign.member_max}}
        .footer_col(ng-click="goDiscussDetail(campaign._id, campaign.theme)")
          i.icon.ion-chatbubble-working
          span 讨论
      .item
        span 活动公告
        span.icon.icon_small.ion-chevron-right.button-clear
      .item.item-text-wrap(ng-if="!campaign.is_start")
        span.dl_card_title 活动详情:
        p {{campaign.content}}
      .item(ng-if="campaign.is_start")
        span 活动详情
        span.icon.icon_small.ion-chevron-right.button-clear
      .item.campaign_footer(ng-if="!campaign.is_start && campaign.allow.quitCampaign")
        .footer_col(ng-click="goDiscussDetail(campaign._id, campaign.theme)")
          i.icon.ion-chatbubble-working
          span 讨论
        .footer_col(ng-click="quit(campaign._id)")
          i.icon.ion-log-out
          span 退出
      .item.item-divider 精彩瞬间
      .item.item-text-wrap
       
      //- .list(ng-if="notices.length>0 || campaign.allow.publishCampaignMessage")

    //- .(ng-if="campaign.members.length>0")
    //-   a.item.item-button-right.dl_card_member(href="#/members/campaign/{{campaign._id}}")
    //-     ion-scroll(direction="x")
    //-       span.dl_member(ng-repeat="member in campaign.members")
    //-         img.dl_member_logo(ng-src="{{STATIC_URL +member.photo+'/40/40'}}")
    //-         span.dl_member_leader(ng-if="member.isLeader")

    //-     .dl_card_more
    //-       span {{campaign.members_count}}
    //-       i.icon.ion-chevron-right.icon_small
    //- score-board(ng-if="scoreBoardId" component-id="scoreBoardId")
  ion-footer-bar(ng-if="campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign")
    button.button.button-full.dl_cp_join(ng-if="campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign"  ng-click="join(campaign._id)") 报名参加