ion-view.campaign_content_page
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title(ng-bind="campaign.theme")
  ion-content(bindonce='campaign')
    .content_page
      .item(bo-if="campaign.start_time")
        span.title 开始时间
        span.content(bo-text="campaign.start_time | date:'yyyy-MM-dd HH:mm'")
      .item(bo-if="campaign.end_time")
        span.title 结束时间
        span.content(bo-text="campaign.end_time | date:'yyyy-MM-dd HH:mm'")
      .item(bo-if="campaign.location")
        span.title 地点
        span.content(bo-text="campaign.location.name")
      .item(ng-if="campaign.deadline")
        span.title 报名截止时间
        span.content(ng-bind="campaign.deadline| date:'yyyy-MM-dd HH:mm'")
      .item(ng-if="campaign.member_max>0")
        span.title 报名截止人数
        span.content(ng-bind="campaign.member_max")
      .item(ng-if="campaign.member_min>0")
        span.title 报名最少人数
        span.content(ng-bind="campaign.member_min")
      .item.has_content(ng-if="campaign.content")
        span.title 简介
        .content(ng-bind-html="campaign.content")
    .member_page
      .item.item-divider 已报名成员
      .member_group(ng-repeat="memberContent in memberContents" ng-if="memberContent.members.length>0")
        .member_group_name(bo-text="memberContent.name")
        .members.clearfix(bo-if="!memberContent.isOtherCompany")
          a.member(ng-repeat="member in memberContent.members" bo-href="'#/user/'+member._id")
            .member_inner
              img.member_photo(bo-src="STATIC_URL + member.photo+'/45/45'")
              span.dl_member_leader(bo-if="member.isLeader")
              svg.svg_icon.dl_member_leader(bo-if="member.isLeader")
                use(xlink:href="#star")
              p.member_name(bo-text="member.nickname")
        .members.clearfix(bo-if="memberContent.isOtherCompany")
          .member(ng-repeat="member in memberContent.members")
            .member_inner
              img.member_photo(bo-src="STATIC_URL + member.photo+'/45/45'")
              span.dl_member_leader(bo-if="member.isLeader")
              svg.svg_icon.dl_member_leader(bo-if="member.isLeader")
                use(xlink:href="#star")
              p.member_name(bo-text="member.nickname")