ion-view.sponsor
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 活动编辑
  ion-content
    form(name="editCampaignForm" novalidate)
      .list
        label.item.item-input
          span.input-label 报名截止时间
          input.result#deadline(type="datetime-local" name="deadline" ng-model="campaignData.deadline" placeholder="报名截止时间")
        label.item.item-input
          span.input-label 报名人数上限
          input.arecode.result(type="number" name="member_max" ng-model="campaignData.member_max" min=0)
        label.item.item-input
          span.input-label 报名人数下限
          input.arecode.result(type="number" name="member_min" ng-model="campaignData.member_min" min=0)
        label.item.item-input
          span.input-label 活动简介
          textarea.introduce.result(placeholder="简介" name="content" ng-model="campaignData.content" maxlength="2000")
        .item-button
          button.button.button-full.button_sponsor(ng-disabled="editCampaignForm.$invalid || isBusy" ng-click="editCampaign()") 修改
        .item-button
          button.button.button-full.button_close(ng-click="closeCampaign()") 关闭活动