.card.dl_card
  a.campaign_card(ng-href="#/campaign/detail/{{campaign._id}}" ng-if="campaign.confirm_status===true")
    .dl_card_header.clearfix
      img.dl_team_logo(ng-src="{{STATIC_URL + (campaign.campaign_unit[0].team.logo || campaign.campaign_unit[0].company.logo)}}/45/45")
      h2.dl_cp_name {{campaign.theme}}
      p.dl_cp_address 地点: {{campaign.location.name}}
      .dl_card_header_operator
        button.dl_btn_join(ng-if="campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign" ng-click="joinCampaign(campaign._id)" prevent-default) 参加
        p.dl_cp_time_countdown(ng-if="!campaign.allow.joinTeamCampaign && campaign.is_start && !campaign.is_end") {{campaign.end_time | date:"yyyy-MM-dd HH:mm" | day}}结束
        p.dl_cp_time_countdown(ng-if="!campaign.allow.joinTeamCampaign && !campaign.is_start") {{campaign.time_text}}距离开始
    .dl_card_body(ng-if="campaign.photo_album.photos.length>0")
      ion-scroll(direction="x" scrollbar-x="false")
        .dl_photo_alb
          img.dl_cp_photo(ng-repeat="photo in campaign.photo_album.photos" ng-src="{{STATIC_URL + photo.uri}}/150/150")
    .dl_card_footer.clearfix
      .dl_team_name(ng-if="campaign.campaign_unit.length === 1")
        | {{campaign.campaign_unit[0].team.name}}
      .dl_team_name(ng-if="campaign.campaign_unit.length === 2")
        | {{campaign.campaign_unit[0].team.name}}
        | vs
        | {{campaign.campaign_unit[1].team.name}}
      .dl_team_comment.clearfix
        i.ion_comment
        span.dl_card_footer_count {{campaign.comment_sum}}
      .dl_team_number.clearfix
        i.ion_member
        span.dl_card_footer_count {{campaign.members_count || '0'}}

  a.provoke_card(ng-href="#/campaign/detail/{{campaign._id}}" ng-if="campaign.confirm_status===false")
    .dl_card_header.clearfix
      img.dl_team_logo(ng-src="{{STATIC_URL +(campaign.campaign_unit[0].team.logo || campaign.campaign_unit[0].company.logo)+'/45/45'}}")
      span.dl_team_vs vs
      img.dl_team_logo.dl_team_logo_right(ng-src="{{STATIC_URL +(campaign.campaign_unit[1].team.logo || campaign.campaign_unit[1].company.logo)+'/45/45'}}")
    .dl_card_body
      p.dl_provoke_info
        span.dl_team_name {{campaign.campaign_unit[0].team.name}}
        | &nbsp;向&nbsp;
        span.dl_team_name {{campaign.campaign_unit[1].team.name}}
        | &nbsp;发起挑战
      p.dl_cp_name {{campaign.theme}}
    .dl_card_footer(ng-if="!campaign.confirm_status")
      .clearfix
        button.dl_cp_confirm(prevent-default ng-if="campaign.allow.dealProvoke" ng-click="dealProvoke(campaign._id, 1)") 接受
        button.dl_cp_refuse(prevent-default ng-if="campaign.allow.dealProvoke" ng-click="dealProvoke(campaign._id, 2)") 拒绝
        button.dl_cp_cancel(prevent-default ng-if="campaign.allow.quitProvoke" ng-click="dealProvoke(campaign._id, 3)") 取消

