ion-view
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 活动公告
    a.button.publish_notice.icon.ion-plus(ng-if="campaign.allow.publishCampaignMessage" ng-click="showPopup()")
  ion-content.notice_page
    a.item.item-avatar.dl_notice(ng-repeat="notice in notices")
      img(ng-src="{{STATIC_URL +notice.sender[0].photo}}")
      h2
        span.dl_notice_sender {{notice.sender[0].nickname}}
        span :
        span.dl_notice_content {{notice.content}}
      p {{notice.post_date | date:"yyyy-MM-dd HH:mm" }}