ion-view.dl_campaign_detail(bindonce='campaign')
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title(bo-text="campaign.campaign_unit[0].team.name || campaign.campaign_unit[0].company.name")
    a.button.dl_cp_edit(ng-if="campaign.active && campaign.allow.editTeamCampaign || campaign.allow.editCompanyCampaign" href="#/campaign/edit/{{campaign._id}}") 编辑
  ion-content(delegate-handle="detailScroll")
    ion-refresher(refreshing-icon="ion-looping" on-refresh="doRefresh()")
    .campaign_detail
      .item.item_header.campaign_theme(bo-if="campaign.campaign_unit.length==2")
        span(bo-text="campaign.theme")
      score-board(bo-if="campaign.campaign_unit.length==2" component-id="scoreBoardId" campaign="campaign" reload-flag="reloadFlag")
      .campaign_info(bo-if="campaign.campaign_unit.length==1" )
        .cp_logos(class="logos_{{campaign.campaign_unit.length}}")
          a(bo-href="campaign.campaign_unit[0].team._id ? '#/team/'+ campaign.campaign_unit[0].team._id: ''")
            img.team_logo(bo-src="STATIC_URL + (campaign.campaign_unit[0].team.logo || campaign.campaign_unit[0].company.logo)+'/60/60'")
        .campaign_theme(ng-bind="campaign.theme + (!campaign || campaign.active ? '' : '(已关闭)')")
        .operator
          button.button.dl_cp_join(ng-if="campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign"  ng-click="join(campaign._id)") 马上参加
        .campaign_status
          span.status(ng-class="{'now':campaign.is_start&&!campaign.is_end,'unstart':!campaign.is_start,'unjoin':campaign.join_flag!=1}") {{campaign.is_start | campaignStatus:campaign.is_end}}
      .campaign_items
        .item.item_header.cp_time
          svg.svg_icon
            use(xlink:href="#time")
          span(ng-bind="(campaign.start_time | date:'MM-dd HH:mm') +'~' + (campaign.end_time | date:'MM-dd  HH:mm')")
        a.item.item_header.cp_address(bo-href="'#/location/'+campaign._id")
          svg.svg_icon.cp_info_icon
            use(xlink:href="#location")
          span.cp_location(bo-text="campaign.location.name")
          span.icon.icon_small.ion-chevron-right.button-clear
      //- a.item.item_header(ng-if="!campaign.is_end && (campaign.notices.length>0 || campaign.allow.publishCampaignMessage)" ng-href="#/campaign/notice/{{campaign._id}}")
      //-   span.title 公告
      //-   span.icon.icon_small.ion-chevron-right.button-clear
      .campaign_items
        a.item.item_header.item_title(bo-href="'#/campaign/content/'+campaign._id")
          svg.svg_icon
            use(xlink:href="#xiangqing")
          span 活动详情
          span.icon.icon_small.ion-chevron-right.button-clear
        .item.item-text-wrap.campaign_content(ng-if="campaign.content")
          p.content_simple(ng-bind-html="campaign.content")
      .item.campaign_footer
        a.footer_col(bo-href="'#/members/campaign/'+campaign._id")
          //- i.ion_member.dl_icon.icon_small
          svg.svg_icon
            use(xlink:href="#yibaoming")
          span.footer_label(bo-text="'已报名('+campaign.members_count+')'")
        .footer_col(ng-click="goDiscussDetail(campaign._id, campaign.theme)")
          //- i.dl_icon.ion_chat_circle
          svg.svg_icon.discussion_icon
            use(xlink:href="#taolun")
          span.footer_label 活动讨论
      .item.item-divider.circle
        span 精彩瞬间
        svg.svg_icon(ng-if="campaign.join_flag==1" post-circle campaign="campaign" after-post="doRefresh()")
          use(xlink:href="#camera")
        //- i.icon.ion-camera(ng-if="campaign.join_flag==1" post-circle campaign="campaign")
      circle-card-list(circle-list="circleContentList" user="user" ctrl="circleCardListCtrl" on-click-comment-button="openCommentBox" on-click-content-img="onClickContentImg" on-click-blank="clickBlank" static-url="STATIC_URL")
      ion-infinite-scroll(ng-if="loadingStatus.hasMore && loadingStatus.hasInit" icon="ion-looping" on-infinite="loadMore()" distance="1%")
  //- 与ion-content同级
  circle-comment-box(ctrl="circleCommentBoxCtrl" on-post="postComment")
  photo-swipe(ctrl="pswpCtrl")
  ion-footer-bar(ng-if="campaign.active &&(campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign ||campaign.allow.quitCampaign)")
    button.button.button-full.dl_cp_join(ng-if="campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign"  ng-click="join(campaign._id)") 报名参加
    button.button.button-full.dl_cp_quit(ng-if="campaign.allow.quitCampaign"  ng-click="quit(campaign._id)") 已经参加
