ion-view.circle_reminds_page
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 消息提醒
  ion-content
    .list(bindonce='remindList')
      .item(ng-if="remindList.length === 0")
        p.text-center 没有新的提醒了
      a.item.item-avatar.remind_item(ng-repeat="remind in remindList" bo-href="'#/circle/circle_content/'+remind.targetContent._id")
        img(img-cache ic-src="{{STATIC_URL + remind.poster.photo+'/128/128'}}")
        h2(bo-text="remind.poster.nickname")
        p(bo-if="remind.kind === 'comment'" bo-text="remind.content")
        p(bo-if="remind.kind === 'appreciate'")
          i.ion-heart
        p.item_date(bo-text="remind.post_date | circleBeforeNow")
        img.content_preview(bo-if="remind.targetContent.photos && remind.targetContent.photos.length > 0" img-cache ic-src="STATIC_URL + remind.targetContent.photos[0].uri+'/128/128'")
