ion-view.circle_company_page
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 精彩瞬间
    //-a.button.icon.dl_icon.ion_discuss.active.remind_icon(href="#/circle/reminds")
    a.button(href="#/circle/reminds")
      svg.svg_icon.svg_nav_icon
        use(xlink:href="#discussion")

  ion-content.custom_ion_content
    ion-refresher(on-refresh="refresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
    .loading_cover(ng-if="loadOptions.loadingNew" ng-cloak)
      i.icon.ion-looping
    .circle_banner_image
    .circle_owner
      a.circle_owner_name(ng-bind="company.shortName")
      .circle_owner_image_wrap
        img.circle_owner_image(ng-src="{{STATIC_URL + company.logo}}/140/140")
    
    div(ng-if="newCircleComment > 0")
      .remind_box(ng-click="goToRemindsPage()") {{newCircleComment}}条新消息
    
    circle-card-list.dl_circle_card_list(circle-list="circleContentList" user="user" ctrl="circleCardListCtrl" on-click-comment-button="openCommentBox" on-click-content-img="onClickContentImg" on-click-blank="clickBlank" static-url="STATIC_URL")
      
    .no_moment_remind(ng-if="loadingStatus.hasInit && circleContentList.length === 0")
      | 还没有成员发过精彩瞬间，快去活动页发表吧。
      
    ion-infinite-scroll(ng-if="loadingStatus.hasMore && loadingStatus.hasInit" icon="ion-looping" on-infinite="loadMore()" distance="1%")
  
  //- 与ion-content同级
  circle-comment-box(ctrl="circleCommentBoxCtrl" on-post="postComment")
  photo-swipe(ctrl="pswpCtrl")
