circle-card.circle_card_wrap(ng-repeat="circle in circleList" circle="circle" kind="{{kind}}" ctrl="ctrls[$index]" user="user" on-click-comment-button="onClickCardCommentButton" on-click-content-img="onClickContentImg" on-delete="removeFromList" on-click-blank="onClickBlank" static-url="staticUrl")
