ion-view
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 发图片
    button.button.icon-right(ng-click="publish()" ng-disabled="uploadFileURIs.length === 0") 发表
  ion-content.circle_uploader_page
    .card
      .item
        .clearfix
          .preview_img_box(ng-repeat="uri in uploadFileURIs" square)
            img.preview_img(ng-src="{{uri}}")
            
      .item
        form.circle_content_form
          textarea#circle_content(rows="1" ng-model="circleData.content" ng-change="change()" ng-trim="false" required autofocus placeholder="说点什么吧")
          .content_border
