include ./circle_partials.jade

ion-view.circle_content_detail_page
  ion-header-bar
    button.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 详情
  
  ion-content
    +circleCampaignCard()
  
  //- 与ion-content同级
  +commentBox()
  +pswp()
