ion-view.circle_company
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 同事圈
    a.button.icon.ion_discuss_active(href="#/circle/reminds")

  ion-content
    ion-refresher(on-refresh="refresh()" refreshing-icon="ion-looping")
    .loading_cover(ng-if="loadOptions.loadingNew" ng-cloak)
      i.icon.ion-looping
    .circle_company_image
    .circle_user
      a.circle_user_name {{user.nickname}}
      img.circle_user_image(ng-src="{{STATIC_URL + user.photo}}/70/70")
    
    .remind.text-center(ng-if="remindComments.length > 0")
      //- TODO: 临时的显示样式
      a(href="#/circle/reminds") {{remindComments.length}}条新消息
    
    a.dl_circle_company_card.clearfix(ng-repeat="circle in circleContentList" ng-cloak)
      img.circle_company_logo(ng-src="{{STATIC_URL + circle.content.poster.photo}}/32/32")
      .circle_info
        h2.user_name {{circle.user.nickname}}
        p.circle_content {{circle.content.content}}
        .image_box.clearfix
          img.preview_img(ng-repeat="photo in circle.content.photos" ng-src="{{STATIC_URL + photo.uri}}/128/128" open-photo error-img photo="photo" pswp-id="circlePswpId" photos="imagesForPswp")
        .icon_comment
          i.ion_comment.circle_comment(ng-click="toComment(circle)")
        .comment_op(ng-if="circle.isToComment")
          span.op(ng-click="appreciate(circle)") 赞
          span.divider |
          span.op(ng-click="openCommentBox(circle)") 评论
          span.divider(ng-if="user._id == circle.content.post_user_id") |
          span.op(ng-if="user._id == circle.content.post_user_id" ng-click="deleteCircleContent(circle)") 删除
      .circle_comment_list
        .appreciate_container(ng-if="circle.appreciate.length > 0")
          i.ion-heart
          span.appreciate(ng-repeat="appr in circle.appreciate") {{appr.poster.nickname}}
        .comment_container(ng-if="circle.textComments.length > 0")
          .comment(ng-repeat="comment in circle.textComments" ng-click="replyTo(circle, comment)")
            span.nickname {{comment.poster.nickname}}
            span.replyto(ng-if="!comment.is_only_to_content" ng-cloak) &nbsp;回复&nbsp; {{comment.target.nickname}}
            span.colon :
            span.content {{comment.content}}
    ion-infinite-scroll(ng-if="loadingStatus.hasMore && loadingStatus.hasInit" icon="ion-looping" on-infinite="loadMore()" distance="1%")
  .comment_wrap(ng-if="isCommenting" ng-click="stopComment()")
  
  .bar.bar-footer.item-input-inset.circle_comment_box(ng-if="isCommenting")
    .item-input-wrapper
      i.icon.ion-happy.placeholder-icon
      input(type="text" ng-model="commentFormData.content" when-focus="isCommenting" placeholder="{{commentPlaceholderText}}" required)
    button.button.button-clear(ng-click="comment()") 发表

  .pswp(tabindex="-1" role="dialog" aria-hidden="true" id="{{circlePswpId}}")
    .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
          button.pswp__button.pswp__button--close(title="关闭")
          button.pswp__button.pswp__button--zoom(title="放大/缩小")
            i.icon.ion-image
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        button.pswp__button.pswp__button--arrow--left(title="上一张")
        button.pswp__button.pswp__button--arrow--right(title="下一张")
        .pswp__caption
          .pswp__caption__center
