ion-view.circle_user_page
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 精彩瞬间

  ion-content
    .circle_company_image
    .circle_user
      a.circle_user_name {{user.nickname}}
      img.circle_user_image(ng-src="{{STATIC_URL + user.photo}}/70/70")
    
    div(ng-if="newCircleComment > 0")
      .remind_box(ng-click="goToRemindsPage()") {{newCircleComment}}条新消息
    
    circle-card-list(circle-list="circleContentList" user="user" kind="user" ctrl="circleCardListCtrl" on-click-comment-button="openCommentBox" on-click-content-img="onClickContentImg" static-url="STATIC_URL")
      
    ion-infinite-scroll(ng-if="loadingStatus.hasMore && loadingStatus.hasInit" icon="ion-looping" on-infinite="loadMore()" distance="1%")
  
  //- 与ion-content同级
  circle-comment-box(ctrl="circleCommentBoxCtrl" on-post="postComment" on-stop="stopComment")
  photo-swipe(photos="imagesForPswp" ctrl="pswpCtrl")
