include ./circle_partials.jade

ion-view.circle_company_page
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 同事圈
    a.button.icon.ion_discuss_active(href="#/circle/reminds")

  ion-content
    ion-refresher(on-refresh="refresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
    .loading_cover(ng-if="loadOptions.loadingNew" ng-cloak)
      i.icon.ion-looping
    .circle_company_image
    .circle_user
      a.circle_user_name {{user.nickname}}
      img.circle_user_image(ng-src="{{STATIC_URL + user.photo}}/70/70")
    
    div(ng-if="remindComments.length > 0")
      a.remind_box(href="#/circle/reminds") {{remindComments.length}}条新消息
    
    +circleCampaignCard('circle in circleContentList', 'circlePswpId')
      
    ion-infinite-scroll(ng-if="loadingStatus.hasMore && loadingStatus.hasInit" icon="ion-looping" on-infinite="loadMore()" distance="1%")
  
  //- 与ion-content同级
  +commentBox()
  +pswp('circlePswpId')
