extends ./tab-layout
block header
  a.button.icon.ion-chevron-left(href="#/discover") &nbsp;发现
  h1.title 同事圈

block content
  ion-content
    label 2014-11
    .card
      .header
        img.logo(src="http://placehold.it/45x45")
        span vs
        img.logo(src="http://placehold.it/45x45")
      .section
        h3 年末篮球比赛
        p 2014-11-23 至 2014-11-25
        img.photo(src="http://placehold.it/115x115")
        img.photo(src="http://placehold.it/115x115")
        img.photo(src="http://placehold.it/115x115")

    .card
      .header
        img.logo(src="http://placehold.it/45x45")
        span 聚餐聚餐
        p 2014-11-23 至 2014-11-25
      .section
        img.photo(src="http://placehold.it/115x115")
        img.photo(src="http://placehold.it/115x115")
        img.photo(src="http://placehold.it/115x115")


