ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/app/discover") &nbsp;发现
    h1.title 同事圈

  ion-content
    include ./timeline-card
    ion-infinite-scroll(ng-if="!loading || !loadFinished" on-infinite="loadMore()" distance="5%")
    .nomore_text(ng-if="loadFinished") 没有更多的足迹


