ion-view.competition_message_panel
  ion-header-bar
    a.button.icon.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 挑战日志
    a.button.button-clear.button-positive(ng-if="sponsorLeader && competitionMessage.status=='accepted'" ng-click="sponsorCompetition()") 发活动
  ion-content
    ion-refresher(on-refresh="doRefresh(true)" refreshing-icon="ion-looping" pulling-text="下拉读取历史记录" refreshing-text="读取中...")
    .competition_message_detail(ng-if="competitionMessage")
      .row
        .col {{competitionMessage.create_time | beforeNow}}
        .col
          a(ng-href="#/team/{{competitionMessage.sponsor_team._id}}")
            img.team_logo(ng-src="{{STATIC_URL + competitionMessage.sponsor_team.logo}}/40/40")
        .col {{competitionMessage.sponsor_team.name}}
        .col VS
        .col
          a(ng-href="#/team/{{competitionMessage.opposite_team._id}}")
            img.team_logo(ng-src="{{STATIC_URL + competitionMessage.opposite_team.logo}}/40/40")
        .col {{competitionMessage.opposite_team.name}}
      .row
        .col(ng-cloak) 活动性质：{{competitionMessage.competition_type==1 ? '挑战' :'联谊'}}
      .row
        .col(ng-cloak) 状态：{{competitionMessage.status | competitionMessageStatusFormat}}
      .row(ng-if="oppositeLeader && competitionMessage.status=='sent'")
        .button-bar
          button.button.button-positive(ng-click="dealCompetition('accept')") 应战
          button.button.button-assertive(ng-click="dealCompetition('reject')") 拒绝
      .row.teams
        .col.team.sponsor_team 挑战方
        .col.col-10.vs VS
        .col.team.opposite_team 应战方
      .vote
        .vote_team(ng-repeat="unit in competitionMessage.vote.units" ng-style="{'width':unit.percent+'%'}" ng-click="voteCompetition($index)")
          .vote_icon
            i.icon.ion-ios7-heart-outline
          span.vote_num {{unit.positive}} 人支持
    .competition_message_comment(ng-if="competitionMessage")
      .comment.clearfix
        .comment_poster
          a(ng-href="#/team/{{competitionMessage.sponsor_team._id}}")
            img.team_logo(ng-src="{{STATIC_URL + competitionMessage.sponsor_team.logo}}/40/40")
          p {{competitionMessage.create_date | date:"MM-dd HH:mm"}}
        .comment_contents
          p {{competitionMessage.sponsor_team.name}}
          .comment_content(ng-bind-html="competitionMessage.content | emoji | unsafe")
        
      .comment.clearfix(ng-class="{'pull_right':comment.poster._id===userId}" ng-repeat="comment in commentList ")
        .comment_poster
          a(ng-href="#/user/{{comment.poster._id}}")
            img.member_logo(ng-src="{{STATIC_URL + comment.poster.photo}}/40/40")
          p {{comment.poster.nickname}}
          p {{comment.create_date | date:"MM-dd HH:mm"}}
        .comment_contents
          p {{comment.poster.nickname}}
          .comment_content(ng-bind-html="comment.content | emoji | unsafe")
    .operator(ng-show="oppositeLeader || sponsorLeader")
      button.button.button-small.button-positive(ng-click="showPopup()") 发评论
  //- ion-footer-bar
  //-   publish-box(is-show-img='false' is-show-emotions="isShowEmotions" is-writing="isWriting" content="content" publish="publishComment()")



