ion-view.competition_message_panel
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/app/discover") &nbsp;返回
    h1.title 挑战日志
  ion-content(delegate-handle="mainScroll")
    ion-refresher(on-refresh="getCompetitionLog(true)" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
    .competition_message_list
      .type_filter.button-bar
        button.button.button-clear(ng-click="typeFilter('receive')" ng-class="messageType=='receive'?'active':''") 收到
        span.splite
        button.button.button-clear(ng-click="typeFilter('sponsor')" ng-class="messageType=='sponsor'?'active':''") 发出
      a.row.competition_message(ng-repeat="competitionMessage in competitionMessages" ng-click="goDetail($index)")
        .col.col_status.text_left
          span.dot(ng-if="competitionMessage.unread")
          .status
            .status_text {{competitionMessage.status | formatCompeitionStatus:competitionMessage.isSponsor}}
            .create_time {{competitionMessage.create_time | date:'M-dd'}}
        .col.col_team
          img.team_logo(ng-src="{{STATIC_URL + competitionMessage.sponsor_team.logo}}/45/45")
          //- .team_name {{competitionMessage.sponsor_team.name}}
        .col.col-10.col-center.competition_type(ng-bind="competitionMessage.competition_type==1 ? '挑战' :'联谊'")
        .col.col_team
          img.team_logo(ng-src="{{STATIC_URL + competitionMessage.opposite_team.logo}}/45/45")
        .col.col-center.team_name {{competitionMessage.opposite_team.name}}
      a.dl_bottom_operator.no_underline.show_more(ng-if="competitionMessages.length>0 &&page<=maxPage && !loading && page<=maxPage" ng-click="moreCompetition()")
        span 点击加载更多
      .dl_bottom_operator(ng-if="loading")
        span.loading 正在加载...
      .dl_bottom_operator(ng-if="!competitionMessages.length")
        span 您还没有收到/发出挑战日志。
