ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/home") &nbsp;返回
    a.button.icon-right.ion-chevron-right(href="#/register/company") 注册&nbsp;
  ion-content(scroll="false")
    .list.list-inset
      label.item.item-input
        input(type="text" name="username" ng-model="loginData.username" placeholder="用户名" required)
    .list.list-inset
      label.item.item-input
        input(type="password" name="password" ng-model="loginData.password" placeholder="密码" required)
    span.tip_msg(ng-show="msg") {{msg}}
    .list.list-inset
      button.button.dl_button.login_button(type="button" ng-disabled="!loginData.username || !loginData.password" ng-click="login()") 企&nbsp;业&nbsp;登&nbsp;录
    .list.list-inset
      a.login_link(href="#/company/forget") 忘记密码？
      a.login_link.pull-right(href="#/user/login") 个人账号登录