ion-view.company
  ion-header-bar
    h1.title 动梨信息技术有限公司
  ion-content
    .card.list
      a.item.item-icon-right(href="#/company/active_code")
        | 员工验证码
        i.icon.ion-chevron-right
      a.item.item-icon-right(href="#/company/team_page")
        | 公司小队
        i.icon.ion-chevron-right
      .item(ng-click="logout()")
        | 注销
