ion-view.competition_team_page
  ion-header-bar
    a.button.icon.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 挑战小队
  ion-content
    .list.team_info
      .item.item-avatar.team_item
        img.team_logo(ng-src="{{STATIC_URL + targetTeam.logo}}/90/90")
        h2.team_name(ng-bind="targetTeam.name")
        p.info_text.first_info_text
          span.text_label 公司:
          span.text_data(ng-bind="targetTeam.cname")
        p.info_text
          span.text_label 积分:
          span.text_data(ng-bind-template="{{targetTeam.score_rank.score || 0}}")
          span.text_label 活跃度:
          span.text_data(ng-bind="targetTeam.activityScore")
          span.text_label 胜率:
          span.text_data(ng-bind-template="{{targetTeam.rate}}%")
    .list.campaign_info
      .item
        span.text_label 上次活动
        span.text_data(ng-if="targetTeam.last_campaign.start_time") {{ targetTeam.last_campaign.start_time | beforeNow}}
        span.text_data(ng-if="!targetTeam.last_campaign.start_time") 无
      .item
        span.text_label 小队主场
        span.text_data(ng-bind="targetTeam.homeCourtText")
  .bar.bar-footer
    button.bottom_button(ng-click="showPopup(0)" ng-if="leadTeams.length>0") 挑战
    button.bottom_button(ng-click="showPopup(1)" ng-if="memberTeams.length>0") 推荐

//- 缺少设计，暂时忽略
    //- .row(ng-if="competitions")
    //-   .col
    //-     p 共同活动
    //-     .no_common_competitions(ng-if="competitions.length==0") 还没有
    //-     .common_competitions(ng-if="competitions.length>0")
    //-       .common_competition(ng-repeat="competition in competitions")
    //-         .row
    //-           .col 挑战方
    //-           .col VS
    //-           .col 应战方
    //-         .row
    //-           .col(ng-repeat="playingTeam in competition.playing_teams")
    //-             img(ng-src="{{STATIC_URL + playingTeam.logo}}/40/40")
    //-             p {{playingTeam.name}}
    //-             p {{playingTeam.score}}
    //-         .row
    //-           .col {{competition.create_date | beforeNow}}
    //-           .col(ng-if="competition.status!=2") 还未确认比分
    //-       .more
    //-         button.button.button-positive.button-small(ng-if="page<maxPage" ng-click="getCompetitionOfTeams()") 更多
  