ion-view.tab_company_page(ng-controller="CompanyController")

  ion-header-bar
    h1.title 公司

  ion-content
    .company_header(ng-style="familyMinHeight")
      //- ion-slide-box(ng-if="team.familyPhotos.length > 1" ng-cloak)
      //-   ion-slide(ng-repeat="photo in team.familyPhotos")
      //-     img.company_family(ng-src="{{STATIC_URL + photo.uri}}/640/380")
      img.company_family(ng-if="company.cover" ng-src="{{STATIC_URL + company.cover}}/640/380")
      img.company_family(ng-if="!company.cover" src="./img/family.png")
    .company_info
      .info_header.clearfix
        img.logo(ng-if="company" ng-src="{{STATIC_URL + company.logo}}/80/80")
        .info_content
          .company_name {{company.shortName}}
          .company_brief 
            span.title 简介:
            span.content {{company.intro || '无'}}
    .list
      a.item.item-icon-right.clearfix.staff_item(href="#/company/contacts")
        img.staff_photo(ng-repeat="staff in staffList" ng-src="{{STATIC_URL + staff.photo}}/60/60")
        span.more_text 更多同事
        i.icon.ion-chevron-right.icon_right
    .list.menu_list
      a.item.item-icon-right(href="#/circle/circle_company")
        svg.svg_icon.svg_item_icon
          use(xlink:href="#picture")
        | 精彩瞬间
        span.badge.badge-assertive(ng-if="newCircleComment") {{newCircleComment}}
        .badge_image(ng-if="newContent")
          .red_spot
          img.logo(ng-src="{{STATIC_URL + newContent.photo}}/60/60")
        i.icon.ion-chevron-right.icon_right
      a.item.item-icon-left.item-icon-right(href="#/company/teams/official")
        i.icon.ion_teams.icon_left
        | 全部小队
        span.item-note {{teams.length}}
        i.icon.ion-chevron-right.icon_right
      a.item.item-icon-left.item-icon-right(href="#/campaign/all/company/0")
        i.icon.ion_ballon.icon_left
        | 所有活动
        i.icon.ion-chevron-right.icon_right
      //- a.item.item-icon-left.item-icon-right(href="#/company/teams/personal")
      //-   i.icon.ion_teams
      //-   | 个人小队
      //-   span.item-note {{personalTeams.length}}
      //-   i.icon.ion-chevron-right
