ion-view.contacts
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/app/discover") &nbsp;返回
    h1.title 同事
    button.button.button-clear(ng-if="searching" ng-click="cancelSearch()" ng-cloak) 取消
  ion-content
    .list
      a.item.item-icon-right(ng-repeat="contact in contacts" href="#/user/{{contact._id}}" ng-cloak)
        span.nickname {{contact.nickname}}
        span.item-note.email {{contact.email}}
        i.icon.ion-chevron-right
      .item(ng-if="message" ng-cloak)
        span {{message}}
  ion-footer-bar(ng-cloak)
    .search_box.item-input-inset
      label.item-input-wrapper
        i.icon.ion-ios7-search.placeholder-icon
        input(type="search" ng-model="keyword.value" ng-keypress="search($event)" autofocus)
      button.button-clear(ng-click="search()") 搜索
