ion-view.discuss_detail
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/app/discuss/list") &nbsp;返回
    h1.title {{campaignTitle}}
    a.button.icon.ion-ionic(href="#/campaign/detail/{{campaignId}}")
  .notice(ng-show="!hideNotice&&notification")
    .notice_cover
    .content
      span.notice_title 活动公告
      button.dl_button.close_button.pull-right(ng-click="hideNotice=true") x
      span.notice_content {{noticeSender}}:{{notification}}
  ion-content
    ion-refresher(on-refresh="readHistory()" pulling-text="下拉读取历史记录" refreshing-text="读取中...")
    .comments
      //- balloon?
      //- .balloon(ng-if="newComment")
      .blocks(ng-repeat="historyComments in historyCommentList track by $index" id="comment{{$index}}")
        //- .test {{historyCommentList}}
        .block(ng-repeat="comment in historyComments track by $index" ng-init="showTime=needShowTime($index)" ng-cloack)
          .time(ng-if="showTime")
            p(ng-if="showTime===1") {{comment.create_date | date: 'yyyy'}}
            p {{comment.create_date | date: 'M月dd日 HH:mm'}} 
          .comment(ng-repeat="photo in comment.photos")
            .author
              .logo
                img(ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}")
              .name {{comment.poster.nickname}}
            .content
              p.triangle_isosceles.triangle_img
                img.img(ng-src="{{STATIC_URL +photo.uri+ '/180/180'}}" width="90" height="90" ng-click="openPhotoSwipe(photo._id)")
            
          .comment
            .author
              .logo
                img(ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}")
              .name {{comment.poster.nickname}}
            .content
              p.triangle_isosceles {{comment.content}}
            
      .blocks#currentComment
        .block(ng-repeat="comment in comments track by $index" ng-init="showTime=needShowTime($index)" ng-cloack)
          
          .time(ng-if="showTime")
            p(ng-if="showTime===1") {{comment.create_date | date: 'yyyy'}}
            p {{comment.create_date | date: 'M月dd日 HH:mm'}}
          .comment(ng-repeat="photo in comment.photos", ng-class="{putright: comment.poster._id == userId}")
            .author
              .logo
                img(ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}")
              .name {{comment.poster.nickname}}
            .content
              p.triangle_isosceles.triangle_img
                img.img(ng-src="{{STATIC_URL +photo.uri+ '/180/180'}}" width="90" height="90" ng-click="openPhotoSwipe(photo._id)")
            
          .comment( ng-class="{putright: comment.poster._id == userId}")
            .author
              .logo
                img(ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}")
              .name {{comment.poster.nickname}}
            .content
              p.triangle_isosceles {{comment.content}}
            
  ion-footer-bar.comment_box
    i.icon.ion-image
    input.comment_input(ng-model = "commentContent")
    button.dl_button.publish_button(ng-click="publishComment()" ng-disabled="!commentContent") 发言

include ./photo-swipe