ion-view.discover(ng-controller="DiscoverController")

  ion-header-bar

    h1.title 发现

  ion-content
    .discover_image
    .list
      a.item.item-icon-left.item-icon-right(href="#/discover/search_opponent")
        i.icon.ion_teams
        | 找对手
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/rank/select")
        i.icon.ion-android-contacts
        | 排行榜
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/competition/log_list")
        i.icon.ion_ballon
        | 挑战日志
        i.icon.ion-chevron-right
    .rank_panel
      .team_select
        span 我的小队排名:
        select(ng-change="selectTeam(selectTeam)" ng-model="selectTeam" ng-options="team.name for team in teams")
      .rank_table
        table.table.table-bordered.table-condensed.table-hover.table-striped
          tbody()
            tr(ng-repeat="_team in selectRank.team")
              td {{team.score_rank.rank}}
              td: img.memer_logo(ng-src="{{team.logo}}/40/40")
              td.center {{team.name}}
              td.center {{team.score_rank.score}}
              td.center {{team.score_rank.win/(team.score_rank.win+team.score_rank.tie+team.score_rank.lose)}}
