extends ./tab-layout

block header
  h1.title 发现

block content
  ion-content
    img(src="http://placehold.it/320x145")
    .list
      a.item.item-icon-left.item-icon-right(href="#/discover/circle")
        i.icon.ion-mic-a
        | 同事圈
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/discover/teams")
        i.icon.ion-mic-a
        | 所有小队
        i.icon.ion-chevron-right