ion-view.discuss_list(ng-controller="DiscussListController")

  ion-header-bar
    a.button.icon.ion-calendar(href="#/calendar/discuss_list")
    h1.title 讨论列表
    //- a.button.icon.ion-plus(href="#/campaign/sponsor/discuss_list")

  ion-content
    ion-refresher(on-refresh="refresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
    ul.list
      a.item.item-avatar(ng-repeat="chatroom in chatrooms track by $index" ng-click="goDetail(chatroom, $index)" ng-cloak)
        img(ng-if="chatroom.kind==='team'" ng-src="{{STATIC_URL + chatroom.logo + '/45/45'}}")
        img(ng-if="chatroom.kind==='company'" ng-src="img/icons/unjoined_discuss.png")
        .red_spot(ng-if="chatroom.unread")
        h2 {{chatroom.name}}
        p.chat_pre
          span(ng-show="chatroom.unread") [{{chatroom.unread}}条新消息] 
          span(ng-if="chatroom.latestChat") {{chatroom.latestChat.poster.nickname || chatroom.latestChat.poster.name}}:
          span(ng-if="chatroom.latestChat && chatroom.latestChat.content" ng-bind-html=" chatroom.latestChat.content||'[图片]' | emoji | unsafe")
          span(ng-if="chatroom.latestChat" ng-bind=" chatroom.latestChat.poster_team? '[提醒]':'[图片]'")
