extends ./tab-layout

block header
  a.button.icon.ion-calendar(href="#/calendar")
  h1.title 讨论列表
  button.button.icon.ion-plus

block content
  ion-content
    ul.list
      a.item.item-avatar(href="#/discuss/detail")
        img(src="http://placehold.it/45x45")
        h2 年末足球赛
        p [1条新讨论]张张：我们队快赢了吧？
      a.item.item-avatar(href="#/discuss/detail")
        img(src="http://placehold.it/45x45")
        h2 每晚下班一起健身
        p 李四：今天怎么没人？
      a.item.item-avatar(href="#/discuss/detail")
        img(src="http://placehold.it/45x45")
        h2 未参加的活动讨论
        p [1条新讨论]下午一起吃马卡龙
      a.item.item-avatar(href="#/discuss/detail")
        img(src="http://placehold.it/45x45")
        h2 流浪狗领养
        p 丁丁：现在还剩6只哦
      a.item.item-avatar(href="#/discuss/detail")
        img(src="http://placehold.it/45x45")
        h2 羽毛球训练
        p [1条新讨论]张张：我们队快赢了吧？
      a.item.item-avatar(href="#/discuss/detail")
        img(src="http://placehold.it/45x45")
        h2 流浪狗领养
        p 丁丁：现在还剩6只哦
      a.item.item-avatar(href="#/discuss/detail")
        img(src="http://placehold.it/45x45")
        h2 年末足球赛
        p [1条新讨论]张张：我们队快赢了吧？
