ion-view.discuss_detail(cache-view="false")
  ion-header-bar(bindonce="chatRoom")
    a.button.icon-left.ion-chevron-left(href="#/app/discuss/list") &nbsp;返回
    h1.title(bo-text="chatRoom.name")
    a.teams_icon.icon-right(bo-if="chatRoom.isGroup && chatRoom.easemobId!==cid" href="#/team/{{chatRoom.easemobId}}")
      svg.svg_icon
        use(xlink:href="#suoyouxiaodui")
    a.teams_icon.icon-right(bo-if="chatRoom && !chatRoom.isGroup" href="#/user/{{chatRoom.easemobId}}") user
      //- svg.svg_icon
      //-   use(xlink:href="#suoyouxiaodui")
  //- .balloon.has-footer(ng-if="newCommentNumber" ng-click="toBottom()" ng-cloak) 
  //-   span(ng-cloak) {{newCommentNumber}}
  //-   .triangle
  ion-content
    ion-refresher(on-refresh="readHistory()" refreshing-icon="ion-looping" pulling-text="下拉读取历史记录" refreshing-text="读取中...")
    .comments(ng-click="hideEmotions()" bindonce="chatsList")
      .blocks
        .block(ng-repeat="chat in chatsList track by $index" ng-init="showTime=needShowTime($index)")
          .time_block(ng-show="showTime")
            p
              span.time(ng-show="showTime===1" bo-text="chat.msgTime | date: 'yyyy'")
            p
              span.time(bo-text="(chat.msgTime | date: 'M月dd日 HH:mm')")
          .comment.clearfix(bo-class="{'putright': chat.poster._id == userId}")
            a.logo(ng-href="#/user/{{chat.poster._id}}")
              img(img-cache ic-src="{{STATIC_URL +chat.poster.photo+ '/45/45'}}")
            .contents(ng-switch="chat.type")
              .name(bo-if="chat.from !== userId" ng-text="chat.nickname")
              .name(bo-if="chat.from == userId") 我
              .content(ng-switch-when="IMAGE")
                .triangle_isosceles.triangle_img
                  .tr
                    img(ng-if="!chat.randomId" ng-src="{{chat.body.localUrl?chat.body.localUrl:chat.body.thumbnailUrl}}" error-img width="180" height="180")
                    img(ng-if="chat.randomId" ng-src="{{chat.body.localUrl?chat.body.localUrl:chat.body.thumbnailUrl}}"  error-img width="180" height="180")
                  .box(ng-if="!chat.randomId" photo="photo" pswp-id="pswpId" photos="photos" pswp-photo-album="pswpPhotoAlbum" photo-album-id="photoAlbumId" open-photo)
                    img.img(ng-src="{{chat.body.localUrl?chat.body.localUrl:chat.body.thumbnailUrl}}"  width="180" height="180"  error-img)
                  .box(ng-if="chat.randomId")
                    img.img(ng-src="{{chat.body.localUrl?chat.body.localUrl:chat.body.thumbnailUrl}}"  width="180" height="180")
              .content(ng-switch-when="VOICE")
                audio-box(body="chat.body")
              .content(ng-switch-default)
                .triangle_isosceles(ng-bind-html="chat.body.text | emoji | unsafe")
          .failed(ng-if="chat.status==='FAIL'" ng-cloak)
            .tip
              i.icon.ion-alert-circled
              span 发送失败

  ion-footer-bar.comment_box
    publish-box(is-show-emotions="isShowEmotions" is-writing="isWriting" target="{{chatRoom.easemobId}}" content="content" publish="publish()" record-end="recordEnd()" show-upload-action-sheet="showUploadActionSheet()")

  script(id="confirm-upload-modal.html" type="text/ng-template")
    ion-modal-view
      ion-header-bar
        button.button(ng-click="cancelUpload()") 取消
        h1.title 预览
        button.button(ng-click="confirmUpload()") 确定
      ion-content
        .card
          .item.item-image
            img(img-cache ic-src="{{previewImg}}")
  include ./photo-swipe
