
ion-view.discover(ng-controller="DiscoverController")

  ion-header-bar
    h1.title 发现

  ion-content
    img.discover_image(ng-src="../img/discover.jpg")
    .list
      a.item.item-icon-left.item-icon-right(href="#/discover/circle")
        i.icon.ion_ballon
        | 同事圈
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/discover/teams")
        i.icon.ion_teams
        | 所有小队
        span.item-note {{teams.length}}
        i.icon.ion-chevron-right