ion-view.discuss_list(ng-controller="DiscussListController")

  ion-header-bar
    a.button(href="#/calendar/discuss_list")
      svg.svg_icon.svg_nav_icon
        use(xlink:href="#richeng")
    h1.title 讨论列表
    //- a.button.icon.ion-plus(href="#/campaign/sponsor/discuss_list")

  ion-content
    ion-refresher(on-refresh="refresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
    ul.list(bindonce='chatrooms' ng-if="chatrooms.length")
      .custom_items(ng-repeat="chatroom in chatrooms track by $index" ng-click="goDetail(chatroom, $index)" ng-cloak)
        a.item.item-avatar_custom
          img(bo-if="chatroom.kind==='team'" bo-src="STATIC_URL + chatroom.logo + '/45/45'")
          img(bo-if="chatroom.kind==='company'" src="img/icons/unjoined_discuss.png")
          .red_spot(ng-if="chatroom.unread")
          h2(bo-text="chatroom.name")
          p.chat_pre(ng-if="chatroom.latestChat" ng-cloak)
            span(ng-show="chatroom.unread") [{{chatroom.unread}}条新消息]
            span(ng-cloak) {{chatroom.latestChat.poster.nickname || chatroom.latestChat.poster.name}}:
            span(ng-cloak ng-if="chatroom.latestChat.content" ng-bind-html=" chatroom.latestChat.content | emoji | unsafe")
            span(ng-cloak ng-if="!chatroom.latestChat.content") {{chatroom.latestChat.photos.length? '[图片]':'[提醒]'}}
        .custom_border(ng-class="{non_last_custom_border: $index!==chatrooms.length - 1}")
    .no_campaign(ng-cloak ng-if="loadFinished && !chatrooms.length")
      a.no_campaign_tip.no_underline(href="#/company/teams/official")
          p 没有参加小队?
          p 参加小队后一起讨论吧！
          p.button_container
            //- span.tip_info 点击
            span.team_link 全部小队
