ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/app/discuss/list") &nbsp;返回
    h1.title {{campaignTitle}}
    button.button.icon.ion-ionic

  ion-content
    .notice
      h4 活动公告
      p 赵本山：大家都要什么口味的？在讨论里留言哦~~~~~~~~
      //- 公告todo
    .comments
      //- balloon?
      //- .balloon(ng-if="newComment")
      .block(ng-repeat="comment in comments track by $index " ng-init="showTime=needShowTime($index)" ng-cloack)
        //- span {{$index}}
        .time(ng-if="showTime")
          p(ng-if="showTime===1") {{comment.create_date | date: 'yyyy'}}
          p {{comment.create_date | date: 'M月dd日 HH:mm'}}
        .comment(ng-repeat="photo in comment.photos")
          .content
            img.img(ng-src="{{STATIC_URL +photo.uri+ '/190/190'}}")
          .author
            .logo
              img(ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}")
            .name {{comment.poster.nickname}}
        .comment
          .content
            p {{comment.content}}
          .author
            .logo
              img(ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}")
            .name {{comment.poster.nickname}}
  ion-footer-bar
    i + 
    input
    button 发表