ion-view.discuss_detail(cache-view="false" title="{{chatroomName}}")
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/app/discuss/list") &nbsp;返回
    h1.title(ng-cloak) {{chatroomName}}
    a.teams_icon.icon-right(ng-if="chatroomId!==cid" href="#/team/{{chatroomId}}")
      svg.svg_icon
        use(xlink:href="#suoyouxiaodui")
  //- .balloon.has-footer(ng-if="newCommentNumber" ng-click="toBottom()" ng-cloak) 
  //-   span(ng-cloak) {{newCommentNumber}}
  //-   .triangle
  ion-content
    ion-refresher(on-refresh="readHistory()" refreshing-icon="ion-looping" pulling-text="下拉读取历史记录" refreshing-text="读取中...")
    .comments(ng-click="hideEmotions()")
      .blocks(ng-repeat="chats in chatsList track by $index" id="chats{{$index}}")
        .block(ng-repeat="comment in chats track by $index" ng-init="showTime=needShowTime($index,chats)" ng-cloack)
          .time_block(ng-show="showTime && ($index!==0||($index===0&&topShowTime[$parent.$index]))")
            p
              span.time(ng-show="showTime===1 && ($index!==0||($index===0&&topShowTime[$parent.$index]===1))" ng-cloak) {{comment.create_date | date: 'yyyy'}}
            p
              span.time(ng-cloak) {{comment.create_date | date: 'M月dd日 HH:mm'}}
          .comment.clearfix(ng-repeat="photo in comment.photos" ng-class="{putright: comment.poster._id == userId}" ng-cloak)
            a.logo(ng-href="#/user/{{comment.poster._id}}")
              img(ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}")
            .contents
              .name(ng-if="comment.poster._id !== userId" ng-cloak) {{comment.poster.nickname}}
              .name(ng-if="comment.poster._id == userId" ng-cloak) 我
              .content
                .triangle_isosceles.triangle_img
                  .tr
                    img(ng-if="!comment.randomId" ng-src="{{STATIC_URL +photo.uri+ '/360/360'}}" error-img width="180" height="180" ng-cloak)
                    img(ng-if="comment.randomId" ng-src="{{photo.uri}}" error-img width="180" height="180" ng-cloak)
                  .box
                    img.img(ng-if="!comment.randomId" ng-src="{{STATIC_URL +photo.uri+ '/360/360'}}" width="180" height="180" photo="photo" pswp-id="pswpId" photos="photos" pswp-photo-album="pswpPhotoAlbum" photo-album-id="photoAlbumId" open-photo error-img)
                    img.img(ng-if="comment.randomId" ng-src="{{photo.uri}}" width="180" height="180")
          .comment.clearfix(ng-if="comment.chat_type!==1 || comment.content" ng-class="{putright: comment.poster._id == userId}" ng-cloak)
            a.logo(ng-if="comment.poster && !comment.poster_team" ng-href="#/user/{{comment.poster._id}}")
              img(ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}")
            a.logo(ng-if="comment.poster_team" ng-href="#/team/{{comment.poster_team._id}}")
              img(ng-src="{{STATIC_URL +comment.poster_team.logo+ '/45/45'}}")
            .contents
              //- .name(ng-if="comment.poster_team" ng-cloak) {{comment.poster_team.name}}
              .name(ng-if="comment.poster &&comment.poster._id !== userId" ng-cloak) {{comment.poster.nickname}}
              .name(ng-if="comment.poster && comment.poster._id == userId && competition_message.chat_type===1" ng-cloak) 我
              .remind_box.clearfix(ng-if="comment.chat_type>1")
                a.no_underline(ng-href="{{ comment.chat_type===2 ? '#/competition/team/' + comment.opponent_team._id : '#/competition_message/detail/' + comment.competition_message }}")
                  .remind_box_head
                    span {{comment.chat_type | remindWordsFormat : comment.competition_type}}
                  .remind_box_content.clearfix
                    .team_logo: img.team_logo(ng-src="{{STATIC_URL +comment.opponent_team.logo + '/45/45'}}")
                    .text
                      .tname {{comment.opponent_team.name}}
                      .cname {{comment.opponent_team.cname}}
              .content(ng-if="comment.chat_type===1")
                .triangle_isosceles(ng-bind-html="comment.content | emoji | unsafe")
          .failed(ng-if="comment.failed" ng-cloak)
            .tip
              i.icon.ion-alert-circled
              span 发送失败

  ion-footer-bar.comment_box
    publish-box(is-show-emotions="isShowEmotions" is-writing="isWriting" content="content" publish="publish()" show-upload-action-sheet="showUploadActionSheet()")

  script(id="confirm-upload-modal.html" type="text/ng-template")
    ion-modal-view
      ion-header-bar
        button.button(ng-click="cancelUpload()") 取消
        h1.title 预览
        button.button(ng-click="confirmUpload()") 确定
      ion-content
        .card
          .item.item-image
            img(ng-src="{{previewImg}}")
  include ./photo-swipe
