extends ./tab-layout

block header
  a.button.icon.ion-calendar(href="#/calendar")
  h1.title 讨论列表
  button.button.icon.ion-plus

block content
  ion-content
    ul.list
      a.item.item-avatar(ng-repeat="commentCampaign in commentCampaigns" ng-href="#/discuss/detail/{{commentCampaign._id}}" ng-cloak)
        img(ng-src="{{commentCampaign.logo}}")
        h2 {{commentCampaign.theme}}
        p
          span(ng-show="commentCampaign.unread") [{{commentCampaign.unread}}条新评论]
          span {{commentCampaign.latestComment.content}}
