ion-view.discover(ng-controller="DiscoverController")

  ion-header-bar

    h1.title 发现

  ion-content
    .discover_image
    .list
      a.item.item-icon-left.item-icon-right(href="#/discover/search_opponent")
        i.icon.ion_teams
        | 找对手
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/rank/select")
        i.icon.ion-android-contacts
        | 排行榜
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/competition/log_list")
        i.icon.ion_ballon
        | 挑战日志
        i.icon.ion-chevron-right
    .rank_panel
      .team_select
        label.item.item-input.item-select
          span.input-label 我的小队排名:
          select.select_info(ng-change="changeSelectTeam(selectTeam)" ng-model="selectTeam" ng-options="team.name for team in teams")
      .rank_table
        table
          tbody
            tr(ng-repeat="rankTeam in rankTeams")
              td {{rankTeam.score_rank.rank}}
              td: img.memer_logo(ng-src="{{STATIC_URL + rankTeam.logo}}/40/40")
              td.center {{rankTeam.name}}
              td.center {{rankTeam.score_rank.score || 0}}
              td.center {{rankTeam.score_rank.winPercent}}
