ion-view
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title.title_have_right {{team.name}}的全家福相册
    a.button.icon.ion-plus(ng-if="team.isLeader" ng-click="showUploadActionSheet()" ng-cloak)
  ion-content
    .dl_photo_album_card
      .card_header.clearfix
        p.header_title 全家福({{familyPhotos.length}})
      .clearfix
        .photo_wrap(ng-repeat="photo in familyPhotos")
          img.family_photo(ng-src="{{STATIC_URL + photo.uri}}/60/60" ng-click="openPhotoSwipe(photo._id)")
          .delete_op_wrap(ng-if="editing" ng-cloak ng-click="toggleSelect($index)")
            .delete_icon_background
            .delete_icon.icon.ion-minus-circled
    .row
      button.button.button-block.button-positive(ng-if="team.isLeader && !editing" ng-click="toggleEdit()" ng-cloak) 编辑
      button.button.button-block.button-positive(ng-if="team.isLeader && editing" ng-click="toggleEdit()" ng-cloak) 确定

  script(id="confirm-upload-modal.html" type="text/ng-template")
    ion-modal-view
      ion-header-bar
        button.button(ng-click="cancelUpload()") 取消
        h1.title 预览
        button.button(ng-click="confirmUpload()") 确定
      ion-content
        .card
          .item.item-image
            img(ng-src="{{previewImg}}")

.pswp(tabindex="-1" role="dialog" aria-hidden="true" id="{{familyAlbumPswpId}}")
  .pswp__bg
  .pswp__scroll-wrap
    .pswp__container
      .pswp__item
      .pswp__item
      .pswp__item
    .pswp__ui.pswp__ui--hidden
      .pswp__top-bar
        .pswp__counter
        button.pswp__button.pswp__button--close(title="关闭")
        button.pswp__button.pswp__button--zoom(title="放大/缩小")
        .pswp__preloader
          .pswp__preloader__icn
            .pswp__preloader__cut
              .pswp__preloader__donut
      button.pswp__button.pswp__button--arrow--left(title="上一张")
      button.pswp__button.pswp__button--arrow--right(title="下一张")
      .pswp__caption
        .pswp__caption__center