ion-view.home
  ion-slide-box
    ion-slide
      .page_1
    ion-slide
      .page_2
  .home_buttons
    a.button.dl_button.login_button(href="#/user/login") 立即登录
    a.button.dl_button.register_button(href="#/register/user/search_company") 免费注册