ion-view.contacts
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/hr/home") &nbsp;返回
    h1.title 同事
    button.button.button-clear(ng-if="searching" ng-click="cancelSearch()" ng-cloak) 取消
  ion-content
    .bar.bar-header.search_box.item-input-inset
      label.item-input-wrapper
        i.icon.ion-ios7-search.placeholder-icon
        input(type="search" ng-model="keyword.value" ng-keypress="search($event)")
      button.button-clear(ng-click="search()") 搜索
    .list.user_list
      a.item.item-avatar.item-icon-right.user_item(ng-repeat="contact in contacts" ng-cloak)
        img.user_photo(ng-src="{{STATIC_URL + contact.photo}}/90/90")
        h2.nickname(ng-bind="contact.nickname")
        p.realname(ng-bind="contact.realname")
        span.item-note.email {{contact.email}}
        //- i.icon.ion-chevron-right
      .item(ng-if="message" ng-cloak)
        span {{message}}