ion-view.company
  ion-header-bar
    h1.title(ng-bind="company.name")
  ion-content
    .list
      a.item.item-icon-right(href="#/hr/active_code")
        | 员工验证码
        i.icon.ion-chevron-right
      a.item.item-icon-right(href="#/hr/team_page")
        | 公司小队
        i.icon.ion-chevron-right
      a.item.item-icon-right(href="#/hr/company_detail")
        | 公司资料
        i.icon.ion-chevron-right
    button.button.button-block.button-light.quit_button(ng-click="logout()") 退出登录

