ion-view.hr_company_page
  ion-header-bar
    h1.title {{company.name}}
  ion-content(scroll="false")
    .company_header(ng-style="familyMinHeight")
      img.company_cover(ng-src="{{STATIC_URL + company.cover}}/640/380")
    .company_info
      .info_header.clearfix
        img.logo(ng-src="{{STATIC_URL + company.logo}}/160/160")
        .info_content
          .company_name {{company.name}}
          .company_brief
            span.title 简介:
            span.content {{company.intro || '无'}}
      a.item.item-icon-right(href="#/hr/company_edit")
        | 公司资料
        i.hr_company_edit 编辑
        i.icon.ion-chevron-right
      a.item.item-icon-right(href="#/hr/colleague_list")
        | 成员
        span.company_member_num {{company.memberNumber}}
        i.icon.ion-chevron-right
      a.item.item-icon-right(href="#/hr/active_code")
        | 邀请新成员
        i.icon.ion-chevron-right
      a.item.item-icon-right(href="#/hr/team_page")
        | 小队
        span.company_team_num {{company.teamNumber}}
        i.icon.ion-chevron-right
  ion-footer-bar
    button.button.button-full.hr_logout(ng-click="logout()") 退出登录
