ion-view
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 成员
  ion-content.member_page
    .member_group(ng-repeat="memberContent in memberContents" ng-if="memberContent.members.length>0")
      .member_group_name {{memberContent.name}}
      .members.clearfix(ng-if="!memberContent.isOtherCompany" ng-cloak)
        a.member(ng-repeat="member in memberContent.members" ng-href="#/user/{{member._id}}")
          .member_inner
            img.member_photo(ng-src="{{STATIC_URL + member.photo}}/90/90")
            span.dl_member_leader(ng-if="member.isLeader" ng-cloak)
            p.member_name {{member.nickname}}
      .members.clearfix(ng-if="memberContent.isOtherCompany" ng-cloak)
        .member(ng-repeat="member in memberContent.members")
          .member_inner
            img.member_photo(ng-src="{{STATIC_URL + member.photo}}/90/90")
            span.dl_member_leader(ng-if="member.isLeader" ng-cloak)
            p.member_name {{member.nickname}}
