ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/personal") &nbsp;我的
    h1.title 我的站内信
  ion-content
    h1 站内信，待设计
    ul.list
      li.item
        | 您参加的“足球比赛”（动梨足球队）被队长取消了
    ul.list
      li.item
        | 香蕉足球队无情地拒绝了动梨足球队的挑战“周末来比赛吧”
    ul.list
      li.item
        | 来自动梨足球队的消息：比赛延迟1小时开始