.card.dl_campaign_card.campaign_card_container(bindonce='campaign' ng-class="{'remove':campaign.remove}")
  a.campaign_card.clearfix(bo-href="'#/campaign/detail/'+campaign._id")
    .dl_card_header.clearfix
      .dl_card_header_info.clearfix
        h2.dl_cp_name(bo-text="campaign.theme")
      .dl_card_time(ng-if="!campaign.is_end")
        .dl_cp_time_countdown.clearfix
          span.dl_cp_time_text(ng-bind="campaign.remind_text")
          span.dl_cp_time_count(ng-bind="campaign.time_text")
    .dl_card_content.clearfix
      .dl_cp_logos(class="logos_{{campaign.campaign_unit.length}}")
        img.dl_team_logo(ng-repeat="campaign_unit in campaign.campaign_unit" bo-src="STATIC_URL + (campaign_unit.team.logo || campaign_unit.company.logo)+'/60/60'")
        .provoke_label(bo-if="campaign.campaign_type===4 || campaign.campaign_type===5")
          span 挑战
        .fellowship_label(bo-if="campaign.campaign_type===7")
          span 联谊 
      .dl_cp_texts
        p.dl_cp_time
          //-i.icon.icon_small.ion_time
          svg.svg_icon.cp_info_icon
            use(xlink:href="#time")
          span.dl_cp_text(bo-text="campaign.start_time | date:'yyyy-MM-dd HH:mm'")
        p.dl_cp_address
          //-i.icon.icon_small.ion_address
          svg.svg_icon.cp_info_icon
            use(xlink:href="#location")
          span.dl_cp_text(bo-text="campaign.location.name")
        p.dl_cp_member
          //-i.icon.ion_member.icon_small
          svg.svg_icon.cp_info_icon
            use(xlink:href="#renshu")
          span.dl_cp_text.number(ng-bind="campaign.members_count || '0'")
          span.dl_cp_text(bo-show="campaign.member_max") &nbsp;|&nbsp;
          span.dl_cp_text.number(bo-if="campaign.member_max" bo-text="campaign.member_max")
    .dl_card_footer.clearfix(ng-if="campaign.confirm_status===true")
      .dl_team_name(bo-if="campaign.campaign_unit.length === 1" bo-text="campaign.campaign_unit[0].team.name")
      .dl_team_name(bo-if="campaign.campaign_unit.length === 2" bo-text="campaign.campaign_unit[0].team.name+'vs'+campaign.campaign_unit[1].team.name")
      .dl_campaign_comment.clearfix
        //-i.icon.ion_comment
        svg.svg_icon.cp_footer_icon.comment_icon
          use(xlink:href="#pinglun")
        span.dl_card_footer_count(bo-text="campaign.comment_sum")
      .dl_campaign_circle.clearfix
        //-i.icon.ion_circle
        svg.svg_icon.cp_footer_icon
          use(xlink:href="#album")
        span.dl_card_footer_count(bo-text="campaign.circle_content_sum")
      .dl_cp_time.clearfix(bo-text="(campaign.create_time | beforeNow) +'发布'")
.dl_divider(ng-if="!isLast")
