ion-view.personal_invite_code_page
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/app/personal") &nbsp;返回
    h1.title 二维码
  ion-content
    .list
      .item.item-text-wrap.description_item
        | 动梨是一个要求严格身份验证的社区，您的同事可以扫描您的二维码名片，使用与您相同后缀的的企业邮箱完成注册。
    .list
      .item
        | 扫一扫直接注册
      .item
        #inviteKeyQrCode.invite_key_qr_code