ion-view.personal_invite_code_page
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/app/personal") &nbsp;返回
    h1.title 二维码
  ion-content
    .list
      .item.item-text-wrap.description_item
        | 动梨活动助理是一个需要严格的身份验证的应用
    .list
      .item
        | 扫一扫直接注册
      .item
        #inviteKeyQrCode.invite_key_qr_code