ion-view.personal(ng-controller="PersonalController")

  ion-header-bar
    h1.title 我的

  ion-content
    .list
      a.item.item-avatar.item-icon-right(href="#/personal/edit" ng-cloak)
        img(ng-if="user" ng-src="{{STATIC_URL + user.photo}}/80/80" prevent-default photo="user.photo" pswp-id="pswpId" open-photo)
        h2 {{user.nickname}}
        p(ng-if="user.introduce") 简介: {{user.introduce}}
        i.icon.ion-chevron-right
      .item.statistics(ng-cloak)
        .row
          a.col.col-33(href="#/personal/teams")
            p.number {{user.tids.length}}
            p.key 小队
          a.col.col-33(href="#/personal/timeline")
            p.number {{user.campaignCount}}
            p.key 活动
          .col.col-33
            p.number {{user.score}}
            p.key 积分
    .list
      a.item.item-icon-left.item-icon-right(href="#/personal/teams")
        i.icon.ion_teams
        | 我的小队
        span.item-note {{user.tids.length}}
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/personal/timeline")
        i.icon.ion_foot
        | 我的足迹
        i.icon.ion-chevron-right
      //- a.item.item-icon-left.item-icon-right(href="#/personal/messages")
      //-   i.icon.ion_message
      //-   | 我的站内信
      //-   span.item-note(ng-if="messagesCount && messagesCount>0") {{messagesCount}}
      //-   i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/calendar/personal")
        i.icon.ion_calendar
        | 我的日程
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/settings")
        i.icon.ion_setting
        | 设置
        i.icon.ion-chevron-right

  .pswp(tabindex="-1" role="dialog" aria-hidden="true" id="{{pswpId}}")
    .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
          button.pswp__button.pswp__button--close(title="关闭")
          button.pswp__button.pswp__button--zoom(title="放大/缩小")
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        .pswp__caption
          .pswp__caption__center