ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/app/personal") &nbsp;返回
    h1.title 员工验证码
  ion-content
    .card.list
      .item.item-icon-right(ng-cloak)
        | {{inviteKey}}
        i.icon.ion-clipboard(ng-click="copy()")
      .item
        span.input-label 扫一扫直接注册
        #inviteKeyQrCode