ion-view.personal(ng-controller="PersonalController")

  ion-header-bar
    h1.title 我的

  ion-content
    .list
      a.item.item-avatar.item-icon-right(href="#/personal/edit" ng-cloak)
        img(ng-if="user" ng-src="{{STATIC_URL + user.photo}}/80/80")
        h2 {{user.nickname}}
        p 公司：{{user.company.name}}
        p(ng-if="user.department") 部门：{{user.department.name}}
        p(ng-if="!user.department") 部门：无
        p(ng-if="user.phone") 手机：{{user.phone || '-'}}
        p(ng-if="user.email") 邮箱：{{user.email}}
        p(ng-if="user.birthday") 生日：{{user.birthday | date:'yyyy-MM-dd'}}
        p(ng-if="constellation") 星座：{{constellation}}
        p(ng-if="user.realname") 真实姓名：{{user.realname}}
        p(ng-if="user.introduce") 简介: {{user.introduce}}
        p(ng-if="user.score") 积分：{{user.score}}
        p {{info}}
        //- p.tags(ng-if="user.tags") 标签:
        //-   span.tag(ng-repeat="tag in user.tags") {{tag}}
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/personal/teams")
        i.icon.ion_teams
        | 我的小队
        span.item-note {{user.tids.length}}
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/personal/timeline")
        i.icon.ion_foot
        | 我的足迹
        i.icon.ion-chevron-right
      //- a.item.item-icon-left.item-icon-right(href="#/personal/messages")
      //-   i.icon.ion_message
      //-   | 我的站内信
      //-   span.item-note(ng-if="messagesCount && messagesCount>0") {{messagesCount}}
      //-   i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/calendar/personal")
        i.icon.ion_calendar
        | 我的日程
        i.icon.ion-chevron-right
      a.item.item-icon-left.item-icon-right(href="#/settings")
        i.icon.ion_setting
        | 设置
        i.icon.ion-chevron-right