ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(ng-href="{{photoAlbumBackUrl}}") &nbsp;返回
    h1.title {{photoAlbum.name}}

  ion-content.photo_album_detail_page
    .dl_photo_album_card(ng-repeat="group in photoGroups" on-last-repeat)
      .card_header.clearfix
        p.header_title {{group.date | date:'yyyy年MM月dd日'}}
      .dl_gallery.clearfix(itemscope itemtype="http://schema.org/ImageGallery")
        figure.photo(itemscope itemtype="http://schema.org/ImageObject" ng-repeat="photo in group.photos")
          a(ng-href="{{STATIC_URL + photo.uri}}/resize/{{photo.viewWidth}}/{{photo.viewHeight}}" itemprop="contentUrl" data-size="{{photo.viewWidth}}x{{photo.viewHeight}}")
            img(ng-src="{{STATIC_URL + photo.uri}}/65/65" itemprop="thumbnail")
          figcaption.hidden_figcaption(itemprop="caption description") {{photo.name}}
    .list(ng-if="photoGroups.length === 0")
      .item 该相册还没有照片，快来上传吧。

include ./photo-swipe