ion-view
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-href="#/team/{{teamId}}") &nbsp;返回
    h1.title 小队影集
  ion-content
    ion-refresher(on-refresh="refresh()" pulling-text="下拉刷新" refreshing-text="刷新中...")
    a.dl_photo_album_card(href="#/team/{{teamId}}/family")
      .card_header.clearfix
        p.header_title 小队封面&nbsp;({{familyPhotoLength}})
      .clearfix
        img.photo(ng-repeat="photo in familyPhotos" ng-src="{{STATIC_URL + photo.uri}}/65/65")

    a.dl_photo_album_card(ng-repeat="photoAlbum in photoAlbums" ng-href="#/photo_album/{{photoAlbum._id}}/detail")
      .card_header.clearfix
        p.header_title {{photoAlbum.name}}&nbsp;({{photoAlbum.photoCount}})
      .clearfix
        img.photo(ng-repeat="photo in photoAlbum.latestPhotos" ng-src="{{STATIC_URL + photo.uri}}/65/65")

    ion-infinite-scroll(on-infinite="loadMore()" distance="-1%" ng-if="moreDataCanBeLoaded()")