ion-view
  ion-header-bar
    span.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title {{photoAlbum.name}}
    .button.icon.ion-plus(ng-click="showUploadActionSheet()")

  ion-content.photo_album_detail_page
    .dl_photo_album_card(ng-repeat="group in photoGroups" on-last-repeat)
      .card_header.clearfix
        p.header_title {{group.date | date:'yyyy年MM月dd日'}}
      .dl_gallery.clearfix
        img.photo(ng-repeat="photo in group.photos" ng-src="{{STATIC_URL + photo.uri}}/65/65" ng-click="openPhotoSwipe(photo._id)")
    .list(ng-if="photoGroups.length === 0")
      .item 该相册还没有照片，快来上传吧。

include ./photo-swipe