ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/photo_album/list") &nbsp;返回
    h1.title 一起吃马卡龙

  ion-content
    .card
      p 今天
      a(href="#/photo_album/photo")
        img(src="http://placehold.it/60x60")
    .card
      p 昨天
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
    .card
      p 前天
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
    .card
      p 2014年11月18日
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
      img(src="http://placehold.it/60x60")
