ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(ng-href="{{backLink}}") &nbsp;返回
    h1.title {{photoAlbum.name}}

  ion-content
    .card(ng-repeat="group in photoGroups")
      p {{group.date | date:'yyyy年MM月dd日'}}
      img(ng-repeat="photo in group.photos" ng-src="{{STATIC_URL + photo.uri}}/60/60")
