form(name="comment_form")
  .publish_box
    i.icon.ion-image(ng-if="status.isShowImg" ng-click="showUploadActionSheet()")
    button.dl_button.emotion_button(ng-click="showEmotions()" prevent-default)
      i.emoji.emoji_tongue
    #ta.comment_input(ng-model="content" required mix-maxlength=140 contentEditable="true" ng-focus="hideEmotions();isWriting=false" ng-blur="isWriting=true")
    button.publish_button(ng-click="publish();hideEmotions();resizeTextarea(1)" ng-disabled="comment_form.$invalid") 发言

  ion-slide-box.emotion_box(ng-if="isShowEmotions")
    ion-slide(ng-repeat="emoji in emojiList")
      .box.clearfix
        .emotion(ng-repeat="emotion in emoji" ng-click="addEmotion(emotion)")
          i(class="emoji {{'emoji_'+emotion}}" )
