form(name="comment_form")
  i.icon.ion-image(ng-click="showUploadActionSheet()")
  textarea#ta.comment_input(rows="1" cols="30" ng-model="content" required maxlength="140" contentEditable="true" ng-focus="hideEmotions();" ng-change="resizeTextarea()")
  button.dl_button.emotion_button(ng-click="showEmotions()" prevent-default)
    i.emoji.emoji_tongue
  button.publish_button(ng-click="hideEmotions();publish()" ng-disabled="comment_form.$invalid") 发言

  ion-slide-box.emotion_box(ng-if="isShowEmotions")
    ion-slide(ng-repeat="emoji in emojiList")
      .box.clearfix
        .emotion(ng-repeat="emotion in emoji" ng-click="addEmotion(emotion)")
          i(class="emoji {{'emoji_'+emotion}}" )
