ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/rank/select") &nbsp;返回
    h1.title 排行榜
  ion-content
    ion-refresher(on-refresh="getRank(true)" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
    .rank_table(ng-if="rank.team.length>0")
      a.row(ng-repeat="team in rank.team | orderBy : 'rank'" ng-href="#/competition/team/{{team._id}}" ng-class="team.belong? 'belong': ''")
        .col(ng-class="$index<3 ? 'top': ''")
          span(ng-if="$index<3") TOP
          span {{team.rank}}
        .col
          img.team_logo(ng-src="{{STATIC_URL + team.logo}}/40/40")
        .col.col-50
          p {{team.name}}
          p {{team.cname}}
          p
           span {{team.member_num}} 人
           span 胜率{{team.win}} : {{team.tie}} : {{team.lose}}
        .col {{team.score || 0}}分
    .rank_table(ng-if="!rank || rank.team.length==0")
      .row
        .col.no_rank_table 目前没有该类型的小队排行
    .rank_table(ng-if="noRankTeams.length>0")
      .row
        .col 我的小队
      a.row(ng-repeat="team in noRankTeams | orderBy : 'rank'" ng-href="#/competition/team/{{team._id}}")
        .col
          span {{team.rank==0 ?'暂无排名':team.rank}}
        .col
          img.team_logo(ng-src="{{STATIC_URL + team.logo}}/40/40")
        .col.col-50
          p {{team.name}}
          p {{team.cname}}
          p
            span {{team.member_num}} 人
            span 胜率{{team.win}} : {{team.tie}} : {{team.lose}}
        .col {{team.score || 0}}分
