ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/home") &nbsp;返回
    h1.title 注册
    a.button.icon-right.ion-chevron-right(href="#/user/login") 登录&nbsp;
  ion-content.register_company_notfound
    .register
      .register_header
        img.logo(src="./img/register/dl_logo_signup.png")
      .register_body
        .board.clearfix
          i.fa.ion-reply(ng-click="preStep()")
          .not_found
            p 你比同事先到，快来注册！
          .board_content
            include ./register-company-detail
          //- .signup_bottom_3