ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/home") &nbsp;返回
    h1.title 注册
    a.button.icon-right.ion-chevron-right(href="#/user/login") 登录&nbsp;
  ion-content.register_search_company(scroll="false" ng-show="active !== 1")
    .register_header
      img.logo(src="./img/register/dl_logo_signup.png")
    .register_body
      .board
        input(type="email" ng-model="companyEmail.value" ng-keypress="checkMail($event)" placeholder="请输入您的企业邮箱" required)
        a.search(ng-click="checkMail()" ng-disabled="loading")
      .register_bottom
        img.register_cloud(src="/img/register/dl_signup_cloud.gif")
  ion-content.register_company_list(scroll="false" ng-show="active === 1")
    .register_header
      img.logo(src="./img/register/dl_logo_signup.png")
    .board
      img.search_title(src="/img/register/dl_signup_search_title.png")
      i.fa.fa-reply(ng-click="preStep()")
      .companies
        .company(ng-repeat="company in companies" ng-click="goDetail(company)")
          span {{company.name}}
          i.fa.fa-chevron-right.pull-right
        span.prePage(ng-click="prePage()" ng-if="hasPrevious") 上一页
        span.nextPage(ng-click="nextPage()" ng-if="hasNext") 下一页
    .register_bottom
      img.notfound(src="/img/register/dl_signup_notfound.png")
      a.organize(ng-click="organize()")
    //- form(name="search_form")
    //-   .list.list-inset
    //-     label.item.item-input
    //-       input(type="email" placeholder="输入您的公司邮箱" ng-model="companyEmail.value" required)
    //-       i.icon.ion-search.placeholder-icon.dl_search_icon
    //-   .tip_msg(ng-if="!searched&&!active")
    //-     p.gray_msg 请在上方输入您的企业邮箱，进行搜索。
    //-   .tip_msg(ng-show="active||mail_msg")
    //-     //- span.gray_msg(ng-show="active===1") 该邮箱可以注册。
    //-     span.gray_msg(ng-show="active===2") 该邮箱已注册过但尚未激活，请到邮箱查收邮件。
    //-     span.blue_msg.medium_tip(ng-show="active===3") 该邮箱已注册，请点击右上角直接登录。
    //-     span.gray_msg(ng-show="mail_msg") {{mail_msg}}
    //-   .list.list-inset
    //-     button.button.dl_button.login_button(ng-disabled="search_form.$invalid" ng-click="searchCompany()") 查找您的企业
    //- .list(ng-if="searched && companies.length")
    //-   a.item.item-icon-right.companies_list(ng-repeat="company in companies" ng-click="goDetail(company)")
    //-     | {{company.name}}
    //-     i.icon.ion-chevron-right
    //- .tip_msg(ng-if="searched")
    //-   p.medium_tip.gray_msg 没有您的公司？
    //-   p.medium_tip.blue_msg 将动梨推荐给您的HR 或者进行企业注册&nbsp;↓
    //- .links
    //-   a.medium_tip.dkblue_msg.pull-right(href="#/register/company") 企业注册