.input_box
  .board_company
    form(name="companyForm" novalidate)
      p.email_line.clearfix
        span.username 账号:
        span.email(ng-cloak) {{email}}
      //- input.email(ng-model="email" required readonly)
      input(type="password" ng-model="$parent.password" placeholder="密码" ng-show="!recommandCompany" ng-minlength=6 required)
      input(ng-model="$parent.name" placeholder="公司名称" ng-blur="nameCheck()" required)
      //- 同名&&email后缀正确
      p(ng-if="recommandCompany && !domain") 
        span 检测到同名公司，不过您的邮箱后缀不对哦，换公司邮箱搜索试试?
      .form-group(ng-if="recommandCompany && !domain") 
        a.btn-success(ng-click="changeEmail()") 换邮箱
        a.btn-info(ng-click="ignoreRecommand()") 继续注册
      //- 同名&&email不正确 提示换邮箱
      p(ng-if="recommandCompany && domain")
        span 检测到同名公司
      .form-group(ng-if="recommandCompany && domain") 
        a.btn-success(ng-click="select(recommandCompany)") 点击加入
        a.btn-info(ng-click="ignoreRecommand()") 继续注册
      .form-group.clearfix(ng-if="!recommandCompany")
        .select_cover
          select(ng-model="province" ng-options="province.value for province in provinces" ng-change="selcetProvince(province)")
        .select_cover
          select(ng-model="city" ng-options="city.value for city in cities" ng-change="selectCity(city)")
        .select_cover(last-child)
          select(ng-model="district" ng-options="district.value for district in districts")
      
      button.next_step.btn-success(ng-if="!recommandCompany" ng-click="signup()" ng-disabled="companyForm.$invalid") 下一步
.signup_bottom