ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/home") &nbsp;返回
    a.button.icon.ion-chevron-right(href="#/company/login") &nbsp;登录
  ion-content
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="公司全称")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="省、市、区")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="详细地址")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="联系人姓名")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="区号")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="电子邮箱")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="手机号码")
    p 点击注册即代表同意《法律声明》及《隐私政策》
    button.button.button-block.button-assertive 企业注册
    a.button.button-block.button-light(href="#") 个人注册