ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/home") &nbsp;返回
    h1.title 注册成功
    a.button.icon-right.ion-chevron-right(href="#/user/login") 登录&nbsp;
  ion-content.register_success
    .register
      .register_header
        img.logo(src="./img/register/dl_logo_signup.png")
      .register_body
        .board
          .board_content
            img.signup_success(src="./img/register/dl_signup_success.png")
            p.email_tip 去邮箱查找激活邮件
            a.email_link(href="message:")
              span 去邮箱
              i.fa.ion-chevron-right