ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/home") &nbsp;返回
    a.button.icon.ion-chevron-right(href="#/user/login") &nbsp;登录
  ion-content
    p {{companyName}}
    form(name="user_signup_form" novalidate)
      .list.list-inset
        label.item.item-input
          input(type="text" ng-model="data.email" placeholder="企业邮箱" ng-blur="mailCheck()" ng-change="mailRegCheck()" required)
      div(ng-show="active")
        p(ng-show="active===1") 该邮箱可以注册。
        p(ng-show="active===2") 该邮箱已注册过但尚未激活，请到邮箱查收邮件。
        p(ng-show="active===3") 该邮箱已注册，请直接登录。
        p(ng-show="active===3") 请使用企业邮箱进行注册，若企业后缀不统一，请通知贵公司管理员进行后缀添加。
      div(ng-show="!active||active===1")
        .list.list-inset
          label.item.item-input
            input(type="text" ng-model="data.nickname" placeholder="昵称" required)
        .list.list-inset
          label.item.item-input
            input(type="text" ng-model="data.password" placeholder="密码" required)
        .list.list-inset
          label.item.item-input
            input(type="text" ng-model="data.passconf" placeholder="密码确认" match="data.password"  required)
        .list.list-inset
          label.item.item-input
            input(type="text" ng-model="data.name" placeholder="真实姓名" required)
        //- .list.list-inset
        //-   label.item.item-input
        //-     input(type="text" placeholder="部门")
        .list.list-inset
          label.item.item-input
            input(type="text" ng-model="data.phone" placeholder="手机号码(选填)")
        .list.list-inset
          label.item.item-input
            input(type="text" ng-model="data.inviteKey" placeholder="公司专属8位激活码" required)
        p 点击注册即代表同意
          a(href="#/register/user/law") 《法律声明》及《隐私政策》
        button.button.button-block.button-positive(ng-disabled="email_check&&email_error ||form.$invalid" ng-click="signup()") 个人注册