ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/register/user/search_company") &nbsp;返回
    h1.title 企业注册
    a.button.icon-right.ion-chevron-right(href="#/hr/login") 登录&nbsp;
  ion-content.register_company(scroll="false")
    .register_header
      img.logo(src="./img/register/dl_logo_signup.png")
    .register_body
      .input_box
        .board
          form(name="company_signup_form" novalidate)
            //- input.email(ng-model="email" required readonly)
            input(ng-model="$parent.name" placeholder="公司名称" ng-blur="nameCheck()" required)
            //- 同名&&email后缀正确
            p(ng-if="recommandCompany && !domain") 
              span 检测到同名公司，不过您的邮箱后缀不对哦，换公司邮箱搜索试试?
            .form-group(ng-if="recommandCompany && !domain") 
              a.btn-success(ng-click="changeEmail()") 换邮箱
              a.btn-info(ng-click="ignoreRecommand()") 继续注册
            //- 同名&&email不正确 提示换邮箱
            p(ng-if="recommandCompany && domain")
              span 检测到同名公司
            .form-group(ng-if="recommandCompany && domain") 
              a.btn-success(ng-click="select(recommandCompany)") 点击加入
              a.btn-info(ng-click="ignoreRecommand()") 继续注册
            .form-group.clearfix#selector(ng-if="!recommandCompany" data-select="province city district")
              .select_cover
                select(ng-model="province" ng-options="province.value for province in provinces" ng-change="selcetProvince(province)")
              .select_cover
                select(ng-model="city" ng-options="city.value for city in cities" ng-change="selectCity(city)")
              .select_cover(last-child)
                select(ng-model="district" ng-options="district.value for district in districts")
            input(type="password" ng-model="$parent.password" placeholder="密码" ng-show="!recommandCompany" ng-minlength=6 required)
            button.next_step(ng-if="!recommandCompany" ng-click="signup()" ng-disabled="company_signup_form.$invalid") 下一步
      .signup_bottom
