ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/home") &nbsp;返回
    a.button.icon.ion-chevron-right(href="#/user/login") &nbsp;登录
  ion-content
    p 动梨信息技术有限公司
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="企业邮箱")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="昵称")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="密码")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="密码确认")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="真实姓名")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="部门")
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="手机号码")
    p 点击注册即代表同意
      a(href="#/register/user/law") 《法律声明》及《隐私政策》
    a.button.button-block.button-positive(href="#/register/user/wait_email") 个人注册