ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/home") &nbsp;返回
    h1.title 等待激活
    a.button.icon-right.ion-chevron-right(href="#/hr/login") 登录&nbsp;
  ion-content
    .list.list-inset.tip_msg
      p.medium_tip.black_msg 动梨将会在四个工作日内审核您填写的资料，请稍候到您填写的邮箱查阅来自动梨的邮件，您需要点击邮件中的确认链接来完成注册。