//-暂时用不着此页
//- ion-view
//-   ion-header-bar
//-     a.button.icon.ion-chevron-left(href="#/home") &nbsp;返回
//-     a.button.icon.ion-chevron-right(href="#/user/login") &nbsp;登录
//-   ion-content
//-     p 为了保证每一个动梨用户都是真实可靠的，请您向HR或同事索要激活码。
//-     img(src="http://placehold.it/200x200")
//-     .list.list-inset
//-       label.item.item-input
//-         input(type="text" placeholder="输入8位激活码")
//-     button.button.button-block.button-positive 立即激活