ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/home") &nbsp;返回
    h1.title 个人注册
    a.button.icon-right.ion-chevron-right(href="#/user/login") 登录&nbsp;
  ion-content
    .list.list-inset.tip_msg
      span.large_tip.black_msg {{companyName}}
    form.signup_form(name="user_signup_form" novalidate)
      //- .list.list-inset
      //-   label.item.item-input
      //-     input(type="email" ng-model="data.email" placeholder="企业邮箱" ng-blur="mailCheck()" ng-change="mailRegCheck()" required)
      .list.list-inset
        label.item.item-input
          input(type="text" ng-model="data.nickname" placeholder="昵称" required)
      .list.list-inset
        label.item.item-input
          input(type="password" ng-model="data.password" ng-minlength=6 placeholder="密码(至少6位)" required)
      .list.list-inset
        label.item.item-input
          input(type="password" ng-model="data.passconf" placeholder="密码确认" match="data.password" required)
      .list.list-inset
        label.item.item-input
          input(type="text" ng-model="data.realname" placeholder="真实姓名" required)
      //- .list.list-inset
      //-   label.item.item-input
      //-     input(type="text" placeholder="部门")
      .list.list-inset
        label.item.item-input
          input(type="text" ng-model="data.phone" placeholder="手机号码(选填)")
      .list.list-inset
        label.item.item-input
          input(type="text" ng-model="data.inviteKey" placeholder="公司专属8位激活码" ng-change="checkInvitekey()" required)
      .tip_msg
        p.gray_msg(ng-if="!invitekeyCheck") 为了保证每一个动梨用户都是真实可靠的，请您向HR或同事索要激活码。
        p.gray_msg(ng-if="invitekeyCheck===1") 激活码验证成功
        p.gray_msg(ng-if="invitekeyCheck===2") 激活码填写错误
        p
          span.gray_msg 点击注册即代表同意
          a.blue_msg(href="#/register/user/law") 《法律声明》及《隐私政策》
      .list.list-inset
        button.button.dl_button.login_button(ng-disabled="invitekeyCheck!==1 || user_signup_form.$invalid" ng-click="signup()") 个人注册