ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/home") &nbsp;返回
    a.button.icon-right.ion-chevron-right(href="#/company/login") 登录&nbsp;
  ion-content
    .list.list-inset.tip_msg
      span.medium_tip.black_msg 贵公司已注册但未激活，请联系贵公司的负责人进行激活，若有疑问，请发邮件至：
      a.medium_tip.blue_msg(href="mailto:service@donler.com") service@donler.com