ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/home") &nbsp;返回
    h1.title 注册
    a.button.icon-right.ion-chevron-right(href="#/user/login") 登录&nbsp;
  ion-content.register_company_notfound
    .register
      .register_header
        img.logo(src="./img/register/dl_logo_signup.png")
      .board.clearfix
          i.fa.ion-reply(ng-click="preStep()")
          .board_content
            .not_found
              p 很抱歉，没有找到您的公司
            .select_line
              .left
              .middle
              .right
            a.button.organize_btn(ng-click="organize()") 我来组织吧
        .signup_bottom_3