ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/home") &nbsp;返回
    a.button.icon.ion-chevron-right(href="#/company/login") &nbsp;登录
  ion-content
    p 
      span 贵公司已注册但未激活，请联系贵公司的负责人进行激活，若有疑问，请发邮件至：
      a(href="mailto:service@donler.com") service@donler.com