ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/home") &nbsp;返回
    a.button.icon.ion-chevron-right(href="#/user/login") &nbsp;登录
  ion-content
    p 请到echo@donler.com查阅来自动梨的邮件，您需要点击邮件中的确认链接来完成注册。
    //- a.button.button-outline 点击登录邮箱