ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/home") &nbsp;返回
    h1.title 注册
    a.button.icon-right.ion-chevron-right(href="#/user/login") 登录&nbsp;
  ion-content.register_search_company(scroll="false" ng-show="active !== 1")
    .register_header
      img.logo(src="./img/register/dl_logo_signup.png")
    .register_body
      .board
        input(type="email" ng-model="companyEmail.value" ng-keypress="checkMail($event)" placeholder="请输入您的企业邮箱" required)
        a.search(ng-click="checkMail()" ng-disabled="loading")
      .register_bottom
        img.register_cloud(src="./img/register/dl_signup_cloud.gif")
  ion-content.register_company_list(scroll="false" ng-show="active === 1 && hasFindCompany")
    .register_header
      img.logo(src="./img/register/dl_logo_signup.png")
    .board
      img.search_title(src="./img/register/dl_signup_search_title.png")
      i.fa.ion-reply(ng-click="preStep()")
      .companies
        .company(ng-repeat="company in companies" ng-click="goDetail(company)")
          span {{company.name}}
          i.fa.ion-chevron-right
        span.prePage(ng-click="prePage()" ng-if="hasPrevious") 上一页
        span.nextPage(ng-click="nextPage()" ng-if="hasNext") 下一页
    .register_bottom
      img.notfound(src="./img/register/dl_signup_notfound.png")
      a.organize(ng-click="organize()")
  ion-content.register_company_notfound(scroll="false" ng-show="active === 1 && !hasFindCompany")
    .register_header
      img.logo(src="./img/register/dl_logo_signup.png")
    .board.clearfix
        i.fa.ion-reply(ng-click="preStep()")
        .board_content
          .not_found
            p 很抱歉，没有找到您的公司
          .select_line
            .left
            .middle
            .right
          a.button.organize_btn(ng-click="organize()") 我来组织吧
      .signup_bottom_3