ion-view.login
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/register/company/list") &nbsp;返回
    h1.title 企业注册
    a.button.icon-right.ion-chevron-right(href="#/hr/login") 登录&nbsp;
  ion-content.register_company
    .register
      .register_header
        img.logo(src="./img/register/dl_logo_signup.png")
      .register_body
        include ./register-company-detail
