.score_board
  .item
    span.title 比分
  .item.play_team(ng-repeat="playingTeam in scoreBoard.playingTeams")
    img.team_logo(ng-src="{{STATIC_URL + playingTeam.logo}}/40/40" title="{{playingTeam.name}}")
    .team_name(ng-bind="playingTeam.name" title="{{playingTeam.name}}")
    .show_score(ng-if="!editing && scoreBoard.status!==0" ng-class="{'active': playingTeam.result===1}")
      .score(ng-if="playingTeam.score || playingTeam.score===0" ng-bind="playingTeam.score")
      .result  {{playingTeam.result | scoreResultFormat}}
    .editing(ng-if="editing")
      input.score(type="number" placeholder="{{playingTeam.score||'输入比分'}}" ng-model="scores[$index]")
      .results
        button.button.button-clear.button-positive.result(ng-click="setResult(1, $index)" ng-class="{'button-assertive': results[$index]===1}") 胜
        button.button.button-clear.button-positive.result(ng-click="setResult(0, $index)" ng-class="{'button-assertive': results[$index]===0}") 平
        button.button.button-clear.button-positive.result(ng-click="setResult(-1, $index)" ng-class="{'button-assertive': results[$index]===-1}") 负
  .item.score_board_operator(ng-if="allowEdit && !editing && leaderStatus==='init'")
    button.button.button-clear.button-positive.operator(ng-click="toggleEdit()") 设置比分
  .item.score_board_operator(ng-if="allowEdit && !editing && leaderStatus==='toConfirm'")
    button.button.button-clear.button-positive.operator(ng-click="confirmScore()") 同意
    button.button.button-clear.button-positive.operator.cancel(ng-click="toggleEdit()") 不同意
  .item.score_board_operator(ng-if="allowEdit && !editing && leaderStatus==='waitConfirm'")
    button.operator.button.button-small.button-clear(ng-click="toggleEdit()") 重新设置
  .item.score_board_operator(ng-if="allowEdit && editing")
    button.button.button-clear.button-positive.operator(ng-if="scoreBoard.status===0" ng-click="initScore()") 确认
    button.button.button-clear.button-positive.operator(ng-if="scoreBoard.status===1" ng-click="resetScore()") 确认
    button.button.button-clear.button-positive.operator.cancel(ng-click="toggleEdit()") 取消
  .item.score_board_footer
    .remind_text(ng-if="scoreBoard.status===0") 等待队长设置比分
    .remind_text(ng-if="scoreBoard.status===1") 比分待确认
    .remind_text(ng-if="scoreBoard.status===2") 比分已确认
    .getlog(ng-if="allowManage" ng-click="toggleLogs()") 查看记录
  .logs(ng-if="showLogs")
    .item.log(ng-repeat="log in logs")
      p.title {{log.teamName}}&nbsp;{{log.date}}
      p.content {{log.text}}
    .item.log(ng-if="logs.length === 0")
      p.title.text-center 没有修改记录
  