ion-modal-view
  ion-header-bar
    h1.title 请选择上传照片的方式
  ion-content
    .list
      .item(ng-click="getPhotoFrom('camera')") 拍照上传
      .item(ng-click="getPhotoFrom('file')") 本地上传
      .item(ng-click="closeModal()") 取消

