ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/personal/settings") &nbsp;设置
    h1.title 我要吐槽
  ion-content
    .list.list-inset
      label.item.item-input
        input(type="text" placeholder="您的邮箱")
    .list.list-inset
      label.item.item-input
        textarea(placeholder="您的意见")
    .padding
      button.button.button-block.button-positive 提交