ion-view.about
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/settings") &nbsp;我的
    h1.title 关于活动助理
  ion-content
    .about_title 
      span 活动助理 donler 1.2
    .list
      a.item.item-icon-right(href="#/settings/about/privacy")
        | 隐私政策/法律声明
        i.icon.ion-chevron-right
      //- a.item.item-icon-right(href="#/settings/about/good")
      //-   | 给个好评吧
      //-   i.icon.ion-chevron-right
      //- a.item.item-icon-right(href="#/settings/about/intro")
      //-   | 功能介绍
      //-   i.icon.ion-chevron-right
      //- a.item.item-icon-right(href="#/settings/about/notice")
      //-   | 系统通知
      //-   i.icon.ion-chevron-right