extends ./tab-layout
block header
  a.button.icon.ion-chevron-left(href="#/personal") &nbsp;我的
  h1.title 关于活动助手
block content
  ion-content
    p 活动助手 donler 1.0.1
    .card.list
      a.item.item-icon-right
        | 给个好评吧
        i.icon.ion-chevron-right
      a.item.item-icon-right
        | 功能介绍
        i.icon.ion-chevron-right
      a.item.item-icon-right
        | 系统通知
        i.icon.ion-chevron-right