ion-view.sponsor
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 发活动
  ion-content
    form(name="sponsorForm" novalidate)
      .list
        label.item.item-input.item-select
          span.input-label 小队
          select(ng-change="changeTeam(selectTeam)" ng-model="selectTeam" ng-options="ledTeam as ledTeam.name for ledTeam in leadTeams")
        label.item.item-input
          input(type="text" name="theme" ng-model="campaignData.theme" placeholder="活动主题，限制14个字" ng-maxlength=14 required)
        label.item.item-input.item-select
          span.input-label 活动类型
          select(ng-change="changeMold(selectMold)" ng-model="selectMold" ng-options="mold.name for mold in campaign_molds")
        label.item.item-label
          span.input-label 活动开始时间:
        label.item.item-input
          input(type="datetime-local" name="start_time" ng-model="campaignData.start_time" placeholder="活动开始时间" required)
        label.item.item-label
          span.input-label 活动结束时间:
        label.item.item-input
          input(type="datetime-local" name="end_time" ng-model="campaignData.end_time" required)
        label.item.item-input
          input.arecode(type="text" name="location" ng-model="campaignData.location.name" placeholder="活动地点" required)
        .item-button
          button.button.button-full.button_sponsor(edit-map ng-disabled="!campaignData.location.name" location-name="campaignData.location.name" location='campaignData.location' map-name="mapDetail") 显示地图
        .item-button
          button.button.button-full.button_sponsor(ng-disabled="sponsorForm.$invalid || isBusy" ng-click="sponsor()") 发布
