ion-view

  ion-header-bar.bar-positive
    block header
  ion-content
    block content

  .tabs.tabs-icon-top
    a.tab-item(href="#/campaigns")
      i.icon.ion-home
      | 活动
    a.tab-item(href="#/discuss")
      i.icon.ion-home
      | 讨论
    a.tab-item(href="#/discover")
      i.icon.ion-home
      | 发现
    a.tab-item(href="#/personal")
      i.icon.ion-home
      | 我的