ion-view

  ion-header-bar
    block header
    

  block content

  ion-footer-bar
    .tabs.tabs-icon-top(ng-controller="TabController")
      a.tab-item(href="#/campaigns")
        i.icon.ion-home
        | 活动
      a.tab-item(href="#/discuss/list" ng-click="readComments()")
        .red_spot(ng-show="hasNewComment")
        i.icon.ion-home
        | 讨论
      a.tab-item(href="#/discover")
        i.icon.ion-home
        | 发现
      a.tab-item(href="#/personal")
        i.icon.ion-home
        | 我的
