ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(ng-href="{{backUrl}}") &nbsp;返回
    h1.title {{team.name}}
  ion-content
    .team_header
      img.logo(ng-if="team" ng-src="{{STATIC_URL + team.logo}}/45/45")
      //-todo 有bug，滑动有问题，原因未知，可能需要较多时间排查，先搁置
      ion-slide-box
        ion-slide(ng-repeat="photo in team.familyPhotos")
          img.team_family(ng-src="{{STATIC_URL + photo.uri}}/300/160")
    .list.card.team_info
      .item.item-body
        .team_name {{team.name}}
        .team_type {{team.groupType}}
        .start_time 成立时间: {{team.createTime | date:'yyyy-MM-dd'}}
        .team_des 小队简介: {{team.brief}}
        button.button.button-block.button-positive.btn_join(ng-if="!team.hasJoined") 立即加入
        button.button.button-block.button-light.btn_join(ng-if="team.hasJoined") 已经加入
      .item.tabs
        a.tab-item.btn_upload_photo(ng-href="#/photo_album/list/team/{{team._id}}") 上传照片
        .tab-item.btn_member {{team.memberCount}}名队员
        .tab-item.btn_cp 活动
    .card.team_home_court
      .row
        .col.tab(ng-click="selectHomeCourt(0)") 主场一
        .col.tab(ng-click="selectHomeCourt(1)") 主场二
      .map(ng-repeat="homeCourt in team.homeCourts" ng-if="homeCourtIndex==$index")
        p(ng-cloak ng-if="homeCourt.name&&homeCourt.loc.coordinates.length!==2") {{homeCourt.name}}
        a(ng-cloak ng-if="homeCourt.loc.coordinates.length===2" ng-href="http://mo.amap.com/?q={{homeCourt.loc.coordinates[1]}},{{homeCourt.loc.coordinates[0]}}&name={{homeCourt.name}}" target="_blank")
          img.map_size(ng-src="http://restapi.amap.com/v3/staticmap?location={{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&zoom=15&size=420*230&markers=mid,,A:{{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&labels={{homeCourt.name}},2,0,12,0xffffff,0x3498db:{{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&key=077eff0a89079f77e2893d6735c2f044")
    .card
      ion-scroll(direction="x" scrollbar-x="false")
        img(ng-repeat="leader in team.leaders" ng-src="{{STATIC_URL + leader.photo}}/45/45")
        img(ng-repeat="member in team.members" ng-src="{{STATIC_URL + member.photo}}/45/45")
      a
        span {{team.memberCount}}
        i.icon.ion-chevron-right
    label 2014-11
    .list.card
      .item.item-avatar
        img(src="http://placehold.it/45x45")
        h2 影评大赛
        p 地点：2楼会议室
        p 距离开始还有2小时
      .item.item-body
        img.full-image(src="http://placehold.it/320x140")
      .item
        span 观影不剧透队VS业余编剧队
        span 参加人数: 20
        span 讨论: 22
    .list.card
      .item.item-avatar
        h2 一起看狂野非洲
        p 2014年11月05日 周日
      .item.item-body
        img(src="http://placehold.it/160x140")
        img(src="http://placehold.it/160x140")
      .item
        span 参加人数: 20
        span 讨论: 22
