ion-view
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/app/company") &nbsp;返回
    h1.title {{title}}
  ion-content.all_team_list_page
    ion-refresher(on-refresh="refresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
    .loading_cover(ng-if="loading" ng-cloak)
      i.icon.ion-looping
    a.dl_team_card.clearfix(ng-repeat="team in teams" ng-href="#/team/{{team._id}}" ng-if="!loading" ng-cloak)
      img.team_logo(ng-src="{{STATIC_URL + team.logo}}/170/170")
      .team_info
        h2.team_name {{team.name}}
        //-p.team_cp_title {{team.lastCampaign.theme}}
        p.team_cp_title(ng-if="team.poster") 创建人: {{team.poster.nickname}}
        p.team_count(ng-cloak)
          span.team_member 队员：{{team.memberCount}}
          span.team_cp_number 活动：{{team.campaignCount}}
          span.team_cp_number 积分：{{team.score.total}}
        button.btn_quit(prevent-default ng-if="team.hasJoined" ng-click="quitTeam(team._id, $index)") 已加入小队
        button.btn_join(prevent-default ng-if="!team.hasJoined" ng-click="joinTeam(team._id, $index)") 立即加入
