ion-view
  ion-header-bar
    span.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title {{team.name}}
    a.button(ng-if="team.isLeader" ng-href="#/team/{{team._id}}/edit" ng-cloak) 编辑
  ion-content.team_page
    .team_header
      ion-slide-box(ng-cloak)
        ion-slide(ng-repeat="photo in team.familyPhotos")
          img.team_family(ng-src="{{STATIC_URL + photo.uri}}/640/380")
      img.team_family(ng-if="team.familyPhotos.length === 0" src="./img/family.png")
      img.logo(ng-if="team" ng-src="{{STATIC_URL + team.logo}}/130/130")
    .card.team_info
      .info_header.clearfix
        .team_name {{team.name}}
        .team_type {{team.groupType}}
      .info_body
        .start_time 成立时间: {{team.createTime | date:'yyyy-MM-dd'}}
        .team_des(ng-if="team.poster") 创建人: {{team.poster.nickname}}
        .team_des 小队简介:
          span(ng-if="team.brief" ng-cloak) {{team.brief}}
          span(ng-if="!team.brief" ng-cloak) 无
        button.btn_joined(prevent-default ng-if="team.hasJoined && !team.isOtherCompanyTeam" ng-click="quitTeam(team._id)" ng-cloak) 已加入小队
        button.btn_join(prevent-default ng-if="!team.hasJoined && !team.isOtherCompanyTeam" ng-click="joinTeam(team._id)" ng-cloak) 立即加入
      .info_footer.row
        a.col.btn_upload_photo(ng-href="#/photo_album/list/team/{{team._id}}" ng-if="!team.isOtherCompanyTeam" ng-cloak)
          i.icon.ion-image
          | 上传照片
        a.col.btn_member(ng-href="#/members/team/{{team._id}}" ng-if="!team.isOtherCompanyTeam" ng-cloak)
          .ion_member
          | {{team.memberCount}}名队员
        .col.btn_member(ng-if="team.isOtherCompanyTeam" ng-cloak)
          .ion_member
          | {{team.memberCount}}名队员
        .col.btn_cp {{team.campaignCount}}个活动
    .card.team_home_court
      .row.home_court_tabs
        .col.tab(ng-class="{'active': homeCourtIndex===0}" ng-click="selectHomeCourt(0)") 主场一
        .col.tab(ng-class="{'active': homeCourtIndex===1}" ng-click="selectHomeCourt(1)") 主场二
      .map(ng-repeat="homeCourt in homeCourts" ng-if="homeCourtIndex==$index")
        div(ng-if="!homeCourt.empty")
          a.map_wrap(ng-cloak ng-if="homeCourt.loc.coordinates.length===2" href="#" ng-click="linkMap(homeCourt)")
            img.map_img(ng-src="http://restapi.amap.com/v3/staticmap?location={{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&zoom=15&size=300*130&markers=mid,,A:{{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&labels={{homeCourt.name}},2,0,12,0xffffff,0x3498db:{{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&key=077eff0a89079f77e2893d6735c2f044")
          p.home_court_name(ng-cloak ng-if="homeCourt.name") {{homeCourt.name}}
        div(ng-if="homeCourt.empty")
          img.no_homecourt(src="./img/no_homecourt.png")
    .card.member_card
      ion-scroll(direction="x" scrollbar-x="false")
        .member_wrap
          img.member(ng-repeat="leader in team.leaders" ng-src="{{STATIC_URL + leader.photo}}/45/45")
        .member_wrap
          img.member(ng-repeat="member in team.members" ng-src="{{STATIC_URL + member.photo}}/45/45")
      a.member_link(ng-href="#/members/team/{{team._id}}" ng-if="!team.isOtherCompanyTeam")
        span.member_count {{team.memberCount}}&nbsp;
        i.icon.ion-chevron-right

    .dl_campaign_group(ng-repeat="group in campaignGroups" ng-if="!team.isOtherCompanyTeam")
      p.dl_campaign_group_date {{group.date | date:'yyyy-MM'}}
      campaign-card(ng-repeat="campaign in group.campaigns" campaign="campaign" pswp-photo-album="pswpPhotoAlbum" pswp-id="pswpId")
    ion-infinite-scroll(on-infinite="loadMore()" distance="1%" ng-if="moreDataCanBeLoaded() && !team.isOtherCompanyTeam")
  include ./photo-swipe

