mixin teamList(repeatCollection)
  a.item.item-avatar.team_list_item(ng-repeat="team in #{repeatCollection}" ng-href="#/team/{{team._id}}")
    img.team_logo(img-cache ic-src="{{STATIC_URL + team.logo}}/90/90")
    h2.team_name(ng-bind="team.name")
    p.team_info
      span.info_item(ng-bind-template="队员: {{team.memberCount}}")
      span.info_item(ng-if="team.score.campaign" ng-bind-template="活动: {{team.score.campaign}}")
      span.info_item(ng-bind-template="积分: {{team.score.total}}")
ion-view.personal_team_list_page
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/app/company") &nbsp;返回
    h1.title {{title}}
  ion-content.all_team_list_page
    ion-refresher(on-refresh="refresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
    .loading_cover(ng-if="loading" ng-cloak)
      i.icon.ion-looping

    .list.team_list
      .item.item-divider.team_label(ng-if="leadTeams.length>0") 管理的小队
      +teamList('leadTeams')
    .list.team_list
      .item.item-divider.team_label(ng-if="memberTeams.length>0") 参加的小队
      +teamList('memberTeams')
    .list.team_list
      .item.item-divider.team_label(ng-if="unJoinTeams.length>0") 未参加的小队
      +teamList('unJoinTeams')