ion-view

  ion-header-bar
    a.button.icon.ion-chevron-left(ng-href="{{backLink}}") &nbsp;{{backLinkText || '返回'}}
    h1.title {{title}}
  ion-content
    .list
      a.item.item-thumbnail-left(ng-repeat="team in teams" href="#/team")
        img(ng-src="{{team.logo}}/85/85")
        h2 {{team.name}}
        //-todo 获取每个队最近的一个活动
        //-p 2014-11-20 年末足球赛
        //-活动数还是假数据
        p 队员：{{team.memberCount}} 活动：100
        //-todo 是否已加入该小队
        button 已加入小队
        //-button 立即加入
