ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/personal") &nbsp;返回
    h1.title 吃香喝辣队
  ion-content
    .card
      img(src="http://placehold.it/45x45")
      img(src="http://placehold.it/45x45")
      img(src="http://placehold.it/45x45")
      img(src="http://placehold.it/45x45")
      img(src="http://placehold.it/45x45")
      a(href="#/members")
        span 40
        i.icon.ion-chevron-right
    label 2014-11
    .list.card
      .item.item-avatar
        img(src="http://placehold.it/45x45")
        h2 影评大赛
        p 地点：2楼会议室
        p 距离开始还有2小时
      .item.item-body
        img.full-image(src="http://placehold.it/320x140")
      .item
        span 观影不剧透队VS业余编剧队
        span 参加人数: 20
        span 讨论: 22
    .list.card
      .item.item-avatar
        h2 一起看狂野非洲
        p 2014年11月05日 周日
      .item.item-body
        img(src="http://placehold.it/160x140")
        img(src="http://placehold.it/160x140")
      .item
        span 参加人数: 20
        span 讨论: 22