ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/app/personal_teams") &nbsp;返回
    h1.title {{team.name}}
  ion-content
    .team_header
      img.logo(ng-if="team" ng-src="{{STATIC_URL + team.logo}}/45/45")
      //-todo 以下的元素是正确的，因缺少样式导致太占位置，故先注释掉，等做样式的时候别忘了取消注释
      //-img(ng-repeat="photo in team.familyPhotos" ng-src="{{STATIC_URL + photo.uri}}")
    .team_info
      .team_name {{team.name}}
      .team_type {{team.groupType}}
      .start_time 成立时间: {{team.createTime | date:'yyyy-MM-dd'}}
      .team_des 小队简介: {{team.brief}}
      button.btn_join 立即加入
      .btn_upload_photo 上传照片
      .btn_member {{team.memberCount}}名队员
      .btn_cp 活动
    .card
      img(ng-repeat="leader in team.leaders" ng-src="{{STATIC_URL + leader.photo}}/45/45")
      img(ng-repeat="member in team.members" ng-src="{{STATIC_URL + member.photo}}/45/45")
      a
        span {{team.memberCount}}
        i.icon.ion-chevron-right
    label 2014-11
    .list.card
      .item.item-avatar
        img(src="http://placehold.it/45x45")
        h2 影评大赛
        p 地点：2楼会议室
        p 距离开始还有2小时
      .item.item-body
        img.full-image(src="http://placehold.it/320x140")
      .item
        span 观影不剧透队VS业余编剧队
        span 参加人数: 20
        span 讨论: 22
    .list.card
      .item.item-avatar
        h2 一起看狂野非洲
        p 2014年11月05日 周日
      .item.item-body
        img(src="http://placehold.it/160x140")
        img(src="http://placehold.it/160x140")
      .item
        span 参加人数: 20
        span 讨论: 22
