ion-view
  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/app/personal") &nbsp;我的
    h1.title 我的足迹
  ion-content
    .card
      .item.item-avatar
        img(src="http://placehold.it/45x45")
        h2 Echo
        p 公司：动梨信息技术有限公司
        p 部门：设计部
        p 手机：13612345678
        p 邮箱：echo@donler.com
    .row
      .col 8个小队
      .col 102个活动
    label 2014-11
    .card
      .header
        img.logo(src="http://placehold.it/45x45")
        span vs
        img.logo(src="http://placehold.it/45x45")
      .section
        h3 年末篮球比赛
        p 2014-11-23 至 2014-11-25
        img.photo(src="http://placehold.it/115x115")
        img.photo(src="http://placehold.it/115x115")
        img.photo(src="http://placehold.it/115x115")

    .card
      .header
        img.logo(src="http://placehold.it/45x45")
        span 聚餐聚餐
        p 2014-11-23 至 2014-11-25
      .section
        img.photo(src="http://placehold.it/115x115")
        img.photo(src="http://placehold.it/115x115")
        img.photo(src="http://placehold.it/115x115")