ion-view
  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/app/personal") &nbsp;我的
    h1.title 我的足迹
  ion-content(has-bouncing="true")
    ion-refresher(on-refresh="doRefresh()")
    .card
      .item.item-avatar
        img(ng-if="user" ng-src="{{STATIC_URL + user.photo}}/45/45")
        h2 {{user.nickname}}
        p 公司：{{user.company.name}}
        p(ng-if="user.department" ng-cloak) 部门：{{user.department.name}}
        p(ng-if="!user.department" ng-cloak) 部门：无
        p(ng-cloak) 手机：{{user.phone || '-'}}
        p(ng-cloak) 邮箱：{{user.email}}
    .timeline_card
        include ./timeline-card
    ion-infinite-scroll(ng-if="!loading && !loadFinished" on-infinite="loadMore()" distance="-1%")
    .nomore_text(ng-if="loadFinished") 没有更多的足迹
