ion-view.discuss_list

  ion-header-bar
    a.button.icon-left.ion-chevron-left(href="#/app/discuss/list") &nbsp;返回
    h1.title 其它小队讨论

  ion-content
    ion-refresher(on-refresh="refresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中...")
    ul.list
      a.item.item-avatar(ng-repeat="commentCampaign in commentCampaigns track by $index" ng-click="goDetail(commentCampaign._id, commentCampaign.theme, $index)" ng-cloak)
        img(ng-src="{{STATIC_URL + commentCampaign.logo + '/45/45'}}")
        .red_spot(ng-if="commentCampaign.unread")
        h2 {{commentCampaign.theme}}
        p
          span(ng-show="commentCampaign.unread") [{{commentCampaign.unread}}条新评论]
          span(ng-bind-html="commentCampaign.latestComment.content || '[图片]' | emoji | unsafe")