ion-view.personal
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 用户信息
    a.button.icon.ion-more(ng-click="showPopover($event)")
  ion-content
    .card.user_card
      .item.item-avatar
        img(ng-if="user" ng-src="{{STATIC_URL + user.photo}}/90/90" prevent-default photo="user.photo" pswp-id="pswpId" open-photo)
        h2 {{user.nickname}}
        p(ng-cloak) 简介: {{user.introduce || '-'}}
      .item.statistics(ng-cloak)
        .row
          .col.col-33
            p.number {{user.tids.length}}
            p.key 小队
          a.col.col-33(ng-href="#/user/{{user._id}}/timeline")
            p.number {{user.campaignCount}}
            p.key 活动
          .col.col-33
            p.number {{user.score}}
            p.key 积分
      .item
        p(ng-if="user.realname" ng-cloak) 姓名：{{user.realname}}
        p(ng-if="user.introduce" ng-cloak) 简介：{{user.introduce}}
        p(ng-if="user.department" ng-cloak) 部门：{{user.department.name}}
        p(ng-if="!user.department" ng-cloak) 部门：无
        p(ng-if="user.sex") 性别：{{user.sex}}
        p(ng-if="user.birthday" ng-cloak) 生日：{{user.birthday | date:'yyyy-MM-dd'}}
        p(ng-if="constellation") 星座：{{constellation}}
        p(ng-cloak) 邮箱：{{user.email}}
        p(ng-cloak) 手机：{{user.phone || '-'}}
        p(ng-if="user.qq") QQ：{{user.qq}}
        //- p.tags(ng-if="user.tags" ng-cloak) 个人标签:
        //-   span.tag(ng-repeat="tag in user.tags") {{tag}}
      .item.tabs
        a.tab-item(ng-href="#/user/{{user._id}}/timeline") 活动足迹

  .pswp(tabindex="-1" role="dialog" aria-hidden="true" id="{{pswpId}}")
    .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
          button.pswp__button.pswp__button--close(title="关闭")
          button.pswp__button.pswp__button--zoom(title="放大/缩小")
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        .pswp__caption
          .pswp__caption__center

script(id="more-popover.html" type="text/ng-template")
  ion-popover-view.dl_popover.user_more_popover
    ion-content.dl_popover_content
      .dl_popover_button
        a.full_parent_link(ng-click="showReportForm()") 举报
