ion-view.personal
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title(ng-model="user.nickname")
    a.button.icon.ion-more(ng-click="showPopover($event)")
  ion-content
    .user_header
      img.img_container(ng-if="user" ng-src="{{STATIC_URL + user.photo}}/320/190")
      .user_card
        img.user_logo(ng-if="user" ng-src="{{STATIC_URL + user.photo}}/80/80" prevent-default photo="user.photo" pswp-id="pswpId" open-photo)
        .user_name(ng-cloak) {{user.nickname}}
          //- p(ng-cloak) 简介: {{user.introduce || '-'}}
        .user_realname(ng-cloak) {{user.department.name}}&nbsp;&nbsp; {{user.realname || '-'}}
        .user_introduce(ng-cloak) 简介:{{user.introduce || '无'}}
      .tab_view
        .nav
          .tab_style(ng-class="{'active':nowTab=='team'}")
            a(ng-click="changeFilter('team')") 
              span 参加的小队
          .tab_style(ng-class="{'active':nowTab=='circle'}")
            a(ng-click="changeFilter('circle')") 
              span 精彩瞬间
          .tab_style(ng-class="{'active':nowTab=='campaign'}")
            a(ng-click="changeFilter('campaign')") 
              span 活动
        .tab_content
          .team_list(ng-if="nowTab=='team'")
            a.dl_team_card.clearfix(ng-repeat="team in myTeams" ng-href="#/team/{{team._id}}" ng-cloak)
              img.team_logo(ng-src="{{STATIC_URL + team.logo}}/120/120")
              .team_info
                h2.team_name {{team.name}}
                //-p.team_cp_title {{team.lastCampaign._id ? team.lastCampaign.theme:'近期没有活动'}}
                p.team_count
                  span.team_member 队员：{{team.memberCount}}
                  span.team_cp_number(ng-if="team.campaignCount") 活动：{{team.campaignCount}}
                  span.team_cp_number 积分：{{team.score.total}}
          .circle_list(ng-if="nowTab=='circle'")
            circle-card-list.dl_circle_card_list(circle-list="circleContentList" user="user" kind="user" ctrl="circleCardListCtrl" on-click-comment-button="openCommentBox" on-click-content-img="onClickContentImg" static-url="STATIC_URL")
      
            .no_moment_remind(ng-if="loadingStatus.hasInit && circleContentList.length === 0")
              | 您还没有发过精彩瞬间，快去活动页发表吧。
      
            ion-infinite-scroll(ng-if="loadingStatus.hasMore && loadingStatus.hasInit" icon="ion-looping" on-infinite="loadMore()" distance="1%")
          .calender(ng-if="nowTab=='campaign'")
  
  //- 与ion-content同级
  circle-comment-box(ctrl="circleCommentBoxCtrl" on-post="postComment" on-stop="stopComment")
  photo-swipe(photos="imagesForPswp" ctrl="pswpCtrl")
  .pswp(tabindex="-1" role="dialog" aria-hidden="true" id="{{pswpId}}")
    .pswp__bg
    .pswp__scroll-wrap
      .pswp__container
        .pswp__item
        .pswp__item
        .pswp__item
      .pswp__ui.pswp__ui--hidden
        .pswp__top-bar
          .pswp__counter
          button.pswp__button.pswp__button--close(title="关闭")
          button.pswp__button.pswp__button--zoom(title="放大/缩小")
          .pswp__preloader
            .pswp__preloader__icn
              .pswp__preloader__cut
                .pswp__preloader__donut
        .pswp__caption
          .pswp__caption__center

script(id="more-popover.html" type="text/ng-template")
  ion-popover-view.dl_popover.user_more_popover
    ion-content.dl_popover_content
      .dl_popover_button
        a.full_parent_link(ng-click="showReportForm()") 举报
