ion-view
  ion-header-bar
    a.button.icon-left.icon.ion-chevron-left(ng-href="{{backUrl}}") &nbsp;返回
    h1.title 用户信息
    a.button.icon.ion-more(ng-click="showPopover($event)")
  ion-content
    .card
      .item.item-avatar
        img(ng-if="user" ng-src="{{STATIC_URL + user.photo}}/45/45")
        h2 {{user.nickname}}
        p 公司：{{user.company.name}}
        p(ng-if="user.department" ng-cloak) 部门：{{user.department.name}}
        p(ng-if="!user.department" ng-cloak) 部门：无
        p(ng-cloak) 手机：{{user.phone || '-'}}
        p(ng-cloak) 邮箱：{{user.email}}
        p(ng-if="user.introduce" ng-cloak) 简介: {{user.introduce}}

    include ./timeline-card
    ion-infinite-scroll(ng-if="!loading || !loadFinished" on-infinite="loadMore()" distance="5%")
    .nomore_text(ng-if="loadFinished") 没有更多的足迹
script(id="more-popover.html" type="text/ng-template")
  ion-popover-view.dl_popover.user_more_popover
    ion-content.dl_popover_content
      .dl_popover_button
        a.full_parent_link(ng-click="showReportForm()") 举报
