ion-view

  ion-header-bar
    a.button.icon.ion-chevron-left(href="#/home") &nbsp;返回
    a.button.icon.ion-chevron-right(href="#/register/user/search_company") &nbsp;注册
  ion-content
    .list.list-inset
      label.item.item-input
        input(type="email" name="email" ng-model="loginData.email" placeholder="公司邮箱" required)
    .list.list-inset
      label.item.item-input
        input(type="password" name="password" ng-model="loginData.password" placeholder="密码" required)
    p(ng-show="msg") {{msg}}
    button(type="button" ng-disabled="!loginData.email || !loginData.password" ng-click="login()") 个人登录
    p
      a(href="#/forget") 忘记密码？
      a(href="#/company/login") 企业账号登录