ion-view
  ion-header-bar
    a.button.icon-left.ion-chevron-left(ng-click="goBack()") &nbsp;返回
    h1.title 用户信息
  ion-content(delegate-handle="mainScroll" has-bouncing="true")
    ion-refresher(on-refresh="doRefresh()" refreshing-icon="ion-looping")
    .timeline_card
      include ./timeline-card
    ion-infinite-scroll(ng-if="!loading && !loadFinished" icon="ion-looping" on-infinite="loadMore()" distance="-1%")
    .nomore_text(ng-if="loadFinished") 没有更多的足迹
