
<ion-view>
  <ion-header-bar><a href="#/app/campaigns" class="button icon ion-chevron-left">返回</a><a ng-if="view==='day'" ng-click="back()" class="button">关闭</a>
    <h1 class="title">我的日程</h1><a ng-click="showFilter($event)" class="button icon ion-chevron-down">{{campaignTypes[nowTypeIndex].view}}</a>
  </ion-header-bar>
  <ion-content scroll="false" class="has-header">
    <div class="calendar">
      <nav>
        <div ng-if="view==='month'" class="operator item tabs">
          <div ng-click="preMonth()" class="tab-item"><i class="icon ion-chevron-left"></i></div>
          <div class="tab-item dl_team_number">{{ current_year }} - {{ current_month.format_month }}</div>
          <div ng-click="nextMonth()" class="tab-item"><i class="icon ion-chevron-right"></i></div>
        </div>
        <div ng-if="view!=='year'" class="week text-center clearfix">
          <div class="day weekend">日</div>
          <div class="day">一</div>
          <div class="day">二</div>
          <div class="day">三</div>
          <div class="day">四</div>
          <div class="day">五</div>
          <div class="day weekend">六</div>
        </div>
        <div ng-if="view==='day'" class="date_list text-center clearfix">
          <div ng-repeat="date in current_week_date" class="date_box">
            <div ng-class="{today: date.is_today===true, current_day: date.is_current===true}" ng-click="dayView(date)" class="date">{{ date.getDate() }}</div>
          </div>
        </div>
        <div ng-if="view==='day'" class="date_bar text-center">{{ current_day.format_date }}&nbsp;{{ current_day.format_day }}</div>
      </nav>
      <div ng-class="{full_box: view==='year'}" class="calendar_box">
        <div ng-if="view==='month'" class="calendar_month clearfix">
          <ion-scroll direction="x" scrollbar-x="false">
            <div detect-gestures="detect-gestures" gesture-type="swiperight,swipeleft" getsture-callback="preMonth,nextMonth" class="clearfix">
              <div ng-repeat="day in current_month.days" ng-class="day.first_day" class="calendar_day text-center">
                <div ng-class="{weekend: day.is_weekend===true, today: day.is_today===true}" ng-click="dayView(day.full_date)" class="calendar_date">{{ day.date }}</div><span ng-if="day.events.length&gt;0" class="calendar_campaign_count">{{day.events.length}}</span>
              </div>
            </div>
          </ion-scroll>
          <div ng-if="view!=='year'">
            <button ng-click="today()" class="button button-outline button-positive today">今天</button>
          </div>
        </div>
        <div ng-if="view==='day'" auto-height="121" class="calendar_day clearfix">
          <ion-scroll scrollbar-y="false">
            <div detect-gestures="detect-gestures" gesture-type="swiperight,swipeleft" getsture-callback="preDay,nextDay" class="clearfix">
              <ion-list>
                <ion-item ng-repeat="campaign in current_day.campaigns" class="calendar_campaign"><a ng-href="#/campaign/detail/{{campaign._id}}" class="item item-avatar"><img ng-repeat="unit in campaign.campaign_unit" ng-src="{{STATIC_URL +(unit.team.logo || unit.company.logo)+'/40/40'}}" class="dl_team_logo"/>
                    <h2>{{campaign.campaign_unit[0].team.name || campaign.campaign_unit[0].team.name}}{{campaign.campaign_unit[1] ? 'vs' +campaign.campaign_unit[1].team.name || campaign.campaign_unit[1].team.name :''}}</h2>
                    <p class="dl_cp_name">{{ campaign.theme }}</p>
                    <p ng-if="current_day.past_flag" class="flag">{{ campaign.finish?'已经结束':'正在新兴' }}</p>
                    <p ng-if="!current_day.past_flag" class="flag">{{ campaign.join_flag==1?'已参加':'未参加' }}</p></a></ion-item>
              </ion-list>
              <div ng-if="current_day.campaigns.length === 0" class="text-center">今天没有活动哦</div>
            </div>
          </ion-scroll>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="campaignType in campaignTypes">
          <button ng-click="campaignFilter($index)">{{ campaignType.view}}</button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-popover-view>
</script>