
<ion-view>
  <ion-header-bar><a href="#/calendar" class="button icon button-clear ion-calendar icon_blue"></a>
    <h1 class="title">活动</h1><a href="#/campaign/sponsor" class="button icon button-clear ion-plus icon_blue"></a>
  </ion-header-bar>
  <ion-content overflow-scroll="true" class="campaigns_container has-header">
    <div class="button-bar campaign_filter"><a ng-click="filter('all')" ng-class="{'icon_blue':nowType=='all'}" class="button button-clear">所有</a><a ng-click="filter('newCampaigns')" ng-class="{'icon_darkBlue':nowType=='newCampaigns'}" class="button button-clear">新活动</a><a ng-click="filter('provokes')" ng-class="{'icon_iconPurple':nowType=='provokes'}" class="button button-clear">挑战</a><a ng-click="filter('nowCampaigns')" ng-class="{'icon_borderPurple':nowType=='nowCampaigns'}" class="button button-clear">进行中</a><a ng-click="filter('unStartCampaigns')" ng-class="{'icon_textPurple':nowType=='unStartCampaigns'}" class="button button-clear">即将</a></div>
    <ion-scroll class="campaign_list">
      <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div ng-if="nowType=='all'||nowType=='newCampaigns'" class="campaign_container">
          <div ng-if="newCampaigns.length&gt;0 || nowType=='newCampaigns'" ng-cloak="ng-cloak" class="campaign_container_title icon_darkBlue">
            <p>新的活动 {{newCampaigns.length}}</p>
          </div>
          <campaign-card ng-repeat="campaign in newCampaigns" campaign="campaign"></campaign-card>
        </div>
        <div ng-if="nowType=='all'||nowType=='provokes'" class="campaign_container">
          <div ng-if="provokes.length&gt;0 || nowType=='provokes'" ng-cloak="ng-cloak" class="campaign_container_title icon_iconPurple">
            <p>挑战 {{provokes.length}}</p>
          </div>
          <campaign-card ng-repeat="campaign in provokes" campaign="campaign"></campaign-card>
        </div>
        <div ng-if="nowType=='all'||nowType=='nowCampaigns'" class="campaign_container">
          <div ng-if="nowCampaigns.length&gt;0 || nowType=='nowCampaigns'" ng-cloak="ng-cloak" class="campaign_container_title icon_borderPurple">
            <p>进行中 {{nowCampaigns.length}}</p>
          </div>
          <campaign-card ng-repeat="campaign in nowCampaigns" campaign="campaign"></campaign-card>
        </div>
        <div ng-if="nowType=='all'||nowType=='unStartCampaigns'" class="campaign_container">
          <div ng-if="unStartCampaigns.length&gt;0 || nowType=='unStartCampaigns'" ng-cloak="ng-cloak" class="campaign_container_title icon_textPurple">
            <p>即将 {{unStartCampaigns.length}}</p>
          </div>
          <campaign-card ng-repeat="campaign in unStartCampaigns" campaign="campaign"></campaign-card>
        </div>
    </ion-scroll>
  </ion-content>
</ion-view>