
<ion-view class="campaign_content_page">
  <ion-header-bar><a ng-click="goBack()" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 ng-bind="campaign.theme" class="title"></h1>
  </ion-header-bar>
  <ion-content>
    <div class="content_page">
      <div ng-if="campaign.start_time" class="item"><span class="title">开始时间</span><span class="content">{{campaign.start_time | date:'yyyy-MM-dd HH:mm'}}</span></div>
      <div ng-if="campaign.end_time" class="item"><span class="title">结束时间</span><span class="content">{{campaign.end_time | date:'yyyy-MM-dd HH:mm'}}</span></div>
      <div ng-if="campaign.location" class="item"><span class="title">地点</span><span class="content">{{campaign.location.name}}</span></div>
      <div ng-if="campaign.deadline" class="item"><span class="title">报名截止时间</span><span class="content">{{campaign.deadline| date:'yyyy-MM-dd HH:mm'}}</span></div>
      <div ng-if="campaign.member_max&gt;0" class="item"><span class="title">报名截止人数</span><span class="content">{{campaign.member_max}}</span></div>
      <div ng-if="campaign.member_min&gt;0" class="item"><span class="title">报名最少人数</span><span class="content">{{campaign.member_min}}</span></div>
      <div ng-if="campaign.content" class="item has_content"><span class="title">简介</span>
        <div class="content">{{campaign.content}}</div>
      </div>
    </div>
    <div class="member_page">
      <div class="item item-divider">已报名成员</div>
      <div ng-repeat="memberContent in memberContents" ng-if="memberContent.members.length&gt;0" class="member_group">
        <div class="member_group_name">{{memberContent.name}}</div>
        <div ng-if="!memberContent.isOtherCompany" ng-cloak="ng-cloak" class="members clearfix"><a ng-repeat="member in memberContent.members" ng-href="#/user/{{member._id}}" class="member"><img ng-src="{{STATIC_URL + member.photo}}/45/45" class="member_photo"/><span ng-if="member.isLeader" ng-cloak="ng-cloak" class="dl_member_leader"></span>
            <p class="member_name">{{member.nickname}}</p></a></div>
        <div ng-if="memberContent.isOtherCompany" ng-cloak="ng-cloak" class="members clearfix">
          <div ng-repeat="member in memberContent.members" class="member"><img ng-src="{{STATIC_URL + member.photo}}/45/45" class="member_photo"/><span ng-if="member.isLeader" ng-cloak="ng-cloak" class="dl_member_leader"></span>
            <p class="member_name">{{member.nickname}}</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>