
<ion-view class="campaign_content_page">
  <ion-header-bar><a ng-click="goBack()" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 ng-bind="campaign.theme" class="title"></h1>
  </ion-header-bar>
  <ion-content bindonce="campaign">
    <div class="content_page">
      <div bo-if="campaign.start_time" class="item"><span class="title">开始时间</span><span bo-text="campaign.start_time | date:'yyyy-MM-dd HH:mm'" class="content"></span></div>
      <div bo-if="campaign.end_time" class="item"><span class="title">结束时间</span><span bo-text="campaign.end_time | date:'yyyy-MM-dd HH:mm'" class="content"></span></div>
      <div bo-if="campaign.location" class="item"><span class="title">地点</span><span bo-text="campaign.location.name" class="content"></span></div>
      <div ng-if="campaign.deadline" class="item"><span class="title">报名截止时间</span><span ng-bind="campaign.deadline| date:'yyyy-MM-dd HH:mm'" class="content"></span></div>
      <div ng-if="campaign.member_max&gt;0" class="item"><span class="title">报名截止人数</span><span ng-bind="campaign.member_max" class="content"></span></div>
      <div ng-if="campaign.member_min&gt;0" class="item"><span class="title">报名最少人数</span><span ng-bind="campaign.member_min" class="content"></span></div>
      <div ng-if="campaign.content" class="item has_content"><span class="title">简介</span>
        <div ng-bind-html="campaign.content" class="content"></div>
      </div>
    </div>
    <div bindonce="memberContents" class="member_page">
      <div class="item item-divider">已报名成员</div>
      <div ng-repeat="memberContent in memberContents" ng-if="memberContent.members.length&gt;0" class="member_group">
        <div bo-text="memberContent.name" class="member_group_name"></div>
        <div bo-if="!memberContent.isOtherCompany" class="members clearfix"><a ng-repeat="member in memberContent.members" bo-href="'#/user/'+member._id" class="member">
            <div class="member_inner"><img bo-src="STATIC_URL + member.photo+'/45/45'" class="member_photo"/><span bo-if="member.isLeader" class="dl_member_leader"></span>
              <p bo-text="member.nickname" class="member_name"></p>
            </div></a></div>
        <div bo-if="memberContent.isOtherCompany" class="members clearfix">
          <div ng-repeat="member in memberContent.members" class="member">
            <div class="member_inner"><img bo-src="STATIC_URL + member.photo+'/45/45'" class="member_photo"/><span bo-if="member.isLeader" class="dl_member_leader"></span>
              <p bo-text="member.nickname" class="member_name"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>