
<div class="list card dl_card"><a ng-if="campaign.campaign_unit.length==1" ng-href="#/campaign/detail/{{campaign._id}}" class="item item-avatar dl_card_header"><img ng-if="team.logo" ng-src="{{STATIC_URL + team.logo}}/45/45" class="dl_team_logo"/>
    <h2 class="dl_cp_name">{{campaign.theme}}</h2>
    <p class="dl_cp_address">地点: {{campaign.location.name}}</p>
    <button ng-if="campaign.allow.joinTeamCampaign || campaign.allow.joinCompanyCampaign" ng-click="joinCampaign(campaign._id)" prevent-default="prevent-default" class="dl_btn_join">参加</button>
    <p ng-if="!campaign.allow.joinTeamCampaign &amp;&amp; campaign.is_start &amp;&amp; !campaign.is_end" class="dl_cp_time_countdown">{{campaign.end_time | date:"yyyy-MM-dd HH:mm" | day}}结束</p>
    <p ng-if="!campaign.allow.joinTeamCampaign &amp;&amp; !campaign.is_start" class="dl_cp_time_countdown">{{campaign.time_text}}距离开始</p></a><a ng-if="campaign.campaign_unit.length==2" href="#/campaign/detail/{{campaign._id}}" class="item item-avatar dl_card_header dl_card_header_provoke"><img ng-src="{{STATIC_URL +(campaign.campaign_unit[0].team.logo || campaign.campaign_unit[0].company.logo)+'/45/45'}}" class="dl_team_logo"/><span class="dl_team_vs">vs</span><img ng-src="{{STATIC_URL +(campaign.campaign_unit[1].team.logo || campaign.campaign_unit[1].company.logo)+'/45/45'}}" class="dl_team_logo dl_team_logo_right"/></a><a ng-if="campaign.photo_album.photos.length&gt;0" ng-href="#/campaign/detail/{{campaign._id}}" class="item item-body dl_card_body">
    <ion-scroll direction="x" scrollbar-x="false">
      <div class="dl_photo_alb"><img ng-repeat="photo in campaign.photo_album.photos" ng-src="{{STATIC_URL +photo.uri+'/150/150'}}" class="dl_cp_photo"/></div>
    </ion-scroll></a><a href="#/campaign/detail/{{campaign._id}}" class="item tabs tabs-icon-left dl_card_footer">
    <div ng-if="campaign.campaign_unit.length === 1" class="tab-item dl_team_name">{{campaign.campaign_unit[0].team.name}}</div>
    <div ng-if="campaign.campaign_unit.length === 2" class="tab-item dl_team_name">
      {{campaign.campaign_unit[0].team.name}}
      vs
      {{campaign.campaign_unit[1].team.name}}
    </div>
    <div class="tab-item dl_team_number"><i class="icon ion-person-stalker"></i>{{campaign.members_count || '0'}}</div>
    <div class="tab-item dl_team_comment"><i class="icon ion-chatbox"></i>{{campaign.comment_sum}}</div></a><a ng-if="!campaign.confirm_status" href="#/campaign/detail/{{campaign._id}}" class="item tabs dl_card_footer">
    <button prevent-default="prevent-default" ng-if="campaign.allow.dealProvoke" ng-click="dealProvoke(campaign._id, 1)" class="tab-item dl_cp_confirm">接收</button>
    <button prevent-default="prevent-default" ng-if="campaign.allow.dealProvoke" ng-click="dealProvoke(campaign._id, 2)" class="tab-item dl_cp_refuse">拒绝</button>
    <button prevent-default="prevent-default" ng-if="campaign.allow.quitProvoke" ng-click="dealProvoke(campaign._id, 3)" class="tab-item dl_cp_cancel">取消</button></a></div>