
<ion-view class="circle_reminds_page">
  <ion-header-bar>
    <button ng-click="goBack()" class="button icon-left ion-chevron-left">&nbsp;返回</button>
    <h1 class="title">消息提醒</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div ng-if="remindList.length === 0" class="item">
        <p class="text-center">没有新的提醒了</p>
      </div><a ng-repeat="remind in remindList" ng-href="#/circle/circle_content/{{remind.targetContent._id}}" class="item item-avatar remind_item"><img ng-src="{{STATIC_URL + remind.poster.photo}}/128/128"/>
        <h2>{{remind.poster.nickname}}</h2>
        <p ng-if="remind.kind === 'comment'" ng-cloak="ng-cloak">{{remind.content}}</p>
        <p ng-if="remind.kind === 'appreciate'" ng-cloak="ng-cloak"><i class="ion-heart"></i></p><img ng-if="remind.targetContent.photos &amp;&amp; remind.targetContent.photos.length &gt; 0" ng-src="{{STATIC_URL + remind.targetContent.photos[0].uri}}/40/40" class="content_preview"/></a>
    </div>
  </ion-content>
</ion-view>