
<ion-view>
  <ion-header-bar><a href="#/app/discover" class="button icon-left ion-chevron-left">&nbsp;发现</a>
    <h1 class="title">同事圈</h1>
  </ion-header-bar>
  <ion-content>
    <div ng-repeat="campaign in timelinesRecord">
      <label ng-if="needShowTime($index)" class="dl_timeline_date">{{campaign.start_time | date:'yyyy-MM'}}</label>
      <campaign-card campaign="campaign"></campaign-card>
    </div>
    <ion-infinite-scroll ng-if="!loading || !loadFinished" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
    <div ng-if="loadFinished" class="nomore_text">没有更多的足迹</div>
  </ion-content>
</ion-view>