
<ion-view>
  <ion-header-bar><a href="#/app/discover" class="button icon ion-chevron-left">&nbsp;发现</a>
    <h1 class="title">同事圈</h1>
  </ion-header-bar>
  <ion-content>
    <label>2014-11</label>
    <div class="card">
      <div class="header"><img src="http://placehold.it/45x45" class="logo"/><span>vs</span><img src="http://placehold.it/45x45" class="logo"/></div>
      <div class="section">
        <h3>年末篮球比赛</h3>
        <p>2014-11-23 至 2014-11-25</p><img src="http://placehold.it/115x115" class="photo"/><img src="http://placehold.it/115x115" class="photo"/><img src="http://placehold.it/115x115" class="photo"/>
      </div>
    </div>
    <div class="card">
      <div class="header"><img src="http://placehold.it/45x45" class="logo"/><span>聚餐聚餐</span>
        <p>2014-11-23 至 2014-11-25</p>
      </div>
      <div class="section"><img src="http://placehold.it/115x115" class="photo"/><img src="http://placehold.it/115x115" class="photo"/><img src="http://placehold.it/115x115" class="photo"/></div>
    </div>
  </ion-content>
</ion-view>