
<ion-view>
  <ion-header-bar><a ng-click="goBack()" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">所有活动</h1>
  </ion-header-bar>
  <ion-content delegate-handle="mainScroll">
    <ion-refresher refreshing-icon="ion-looping" on-refresh="doRefresh()"></ion-refresher>
    <div class="timeline_card">
      <div ng-repeat="campaign in timelinesRecord" class="dl_timeline">
        <div ng-if="needShowTime($index)" class="item dl_campaign_timeline_date">{{campaign.start_time | date:'M月d日'}}</div><a ng-class="{'remove':campaign.remove}" ng-href="#/campaign/detail/{{campaign._id}}" class="item dl_timeline_card campaign_card_container">
          <div class="campaign_card clearfix">
            <div class="dl_card_content clearfix">
              <div class="dl_cp_logos logos_{{campaign.campaign_unit.length}}"><img ng-repeat="campaign_unit in campaign.campaign_unit" ng-src="{{STATIC_URL + (campaign_unit.team.logo || campaign_unit.company.logo)}}/60/60" class="dl_team_logo"/>
                <div ng-if="campaign.campaign_type===4 || campaign.campaign_type===5" class="provoke_label"><span>挑战</span></div>
                <div ng-if="campaign.campaign_type===7" class="fellowship_label"><span>联谊 </span></div>
              </div>
              <div class="dl_cp_texts">
                <p class="dl_cp_name"><span>{{campaign.theme}}</span></p>
                <p class="dl_cp_time"><i class="icon icon_small ion_time"></i><span class="dl_cp_text">{{campaign.start_time | date:"HH:mm"}}</span></p>
                <p class="dl_cp_address"><i class="icon icon_small ion_address"></i><span class="dl_cp_text">{{campaign.location.name}}</span></p>
              </div>
              <div class="dl_card_member">
                <p class="dl_cp_member"><span class="dl_cp_text number">{{campaign.members_count || '0'}} </span></p>
                <p>人</p>
              </div>
            </div>
          </div></a>
      </div>
    </div>
    <ion-infinite-scroll ng-if="!loading &amp;&amp; !loadFinished" icon="ion-looping" on-infinite="loadMore()" distance="-1%"></ion-infinite-scroll>
    <div ng-if="loadFinished" class="nomore_text">没有更多的足迹</div>
  </ion-content>
</ion-view>