
<ion-view class="competition_team_page">
  <ion-header-bar><a ng-click="goBack()" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">挑战小队</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list team_info">
      <div class="item item-avatar team_item"><img ng-src="{{STATIC_URL + targetTeam.logo}}/90/90" class="team_logo"/>
        <h2 ng-bind="targetTeam.name" class="team_name"></h2>
        <p class="info_text first_info_text"><span class="text_label">公司:</span><span ng-bind="targetTeam.cname" class="text_data"></span></p>
        <p class="info_text"><span class="text_label">积分:</span><span ng-bind-template="{{targetTeam.score_rank.score || 0}}" class="text_data"></span><span class="text_label">活跃度:</span><span ng-bind="targetTeam.activityScore" class="text_data"></span><span class="text_label">胜率:</span><span ng-bind-template="{{targetTeam.rate}}%" class="text_data"></span></p>
      </div>
    </div>
    <div class="list campaign_info">
      <div class="item"><span class="text_label">上次活动</span><span ng-if="targetTeam.last_campaign.start_time" class="text_data">{{ targetTeam.last_campaign.start_time | beforeNow}}</span><span ng-if="!targetTeam.last_campaign.start_time" class="text_data">无</span></div>
      <div class="item"><span class="text_label">小队主场</span><span ng-bind="targetTeam.homeCourtText" class="text_data"></span></div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button ng-click="showPopup(0)" ng-if="leadTeams.length&gt;0" class="bottom_button">挑战</button>
    <button ng-click="showPopup(1)" ng-if="memberTeams.length&gt;0" class="bottom_button">推荐</button>
  </div>
</ion-view>