
<ion-view class="competition_log_panel">
  <ion-header-bar><a href="#/app/discover" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">挑战日志</h1>
  </ion-header-bar>
  <ion-content>
    <div class="competition_log_list">
      <div class="type_filter">
        <button ng-click="typeFilter('sent')" ng-class="logType='sent'?'active':''">发出</button>
        <button ng-click="typeFilter('receive')" ng-class="logType='receive'?'active':''">收到</button>
      </div>
      <div ng-repeat="" class="competition_log"></div>
    </div>
  </ion-content>
</ion-view>