
<ion-view class="competition_message_panel">
  <ion-header-bar><a href="#/app/discover" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">挑战日志</h1>
  </ion-header-bar>
  <ion-content>
    <ion-refresher on-refresh="getCompetitionLog(true)" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中..."></ion-refresher>
    <div class="competition_message_list">
      <div class="type_filter button-bar">
        <button ng-click="typeFilter('sponsor')" ng-class="messageType=='sponsor'?'active':''" class="button button-clear">发出</button><span class="splite"></span>
        <button ng-click="typeFilter('receive')" ng-class="messageType=='receive'?'active':''" class="button button-clear">收到</button>
      </div><a ng-repeat="competitionMessage in competitionMessages" ng-href="#/competition_message/detail/{{competitionMessage._id}}" class="row competition_message">
        <div class="col col-33 text_left"><span ng-if="competitionMessage.unread" class="dot"></span>
          <div class="status">
            <div class="status_text">{{competitionMessage.status | formatCompeitionStatus:competitionMessage.isSponsor}}</div>
            <div class="create_time">{{competitionMessage.create_time | date:'yyyy-M-dd HH:mm'}}</div>
          </div>
        </div>
        <div class="col"><img ng-src="{{STATIC_URL + competitionMessage.sponsor_team.logo}}/30/30" class="team_logo"/>
          <div class="team_name">{{competitionMessage.sponsor_team.name}}</div>
        </div>
        <div ng-bind="competitionMessage.competition_type==1 ? '挑战' :'联谊'" class="col col-10 col-center competition_type"></div>
        <div class="col"><img ng-src="{{STATIC_URL + competitionMessage.opposite_team.logo}}/30/30" class="team_logo"/>
          <div class="team_name">{{competitionMessage.opposite_team.name}}</div>
        </div></a>
      <div ng-if="competitionMessages.length&gt;0 &amp;&amp;page&lt;=maxPage" class="operator">
        <button ng-click="moreCompetition()" class="button button-small button-calm">显示更多</button>
      </div>
    </div>
  </ion-content>
</ion-view>