
<ion-view class="edit_team_info">
  <ion-header-bar><a ng-if="!editing" ng-href="#/company/team_list/all" ng-cloak="ng-cloak" class="button icon ion-chevron-left">&nbsp;返回</a>
    <button ng-if="editing" ng-click="cancelEditing()" ng-cloak="ng-cloak" class="button">取消</button>
    <h1 class="title">编辑小队信息</h1>
    <button ng-if="editing" ng-click="edit()" ng-disabled="!changed || editForm.$invalid" ng-cloak="ng-cloak" class="button">确定</button>
  </ion-header-bar>
  <ion-content>
    <form name="editForm" class="list">
      <div class="item item-input"><span class="input-label">小队名称</span>
        <input type="text" name="nickname" ng-change="change()" placeholder="小队名称上限20字" maxlength="20" ng-model="formData.name" ng-focus="toEditing()" required="required"/>
      </div>
    </form>
    <div class="list">
      <div class="item item-input"><span class="input-label">队长管理</span>
        <button ng-if="false" ng-click="" class="dl_button pull-right">显示组员</button>
        <button ng-if="true" ng-click="" class="dl_button pull-right">显示公司成员</button>
      </div>
      <div class="item item-input leader"><span class="input-label">现任队长</span>
        <div class="input-label"><img src="img/icons/unjoined_discuss.png" class="leader_logo"/><span>队长名称</span></div>
      </div>
      <div class="item item-input search">
        <input type="text" placeholder="搜索成员" ng-model="memberName" ng-keypress=""/><i class="icon ion-search placeholder-icon dl_search_icon"></i>
      </div>
      <div class="item people">
        <div ng-repeat="person in [1,1,1,1,1,1] track by $index" ng-click="point();change()" class="person"><img class="photo"/>
          <div class="name">{{person}}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>