
<ion-view class="contacts">
  <ion-header-bar><a href="#/app/company" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">同事</h1>
    <button ng-if="searching" ng-click="cancelSearch()" ng-cloak="ng-cloak" class="button button-clear">取消</button>
  </ion-header-bar>
  <ion-content>
    <div class="bar bar-header search_box item-input-inset">
      <label class="item-input-wrapper">
        <input type="search" ng-model="keyword.value" ng-keypress="search($event)"/><i class="icon ion-ios7-search placeholder-icon"></i>
      </label>
      <button ng-click="search()" class="button-clear">搜索</button>
    </div>
    <div class="list user_list"><a ng-repeat="contact in contacts" href="#/user/{{contact._id}}" ng-cloak="ng-cloak" class="item item-avatar item-icon-right user_item"><img ng-src="{{STATIC_URL + contact.photo}}/90/90" class="user_photo"/>
        <h2 ng-cloak="ng-cloak" class="nickname">{{contact.nickname}} <span ng-if="contact.realname">({{contact.realname}})</span></h2>
        <p ng-cloak="ng-cloak" class="realname">{{contact.email}}</p><i class="icon ion-chevron-right"></i></a>
      <div ng-if="message" ng-cloak="ng-cloak" class="item"><span>{{message}}</span></div>
    </div>
  </ion-content>
</ion-view>