
<ion-view class="contacts">
  <ion-header-bar><a href="#/app/discover" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">同事</h1>
    <button ng-if="!searching" ng-click="goSearch()" ng-cloak="ng-cloak" class="button button-clear">搜索</button>
    <button ng-if="searching" ng-click="cancelSearch()" ng-cloak="ng-cloak" class="button button-clear">取消</button>
  </ion-header-bar>
  <ion-content>
    <div class="list"><a ng-repeat="contact in contacts" href="#/user/{{contact._id}}" ng-cloak="ng-cloak" class="item item-icon-right"><span class="nickname">{{contact.nickname}}</span><span class="item-note email">{{contact.email}}</span><i class="icon ion-chevron-right"></i></a>
      <div ng-if="message" ng-cloak="ng-cloak" class="item"><span>{{message}}</span></div>
    </div>
  </ion-content>
  <ion-footer-bar ng-if="searching" ng-cloak="ng-cloak">
    <div class="search_box item-input-inset">
      <label class="item-input-wrapper"><i class="icon ion-ios7-search placeholder-icon"></i>
        <input type="search" ng-model="keyword.value" ng-keypress="search($event)" autofocus="autofocus"/>
      </label>
      <button ng-click="search()" class="button button-clear">搜索</button>
    </div>
  </ion-footer-bar>
</ion-view>