
<ion-view class="sponsor">
  <ion-header-bar><a href="{{backUrl}}" class="button icon-left ion-chevron-left">&nbsp;返回</a></ion-header-bar>
  <ion-content>
    <form name="createTeamForm" novalidate="novalidate"></form>
    <div class="list">
      <label class="item item-input item-select"><span class="input-label">小队类型</span>
        <select ng-change="changeGroupType(selectType)" ng-model="selectType" ng-options="group as group.groupType for group in groups"></select>
      </label>
      <label class="item item-input">
        <input type="text" name="name" ng-model="teamName.value" placeholder="小队名，限制14个字" ng-maxlength="14" required="required"/>
      </label>
      <div class="item-button">
        <button ng-disabled="createTeamForm.$invalid || isBusy" ng-click="createTeam()" class="button button-full button_sponsor">建立</button>
      </div>
    </div>
  </ion-content>
</ion-view>