
<ion-view ng-controller="DiscussListController" class="discuss_list">
  <ion-header-bar><a href="#/calendar/discuss_list" class="button icon ion-calendar"></a>
    <h1 class="title">讨论列表</h1>
  </ion-header-bar>
  <ion-content>
    <ion-refresher on-refresh="refresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中..."></ion-refresher>
    <ul class="list"><a ng-repeat="chatroom in chatrooms track by $index" ng-click="goDetail(chatroom, $index)" ng-cloak="ng-cloak" class="item item-avatar"><img ng-if="chatroom.kind==='team'" ng-src="{{STATIC_URL + chatroom.logo + '/45/45'}}"/><img ng-if="chatroom.kind==='company'" ng-src="img/icons/unjoined_discuss.png"/>
        <div ng-if="chatroom.unread" class="red_spot"></div>
        <h2>{{chatroom.name}}</h2>
        <p class="chat_pre"><span ng-show="chatroom.unread">[{{chatroom.unread}}条新消息] </span><span ng-if="chatroom.latestChat">{{chatroom.latestChat.poster.nickname}}:</span><span ng-if="chatroom.latestChat" ng-bind-html=" chatroom.latestChat.content||'[图片]' | emoji | unsafe"></span></p></a></ul>
  </ion-content>
</ion-view>