
<ion-view ng-controller="DiscoverController" class="discover">
  <ion-header-bar>
    <h1 class="title">发现</h1>
  </ion-header-bar>
  <ion-content><img ng-src="../img/discover.jpg" class="discover_image"/>
    <div class="list"><a href="#/discover/circle" class="item item-icon-left item-icon-right"><i class="icon ion_ballon"></i>同事圈<i class="icon ion-chevron-right"></i></a><a href="#/discover/teams/official" class="item item-icon-left item-icon-right"><i class="icon ion_teams"></i>官方小队<span class="item-note">{{officialTeams.length}}</span><i class="icon ion-chevron-right"></i></a><a href="#/discover/teams/personal" class="item item-icon-left item-icon-right"><i class="icon ion_teams"></i>个人小队<span class="item-note">{{personalTeams.length}}</span><i class="icon ion-chevron-right"></i></a></div>
  </ion-content>
</ion-view>