
<ion-view ng-controller="DiscoverController" class="discover">
  <ion-header-bar>
    <h1 class="title">发现</h1>
  </ion-header-bar>
  <ion-content>
    <div class="discover_image"></div>
    <div class="list"><a href="#/discover/teams/official" class="item item-icon-left item-icon-right"><i class="icon ion_teams"></i>所有小队<span class="item-note">{{teams.length}}</span><i class="icon ion-chevron-right"></i></a><a href="#/discover/contacts" class="item item-icon-left item-icon-right"><i class="icon ion-android-contacts"></i>通讯录<i class="icon ion-chevron-right"></i></a><a href="#/discover/circle" class="item item-icon-left item-icon-right"><i class="icon ion_ballon"></i>所有活动<i class="icon ion-chevron-right"></i></a>
    </div>
  </ion-content>
</ion-view>