
<ion-view cache-view="false" title="{{chatroomName}}" class="discuss_detail">
  <ion-header-bar><a href="#/app/discuss/list" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 ng-cloak="ng-cloak" class="title">{{chatroomName}}</h1><a ng-if="chatroomId!==cid" href="#/team/{{chatroomId}}" class="ion_teams icon-right"></a>
  </ion-header-bar>
  <ion-content>
    <ion-refresher on-refresh="readHistory()" refreshing-icon="ion-looping" pulling-text="下拉读取历史记录" refreshing-text="读取中..."></ion-refresher>
    <div ng-click="hideEmotions()" class="comments">
      <div ng-repeat="chats in chatsList track by $index" id="chats{{$index}}" class="blocks">
        <div ng-repeat="comment in chats track by $index" ng-init="showTime=needShowTime($index,chats)" ng-cloack="ng-cloack" class="block">
          <div ng-show="showTime &amp;&amp; ($index!==0||($index===0&amp;&amp;topShowTime[$parent.$index]))" class="time_block">
            <p><span ng-show="showTime===1 &amp;&amp; ($index!==0||($index===0&amp;&amp;topShowTime[$parent.$index]===1))" ng-cloak="ng-cloak" class="time">{{comment.create_date | date: 'yyyy'}}</span></p>
            <p><span ng-cloak="ng-cloak" class="time">{{comment.create_date | date: 'M月dd日 HH:mm'}}</span></p>
          </div>
          <div ng-repeat="photo in comment.photos" ng-class="{putright: comment.poster._id == userId}" ng-cloak="ng-cloak" class="comment clearfix"><a ng-href="#/user/{{comment.poster._id}}" class="logo"><img ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}"/></a>
            <div class="contents">
              <div ng-if="comment.poster._id !== userId" ng-cloak="ng-cloak" class="name">{{comment.poster.nickname}}</div>
              <div ng-if="comment.poster._id == userId" ng-cloak="ng-cloak" class="name">我</div>
              <div class="content">
                <div class="triangle_isosceles triangle_img">
                  <div class="tr"><img ng-if="!comment.randomId" ng-src="{{STATIC_URL +photo.uri+ '/360/360'}}" error-img="error-img" width="180" height="180" ng-cloak="ng-cloak"/><img ng-if="comment.randomId" ng-src="{{photo.uri}}" error-img="error-img" width="180" height="180" ng-cloak="ng-cloak"/></div>
                  <div class="box"><img ng-if="!comment.randomId" ng-src="{{STATIC_URL +photo.uri+ '/360/360'}}" width="180" height="180" photo="photo" pswp-id="pswpId" photos="photos" pswp-photo-album="pswpPhotoAlbum" photo-album-id="photoAlbumId" open-photo="open-photo" error-img="error-img" class="img"/><img ng-if="comment.randomId" ng-src="{{photo.uri}}" width="180" height="180" class="img"/></div>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="comment.chat_type!==1 || comment.content" ng-class="{putright: comment.poster._id == userId}" ng-cloak="ng-cloak" class="comment clearfix"><a ng-if="comment.poster" ng-href="#/user/{{comment.poster._id}}" class="logo"><img ng-src="{{STATIC_URL +comment.poster.photo+ '/45/45'}}"/></a><a ng-if="comment.poster_team" ng-href="#/team/{{comment.poster_team._id}}" class="logo"><img ng-src="{{STATIC_URL +comment.poster_team.logo+ '/45/45'}}"/></a>
            <div class="contents">
              <div ng-if="comment.poster &amp;&amp;comment.poster._id !== userId" ng-cloak="ng-cloak" class="name">{{comment.poster.nickname}}</div>
              <div ng-if="comment.poster &amp;&amp; comment.poster._id == userId" ng-cloak="ng-cloak" class="name">我</div>
              <div ng-if="comment.chat_type&gt;1" class="remind_box clearfix"><a ng-href="{{ comment.chat_type===2 ? '#/competition/team/' + comment.opponent_team._id : '#/competition_message/detail/' + comment.competition_message }}" class="no_underline">
                  <div class="remind_box_head"><span>{{comment.chat_type | remindWordsFormat : comment.competition_type}}</span></div>
                  <div class="remind_box_content clearfix">
                    <div class="team_logo"><img ng-src="{{STATIC_URL +comment.opponent_team.logo + '/45/45'}}" class="team_logo"/></div>
                    <div class="text">
                      <div class="tname">{{comment.opponent_team.name}}</div>
                      <div class="cname">{{comment.opponent_team.cname}}</div>
                    </div>
                  </div></a></div>
              <div ng-if="comment.chat_type===1" class="content">
                <div ng-bind-html="comment.content | emoji | unsafe" class="triangle_isosceles"></div>
              </div>
            </div>
          </div>
          <div ng-if="comment.failed" ng-cloak="ng-cloak" class="failed">
            <div class="tip"><i class="icon ion-alert-circled"></i><span>发送失败</span></div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="comment_box">
    <publish-box is-show-emotions="isShowEmotions" is-writing="isWriting" content="content" publish="publish()" show-upload-action-sheet="showUploadActionSheet()"></publish-box>
  </ion-footer-bar>
  <script id="confirm-upload-modal.html" type="text/ng-template">
    <ion-modal-view>
      <ion-header-bar>
        <button ng-click="cancelUpload()" class="button">取消</button>
        <h1 class="title">预览</h1>
        <button ng-click="confirmUpload()" class="button">确定</button>
      </ion-header-bar>
      <ion-content>
        <div class="card">
          <div class="item item-image"><img ng-src="{{previewImg}}"/></div>
        </div>
      </ion-content>
    </ion-modal-view>
  </script>
  <div tabindex="-1" role="dialog" aria-hidden="true" id="{{pswpId}}" pswp-photo-album="pswpPhotoAlbum" class="pswp">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button title="关闭" class="pswp__button pswp__button--close"></button>
          <button title="放大/缩小" class="pswp__button pswp__button--zoom"></button>
          <button ng-if="pswpPhotoAlbum" ng-click="pswpPhotoAlbum.goToAlbum()" title="查看相册" class="pswp__button dl_button_to_album"><i class="icon ion-image"></i></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <button title="上一张" class="pswp__button pswp__button--arrow--left"></button>
        <button title="下一张" class="pswp__button pswp__button--arrow--right"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
</ion-view>