
<ion-view ng-controller="DiscussListController" class="discuss_list">
  <ion-header-bar><a href="#/calendar/discuss_list" class="button">
      <svg class="svg_icon svg_nav_icon">
        <use xlink:href="#richeng"></use>
      </svg></a>
    <h1 class="title">讨论列表</h1>
  </ion-header-bar>
  <ion-content>
    <ion-refresher on-refresh="refresh()" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中..."></ion-refresher>
    <ul ng-if="chatrooms" class="list">
      <div ng-repeat="chatroom in chatrooms track by $index" ng-click="goDetail(chatroom, $index)" ng-cloak="ng-cloak" class="custom_items"><a class="item item-avatar_custom"><img ng-if="chatroom.logo" img-cache="img-cache" ic-src="{{STATIC_URL + chatroom.logo + '/45/45'}}"/>
          <div ng-if="chatroom.unreadMessagesCount" class="red_spot"></div>
          <h2 ng-bind="chatroom.name"></h2>
          <p ng-if="chatroom.latestMessage" ng-cloak="ng-cloak" class="chat_pre"><span ng-show="chatroom.unreadMessagesCount">[{{chatroom.unreadMessagesCount}}条新消息]</span><span ng-cloak="ng-cloak" ng-if="chatroom.latestMessage.poster">{{chatroom.latestMessage.poster.nickname}}:</span><span ng-cloak="ng-cloak" ng-if="!chatroom.latestMessage.type || chatroom.latestMessage.type==='TXT'" ng-bind-html=" chatroom.latestMessage.body.text | emoji | unsafe"></span><span ng-cloak="ng-cloak" ng-if="chatroom.latestMessage.type==='IMAGE'">{{'[图片]'}}</span><span ng-cloak="ng-cloak" ng-if="chatroom.latestMessage.type==='VOICE'">{{'[语音]'}}</span><span class="time">{{chatroom.latestMessage.msgTime | date: 'M月dd日 HH:mm'}}</span>
          </p></a>
        <div ng-class="{non_last_custom_border: $index!==chatrooms.length - 1}" class="custom_border"></div>
      </div>
    </ul>
    <div ng-cloak="ng-cloak" ng-if="loadFinished &amp;&amp; !chatrooms.length" class="no_campaign"><a href="#/company/teams/official" class="no_campaign_tip no_underline">
        <p>没有参加小队?</p>
        <p>参加小队后一起讨论吧！</p>
        <p class="button_container"><span class="team_link">全部小队</span>
        </p></a></div>
  </ion-content>
</ion-view>