
<ion-view ng-controller="DiscoverController" class="discover">
  <ion-header-bar>
    <h1 class="title">发现</h1>
  </ion-header-bar>
  <ion-content>
    <ion-refresher on-refresh="getMyTeams(true)" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中..."></ion-refresher>
    <div class="list"><a href="#/discover/search_opponent" class="item item-icon-right">
        <svg class="svg_icon svg_item_icon">
          <use xlink:href="#zhaoduishou"></use>
        </svg>找对手<i class="icon ion-chevron-right"></i></a><a href="#/competition_message/list" class="item item-icon-right">
        <svg class="svg_icon svg_item_icon">
          <use xlink:href="#tiaozhanrizhi"></use>
        </svg>挑战日志<span ng-if="hasNewDiscover" class="badge_dot"></span><i class="icon ion-chevron-right"></i></a>
    </div>
    <div bindonce="teams" class="rank_panel">
      <div class="item rank"><span class="rank_title">排行榜</span><a href="#/rank/select" class="button rank_button no_underline">查看全部类型</a></div>
      <div ng-if="teams.length&gt;0" class="team_select">
        <div class="team_container">
          <div ng-click="changeSelectTeam(-1)" ng-if="nowTeamIndex&gt;0" class="team last_team"><i class="icon ion-ios7-arrow-back"></i><img bo-src="STATIC_URL + teams[nowTeamIndex-1].logo+'/45/45'" class="team_logo"/>
            <div bo-text="teams[nowTeamIndex-1].name" class="team_name"></div>
          </div>
        </div>
        <div class="team_container">
          <div class="team selected_team"><img bo-src="STATIC_URL + teams[nowTeamIndex].logo+'/45/45'" class="team_logo"/>
            <div bo-text="teams[nowTeamIndex].name" class="team_name"></div>
          </div>
        </div>
        <div class="team_container">
          <div ng-click="changeSelectTeam(1)" ng-if="nowTeamIndex&lt;teams.length-1" class="team next_team"><img bo-src="STATIC_URL + teams[nowTeamIndex+1].logo+'/45/45'" class="team_logo"/>
            <div class="team_name">{{teams[nowTeamIndex+1].name}}</div><i class="icon ion-ios7-arrow-forward"></i>
          </div>
        </div>
      </div>
      <div ng-if="teams.length" ng-cloak="ng-cloak" class="list rank_table"><a ng-href="#/competition/team/{{rankTeam._id}}/{{teams[nowTeamIndex]._id}}" ng-class="{single_line:$index%2===0}" ng-repeat="rankTeam in selectTeam.rankTeams" ng-if="rankTeam.score_rank.rank" class="item rank_line clearfix">
          <div bo-text="rankTeam.score_rank.rank" class="rank_col"></div>
          <div class="logo_col"><img bo-src="STATIC_URL + rankTeam.logo+'/45/45'" class="team_logo"/></div>
          <div class="name_col">
            <p bo-text="rankTeam.name" class="team_name"></p>
            <p bo-text="rankTeam.cname" class="team_cname"></p>
          </div>
          <div bo-text="rankTeam.score_rank.score || 0" class="score_col"></div></a></div><a ng-if="!teams.length" href="#/company/teams/official" ng-cloak="ng-cloak" class="dl_bottom_operator"><span>请加入小队后查看小队排行榜</span></a>
    </div>
  </ion-content>
</ion-view>