
<ion-view>
  <ion-header-bar><a href="#/discuss/list" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">下午一起吃马卡龙</h1>
    <button class="button icon ion-ionic"></button>
  </ion-header-bar>
  <ion-content>
    <div>
      <h4>活动公告</h4>
      <p>赵本山：大家都要什么口味的？在讨论里留言哦~~~~~~~~</p>
    </div>
    <div>
      <label>12月01日 12:21</label>
      <div class="comment">
        <div class="content"><img src="http://placehold.it/200x150"/></div>
        <div class="author">
          <div src="http://placehold.it/90x90" class="logo"></div>
          <div class="name">我</div>
        </div>
      </div>
      <label>12月01日 13:01</label>
      <div class="comment">
        <div class="content">
          <p>哈哈哈哈！</p>
        </div>
        <div class="author">
          <div src="http://placehold.it/90x90" class="logo"></div>
          <div class="name">我</div>
        </div>
      </div>
      <div class="comment">
        <div class="content">
          <p>我们队快赢了吧！</p>
        </div>
        <div class="author">
          <div src="http://placehold.it/90x90" class="logo"></div>
          <div class="name">老张</div>
        </div>
      </div>
    </div>
  </ion-content>
  <div ng-controller="TabController" class="tabs tabs-icon-top"><a href="#/campaigns" class="tab-item"><i class="icon ion-home"></i>活动</a><a href="#/discuss/list" class="tab-item"><i class="icon ion-home"></i>讨论{{hasNew}}</a><a href="#/discover" class="tab-item"><i class="icon ion-home"></i>发现</a><a href="#/personal" class="tab-item"><i class="icon ion-home"></i>我的</a></div>
</ion-view>