
<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button ui-sref="todos" class="button">Back</button>
    <h1 class="title">Edit Todo</h1>
  </div>
</ion-header-bar>
<ion-content>
  <div>
    <ion-list>
      <li class="item item-input item-stacked-label">
        <textarea type="text" name="content" rows="10" ng-model="todo.content" required="required"></textarea>
      </li>
      <ion-button ng-click="edit()" class="button button-block button-positive">Update</ion-button>
    </ion-list>
  </div>
</ion-content>