
<ion-view class="edit_info">
  <ion-header-bar><a ng-if="!editing" ng-href="#/hr/home" ng-cloak="ng-cloak" class="button icon ion-chevron-left">&nbsp;返回</a>
    <button ng-if="editing" ng-click="cancelEditing()" ng-cloak="ng-cloak" class="button">取消</button>
    <h1 class="title">编辑公司信息</h1>
    <button ng-if="editing" ng-click="edit()" ng-disabled="editForm.$invalid" ng-cloak="ng-cloak" class="button">确定</button>
  </ion-header-bar>
  <ion-content>
    <form name="editForm" class="list">
      <div ng-click="showUploadActionSheet()" class="item item-thumbnail-right item-icon-right"><img ng-src="{{STATIC_URL + company.logo}}/160/160"/>
        <h2>公司logo</h2><i class="icon ion-chevron-right"></i>
      </div>
      <div class="item item-input"><span class="input-label">公司名称</span>
        <input type="text" name="nickname" maxlength="20" ng-model="company.name" required="required" readonly="readonly"/>
      </div>
      <div class="item item-input"><span class="input-label">简介</span>
        <textarea name="intro" ng-change="change()" maxlength="140" ng-model="formData.intro" ng-focus="toEditing()" class="introduce"></textarea>
      </div>
      <div ng-click="showUploadActionSheetForCompanyCover()" class="item item-thumbnail-right item-icon-right"><img ng-src="{{STATIC_URL + company.cover}}/160/160"/>
        <h2>公司封面</h2><i class="icon ion-chevron-right"></i>
      </div>
    </form>
  </ion-content>
</ion-view>