
<ion-view class="hr_company_page">
  <ion-header-bar>
    <h1 class="title">{{company.name}}</h1>
  </ion-header-bar>
  <ion-content scroll="false">
    <div ng-style="familyMinHeight" class="company_header"><img ng-src="{{STATIC_URL + company.cover}}/640/380" class="company_cover"/></div>
    <div class="company_info">
      <div class="info_header clearfix"><img ng-src="{{STATIC_URL + company.logo}}/80/80" class="logo"/>
        <div class="info_content">
          <div class="company_name">{{company.name}}</div>
          <div class="company_brief"> <span class="title">简介:</span><span class="content">{{company.intro || '无'}}</span></div>
        </div>
      </div><a href="#/hr/company_edit" class="item item-icon-right">公司资料<i class="icon ion-chevron-right"></i></a><a href="#/hr/colleague_list" class="item item-icon-right">成员<span class="company_member_num">{{company.memberNumber}}</span><i class="icon ion-chevron-right"></i></a><a href="#/hr/active_code" class="item item-icon-right">邀请新成员<i class="icon ion-chevron-right"></i></a><a href="#/hr/team_page" class="item item-icon-right">小队<span class="company_team_num">{{company.teamNumber}}</span><i class="icon ion-chevron-right"></i></a>
    </div>
  </ion-content>
  <ion-footer-bar>
    <button ng-click="logout()" class="button button-full hr_logout">退出登录</button>
  </ion-footer-bar>
</ion-view>