
<ion-view class="company">
  <ion-header-bar>
    <h1 ng-bind="company.name" class="title"></h1>
  </ion-header-bar>
  <ion-content>
    <div class="list"><a href="#/hr/active_code" class="item item-icon-right">员工验证码<i class="icon ion-chevron-right"></i></a><a href="#/hr/team_page" class="item item-icon-right">公司小队<i class="icon ion-chevron-right"></i></a><a href="#/hr/company_detail" class="item item-icon-right">公司资料<i class="icon ion-chevron-right"></i></a></div>
    <button ng-click="logout()" class="button button-block button-light quit_button">退出登录</button>
  </ion-content>
</ion-view>