
<ion-view class="hr_team_page">
  <ion-header-bar><a href="#/hr/home" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">公司小队</h1>
  </ion-header-bar>
  <ion-content><a href="#/hr/create_team" class="item item-icon-right item-label">新建小队<i class="icon ion-chevron-right"></i></a><a class="item item-label">所有小队</a>
    <ul class="list"><a ng-repeat="team in teams" ng-click="editTeam(team)" class="item item-avatar-custom item-icon-right"><img ng-src="{{STATIC_URL + team.logo + '/45/45'}}"/>
        <h2 class="team-name">{{team.name}}</h2>
        <p class="team-status">状态: {{team.active? '正常':'关闭'}} </p>
        <p>类型: {{team.groupType}}</p>
        <div class="team-member">
          <p class="team-leader">队长: {{team.leader.length? team.leader[0].nickname:'暂无'}} </p><i class="team-member-num">成员: {{team.memberCount}}</i>
        </div></a></ul>
  </ion-content>
</ion-view>