
<ion-view>
  <ion-header-bar><a ng-click="goBack()" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">成员</h1>
  </ion-header-bar>
  <ion-content class="member_page">
    <div ng-repeat="memberContent in memberContents" class="member_group">
      <p class="member_group_name">{{memberContent.name}}</p>
      <div ng-if="!memberContent.isOtherCompany" ng-cloak="ng-cloak" class="clearfix"><a ng-repeat="member in memberContent.members" ng-href="#/user/{{member._id}}" class="member"><img ng-src="{{STATIC_URL + member.photo}}/55/55" class="member_photo"/><span ng-if="member.isLeader" ng-cloak="ng-cloak" class="dl_member_leader"></span>
          <p class="member_name">{{member.nickname}}</p></a></div>
      <div ng-if="memberContent.isOtherCompany" ng-cloak="ng-cloak" class="clearfix">
        <div ng-repeat="member in memberContent.members" class="member"><img ng-src="{{STATIC_URL + member.photo}}/55/55" class="member_photo"/><span ng-if="member.isLeader" ng-cloak="ng-cloak" class="dl_member_leader"></span>
          <p class="member_name">{{member.nickname}}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>