
<div bindonce="campaign" ng-class="{'remove':campaign.remove}" class="card dl_campaign_card campaign_card_container"><a bo-href="'#/campaign/detail/'+campaign._id" class="campaign_card clearfix">
    <div class="dl_card_header clearfix">
      <div class="dl_card_header_info clearfix">
        <h2 bo-text="campaign.theme" class="dl_cp_name"></h2>
      </div>
      <div ng-if="!campaign.is_end" class="dl_card_time">
        <div class="dl_cp_time_countdown clearfix"><span ng-bind="campaign.remind_text" class="dl_cp_time_text"></span><span ng-bind="campaign.time_text" class="dl_cp_time_count"></span></div>
      </div>
    </div>
    <div class="dl_card_content clearfix">
      <div class="dl_cp_logos logos_{{campaign.campaign_unit.length}}"><img ng-repeat="campaign_unit in campaign.campaign_unit" bo-src="STATIC_URL + (campaign_unit.team.logo || campaign_unit.company.logo)+'/60/60'" class="dl_team_logo"/>
        <div bo-if="campaign.campaign_type===4 || campaign.campaign_type===5" class="provoke_label"><span>挑战</span></div>
        <div bo-if="campaign.campaign_type===7" class="fellowship_label"><span>联谊 </span></div>
      </div>
      <div class="dl_cp_texts">
        <p class="dl_cp_time">
          <svg class="svg_icon cp_info_icon">
            <use xlink:href="#time"></use>
          </svg><span bo-text="campaign.start_time | date:'yyyy-MM-dd HH:mm'" class="dl_cp_text"></span>
        </p>
        <p class="dl_cp_address">
          <svg class="svg_icon cp_info_icon">
            <use xlink:href="#location"></use>
          </svg><span bo-text="campaign.location.name" class="dl_cp_text"></span>
        </p>
        <p class="dl_cp_member">
          <svg class="svg_icon cp_info_icon">
            <use xlink:href="#renshu"></use>
          </svg><span ng-bind="campaign.members_count || '0'" class="dl_cp_text number"></span><span bo-show="campaign.member_max" class="dl_cp_text">&nbsp;|&nbsp;</span><span bo-if="campaign.member_max" bo-text="campaign.member_max" class="dl_cp_text number"></span>
        </p>
      </div>
    </div>
    <div ng-if="campaign.confirm_status===true" class="dl_card_footer clearfix">
      <div bo-if="campaign.campaign_unit.length === 1" bo-text="campaign.campaign_unit[0].team.name" class="dl_team_name"></div>
      <div bo-if="campaign.campaign_unit.length === 2" bo-text="campaign.campaign_unit[0].team.name+'vs'+campaign.campaign_unit[1].team.name" class="dl_team_name"></div>
      <div class="dl_campaign_comment clearfix">
        <svg class="svg_icon cp_footer_icon comment_icon">
          <use xlink:href="#pinglun"></use>
        </svg><span bo-text="campaign.comment_sum" class="dl_card_footer_count"></span>
      </div>
      <div class="dl_campaign_circle clearfix">
        <svg class="svg_icon cp_footer_icon">
          <use xlink:href="#album"></use>
        </svg><span bo-text="campaign.circle_content_sum" class="dl_card_footer_count"></span>
      </div>
      <div bo-text="(campaign.create_time | beforeNow) +'发布'" class="dl_cp_time clearfix"></div>
    </div></a></div>
<div ng-if="!isLast" class="dl_divider"></div>