
<div ng-class="{'remove':campaign.remove}" ng-cloak="ng-cloak" class="card dl_campaign_card campaign_card_container"><a ng-href="#/campaign/detail/{{campaign._id}}" class="campaign_card clearfix">
    <div class="dl_card_header clearfix">
      <div class="dl_card_header_info clearfix">
        <h2 ng-cloak="ng-cloak" class="dl_cp_name">{{campaign.theme}}</h2>
      </div>
      <div ng-if="!campaign.is_end" class="dl_card_time">
        <div class="dl_cp_time_countdown clearfix"><span ng-cloak="ng-cloak" class="dl_cp_time_text">{{campaign.is_start ? '距离结束':'距离开始'}}</span><span ng-cloak="ng-cloak" class="dl_cp_time_count">{{campaign.time_text}}</span></div>
      </div>
    </div>
    <div class="dl_card_content clearfix">
      <div class="dl_cp_logos logos_{{campaign.campaign_unit.length}}"><img ng-repeat="campaign_unit in campaign.campaign_unit" ng-src="{{STATIC_URL + (campaign_unit.team.logo || campaign_unit.company.logo)}}/60/60" ng-cloak="ng-cloak" class="dl_team_logo"/>
        <div ng-if="campaign.campaign_type===4 || campaign.campaign_type===5" class="provoke_label"><span>挑战</span></div>
        <div ng-if="campaign.campaign_type===7" class="fellowship_label"><span>联谊 </span></div>
      </div>
      <div class="dl_cp_texts">
        <p class="dl_cp_time">
          <svg class="svg_icon cp_info_icon">
            <use xlink:href="#time"></use>
          </svg><span ng-cloak="ng-cloak" class="dl_cp_text">{{campaign.start_time | date:"yyyy-MM-dd HH:mm"}}</span>
        </p>
        <p class="dl_cp_address">
          <svg class="svg_icon cp_info_icon">
            <use xlink:href="#location"></use>
          </svg><span ng-cloak="ng-cloak" class="dl_cp_text">{{campaign.location.name}}</span>
        </p>
        <p class="dl_cp_member">
          <svg class="svg_icon cp_info_icon">
            <use xlink:href="#renshu"></use>
          </svg><span ng-cloak="ng-cloak" class="dl_cp_text number">{{campaign.members_count || '0'}} </span><span ng-show="campaign.member_max" class="dl_cp_text">&nbsp;|&nbsp;</span><span ng-if="campaign.member_max" ng-cloak="ng-cloak" class="dl_cp_text number">{{campaign.member_max}}</span>
        </p>
      </div>
    </div>
    <div ng-if="campaign.confirm_status===true" ng-cloak="ng-cloak" class="dl_card_footer clearfix">
      <div ng-if="campaign.campaign_unit.length === 1" ng-cloak="ng-cloak" class="dl_team_name">{{campaign.campaign_unit[0].team.name}}</div>
      <div ng-if="campaign.campaign_unit.length === 2" ng-cloak="ng-cloak" class="dl_team_name">
        {{campaign.campaign_unit[0].team.name}}
        vs
        {{campaign.campaign_unit[1].team.name}}
      </div>
      <div class="dl_campaign_comment clearfix">
        <svg class="svg_icon cp_footer_icon comment_icon">
          <use xlink:href="#pinglun"></use>
        </svg><span ng-cloak="ng-cloak" class="dl_card_footer_count">{{campaign.comment_sum}}</span>
      </div>
      <div class="dl_campaign_circle clearfix">
        <svg class="svg_icon cp_footer_icon">
          <use xlink:href="#album"></use>
        </svg><span ng-cloak="ng-cloak" class="dl_card_footer_count">{{campaign.circle_content_sum}}</span>
      </div>
      <div ng-cloak="ng-cloak" class="dl_cp_time clearfix">{{campaign.create_time | beforeNow}}发布</div>
    </div></a></div>
<div ng-if="!isLast" class="dl_divider"></div>