
<ion-view class="edit_info">
  <ion-header-bar><a href="#/app/personal" class="button icon ion-chevron-left">&nbsp;我的</a>
    <h1 class="title">编辑个人信息</h1>
  </ion-header-bar>
  <ion-content>
    <form name="editForm" class="list">
      <div ng-click="showUploadActionSheet()" class="item item-thumbnail-right"><img ng-src="{{STATIC_URL + user.photo}}/160/160"/>
        <h2>头像</h2>
      </div>
      <div class="item item-input item-icon-right"><span class="input-label">昵称</span>
        <input type="text" name="nickname" ng-change="change()" ng-model="formData.nickname" required="required"/><i class="icon ion-compose"></i>
      </div>
      <div class="item item-input item-icon-right"><span class="input-label">真实姓名</span>
        <input type="text" name="realname" ng-change="change()" ng-model="formData.realname"/><i class="icon ion-compose"></i>
      </div>
      <div class="item item-input item-icon-right"><span class="input-label">手机</span>
        <input type="text" name="phone" ng-change="change()" ng-model="formData.phone"/><i class="icon ion-compose"></i>
      </div>
      <div class="item item-input"><span class="input-label">生日</span>
        <input id="birthday" type="date" name="birthday" ng-change="change()" ng-model="formData.birthday"/>
      </div>
      <div class="item item-input item-icon-right"><span class="input-label">简介</span>
        <input type="text" name="introduce" ng-change="change()" ng-model="formData.introduce"/><i class="icon ion-compose"></i>
      </div>
      <div class="padding">
        <button ng-disabled="unchanged || editForm.$invalid" ng-click="edit()" class="button button-block button-positive">确定</button>
      </div>
    </form>
  </ion-content>
</ion-view>