
<ion-view class="personal_invite_code_page">
  <ion-header-bar><a href="#/app/personal" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">二维码</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item item-text-wrap description_item">动梨是一个要求严格身份验证的社区，您的同事可以扫描您的二维码名片，使用与您相同后缀的的企业邮箱完成注册。</div>
    </div>
    <div class="list">
      <div class="item">扫一扫直接注册</div>
      <div class="item">
        <div id="inviteKeyQrCode" class="invite_key_qr_code"></div>
      </div>
    </div>
  </ion-content>
</ion-view>