
<ion-view>
  <ion-header-bar><a href="#/app/personal" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">激活码</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card list invite_key">
      <div class="item item-text-wrap">动梨活动助理是一个需要严格的身份验证的应用，您有两种方法来邀请您的同事进行注册：</div>
    </div>
    <div class="card list invite_key">
      <div class="item item-text-wrap">1、分享该激活码给同事，在app或者网站上进行注册</div>
      <div ng-cloak="ng-cloak" class="item item-icon-right">{{inviteKey}}<i ng-click="copy()" class="icon ion-clipboard"></i></div>
    </div>
    <div class="card list invite_key">
      <div class="item item-text-wrap">2、扫一扫无需输入激活码直接注册</div>
      <div class="item">
        <div id="inviteKeyQrCode"></div>
      </div>
    </div>
  </ion-content>
</ion-view>