
<ion-view>
  <ion-header-bar>
    <h1 class="title">我的</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar"><img src="http://placehold.it/45x45"/>
        <h2>Echo</h2>
        <p>公司：动梨信息技术有限公司</p>
        <p>部门：设计部</p>
        <p>手机：13612345678</p>
        <p>邮箱：echo@donler.com</p>
      </div>
    </div>
    <div class="list"><a href="#/personal/teams" class="item item-icon-left item-icon-right"><i class="icon ion-mic-a"></i>我的小队<i class="icon ion-chevron-right"></i></a><a href="#/personal/timeline" class="item item-icon-left item-icon-right"><i class="icon ion-mic-a"></i>我的足迹<i class="icon ion-chevron-right"></i></a><a href="#/personal/messages" class="item item-icon-left item-icon-right"><i class="icon ion-mic-a"></i>我的站内信<i class="icon ion-chevron-right"></i></a><a href="#" class="item item-icon-left item-icon-right"><i class="icon ion-mic-a"></i>我的日程<i class="icon ion-chevron-right"></i></a><a href="#/personal/settings" class="item item-icon-left item-icon-right"><i class="icon ion-mic-a"></i>设置<i class="icon ion-chevron-right"></i></a></div>
  </ion-content>
  <ion-footer-bar>
    <div ng-controller="TabController" class="tabs tabs-icon-top"><a href="#/campaigns" class="tab-item"><i class="icon ion-home"></i>活动</a><a href="#/discuss/list" ng-click="readComments()" class="tab-item">
        <div ng-show="hasNewComment" class="red_spot"></div><i class="icon ion-home"></i>讨论</a><a href="#/discover" class="tab-item"><i class="icon ion-home"></i>发现</a><a href="#/personal" class="tab-item"><i class="icon ion-home"></i>我的</a></div>
  </ion-footer-bar>
</ion-view>