
<ion-view ng-controller="PersonalController" class="personal">
  <ion-header-bar>
    <h1 class="title">我的</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list user_info"><a href="#/personal/edit" ng-cloak="ng-cloak" class="item item-avatar item-icon-right item_user"><img ng-if="user" ng-src="{{STATIC_URL + user.photo}}/90/90" prevent-default="prevent-default" photo="user.photo" pswp-id="pswpId" open-photo="open-photo" class="avatar_photo"/>
        <h2 class="nickname">{{user.nickname}}</h2>
        <p>公司：{{user.company.name}}</p>
        <p ng-if="user.department" ng-cloak="ng-cloak">部门：{{user.department.name}}</p>
        <p ng-if="!user.department" ng-cloak="ng-cloak">部门：无</p>
        <p ng-cloak="ng-cloak">手机：{{user.phone || '-'}}</p>
        <p ng-cloak="ng-cloak">邮箱：{{user.email}}</p><i class="icon ion-chevron-right icon_right"></i></a>
      <div ng-cloak="ng-cloak" class="item statistics">
        <div class="row"><a href="#/personal/teams/" class="col col-33">
            <p class="number">{{user.tids.length}}</p>
            <p class="key">小队</p></a><a href="#/campaign/all/user/{{user._id}}" class="col col-33">
            <p class="number">{{user.campaignCount}}</p>
            <p class="key">活动</p></a>
          <div class="col col-33">
            <p class="number">{{user.score}}</p>
            <p class="key">活跃度</p>
          </div>
        </div>
      </div>
    </div>
    <div class="list menu_list"><a href="#/personal/invitecode" class="item item-icon-right">
        <svg class="svg_icon svg_item_icon">
          <use xlink:href="#erweima"></use>
        </svg>二维码<i class="icon ion-chevron-right icon_right"></i></a><a ng-href="#/circle/circle_user/{{user._id}}" class="item item-icon-right">
        <svg class="svg_icon svg_item_icon">
          <use xlink:href="#picture"></use>
        </svg>我的相册<i class="icon ion-chevron-right icon_right"></i></a><a ng-href="#/campaign/all/user/{{user._id}}" class="item item-icon-right">
        <svg class="svg_icon svg_item_icon">
          <use xlink:href="#zuji"></use>
        </svg>我的足迹<i class="icon ion-chevron-right icon_right"></i></a><a href="#/calendar/personal" class="item item-icon-right">
        <svg class="svg_icon svg_item_icon">
          <use xlink:href="#richeng"></use>
        </svg>我的日程<i class="icon ion-chevron-right icon_right"></i></a>
    </div>
    <div class="list menu_list"><a href="#/settings" class="item item-icon-right">
        <svg class="svg_icon svg_item_icon">
          <use xlink:href="#setting"></use>
        </svg>设置<i class="icon ion-chevron-right icon_right"></i></a></div>
  </ion-content>
  <div tabindex="-1" role="dialog" aria-hidden="true" id="{{pswpId}}" class="pswp">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button title="关闭" class="pswp__button pswp__button--close"></button>
          <button title="放大/缩小" class="pswp__button pswp__button--zoom"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
</ion-view>