
<ion-view>
  <ion-header-bar><a ng-href="#/team/{{teamId}}" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">小队影集</h1>
  </ion-header-bar>
  <ion-content><a href="#/team/{{teamId}}/family" class="dl_photo_album_card">
      <div class="card_header clearfix">
        <p class="header_title">全家福&nbsp;({{familyPhotoLength}})</p>
      </div>
      <div class="clearfix"><img ng-repeat="photo in familyPhotos" ng-src="{{STATIC_URL + photo.uri}}/65/65" class="photo"/></div></a><a ng-repeat="photoAlbum in photoAlbums" ng-href="#/photo_album/{{photoAlbum._id}}/detail" class="dl_photo_album_card">
      <div class="card_header clearfix">
        <p class="header_title">{{photoAlbum.name}}&nbsp;({{photoAlbum.photoCount}})</p>
      </div>
      <div class="clearfix"><img ng-repeat="photo in photoAlbum.latestPhotos" ng-src="{{STATIC_URL + photo.uri}}/65/65" class="photo"/></div></a>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="moreDataCanBeLoaded()"></ion-infinite-scroll>
  </ion-content>
</ion-view>