
<ion-view>
  <ion-header-bar><a href="#/photo_album/list" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">一起吃马卡龙</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <p>今天</p><a href="#/photo_album/photo"><img src="http://placehold.it/60x60"/></a>
    </div>
    <div class="card">
      <p>昨天</p><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/>
    </div>
    <div class="card">
      <p>前天</p><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/>
    </div>
    <div class="card">
      <p>2014年11月18日</p><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/><img src="http://placehold.it/60x60"/>
    </div>
  </ion-content>
</ion-view>