
<ion-view>
  <ion-header-bar><a ng-href="#/team/{{teamId}}" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">小队影集({{photoAlbums.length}})</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <p>全家福(1)</p><a href="#/photo_album/detail"><img src="http://placehold.it/60x60"/></a>
    </div>
    <div ng-repeat="photoAlbum in photoAlbums" class="card">
      <p>{{photoAlbum.name}}({{photoAlbum.photoCount}})</p><img ng-repeat="photo in photoAlbum.latestPhotos" ng-src="{{STATIC_URL + photo.uri}}/60/60"/>
    </div>
  </ion-content>
</ion-view>