
<ion-view>
  <ion-header-bar><a href="{{backHref}}" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">隐私政策/法律声明</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list privacy">
      <div class="card">
        <div class="item item-text-wrap">
          <h2> 隐私政策</h2>
          <p>　　动梨尊重并保护所有使用Donler服务用户的个人隐私权。为了给您提供更准确、更有个性化的服务，动梨会按照本隐私权政策的规定使用和披露您的个人信息。但动梨将以高度的勤勉、审慎义务对待这些信息。除本隐私权政策另有规定外，在未征得您事先许可的情况下，动梨不会将这些信息对外披露或向第三方提供。 动梨会不时更新本隐私权政策。您在同意动梨服务协议之时，即视为您已经同意本隐私权政策全部内容。本隐私权政策属于动梨服务协议不可分割的一部分。</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <h3>1.适用范围</h3>
          <p>　a) 在您注册动梨账户时，您根据动梨要求提供的个人以及组织注册信息；</p>
          <p>　b) 在您使用Donler服务，或访问Donler网页时，动梨自动接收并记录的您的浏览器和计算机上的信息，包括但不限于您的IP地址、浏览器的类型、使用的语言、访问日期和时间、软硬件特征信息及您需求的网页记录等数据；</p>
          <p> 您了解并同意，以下信息不适用本隐私权政策：</p>
          <p>　a) 您在使用Donler提供的BBS服务时所发布的信息；</p>
          <p>　b) 您在使用Donler提供的服务时，对外公布的信息；</p>
          <p>　c) 信用评价、违反法律规定或违反动梨规则行为及动梨已对您采取的措施。</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <h3> 2. 信息使用</h3>
          <p>　a) 动梨不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可，或该第三方和动梨（含动梨关联公司）单独或共同为您提供服务，且在该服务结束后，其将被禁止访问包括其以前能够访问的所有这些资料。</p>
          <p>　b) 动梨亦不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息。任何Donler用户如从事上述活动，一经发现，动梨有权立即终止与该用户的服务协议。</p>
          <p>　c) 为服务用户的目的，动梨可能通过使用您的个人信息，向您提供您感兴趣的信息，包括但不限于向您发出产品和服务信息，或者与动梨合作伙伴共享信息以便他们向您发送有关其产品和服务的信息（后者需要您的事先同意）。</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <h3> 3. 信息披露</h3>
          <p> 在如下情况下，动梨将依据您的个人意愿或法律的规定全部或部分的披露您的个人信息：</p>
          <p>　a) 经您事先同意，向第三方披露；</p>
          <p>　b) 如您是适格的知识产权投诉人并已提起投诉，应被投诉人要求，向被投诉人披露，以便双方处理可能的权利纠纷；</p>
          <p>　c) 根据法律的有关规定，或者行政或司法机构的要求，向第三方或者行政、司法机构披露；</p>
          <p>　d) 如您出现违反中国有关法律、法规或者动梨服务协议或相关规则的情况，需要向第三方披露；</p>
          <p>　e) 为提供您所要求的产品和服务，而必须和第三方分享您的个人信息；</p>
          <p>　f) 在Donler上创建的某一交易中，如交易任何一方履行或部分履行了交易义务并提出信息披露请求的，动梨有权决定向该用户提供其交易对方的联络方式等必要信息，以促成交易的完成或纠纷的解决。</p>
          <p>　g) 其它动梨根据法律、法规或者网站政策认为合适的披露。</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <h3> 4. 信息存储和交换</h3>
          <p> 动梨收集的有关您的信息和资料将保存在动梨及（或）其关联公司的服务器上，这些信息和资料可能传送至您所在国家、地区或动梨收集信息和资料所在地的境外并在境外被访问、存储和展示。</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <h3> 5. Cookie的使用</h3>
          <p>　a) 在您未拒绝接受cookies的情况下，动梨会在您的计算机上设定或取用cookies，以便您能登录或使用依赖于cookies的Donler服务或功能。动梨使用cookies可为您提供更加周到的个性化服务，包括推广服务。</p>
          <p>　b) 您有权选择接受或拒绝接受cookies。您可以通过修改浏览器设置的方式拒绝接受cookies。但如果您选择拒绝接受cookies，则您可能无法登录或使用依赖于cookies的Donler服务或功能。</p>
          <p>　c) 通过动梨所设cookies所取得的有关信息，将适用本政策；</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <h3>6. 信息安全</h3>
          <p> a) 动梨有安全保护功能，请妥善保管您的账户及密码信息。动梨将通过向其它服务器备份、对用户密码进行加密等安全措施确保您的信息不丢失，不被滥用和变造。尽管有前述安全措施，但同时也请您注意在信息网络上不存在绝对完善的安全措施。</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <h3>7. 未成年人的特别注意事项</h3>
          <p>　　如果您不是具备完全民事权利能力和完全民事行为能力的自然人，您无权使用Donler服务，因此动梨希望您不要向我们提供任何个人信息。</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <h3>8.修订</h3>
          <p>　　动梨随时会对本隐私权保护声明进行修订，并在网页中显著位置予以发布。</p>
        </div>
      </div>
    </div>
    <div class="list agreement">
      <div class="card">
        <div class="item item-text-wrap">
          <h2>法律声明</h2>
          <p>　　用户应当同意本协议的条款并按照页面上的提示完成全部的注册程序。用户在进行注册程序过程中点击"同意"按钮即表示用户与动梨达成协议，完全接受本协议项下的全部条款。</p>
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <p>　　动梨提醒您：在使用Donler服务前，请您务必阅读并理解本声明，如果您使用Donle服务，您的使用行为将被视为对本声明全部内容的认可。“Donler”指由上海动梨信息技术有限公司（简称“动梨”）运营的网站，域名为donler.com，以及APP软件，名称为Donler。</p>
          <p>　　Donler上关于Donler会员或其发布的相关信息（包括但不限于用户名称、公司名称、 联系人及联络信息，活动信息、场地信息、相关图片、视讯等）的信息均是由会员自行提供，会员依法应对其提供的任何信息承担全部责任。</p>
          <p>　　成为会员后，Donler会员的账号和密码由会员负责保管；会员应当对以其用户账号进行的所有活动和事件负法律责任。</p>
          <p>　　任何单位或个人认为Donler的内容（包括但不限于Donler会员发布的信息）可能涉嫌侵犯其合法权益，应该及时向动梨提出书面权利通知，并提供身份证明、权属证明、具体链接（URL）及详细侵权情况证明，动梨在收到上述法律文件后，将会依法尽快移除相关涉嫌侵权的内容。</p>
          <p>　　Donler转载内容（包括论坛内容）出于传递更多信息之目的，并不意味动梨赞同其观点或证实其内容的真实性。</p>
          <p>　　动梨保留随时修正本服务条款的权利。</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>