
<form name="comment_form">
  <div class="publish_box"><i ng-if="status.isShowImg" ng-click="showUploadActionSheet()" class="icon ion-image"></i>
    <div id="ta" ng-model="content" required="required" mix-maxlength="140" contentEditable="true" ng-focus="hideEmotions();isWriting=false" ng-blur="isWriting=true" class="comment_input"></div>
    <button ng-click="showEmotions()" prevent-default="prevent-default" class="dl_button emotion_button"><i class="emoji emoji_tongue"></i></button>
    <button ng-click="publish();hideEmotions();resizeTextarea(1)" ng-disabled="comment_form.$invalid" class="publish_button">发言</button>
  </div>
  <ion-slide-box ng-if="isShowEmotions" class="emotion_box">
    <ion-slide ng-repeat="emoji in emojiList">
      <div class="box clearfix">
        <div ng-repeat="emotion in emoji" ng-click="addEmotion(emotion)" class="emotion"><i class="emoji {{'emoji_'+emotion}}"></i></div>
      </div>
    </ion-slide>
  </ion-slide-box>
</form>