
<form name="comment_form">
  <div class="publish_box">
    <svg ng-if="status.isShowImg" ng-click="showUploadActionSheet()" class="svg_icon">
      <use xlink:href="#picture"></use>
    </svg>
    <button ng-click="showEmotions()" prevent-default="prevent-default" class="dl_button emotion_button">
      <svg class="svg_icon">
        <use xlink:href="#smile"></use>
      </svg>
    </button>
    <textarea id="ta" rows="1" name="content" ng-model="content" ng-change="change()" mix-max-length="280" ng-trim="false" required="required" ng-focus="hideEmotions();isWriting=false" ng-blur="isWriting=true" class="comment_input"></textarea>
    <button ng-show="comment_form.content.$valid" ng-click="publish();hideEmotions();resizeTextarea(1);clear()" ng-disabled="comment_form.$invalid" class="publish_button">发言</button>
    <button id="recordButton" ng-show="comment_form.content.$invalid" prevent-default="prevent-default" class="dl_button record_button">
      <svg class="svg_icon">
        <use xlink:href="#setting"></use>
      </svg>
    </button>
  </div>
  <ion-slide-box ng-if="isShowEmotions" class="emotion_box">
    <ion-slide ng-repeat="emoji in emojiList">
      <div class="box clearfix">
        <div ng-repeat="emotion in emoji" ng-click="addEmotion(emotion)" class="emotion"><i class="emoji {{'emoji_'+emotion}}"></i></div>
      </div>
    </ion-slide>
  </ion-slide-box>
</form>