
<form name="comment_form"><i ng-click="showUploadActionSheet()" class="icon ion-image"></i>
  <textarea id="ta" rows="1" cols="30" ng-model="content" required="required" maxlength="140" contentEditable="true" ng-focus="hideEmotions();" ng-change="resizeTextarea()" class="comment_input"></textarea>
  <button ng-click="showEmotions()" prevent-default="prevent-default" class="dl_button emotion_button"><i class="emoji emoji_tongue"></i></button>
  <button ng-click="hideEmotions();publish()" ng-disabled="comment_form.$invalid" class="publish_button">发言</button>
  <ion-slide-box ng-if="isShowEmotions" class="emotion_box">
    <ion-slide ng-repeat="emoji in emojiList">
      <div class="box clearfix">
        <div ng-repeat="emotion in emoji" ng-click="addEmotion(emotion)" class="emotion"><i class="emoji {{'emoji_'+emotion}}"></i></div>
      </div>
    </ion-slide>
  </ion-slide-box>
</form>