
<ion-view class="rank_rules">
  <ion-header-bar><a ng-click="goBack()" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">排行规则</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="card">
        <div class="item item-text-wrap">
          <h2>积分、活跃度、排行规则</h2>
        </div>
        <div class="item item-text-wrap">
          <p> 一、积分规则：</p>
          <p>积分由公司间挑战活动产生，活动结束后，双方确认挑战结果，胜方得3分，负方得0分；如果平局双方各得1分。</p>
        </div>
        <div class="item item-text-wrap">
          <p> 二、活跃度规则：</p>
          <p>小队活跃度积分来自三方面：</p>
          <p> 1、小队人数：人数X10</p>
          <p> 2、活动：结束的活动数X10，参加活动人数X1</p>
          <p> 3、挑战及联谊：结束的活动数X20，参加活动人数X2</p>
        </div>
        <div class="item item-text-wrap">
          <p> 三、排行规则：</p>
          <p> 1、排行仅在同类型队伍；</p>
          <p> 2、首先比较积分，积分高的排名靠前；</p>
          <p> 3、积分相同的情况下比较活跃度，活跃度高的排名靠前；</p>
          <p> 4、积分、活动度相同的情况下比较挑战胜率，胜率高的排名靠前；</p>
          <p> 5、如果以上都相同，则名次并列。</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>