
<ion-view>
  <ion-header-bar><a href="#/rank/select" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">排行榜</h1>
  </ion-header-bar>
  <ion-content>
    <ion-refresher on-refresh="getRank(true)" refreshing-icon="ion-looping" pulling-text="下拉刷新" refreshing-text="刷新中..."></ion-refresher>
    <div ng-if="rank.team.length&gt;0" class="rank_table"><a ng-repeat="team in rank.team | orderBy : 'rank'" ng-href="#/competition/team/{{team._id}}" ng-class="team.belong? 'belong': ''" class="row">
        <div ng-class="$index&lt;3 ? 'top': ''" class="col"><span ng-if="$index&lt;3">TOP</span><span>{{team.rank}}</span></div>
        <div class="col"><img ng-src="{{STATIC_URL + team.logo}}/40/40" class="team_logo"/></div>
        <div class="col col-50">
          <p>{{team.name}}</p>
          <p>{{team.cname}}</p>
          <p><span>{{team.member_num}} 人</span><span>胜率{{team.win}} : {{team.tie}} : {{team.lose}}</span></p>
        </div>
        <div class="col">{{team.score || 0}}分</div></a></div>
    <div ng-if="!rank || rank.team.length==0" class="rank_table">
      <div class="row">
        <div class="col no_rank_table">目前没有该类型的小队排行</div>
      </div>
    </div>
    <div ng-if="noRankTeams.length&gt;0" class="rank_table">
      <div class="row">
        <div class="col">我的小队</div>
      </div><a ng-repeat="team in noRankTeams | orderBy : 'rank'" ng-href="#/competition/team/{{team._id}}" ng-if="team.rank" class="row team">
        <div class="col"><span>{{team.rank}}</span></div>
        <div class="col"><img ng-src="{{STATIC_URL + team.logo}}/40/40" class="team_logo"/></div>
        <div class="col col-50">
          <p>{{team.name}}</p>
          <p>{{team.cname}}</p>
          <p><span>{{team.member_num}} 人</span><span>胜率{{team.win}} : {{team.tie}} : {{team.lose}}</span></p>
        </div>
        <div class="col">{{team.score || 0}}分</div></a>
    </div>
  </ion-content>
</ion-view>