
<ion-view>
  <ion-header-bar><a href="#/rank/select" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">排行榜</h1>
  </ion-header-bar>
  <ion-content>
    <div class="rank_table">
      <div ng-repeat="team in rank.team | orderBy : 'rank'" ng-class="team.belong? 'belong': ''" class="row">
        <div ng-class="$index&lt;3 ? 'top': ''" class="col"><span ng-if="$index&lt;3">TOP</span><span>{{team.rank}}</span></div>
        <div class="col"><img ng-src="{{STATIC_URL + team.logo}}/40/40" class="team_logo"/></div>
        <div class="col col-50">
          <p>{{team.name}}</p>
          <p><span>{{team.member_num}} 人</span><span>胜率{{team.win}} : {{team.tie}} : {{team.lose}}</span></p>
        </div>
        <div class="col">{{team.score || 0}}分</div>
      </div>
    </div>
  </ion-content>
</ion-view>