
<ion-view>
  <ion-header-bar><a href="#/home" class="button icon ion-chevron-left">&nbsp;返回</a><a href="#/company/login" class="button icon ion-chevron-right">&nbsp;登录</a></ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="公司全称"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="省、市、区"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="详细地址"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="联系人姓名"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="区号"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="电子邮箱"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="手机号码"/>
      </label>
    </div>
    <p>点击注册即代表同意《法律声明》及《隐私政策》</p>
    <button class="button button-block button-assertive">企业注册</button><a href="#" class="button button-block button-light">个人注册</a>
  </ion-content>
</ion-view>