
<ion-view class="login">
  <ion-header-bar><a href="#/home" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">注册成功</h1><a href="#/user/login" class="button icon-right ion-chevron-right">登录&nbsp;</a>
  </ion-header-bar>
  <ion-content class="register_success">
    <div class="register">
      <div class="register_header"><img src="./img/register/dl_logo_signup.png" class="logo"/></div>
      <div class="register_body">
        <div class="board">
          <div class="board_content"><img src="./img/register/dl_signup_success.png" class="register_success"/>
            <p class="email_tip">去邮箱查找激活邮件</p><a href="message:" class="email_link"><span>去邮箱</span><i class="fa ion-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>