
<ion-view>
  <ion-header-bar><a href="#/home" class="button icon ion-chevron-left">&nbsp;返回</a><a href="#/user/login" class="button icon ion-chevron-right">&nbsp;登录</a></ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="输入您的公司全称" ng-model="companyName.value" ng-blur="searchCompany()" ng-keypress="keypress($event)"/><i ng-click="searchCompany()" class="icon ion-search placeholder-icon"></i>
      </label>
    </div>
    <p ng-if="!searched">请在上方输入您的公司名称，进行搜索。</p>
    <div ng-if="searched &amp;&amp; companies.length" class="list"><a ng-repeat="company in companies" ng-click="goDetail(company)" class="item item-icon-right">{{company.name}}<i class="icon ion-chevron-right"></i></a></div>
    <div ng-if="searched &amp;&amp; !companies.length">
      <p>没有您的公司？</p>
      <p><a class="button button-outline button-positive">将动梨推荐给您的HR</a></p>
      <p><a href="#/register/company" class="button button-outline button-assertive">为公司注册</a></p>
    </div>
  </ion-content>
</ion-view>