
<ion-view>
  <ion-header-bar><a href="#/home" class="button icon ion-chevron-left">&nbsp;返回</a><a href="#/user/login" class="button icon ion-chevron-right">&nbsp;登录</a></ion-header-bar>
  <ion-content>
    <p>动梨信息技术有限公司</p>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="企业邮箱"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="昵称"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="密码"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="密码确认"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="真实姓名"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="部门"/>
      </label>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="手机号码"/>
      </label>
    </div>
    <p>点击注册即代表同意<a href="#/register/user/law">《法律声明》及《隐私政策》</a></p><a href="#/register/user/wait_email" class="button button-block button-positive">个人注册</a>
  </ion-content>
</ion-view>