
<ion-view>
  <ion-header-bar><a href="#/home" class="button icon ion-chevron-left">&nbsp;返回</a><a href="#/user/login" class="button icon ion-chevron-right">&nbsp;登录</a></ion-header-bar>
  <ion-content>
    <p>为了保证每一个动梨用户都是真实可靠的，请您向HR或同事索要激活码。</p><img src="http://placehold.it/200x200"/>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="输入8位激活码"/>
      </label>
    </div>
    <button class="button button-block button-positive">立即激活</button>
  </ion-content>
</ion-view>