
<ion-view class="login">
  <ion-header-bar><a href="#/home" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">注册</h1><a href="#/user/login" class="button icon-right ion-chevron-right">登录&nbsp;</a>
  </ion-header-bar>
  <ion-content class="register_company_list">
    <div class="register">
      <div class="register_header"><img src="./img/register/dl_logo_signup.png" class="logo"/></div>
      <div class="board"><img src="./img/register/dl_signup_search_title.png" class="search_title"/><i ng-click="preStep()" class="fa ion-reply"></i>
        <div class="companies">
          <div ng-repeat="company in companies" ng-click="goDetail(company)" class="company"><span>{{company.name}}</span><i class="fa ion-chevron-right"></i></div><span ng-click="prePage()" ng-if="hasPrevious" class="prePage">上一页</span><span ng-click="nextPage()" ng-if="hasNext" class="nextPage">下一页</span>
        </div>
      </div>
      <div class="register_bottom"><img src="./img/register/dl_signup_notfound.png" class="notfound"/><a ng-click="organize()" class="organize"></a></div>
    </div>
  </ion-content>
</ion-view>