
<ion-modal-view>
  <ion-header-bar><a ng-click="closeModal()" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">比分确认</h1>
  </ion-header-bar>
  <ion-content class="score_board">
    <div class="item row competition_teams">
      <div class="vs_title"><span class="v">V</span><span class="s">S</span></div>
      <div class="col team sponsor_team">
        <div class="team_title"><span>发起方</span></div>
        <div class="team_content"><img ng-src="{{STATIC_URL + scoreBoard.playingTeams[0].logo}}/40/40" class="team_logo"/>
          <div class="team_name">{{scoreBoard.playingTeams[0].name}}</div>
          <div ng-if="scoreBoard.status==2 &amp;&amp; results[0]==undefined &amp;&amp; scores[0]!=undefined" class="score">{{scores[0]}}</div>
          <div ng-if="scoreBoard.status==2 &amp;&amp; results[0]!=undefined" class="score">{{results[0] | scoreResultFormat}}</div>
        </div>
      </div>
      <div ng-cloak="ng-cloak" class="col col-10 vs col-center"><span ng-if="scoreBoard.status==2 &amp;&amp;(scoreBoard.scores.length&gt;=0 ||results.length&gt;0)" class="score">:</span></div>
      <div class="col team opposite_team">
        <div class="team_title"><span>接受方</span></div>
        <div class="team_content"><img ng-src="{{STATIC_URL + scoreBoard.playingTeams[1].logo}}/40/40" class="team_logo"/>
          <div class="team_name">{{scoreBoard.playingTeams[1].name}}</div>
          <div ng-if="scoreBoard.status==2 &amp;&amp;results[1]==undefined &amp;&amp; scores[1]!=undefined" class="score">{{scores[1]}}</div>
          <div ng-if="scoreBoard.status==2 &amp;&amp;results[1]!=undefined" class="score">{{results[1] | scoreResultFormat}}</div>
        </div>
      </div>
    </div>
    <div class="tab_view">
      <div class="nav">
        <div ng-class="{'active':nowTab=='score'}" class="tab_style"><a ng-click="changeFilter('score')"> <span>输入比分</span></a></div>
        <div ng-class="{'active':nowTab=='result'}" class="tab_style"><a ng-click="changeFilter('result')"> <span>输入结果</span></a></div>
      </div>
    </div>
    <label ng-repeat="playingTeam in scoreBoard.playingTeams" ng-if="nowTab=='score'" class="item input_score item-input"><span class="input-label">{{$index==0 ?'发起方':'接受方'}}</span>
      <input type="number" name="theme" placeholder="{{playingTeam.score||'输入比分'}}" ng-model="scores[$index]" ng-disabled="!editing" class="result"/>
    </label>
    <div ng-repeat="playingTeam in scoreBoard.playingTeams" ng-if="nowTab=='result'" class="item input_score item-input"><span class="input-label">{{$index==0 ?'发起方':'接受方'}}</span>
      <div class="results">
        <button ng-disabled="!editing" ng-click="setResult(1, $index)" ng-class="{'button-assertive': results[$index]===1}" class="button button-clear result">胜</button>
        <button ng-disabled="!editing" ng-click="setResult(0, $index)" ng-class="{'button-assertive': results[$index]===0}" class="button button-clear result">平</button>
        <button ng-disabled="!editing" ng-click="setResult(-1, $index)" ng-class="{'button-assertive': results[$index]===-1}" class="button button-clear result">负</button>
      </div>
    </div>
    <div ng-if="allowEdit &amp;&amp; editing" class="item score_board_operator">
      <button ng-click="initScore()" ng-disabled="checkScore()" class="button">确认</button>
    </div>
    <div ng-if="allowEdit &amp;&amp; !editing &amp;&amp; leaderStatus==='toConfirm'" class="item score_board_operator">
      <button ng-click="confirmScore()" class="button">同意</button>
    </div>
    <div ng-if="allowEdit &amp;&amp; !editing &amp;&amp; leaderStatus==='toConfirm'" class="item score_board_operator">
      <button ng-click="toggleEdit()" class="button cancel">不同意</button>
    </div>
    <div class="item score_board_footer">
      <div ng-if="scoreBoard.status===0" class="remind_text">等待设置比分</div>
      <div ng-if="scoreBoard.status===1" class="remind_text">比分待确认</div>
      <div ng-if="scoreBoard.status===2" class="remind_text">比分已确认</div>
    </div>
  </ion-content>
</ion-modal-view>