
<div class="score_board">
  <div class="item row competition_teams">
    <div class="col team sponsor_team">
      <div class="vs_title"><span class="v">V</span><span class="s">S</span></div>
      <div class="team_title"><span>发起方</span></div>
      <div class="team_content"><img ng-src="{{STATIC_URL + scoreBoard.playingTeams[0].logo}}/40/40" class="team_logo"/>
        <div class="team_name">{{scoreBoard.playingTeams[0].name}}</div>
      </div>
    </div>
    <div ng-cloak="ng-cloak" class="col col-10 vs col-center"><span ng-if="scoreBoard.status==2&amp;&amp;!allowEdit" class="score">{{scoreBoard.status==2 ?scoreBoard.playingTeams[0].score + ':' + scoreBoard.playingTeams[1].score:'暂无'}}</span><a ng-if="scoreBoard.status!==2&amp;&amp;allowEdit" ng-click="showEdit()" class="no_underline set_score">设比分</a></div>
    <div class="col team opposite_team">
      <div class="team_title"><span>接受方</span></div>
      <div class="team_content"><img ng-src="{{STATIC_URL + scoreBoard.playingTeams[1].logo}}/40/40" class="team_logo"/>
        <div class="team_name">{{scoreBoard.playingTeams[1].name}}</div>
      </div>
    </div>
  </div>
</div>