
<div class="score_board">
  <div class="item row competition_teams">
    <div class="vs_title"><span class="v">V</span><span class="s">S</span></div>
    <div class="col team sponsor_team">
      <div class="team_title"><span>发起方</span></div>
      <div class="team_content"><img ng-src="{{STATIC_URL + scoreBoard.playingTeams[0].logo || campaign.campaign_unit[0].team.logo}}/40/40" class="team_logo"/>
        <div class="team_name">{{scoreBoard.playingTeams[0].name || campaign.campaign_unit[0].team.name}}</div>
        <div ng-if="componentId&amp;&amp; scoreBoard.status==2 &amp;&amp; results[0]==undefined &amp;&amp; scores[0]!=undefined" class="score">{{scores[0]}}</div>
        <div ng-if="componentId&amp;&amp; scoreBoard.status==2 &amp;&amp; results[0]!=undefined" class="score">{{results[0] | scoreResultFormat}}</div>
      </div>
    </div>
    <div ng-cloak="ng-cloak" class="col col-10 vs col-center"><span ng-if="componentId&amp;&amp; !campaign.is_end" class="provoke_label">挑战</span><span ng-if="!componentId" class="fellowship_label">联谊 </span><span ng-if="scoreBoard.status==2 &amp;&amp;(scoreBoard.scores.length&gt;=0 ||results.length&gt;0)" class="score">:</span><a ng-if="componentId&amp;&amp; campaign.is_end&amp;&amp; scoreBoard.status==0" ng-click="showEdit()" class="no_underline set_score">设比分</a></div>
    <div class="col team opposite_team">
      <div class="team_title"><span>接受方</span></div>
      <div class="team_content"><img ng-src="{{STATIC_URL + scoreBoard.playingTeams[1].logo|| campaign.campaign_unit[1].team.logo}}/40/40" class="team_logo"/>
        <div class="team_name">{{scoreBoard.playingTeams[1].name || campaign.campaign_unit[1].team.name}}</div>
        <div ng-if="componentId&amp;&amp; scoreBoard.status==2 &amp;&amp;results[1]==undefined &amp;&amp; scores[1]!=undefined" class="score">{{scores[1]}}</div>
        <div ng-if="componentId&amp;&amp; scoreBoard.status==2 &amp;&amp;results[1]!=undefined" class="score">{{results[1] | scoreResultFormat}}</div>
      </div>
    </div>
  </div>
</div>