
<ion-view class="changePwd">
  <ion-header-bar><a href="#/settings/account" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">修改密码</h1>
  </ion-header-bar>
  <ion-content>
    <form name="psw_form" novalidate="novalidate">
      <div class="list">
        <div class="list-inset">
          <label class="item item-input">
            <input type="password" name="originpwd" placeholder="原始密码" ng-model="pswData.originPassword" required="required"/>
          </label>
        </div>
        <div class="list-inset">
          <label class="item item-input">
            <input type="password" name="password" placeholder="新密码" ng-minlength="6" ng-model="pswData.password" required="required"/>
          </label>
        </div>
        <div class="list-inset">
          <label class="item item-input">
            <input type="password" name="passconf" placeholder="新密码确认" ng-model="pswData.passwordConf" match="pswData.password" required="required"/>
          </label>
        </div>
        <div class="list-inset">
          <button ng-click="changePwd()" ng-disabled="psw_form.$invalid" class="button button-block dl_button submit_button">确&nbsp;认&nbsp;修&nbsp;改</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>