
<ion-view>
  <ion-header-bar><a href="#/personal" class="button icon ion-chevron-left">&nbsp;我的</a>
    <h1 class="title">关于活动助手</h1>
  </ion-header-bar>
  <ion-content>
    <p>活动助手 donler 1.0.1</p>
    <div class="card list"><a class="item item-icon-right">给个好评吧<i class="icon ion-chevron-right"></i></a><a class="item item-icon-right">功能介绍<i class="icon ion-chevron-right"></i></a><a class="item item-icon-right">系统通知<i class="icon ion-chevron-right"></i></a></div>
  </ion-content>
  <div class="tabs tabs-icon-top"><a href="#/campaigns" class="tab-item"><i class="icon ion-home"></i>活动</a><a href="#/discuss/list" class="tab-item"><i class="icon ion-home"></i>讨论</a><a href="#/discover" class="tab-item"><i class="icon ion-home"></i>发现</a><a href="#/personal" class="tab-item"><i class="icon ion-home"></i>我的</a></div>
</ion-view>