
<ion-view>
  <ion-header-bar><a href="#/app/settings" class="button icon ion-chevron-left">&nbsp;我的</a>
    <h1 class="title">关于活动助手</h1>
  </ion-header-bar>
  <ion-content>
    <p>活动助手 donler 1.0.1</p>
    <div class="card list"><a href="#/app/settings/about/privacy" class="item item-icon-right">隐私声明/用户协议<i class="icon ion-chevron-right"></i></a><a href="#/app/settings/about/good" class="item item-icon-right">给个好评吧<i class="icon ion-chevron-right"></i></a><a href="#/app/settings/about/intro" class="item item-icon-right">功能介绍<i class="icon ion-chevron-right"></i></a><a href="#/app/settings/about/notice" class="item item-icon-right">系统通知<i class="icon ion-chevron-right"></i></a></div>
  </ion-content>
</ion-view>