
<ion-view>
  <ion-header-bar><a href="#/personal/settings" class="button icon ion-chevron-left">&nbsp;设置</a>
    <h1 class="title">账号设置</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="item">注册邮箱<span class="item-note">echo@donler.com</span></div>
      <div class="item item-icon-right">密码修改<i class="icon ion-chevron-right"></i></div>
      <div class="item item-toggle">免打扰
        <label class="toggle toggle-calm">
          <input type="checkbox"/>
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
      <div class="item item-icon-right">注销<i class="icon ion-chevron-right"></i></div>
    </div>
  </ion-content>
  <ion-footer-bar>
    <div ng-controller="TabController" class="tabs tabs-icon-top"><a href="#/campaigns" class="tab-item"><i class="icon ion_campaign active"></i>活动</a><a href="#/discuss/list" ng-click="readComments()" class="tab-item">
        <div ng-show="hasNewComment" class="red_spot"></div><i class="icon ion_chat"></i>讨论</a><a href="#/discover" class="tab-item"><i class="icon ion_find"></i>发现</a><a href="#/personal" class="tab-item"><i class="icon ion_mine"></i>我的</a></div>
  </ion-footer-bar>
</ion-view>