
<ion-view>
  <ion-header-bar><a ng-href="{{backUrl}}" class="button ion-left ion-chevron-left">返回</a>
    <h1 class="title">发活动</h1>
  </ion-header-bar>
  <ion-content>
    <form name="sponsorForm" novalidate="novalidate" class="sponsor">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">小队</div>
          <select ng-change="changeTeam(selectTeam)" ng-model="selectTeam" ng-options="ledTeam as ledTeam.name for ledTeam in leadTeams"></select>
        </label>
        <label class="item item-input">
          <input type="text" name="theme" ng-model="campaignData.theme" placeholder="活动主题，限定14个字" ng-maxlength="14" required="required"/>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">活动类型</div>
          <select ng-change="changeMold(selectMold)" ng-model="selectMold" ng-options="mold.name for mold in campaign_molds"></select>
        </label>
        <label class="item item-input">
          <input type="datetime-local" name="start_time" ng-model="campaignData.start_time" placeholder="活动开始时间" required="required"/>
        </label>
        <label class="item item-input">
          <input type="datetime-local" name="end_time" ng-model="campaignData.end_time" placeholder="活动结束时间" required="required"/>
        </label>
        <label class="item dl_item_input">
          <input type="text" name="location" ng-model="campaignData.location.name" placeholder="活动地点" required="required" class="arecode"/>
        </label>
      </div>
      <button ng-disabled="sponsorForm.$invalid || isBusy" ng-click="sponsor()" class="button button-block button-positive">发布</button>
    </form>
  </ion-content>
</ion-view>