
<form name="sponsorForm" novalidate="novalidate" ng-init="showMore=false;">
  <ion-view class="sponsor">
    <ion-header-bar><a ng-click="goBack()" class="button icon-left ion-chevron-left">&nbsp;返回</a>
      <h1 class="title">发活动</h1>
      <button ng-disabled="sponsorForm.$invalid || isBusy" ng-click="sponsor()" class="button button-clear">发布</button>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div ng-if="sponsorType==='competition'" class="row">
          <div class="col col_sm"><img ng-src="{{STATIC_URL + competitionMessage.sponsor_team.logo}}/40/40" class="team_logo"/></div>
          <div class="col">{{competitionMessage.sponsor_team.name}}</div>
          <div class="col col_sm">VS</div>
          <div class="col col_sm"><img ng-src="{{STATIC_URL + competitionMessage.opposite_team.logo}}/40/40" class="team_logo"/></div>
          <div class="col">{{competitionMessage.opposite_team.name}}</div>
        </div>
        <label ng-if="sponsorType!=='competition'" class="item item-input item-select"><span class="input-label">小队</span>
          <select ng-change="changeTeam(selectTeam)" ng-model="selectTeam" ng-options="ledTeam as ledTeam.name for ledTeam in leadTeams" class="result"></select>
        </label>
        <label ng-if="sponsorType!=='competition' || competitionMessage.competition_type==2" class="item item-input item-select"><span class="input-label">活动类型</span>
          <select ng-change="changeMold(selectMold)" ng-model="selectMold" ng-options="mold.name for mold in campaign_molds" class="result"></select>
        </label>
        <div class="item-divider"></div>
        <label class="item item-input"><span class="input-label">开始时间:</span>
          <input type="datetime-local" name="start_time" ng-model="campaignData.start_time" placeholder="活动开始时间" required="required" class="result"/>
        </label>
        <label class="item item-input"><span class="input-label">结束时间:</span>
          <input type="datetime-local" name="end_time" ng-model="campaignData.end_time" required="required" class="result"/>
        </label>
        <label class="item item-input item-icon-right"><span class="input-label">地点</span>
          <input type="text" name="location" ng-model="campaignData.location.name" required="required" class="result"/><i edit-map="edit-map" ng-disabled="campaignData.location.name" location-name="campaignData.location.name" location="campaignData.location" map-name="mapDetail" class="icon dl_icon ion_address"></i>
        </label>
        <div class="item-divider"></div>
        <label class="item item-input"><span class="input-label">活动名称</span>
          <input type="text" name="theme" ng-model="campaignData.theme" placeholder="限制14个字" ng-maxlength="14" required="required" class="result"/>
        </label>
        <label class="item item-input introduce"><span class="input-label">活动简介</span>
          <textarea name="content" rows="4" ng-model="campaignData.content" placeholder="活动简介" ng-maxlength="2000" class="result"></textarea>
        </label>
        <div class="item-divider"></div>
        <label ng-click="showMore=!showMore;" class="item item-icon-right"> <span class="input-label">更多</span><i ng-if="!showMore" class="icon ion-chevron-down"></i><i ng-if="showMore" class="icon ion-chevron-up"></i></label>
        <label ng-if="showMore" class="item item-input"><span class="input-label">报名截止时间:</span>
          <input id="deadline" type="datetime-local" name="deadline" ng-model="campaignData.deadline" placeholder="报名截止时间" class="result"/>
        </label>
        <label ng-if="showMore" class="item item-input"><span class="input-label">报名人数上限:</span>
          <input type="number" name="member_max" ng-model="campaignData.member_max" min="0" class="arecode result"/>
        </label>
        <label ng-if="showMore" class="item item-input"><span class="input-label">报名人数下限:</span>
          <input type="number" name="member_min" ng-model="campaignData.member_min" min="0" class="arecode result"/>
        </label>
      </div>
    </ion-content>
  </ion-view>
</form>