
<ion-view>
  <ion-header-bar><a href="#/discover" class="button icon ion-chevron-left">&nbsp;发现</a>
    <h1 class="title">所有小队（20）</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list"><a href="#/team" class="item item-thumbnail-left"><img src="http://placehold.it/85x85"/>
        <h2>动梨篮球队</h2>
        <p>2014-11-20 年末足球赛</p>
        <p>队员：90 活动：100</p>
        <button>已加入小队</button></a><a href="#/team" class="item item-thumbnail-left"><img src="http://placehold.it/85x85"/>
        <h2>动梨篮球队</h2>
        <p>2014-11-20 年末足球赛</p>
        <p>队员：90 活动：100</p>
        <button>已加入小队</button></a><a href="#/team" class="item item-thumbnail-left"><img src="http://placehold.it/85x85"/>
        <h2>动梨篮球队</h2>
        <p>2014-11-20 年末足球赛</p>
        <p>队员：90 活动：100</p>
        <button>已加入小队</button></a><a href="#/team" class="item item-thumbnail-left"><img src="http://placehold.it/85x85"/>
        <h2>动梨篮球队</h2>
        <p>2014-11-20 年末足球赛</p>
        <p>队员：90 活动：100</p>
        <button>立即加入</button></a><a href="#/team" class="item item-thumbnail-left"><img src="http://placehold.it/85x85"/>
        <h2>动梨篮球队</h2>
        <p>2014-11-20 年末足球赛</p>
        <p>队员：90 活动：100</p>
        <button>立即加入</button></a></div>
  </ion-content>
</ion-view>