
<ion-view>
  <ion-header-bar><a ng-click="goBack()" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">{{team.name}}</h1><a ng-if="team.isLeader" ng-href="#/team/{{team._id}}/edit" ng-cloak="ng-cloak" class="button">编辑</a>
  </ion-header-bar>
  <ion-content class="team_page">
    <div ng-style="familyMinHeight" class="team_header">
      <ion-slide-box ng-if="team.familyPhotos.length &gt; 1" ng-cloak="ng-cloak">
        <ion-slide ng-repeat="photo in team.familyPhotos"><img ng-src="{{STATIC_URL + photo.uri}}/640/380" class="team_family"/></ion-slide>
      </ion-slide-box><img ng-if="team.familyPhotos.length === 1" ng-src="{{STATIC_URL + team.familyPhotos[0].uri}}/640/380" class="team_family"/><img ng-if="team.familyPhotos.length === 0" src="./img/family.png" class="team_family"/>
    </div>
    <div class="team_info">
      <div class="info_header clearfix"><img ng-if="team" ng-src="{{STATIC_URL + team.logo}}/80/80" class="logo"/>
        <div class="info_content">
          <div class="team_name">{{team.name}}</div>
          <div class="team_brief"> <span class="title">简介:</span><span class="content">{{team.brief || '无'}}</span></div>
        </div>
      </div>
      <div class="info_body">
        <div class="score"><span>积分:{{team.score || 0}}</span><span class="activity_score">活跃度:{{team.activity_score}}</span><span class="odds_percent">胜率:{{team.odds_percent}}%</span></div>
        <div class="start_time">成立时间:{{team.createTime | date:'yyyy-MM-dd'}}</div>
        <div class="operator"><a ng-href="#/discover/search_opponent/{{team._id}}" class="btn">找对手</a>
          <button prevent-default="prevent-default" ng-if="team.hasJoined &amp;&amp; !team.isOtherCompanyTeam" ng-click="quitTeam(team._id)" ng-cloak="ng-cloak" class="btn">已加入</button>
          <button prevent-default="prevent-default" ng-if="!team.hasJoined &amp;&amp; !team.isOtherCompanyTeam" ng-click="joinTeam(team._id)" ng-cloak="ng-cloak" class="btn">立即加入</button>
        </div>
      </div>
      <div class="item row members">
        <div class="col"><span class="title">队长</span><img ng-if="team.leaders.length&gt;0" ng-src="{{STATIC_URL + team.leaders[0].photo}}/30/30" class="user_logo"/></div><a ng-href="#/members/team/{{team._id}}" class="col"><span>成员({{team.memberCount}}人)</span><span class="icon icon_small ion-chevron-right button-clear"></span></a>
      </div>
      <div ng-repeat="homeCourt in team.homeCourts" class="item home_court"><span class="title">主场{{$index==1?'一':'二'}}</span><span class="home_court_name">{{homeCourt.name || '他们很懒还没填写'}}</span></div><a ng-href="#/circle/circle_team/{{team._id}}" class="item item-icon-left item-icon-right"><i class="icon ion-android-contacts ionic_icon icon_left"></i>精彩瞬间<i class="icon ion-chevron-right icon_right"></i></a><a ng-href="#/campaign/all/team/{{team._id}}" class="item item-icon-left item-icon-right"><i class="icon ion_ballon icon_left"></i>所有活动<i class="icon ion-chevron-right icon_right"></i></a>
    </div>
  </ion-content>
</ion-view>