
<ion-view>
  <ion-header-bar><a ng-href="{{backUrl}}" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">{{team.name}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="team_header"><img ng-if="team" ng-src="{{STATIC_URL + team.logo}}/45/45" class="logo"/>
      <ion-slide-box>
        <ion-slide ng-repeat="photo in team.familyPhotos"><img ng-src="{{STATIC_URL + photo.uri}}/300/160" class="team_family"/></ion-slide>
      </ion-slide-box>
    </div>
    <div class="list card team_info">
      <div class="item item-body">
        <div class="team_name">{{team.name}}</div>
        <div class="team_type">{{team.groupType}}</div>
        <div class="start_time">成立时间: {{team.createTime | date:'yyyy-MM-dd'}}</div>
        <div class="team_des">小队简介: {{team.brief}}</div>
        <button prevent-default="prevent-default" ng-if="team.hasJoined" ng-click="quitTeam(team._id)" class="button button-block button-light btn_join">已加入小队</button>
        <button prevent-default="prevent-default" ng-if="!team.hasJoined" ng-click="joinTeam(team._id)" class="button button-block button-positive btn_join">立即加入</button>
      </div>
      <div class="item tabs"><a ng-href="#/photo_album/list/team/{{team._id}}" class="tab-item btn_upload_photo">上传照片</a><a href="#/members/team/{{team._id}}" class="tab-item btn_member">{{team.memberCount}}名队员</a>
        <div class="tab-item btn_cp">活动</div>
      </div>
    </div>
    <div class="card team_home_court">
      <div class="row">
        <div ng-click="selectHomeCourt(0)" class="col tab">主场一</div>
        <div ng-click="selectHomeCourt(1)" class="col tab">主场二</div>
      </div>
      <div ng-repeat="homeCourt in team.homeCourts" ng-if="homeCourtIndex==$index" class="map">
        <p ng-cloak="ng-cloak" ng-if="homeCourt.name&amp;&amp;homeCourt.loc.coordinates.length!==2">{{homeCourt.name}}</p><a ng-cloak="ng-cloak" ng-if="homeCourt.loc.coordinates.length===2" ng-href="http://mo.amap.com/?q={{homeCourt.loc.coordinates[1]}},{{homeCourt.loc.coordinates[0]}}&amp;name={{homeCourt.name}}" target="_blank"><img ng-src="http://restapi.amap.com/v3/staticmap?location={{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&amp;zoom=15&amp;size=420*230&amp;markers=mid,,A:{{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&amp;labels={{homeCourt.name}},2,0,12,0xffffff,0x3498db:{{homeCourt.loc.coordinates[0]}},{{homeCourt.loc.coordinates[1]}}&amp;key=077eff0a89079f77e2893d6735c2f044" class="map_size"/></a>
      </div>
    </div>
    <div class="card">
      <ion-scroll direction="x" scrollbar-x="false"><img ng-repeat="leader in team.leaders" ng-src="{{STATIC_URL + leader.photo}}/45/45"/><img ng-repeat="member in team.members" ng-src="{{STATIC_URL + member.photo}}/45/45"/></ion-scroll><a><span>{{team.memberCount}}</span><i class="icon ion-chevron-right"></i></a>
    </div><a ng-repeat="campaign in campaigns" ng-href="#/campaign/detail/{{campaign._id}}" class="list card dl_card">
      <div class="item item-avatar dl_card_header"><img ng-if="team.logo" ng-src="{{STATIC_URL + team.logo}}/45/45" class="dl_team_logo"/>
        <h2 class="dl_cp_name">{{campaign.theme}}</h2>
        <p class="dl_cp_address">地点: {{campaign.location.name}}</p>
        <button ng-click="joinCampaign(campaign._id)" prevent-default="prevent-default" class="dl_btn_join">参加</button>
      </div>
      <div ng-if="campaign.photo_album.photos.length&gt;0" class="item item-body dl_card_body">
        <ion-scroll direction="x" scrollbar-x="false">
          <div class="dl_photo_alb"><img ng-repeat="photo in campaign.photo_album.photos" ng-src="{{STATIC_URL +photo.uri+'/150/150'}}" class="dl_cp_photo"/></div>
        </ion-scroll>
      </div>
      <div class="item dl_card_footer"><span ng-if="campaign.campaign_unit.length === 1" class="dl_team_name">{{campaign.campaign_unit[0].team.name}}</span><span ng-if="campaign.campaign_unit.length === 2" class="dl_team_name">
          {{campaign.campaign_unit[0].team.name}}
          vs
          {{campaign.campaign_unit[1].team.name}}</span><span>参加人数: {{campaign.members_count}}</span><span>讨论: {{campaign.comment_sum}}</span></div></a>
  </ion-content>
</ion-view>