
<ion-view>
  <ion-header-bar><a href="#/app/discover" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">{{title}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list"><a ng-repeat="team in teams" ng-href="#/team/{{team._id}}" class="item item-thumbnail-left"><img ng-src="{{STATIC_URL + team.logo}}/85/85"/>
        <h2>{{team.name}}</h2>
        <p>{{team.lastCampaign.theme}}</p>
        <p>队员：{{team.memberCount}} 活动：{{team.campaignCount}}</p>
        <button prevent-default="prevent-default" ng-if="team.hasJoined" ng-click="quitTeam(team._id, $index)">已加入小队</button>
        <button prevent-default="prevent-default" ng-if="!team.hasJoined" ng-click="joinTeam(team._id, $index)">立即加入</button></a></div>
  </ion-content>
</ion-view>