
<ion-view>
  <ion-header-bar><a href="#/app/personal" class="button icon ion-chevron-left">&nbsp;我的</a>
    <h1 class="title">我的足迹</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-avatar"><img src="http://placehold.it/45x45"/>
        <h2>Echo</h2>
        <p>公司：动梨信息技术有限公司</p>
        <p>部门：设计部</p>
        <p>手机：13612345678</p>
        <p>邮箱：echo@donler.com</p>
      </div>
    </div>
    <div class="row">
      <div class="col">8个小队</div>
      <div class="col">102个活动</div>
    </div>
    <label>2014-11</label>
    <div class="card">
      <div class="header"><img src="http://placehold.it/45x45" class="logo"/><span>vs</span><img src="http://placehold.it/45x45" class="logo"/></div>
      <div class="section">
        <h3>年末篮球比赛</h3>
        <p>2014-11-23 至 2014-11-25</p><img src="http://placehold.it/115x115" class="photo"/><img src="http://placehold.it/115x115" class="photo"/><img src="http://placehold.it/115x115" class="photo"/>
      </div>
    </div>
    <div class="card">
      <div class="header"><img src="http://placehold.it/45x45" class="logo"/><span>聚餐聚餐</span>
        <p>2014-11-23 至 2014-11-25</p>
      </div>
      <div class="section"><img src="http://placehold.it/115x115" class="photo"/><img src="http://placehold.it/115x115" class="photo"/><img src="http://placehold.it/115x115" class="photo"/></div>
    </div>
  </ion-content>
</ion-view>