
<ion-view>
  <ion-header-bar><a href="#/app/personal" class="button icon ion-chevron-left">&nbsp;我的</a>
    <h1 class="title">我的足迹</h1>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-avatar"><img ng-if="user" ng-src="{{STATIC_URL + user.photo}}/45/45"/>
        <h2>{{user.nickname}}</h2>
        <p>公司：{{user.company.name}}</p>
        <p ng-if="user.department" ng-cloak="ng-cloak">部门：{{user.department.name}}</p>
        <p ng-if="!user.department" ng-cloak="ng-cloak">部门：无</p>
        <p ng-cloak="ng-cloak">手机：{{user.phone || '-'}}</p>
        <p ng-cloak="ng-cloak">邮箱：{{user.email}}</p>
      </div>
    </div>
    <div ng-repeat="campaign in timelinesRecord">
      <label ng-if="needShowTime($index)" class="dl_timeline_date">{{campaign.start_time | date:'yyyy-MM'}}</label>
      <campaign-card campaign="campaign"></campaign-card>
    </div>
    <ion-infinite-scroll ng-if="!loading || !loadFinished" on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
    <div ng-if="loadFinished" class="nomore_text">没有更多的足迹</div>
  </ion-content>
</ion-view>