
<ion-header-bar class="bar-positive">
  <div class="buttons">
    <button ng-click="data.showDelete = !data.showDelete;" class="button button-icon icon ion-ios7-minus-outline"></button>
    <h1 class="title">All Todo Items</h1>
    <button ui-sref="createTodo" class="button">New</button>
  </div>
</ion-header-bar>
<ion-content>
  <ion-list show-delete="data.showDelete">
    <ion-item ng-repeat="item in items | orderBy: '-createdAt'" item="item" href="#/todo/edit/{{item.objectId}}/{{item.content}}">{{item.content}}
      <ion-delete-button ng-click="onItemDelete(item)" class="ion-minus-circled"></ion-delete-button>
    </ion-item>
  </ion-list>
</ion-content>