
<ion-view>
  <ion-header-bar><a href="#/app/discuss/list" class="button icon ion-chevron-left">&nbsp;返回</a>
    <h1 class="title">未参加的讨论列表</h1>
    <button class="button icon ion-plus"></button>
  </ion-header-bar>
  <ion-content>
    <ul class="list"><a ng-repeat="commentCampaign in commentCampaigns track by $index" ng-href="#/discuss/detail/{{commentCampaign._id}}/{{commentCampaign.theme}}" ng-cloak="ng-cloak" class="item item-avatar"><img ng-src="{{STATIC_URL + commentCampaign.logo + '/45/45'}}"/>
        <div ng-if="commentCampaign.unread" class="red_spot"></div>
        <h2>{{commentCampaign.theme}}</h2>
        <p><span ng-show="commentCampaign.unread">[{{commentCampaign.unread}}条新评论]</span><span>{{commentCampaign.latestComment.content}}</span></p></a></ul>
  </ion-content>
</ion-view>