
<ion-view class="personal">
  <ion-header-bar><a ng-click="goBack()" class="button icon-left ion-chevron-left">&nbsp;返回</a>
    <h1 ng-model="user.nickname" class="title"></h1><a ng-click="showPopover($event)" class="button icon ion-more"></a>
  </ion-header-bar>
  <ion-content>
    <div class="user_header"><img ng-if="user" ng-src="{{STATIC_URL + user.photo}}/320/190" class="img_container"/>
      <div class="user_card"><img ng-if="user" ng-src="{{STATIC_URL + user.photo}}/80/80" prevent-default="prevent-default" photo="user.photo" pswp-id="pswpId" open-photo="open-photo" class="user_logo"/>
        <div ng-cloak="ng-cloak" class="user_name">{{user.nickname}}
        </div>
        <div ng-cloak="ng-cloak" class="user_realname">{{user.department.name}}&nbsp;&nbsp; {{user.realname || '-'}}</div>
        <div ng-cloak="ng-cloak" class="user_introduce">简介:{{user.introduce || '无'}}</div>
      </div>
      <div class="tab_view">
        <div class="nav">
          <div ng-class="{'active':nowTab=='team'}" class="tab_style"><a ng-click="changeFilter('team')"> <span>参加的小队</span></a></div>
          <div ng-class="{'active':nowTab=='circle'}" class="tab_style"><a ng-click="changeFilter('circle')"> <span>精彩瞬间</span></a></div>
          <div ng-class="{'active':nowTab=='campaign'}" class="tab_style"><a ng-click="changeFilter('campaign')"> <span>活动</span></a></div>
        </div>
        <div class="tab_content">
          <div ng-if="nowTab=='team'" class="team_list"><a ng-repeat="team in myTeams" ng-href="#/team/{{team._id}}" ng-cloak="ng-cloak" class="dl_team_card clearfix"><img ng-src="{{STATIC_URL + team.logo}}/120/120" class="team_logo"/>
              <div class="team_info">
                <h2 class="team_name">{{team.name}}</h2>
                <p class="team_count"><span class="team_member">队员：{{team.memberCount}}</span><span ng-if="team.campaignCount" class="team_cp_number">活动：{{team.campaignCount}}</span><span class="team_cp_number">积分：{{team.score.total}}</span></p>
              </div></a></div>
          <div ng-if="nowTab=='circle'" class="circle_list">
            <circle-card-list circle-list="circleContentList" user="user" kind="user" ctrl="circleCardListCtrl" on-click-comment-button="openCommentBox" on-click-content-img="onClickContentImg" static-url="STATIC_URL" class="dl_circle_card_list"></circle-card-list>
            <div ng-if="loadingStatus.hasInit &amp;&amp; circleContentList.length === 0" class="no_moment_remind">您还没有发过精彩瞬间，快去活动页发表吧。</div>
            <ion-infinite-scroll ng-if="loadingStatus.hasMore &amp;&amp; loadingStatus.hasInit" icon="ion-looping" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
          </div>
          <div ng-if="nowTab=='campaign'" class="calender"></div>
        </div>
      </div>
    </div>
  </ion-content>
  <circle-comment-box ctrl="circleCommentBoxCtrl" on-post="postComment" on-stop="stopComment"></circle-comment-box>
  <photo-swipe photos="imagesForPswp" ctrl="pswpCtrl"></photo-swipe>
  <div tabindex="-1" role="dialog" aria-hidden="true" id="{{pswpId}}" class="pswp">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button title="关闭" class="pswp__button pswp__button--close"></button>
          <button title="放大/缩小" class="pswp__button pswp__button--zoom"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__caption">
          <div class="pswp__caption__center"></div>
        </div>
      </div>
    </div>
  </div>
</ion-view>
<script id="more-popover.html" type="text/ng-template">
  <ion-popover-view class="dl_popover user_more_popover">
    <ion-content class="dl_popover_content">
      <div class="dl_popover_button"><a ng-click="showReportForm()" class="full_parent_link">举报</a></div>
    </ion-content>
  </ion-popover-view>
</script>