
<ion-view>
  <ion-header-bar><span ng-click="goBack()" class="button icon-left ion-chevron-left">&nbsp;返回</span>
    <h1 class="title">用户信息</h1><a ng-click="showPopover($event)" class="button icon ion-more"></a>
  </ion-header-bar>
  <ion-content>
    <div class="card user_card">
      <div class="item item-avatar"><img ng-if="user" ng-src="{{STATIC_URL + user.photo}}/45/45"/>
        <h2>{{user.nickname}}</h2>
        <p>公司：{{user.company.name}}</p>
        <p ng-if="user.department" ng-cloak="ng-cloak">部门：{{user.department.name}}</p>
        <p ng-if="!user.department" ng-cloak="ng-cloak">部门：无</p>
        <p ng-cloak="ng-cloak">手机：{{user.phone || '-'}}</p>
        <p ng-cloak="ng-cloak">邮箱：{{user.email}}</p>
        <p ng-if="user.introduce" ng-cloak="ng-cloak">简介: {{user.introduce}}</p>
      </div>
      <div class="item tabs"><a ng-href="#/user/{{user._id}}/timeline" class="tab-item">活动足迹</a></div>
    </div>
  </ion-content>
</ion-view>
<script id="more-popover.html" type="text/ng-template">
  <ion-popover-view class="dl_popover user_more_popover">
    <ion-content class="dl_popover_content">
      <div class="dl_popover_button"><a ng-click="showReportForm()" class="full_parent_link">举报</a></div>
    </ion-content>
  </ion-popover-view>
</script>