<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeName</key>
		<string>Login</string>
		<key>routeURL</key>
		<string>/users/username</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Register</string>
		<key>routeURL</key>
		<string>/users</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>companyQuickRegister</string>
		<key>routeURL</key>
		<string>/companies/quickRegister</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>userLogin</string>
		<key>routeURL</key>
		<string>/users/login</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>companySearch</string>
		<key>routeURL</key>
		<string>/search/companies</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>testRoute</string>
		<key>routeURL</key>
		<string>/companies</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>getUserInfo</string>
		<key>routeURL</key>
		<string>/users/:userId</string>
		<key>routeMethod</key>
		<string>GET</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>modifyUserInfo</string>
		<key>routeURL</key>
		<string>/users/:userId</string>
		<key>routeMethod</key>
		<string>PUT</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>getUserphotoAlbums</string>
		<key>routeURL</key>
		<string>/users/:userId/photos</string>
		<key>routeMethod</key>
		<string>GET</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>getCompanyAddressBook</string>
		<key>routeURL</key>
		<string>/users/list/:companyId</string>
		<key>routeMethod</key>
		<string>GET</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>cirleContent</string>
		<key>routeURL</key>
		<string>/circle/contents</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
    <dict>
        <key>routeName</key>
        <string>addConcern</string>
        <key>routeURL</key>
        <string>/users/concern/:userId</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>deleteConcern</string>
        <key>routeURL</key>
        <string>/users/concern/:userId</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCorcernList</string>
        <key>routeURL</key>
        <string>/users/concern/:userId</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>userLogOut</string>
        <key>routeURL</key>
        <string>/users/logout</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>userInvate</string>
        <key>routeURL</key>
        <string>/users/actions/invite</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getInteraction</string>
        <key>routeURL</key>
        <string>/interaction</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getGroupList</string>
        <key>routeURL</key>
        <string>/groups/list/user</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCompanyGroupList</string>
        <key>routeURL</key>
        <string>/groups/list/company</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getGroupInfor</string>
        <key>routeURL</key>
        <string>/groups/:groupId</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getFreshManList</string>
        <key>routeURL</key>
        <string>/users/list/:companyId/:freshman/:page</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>voteForUser</string>
        <key>routeURL</key>
        <string>/interaction/poll/:interactionId/users/:userId</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>creatNewCircleContents</string>
        <key>routeURL</key>
        <string>/circle/contens</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCompanyCircle</string>
        <key>routeURL</key>
        <string>/circle/company</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getPersonalCircle</string>
        <key>routeURL</key>
        <string>/circle/user/:userId</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>deleteCircle</string>
        <key>routeURL</key>
        <string>/circle/contents/:contentId</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCircleDetails</string>
        <key>routeURL</key>
        <string>/circle/contents/:contentId</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>publisheCircleComments</string>
        <key>routeURL</key>
        <string>/circle/contents/:contentId/comments</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>deleteCompanyCircle</string>
        <key>routeURL</key>
        <string>/circle/comments/:commentId</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getNewsReminds</string>
        <key>routeURL</key>
        <string>/circle/reminds</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getNewsRemindsContents</string>
        <key>routeURL</key>
        <string>/circle/reminds/comments</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCompaniesInfos</string>
        <key>routeURL</key>
        <string>/companies/:companyId</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>modificationCompaniesInfos</string>
        <key>routeURL</key>
        <string>/companies/:companyId</string>
        <key>routeMethod</key>
        <string>PUT</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCompaniesDepartmentsInfos</string>
        <key>routeURL</key>
        <string>/companies/:companyId/departments</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCompaniesFavoriteRank</string>
        <key>routeURL</key>
        <string>/favoriteRank</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getTeamsFavoriteRank</string>
        <key>routeURL</key>
        <string>/favoriteRank/team</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>publisheNewGroups</string>
        <key>routeURL</key>
        <string>/groups</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>deleteGroups</string>
        <key>routeURL</key>
        <string>/groups/:groupId</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>editeGroupsInfos</string>
        <key>routeURL</key>
        <string>/groups/:groupId</string>
        <key>routeMethod</key>
        <string>PUT</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getInvitationInfosURL</string>
        <key>routeURL</key>
        <string>/groups/:groupId/invitation</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>postInvitationInfosURL</string>
        <key>routeURL</key>
        <string>/groups/:groupId/invitation</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>detailInvitationInfos</string>
        <key>routeURL</key>
        <string>/groups/:groupId/invitation</string>
        <key>routeMethod</key>
        <string>PUT</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>exitGroups</string>
        <key>routeURL</key>
        <string>/groups/:groupId/user</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>joinGroups</string>
        <key>routeURL</key>
        <string>/groups/:groupId/user</string>
        <key>routeMethod</key>
        <string>PUT</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>removeGroups</string>
        <key>routeURL</key>
        <string>/groups/:groupId/user/:userId</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>appointNewGroupsOwner</string>
        <key>routeURL</key>
        <string>/groups/:groupId/user/:userId</string>
        <key>routeMethod</key>
        <string>PUT</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>searchGroups</string>
        <key>routeURL</key>
        <string>/groups/search</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCommpanyGroupsList</string>
        <key>routeURL</key>
        <string>/groups/list/commpany</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getUpdateCommpaniesGroupsList</string>
        <key>routeURL</key>
        <string>/groups/list/update</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>appointGroupsLeader</string>
        <key>routeURL</key>
        <string>/groups/:groupId/leader</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>deleteGroupsAdmin</string>
        <key>routeURL</key>
        <string>/groups/:groupId/admin</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>appointGroupsAdmins</string>
        <key>routeURL</key>
        <string>/groups/:groupId/admin</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>askForGroups</string>
        <key>routeURL</key>
        <string>/groups/:groupId/update</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>detailGroupsAsks</string>
        <key>routeURL</key>
        <string>/groups/:groupId/update</string>
        <key>routeMethod</key>
        <string>PUT</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>detailGroupsApplicants</string>
        <key>routeURL</key>
        <string>/groups/:groupId/applicant/:userId</string>
        <key>routeMethod</key>
        <string>PUT</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>sendInteraction</string>
        <key>routeURL</key>
        <string>/interaction</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getModelLists</string>
        <key>routeURL</key>
        <string>/interaction/template</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>publishedModelLists</string>
        <key>routeURL</key>
        <string>/interaction/template</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getModelListsDetails</string>
        <key>routeURL</key>
        <string>/interaction/template/:templateType/:templateId</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getTemplateValidate</string>
        <key>routeURL</key>
        <string>/interaction/template/:templateType/:templateId/validate</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getInteractionDetails</string>
        <key>routeURL</key>
        <string>/interaction/:templateType/:interactionId</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>exitInteraction</string>
        <key>routeURL</key>
        <string>/interaction/activity/:interactionId/users/:userId</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>joinInteraction</string>
        <key>routeURL</key>
        <string>/interaction/activity/:interactionId/users/:userId</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>cancelApprove</string>
        <key>routeURL</key>
        <string>/interaction/question/:interactionId/approve</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>approveAnswer</string>
        <key>routeURL</key>
        <string>/interaction/question/:interactionId/approve</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>adoptAnswer</string>
        <key>routeURL</key>
        <string>/interaction/question/:interactionId/adopt</string>
        <key>routeMethod</key>
        <string>PUT</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>deleteComments</string>
        <key>routeURL</key>
        <string>/interaction/:interactionType/:interactionId/comment</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCommentsLists</string>
        <key>routeURL</key>
        <string>/interaction/:interactionType/:interactionId/comment</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>marchingComments</string>
        <key>routeURL</key>
        <string>/interaction/:interactionType/:interactionId/comment</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getPersonalNotificationsList</string>
        <key>routeURL</key>
        <string>/notifications/:noticeType</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getPersonalInteractionList</string>
        <key>routeURL</key>
        <string>/notifications/:noticeType</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>marchingReport</string>
        <key>routeURL</key>
        <string>/report</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>marchingSearch</string>
        <key>routeURL</key>
        <string>/search</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>marchingValidate</string>
        <key>routeURL</key>
        <string>/users/validate</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>motifyPassword</string>
        <key>routeURL</key>
        <string>/users/forgetPassword</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>sendFeedback</string>
        <key>routeURL</key>
        <string>/users/sendFeedback</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>closeUsers</string>
        <key>routeURL</key>
        <string>/users/:userId/close</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>openUsers</string>
        <key>routeURL</key>
        <string>/users/:userId/open</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>sendGifts</string>
        <key>routeURL</key>
        <string>/gifts</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getGiftsNum</string>
        <key>routeURL</key>
        <string>/gifts/remain/:content</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>

    <dict>
        <key>routeName</key>
        <string>getBirthdayList</string>
        <key>routeURL</key>
        <string>/users/list/birthday</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    
</array>
</plist>
