<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeName</key>
		<string>Login</string>
		<key>routeURL</key>
		<string>/users/username</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Register</string>
		<key>routeURL</key>
		<string>/users</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>companyQuickRegister</string>
		<key>routeURL</key>
		<string>/companies/quickRegister</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>userLogin</string>
		<key>routeURL</key>
		<string>/users/login</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>companySearch</string>
		<key>routeURL</key>
		<string>/search/companies</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>companyInformation</string>
		<key>routeURL</key>
		<string>/companies/parameter0</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>testRoute</string>
		<key>routeURL</key>
		<string>/companies/</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>getUserInfo</string>
		<key>routeURL</key>
		<string>/users/:userId</string>
		<key>routeMethod</key>
		<string>GET</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>modifyUserInfo</string>
		<key>routeURL</key>
		<string>/users/:userId</string>
		<key>routeMethod</key>
		<string>PUT</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>getUserphotoAlbums</string>
		<key>routeURL</key>
		<string>/users/:userId/photos</string>
		<key>routeMethod</key>
		<string>GET</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>getCompanyAddressBook</string>
		<key>routeURL</key>
		<string>/users/list/:companyId</string>
		<key>routeMethod</key>
		<string>GET</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>companyQuickRegister</string>
		<key>routeURL</key>
		<string>/companies/quickRegister</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>cirleContent</string>
		<key>routeURL</key>
		<string>/circle/contents</string>
		<key>routeMethod</key>
		<string>POST</string>
	</dict>
    <dict>
        <key>routeName</key>
        <string>addConcern</string>
        <key>routeURL</key>
        <string>/users/concern/:userId</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>deleteConcern</string>
        <key>routeURL</key>
        <string>/users/concern/:userId</string>
        <key>routeMethod</key>
        <string>DELETE</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getCorcernList</string>
        <key>routeURL</key>
        <string>/users/concern/:userId</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>userLogOut</string>
        <key>routeURL</key>
        <string>/users/logout</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>userInvate</string>
        <key>routeURL</key>
        <string>/users/actions/invite</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getInteraction</string>
        <key>routeURL</key>
        <string>/interaction</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getGroupList</string>
        <key>routeURL</key>
        <string>/groups/list/user</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getGroupInfor</string>
        <key>routeURL</key>
        <string>/groups/:groupId</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>getFreshManList</string>
        <key>routeURL</key>
        <string>/users/list/:companyId/:freshman/:page</string>
        <key>routeMethod</key>
        <string>GET</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>voteForUser</string>
        <key>routeURL</key>
        <string>/interaction/poll/:interactionId/users/:userId</string>
        <key>routeMethod</key>
        <string>POST</string>
    </dict>
</array>
</plist>
