<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>routeName</key>
		<string>Login</string>
		<key>routeURL</key>
		<string>http://192.168.2.110:3002/v2_0/users/username</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Register</string>
		<key>routeURL</key>
		<string>http://192.168.2.110:3002/v2_0/users</string>
	</dict>
	<dict>
		<key>routeName</key>
		<string>Companies</string>
		<key>routeURL</key>
		<string>http://192.168.2.110:3002/v2_0/companies</string>
	</dict>
    <dict>
        <key>routeName</key>
        <string>companyQuickRegister</string>
        <key>routeURL</key>
        <string>http://192.168.2.110:3002/v2_0/companies/quickRegister</string>
    </dict>
    <dict>
        <key>routeName</key>
        <string>userLogin</string>
        <key>routeURL</key>
        <string>http://192.168.2.110:3002/v2_0/users/login</string>
    </dict>
</array>
</plist>
