<ion-list>
  <ion-item class="campaign_item" ng-repeat="campaign in campaign_list">
    <a href="#/app/campaign_detail/{{ campaign._id }}" class="campaign_link">
      <div class="row campaign_line">
        <p class="campaign_team_info">
          <img class="campaign_group_logo" ng-src="{{ base_url + campaign.logo }}"/>
          {{ campaign.owner_name }}
        </p>
      </div>
      <div class="row campaign_line campaign_content">
        <p>{{ campaign.theme }}</p>
      </div>
      <div class="row campaign_line campaign_time football">
        <div class="table_wrap campaign_time_shadow">
          <div class="table_cell">
            <div>
              <p class="campaign_time_remind">{{ campaign.remind_text }}</p>
              <p class="campaign_time_count">{{ campaign.start_time_text }}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <div class="row campaign_line campaign_operate_bar">
      <div class="col-3 col-30">
        <p class="campaign_operate_text">
          <i class="icon ion-ios7-person-outline"></i>
          {{ campaign.member.length }}人报名
        </p>
      </div>
      <div class="col-33 col-40 campaign_operate_button_container">
        <button class="campaign_operate_button" ng-if="!campaign.is_joined" ng-click="join(campaign._id)">
          <i class="icon ion-android-share"></i>
          参加活动
        </button>
        <button class="campaign_operate_button" ng-if="campaign.is_joined" ng-click="quit(campaign._id)">
          <i class="icon ion-android-share"></i>
          退出活动
        </button>
      </div>
      <div class="col-33 col-30">
        <p class="campaign_operate_text campaign_operate_share">
          <i class="icon ion-android-share"></i>
          share
        </p>
      </div>
    </div>
  </ion-item>
</ion-list>