<ion-list>
  <ion-item class="campaign_item" ng-repeat="campaign in campaign_list">
    <div class="item-content">
      <a href="#/app/campaign_detail/{{ campaign._id }}/" class="campaign_link">
        <div class="row campaign_title">
          <img class="campaign_group_logo" ng-src="{{ img_url + campaign.logo }}"/>
          <div class="campaign_label">
            <p class="campaign_theme"> {{ campaign.theme }} </p>
          </div>

        </div>
        <div class="campaign_time">
          <p class="campaign_time_remind">{{ campaign.remind_text }}</p>
          <p class="campaign_time_count">{{ campaign.start_time_text }}</p>
        </div>
      </a>
    </div>
  </ion-item>
</ion-list>
