<!-- <div class="photo_wrap center_img_container" detect-gestures gesture-type="swipe,doubletap" getsture-callback="changePhoto,closeModal">
  <img class="photo img" ng-src="{{nowPhoto}}"  detect-gestures gesture-type="pinch,drag" getsture-callback="pinchImage,drageImage"/>
  <img class="photo img" ng-src="{{nowPhoto}}"/>
</div> -->
<ion-header-bar align-title="left" class="bar bar-header bar-dark contain_black" ng-if="showHeader">
  <div class="buttons">
    <button class="button button-clear button-positive" ng-click="closeModal()">关闭</button>
  </div>
  <div class="buttons pull-right">
    <button class="button button-clear button-positive" ng-click="savePhoto()">保存</button>
  </div>
</ion-header-bar>
<ion-content overflow-scroll="true">
  <ion-slide-box class="photo_slide_modal" show-pager="false" on-slide-changed="changePhoto(index)" ng-click="showHeader= !showHeader;" detect-gestures gesture-type="doubletap" getsture-callback="closeModal">
    <ion-slide ng-repeat="photo in photos" class="photo_slide_cell">
      <ion-scroll zooming="true" direction="xy" min-zoom="1"  has-bouncing="true" class="photo_wrap center_img_container" delegate-handle="photo_{{$index}}">
        <!-- <img class="photo img"  detect-gestures gesture-type="pinchout" ng-src="{{ base_url + photo.uri}}/resize/320/568" /> -->
        <img class="photo img" id="photo_{{$index}}" ng-src="{{ base_url + photo.uri}}/resize/600/800"/>
      </ion-scroll >
    </ion-slide>
  </ion-slide-box>
 </ion-content>
