/* Empty. Add your own CSS if you like */

body {
	background-color: #e2e2e2;
}
.dl_header {

    opacity: 0.9;
}
.dl_card {
	margin: 20px 20px 15px;
	box-shadow: 0 4px 0 rgba(204, 204, 204, 1);
	background-color: #fff;
}
.dl_card .item {
	background-color: #fff;
	border-color: #fff;
}