/* Empty. Add your own CSS if you like */
html {
  font-size: 12px;
}
body {
  background-color: #e2e2e2;
  font-size: 12px;
}
.pane,
.view {
  background-color: #e2e2e2;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.icon.icon_small {
  font-size: 16px !important;
}
.icon.icon_small:before {
  font-size: 16px !important;
}
.dl_header {
  opacity: 0.9;
}
.title.title_have_right {
  margin-right: 30px;
}
.campaigns_container {
  padding-bottom: 32px;
}
.campaigns_container .campaign_filter {
  height: 33px;
  background-color: #fff;
}
.campaigns_container .campaign_filter .button {
  height: 32px;
  line-height: 30px;
  min-height: 32px;
  color: #676767;
  border-bottom: 1px solid #e2e2e2;
}
.campaigns_container .campaign_filter .button.icon_blue {
  height: 31px;
  color: #3ca2e0;
  border-bottom: 2px solid #3ca2e0;
}
.campaigns_container .campaign_list {
  height: 100%;
  background-color: #e2e2e2;
}
.campaigns_container .campaign_list .no_campaign {
  background-image: url("../img/no_new_campaign.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
}
.campaigns_container .campaign_list .no_campaign .no_campaign_tip {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
}
.campaigns_container .campaign_list .no_campaign .no_campaign_tip p {
  margin: 6px 1px;
}
.campaigns_container .campaign_list .no_campaign .no_campaign_tip p .team_link {
  margin: 0;
  color: #fff;
  background-color: #3498db;
  border: none;
  position: relative;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  padding: 7px 11px;
  text-decoration: none;
}
.campaigns_container .campaign_list .no_campaign .no_campaign_tip p .tip_info {
  padding-left: 11px;
}
.campaigns_container .campaign_list .campaign_container .campaign_container_title {
  font-size: 16px;
  margin-left: 1rem;
  padding-top: 1rem;
  color: #3ca2e0;
}
.dl_card {
  position: relative;
  display: block;
  margin: 10px 10px 5px;
  padding: 10px;
  box-shadow: 0 2px 0 #ccc;
  line-height: 18px;
  background-color: #fff;
  padding: 0;
}
.dl_card .campaign_card {
  display: block;
  text-decoration: none;
}
.dl_card .campaign_card .dl_cp_name {
  font-size: 16px;
  color: #333;
}
.dl_card .campaign_card .dl_card_header {
  padding: 0.833333rem;
  height: 80px;
}
.dl_card .campaign_card .dl_card_header .dl_card_header_info {
  width: 100%;
  padding-left: 70px;
  padding-right: 70px;
}
.dl_card .campaign_card .dl_card_header .dl_card_header_info .dl_cp_name,
.dl_card .campaign_card .dl_card_header .dl_card_header_info .dl_cp_address {
  margin: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #3ca2e0;
}
.dl_card .campaign_card .dl_card_header .dl_card_header_info .dl_cp_address {
  margin-top: 6px;
  font-size: 12px;
  color: #999;
}
.dl_card .campaign_card .dl_card_header .dl_card_header_operator {
  position: absolute;
  right: 10px;
  top: 10px;
}
.dl_card .campaign_card .dl_card_header .dl_card_header_operator .dl_btn_join {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #3ca2e0;
}
.dl_card .campaign_card .dl_card_header .dl_card_header_operator .dl_cp_time_countdown_end {
  color: #9e6dd0;
}
.dl_card .campaign_card .dl_card_header .dl_card_header_operator .dl_cp_time_countdown {
  margin: 0;
  width: 70px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #806dd0;
  border-radius: 5px;
  color: #9e6dd0;
  font-size: 14px;
}
.dl_card .campaign_card .dl_card_header .dl_card_header_operator .dl_cp_time_count,
.dl_card .campaign_card .dl_card_header .dl_card_header_operator .dl_cp_time_unit {
  display: block;
  float: left;
  width: 34px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.dl_card .campaign_card .dl_card_header .dl_card_header_operator .dl_cp_time_count {
  border-right: 1px solid #806dd0;
}
.dl_card .campaign_card .dl_card_header .dl_team_logo {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 5px;
}
.dl_card .campaign_card .dl_card_header_provoke {
  border-bottom: 1px solid #e2e2e2;
  height: 65px;
}
.dl_card .campaign_card .dl_card_header_provoke .dl_team_logo {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  margin: 10px;
  width: 45px;
  height: 45px;
  border-radius: 5px;
}
.dl_card .campaign_card .dl_card_header_provoke .dl_team_logo_right {
  right: 0;
  left: initial;
}
.dl_card .campaign_card .dl_card_header_provoke .dl_team_vs {
  margin: 7.5px auto;
  height: 30px;
  width: 135px;
  display: block;
  background-color: #618bd7;
  border-radius: 100%;
  color: #fff;
  font-size: 32px;
  line-height: 24px;
  text-align: center;
}
.dl_card .campaign_card .dl_card_body .dl_photo_alb {
  white-space: nowrap;
}
.dl_card .campaign_card .dl_card_body .dl_photo_alb .dl_cp_photo {
  margin-right: 5px;
  width: 96px;
  height: 96px;
}
.dl_card .campaign_card .dl_card_body .dl_cp_name {
  margin: 10px;
}
.dl_card .campaign_card .dl_card_body .dl_provoke_info {
  color: #333;
  margin: 10px;
}
.dl_card .campaign_card .dl_card_body .dl_provoke_info .dl_team_name {
  color: #806dd0;
}
.dl_card .campaign_card .dl_card_body .dl_provoke_info .dl_cp_name {
  margin-left: 0;
}
.dl_card .campaign_card .dl_card_body .dl_provoke_info .dl_cp_address {
  color: #999;
}
.dl_card .campaign_card .dl_card_footer {
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 0.833333rem;
  font-size: 12px;
  color: #999;
  width: 100%;
  border-top: 1px solid #e2e2e2;
}
.dl_card .campaign_card .dl_card_footer .dl_team_name {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 160px;
}
.dl_card .campaign_card .dl_card_footer .dl_cp_time {
  position: absolute;
  top: 0;
  right: 80px;
}
.dl_card .campaign_card .dl_card_footer .dl_team_number {
  position: absolute;
  top: 0;
  right: 50px;
}
.dl_card .campaign_card .dl_card_footer .dl_team_comment {
  position: absolute;
  top: 0;
  right: 10px;
  margin-left: 10px;
}
.dl_card .campaign_card .dl_card_footer .ion_member,
.dl_card .campaign_card .dl_card_footer .ion_comment {
  display: block;
  float: left;
  margin-top: 9px;
  margin-right: 5px;
  width: 12px;
  height: 12px;
}
.dl_card .campaign_card .dl_card_footer .dl_card_footer_count {
  display: block;
  float: left;
}
.dl_card .campaign_card .dl_card_footer_provoke {
  padding: 0.833333rem;
  height: 50px;
  border-top: 1px solid #e2e2e2;
}
.dl_card .campaign_card .dl_cp_confirm,
.dl_card .campaign_card .dl_cp_refuse,
.dl_card .campaign_card .dl_cp_cancel {
  width: 135px;
  height: 30px;
  border: none;
  color: #fff;
  background-color: #999;
  font-size: 14px;
  border-radius: 5px;
}
.dl_card .campaign_card .dl_cp_confirm {
  background-color: #6a73c6;
}
.dl_card .campaign_card .dl_cp_refuse {
  float: right;
}
.dl_card .campaign_card .dl_cp_cancel {
  display: block;
  margin: 0 auto;
}
.dl_card_detail {
  display: block;
  margin: 10px 10px 5px;
  padding: 10px;
  box-shadow: 0 2px 0 #ccc;
  line-height: 18px;
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
}
.dl_card_detail .dl_card_header {
  background-color: #3ca2e0;
  color: #fff;
  padding: 10px;
  height: 50px;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
.dl_card_detail .dl_card_header .dl_team_logo {
  float: left;
  border-radius: 5px;
}
.dl_card_detail .dl_card_header .dl_team_name {
  color: #fff;
  float: left;
  margin: 0 0 0 10px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
}
.dl_card_detail .dl_card_header .campaign_mold {
  float: right;
  color: #3ca2e0;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bolder;
}
.dl_card_detail .dl_card_header .publish_notice {
  float: right;
  margin: 0 10px 0 0;
  line-height: 30px;
  padding-left: 20px;
}
.dl_card_detail .dl_card_header .dl_card_title {
  margin: 0 0 0 10px;
  line-height: 30px;
}
.dl_card_detail .dl_card_header .dl_notice_container {
  padding: 10px;
}
.dl_card_detail .dl_card_header .dl_notice_container .dl_card_title {
  margin: 0;
}
.dl_card_detail .dl_card_header .dl_notice_container .dl_notice_count {
  margin-left: 10px;
}
.dl_card_detail .dl_card_header_provoke .dl_team_logo_right {
  float: right;
}
.dl_card_detail .dl_card_header_provoke .dl_team_name {
  width: 25%;
}
.dl_card_detail .dl_card_header_provoke .dl_team_vs {
  color: #fff;
  float: left;
  margin: 0 0 0 10px;
  line-height: 30px;
}
.dl_card_detail .dl_card_header_small {
  height: 25px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 13px;
  font-weight: bolder;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
.dl_card_detail .dl_card_body {
  padding: 10px;
}
.dl_card_detail .dl_card_body .dl_cp_name {
  margin-bottom: 10px;
}
.dl_card_detail .dl_card_body a.dl_cp_address {
  display: inline-block;
  background-color: #efefef;
  padding: 10px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: none;
  font-size: 14px;
}
.dl_card_detail .dl_card_body a.dl_cp_address .icon {
  margin-left: 5px;
}
.dl_card_detail .dl_card_body .dl_cp_time {
  margin-bottom: 10px;
}
.dl_card_detail .dl_card_body .dl_photo_alb {
  white-space: nowrap;
}
.dl_card_detail .dl_card_body .dl_photo_alb .dl_cp_photo {
  margin-right: 5px;
}
.dl_card_detail .dl_card_body .dl_cp_join {
  min-height: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #3ca2e0;
}
.dl_card_detail .dl_card_body .dl_cp_quit {
  min-height: 40px;
  height: 40px;
  border-radius: 5px;
  color: #3ca2e0;
  border: 1px solid #3ca2e0;
  background-color: #fff;
}
.dl_card_detail .dl_card_body .dl_cp_confirm,
.dl_card_detail .dl_card_body .dl_cp_refuse,
.dl_card_detail .dl_card_body .dl_cp_cancel {
  width: 48%;
  height: 40px;
  min-height: 40px;
  border: none;
  color: #fff;
  background-color: #999;
  font-size: 14px;
  border-radius: 5px;
}
.dl_card_detail .dl_card_body .dl_cp_confirm {
  background-color: #6a73c6;
}
.dl_card_detail .dl_card_body .dl_cp_refuse {
  float: right;
}
.dl_card_detail .dl_card_body .dl_cp_cancel {
  display: block;
  margin: 0 auto;
}
.dl_card_detail .dl_card_footer {
  height: 40px;
  padding: 0;
  border-bottom-left-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
.dl_card_detail .dl_card_footer .col {
  padding: 0;
  color: #999;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 40px;
  border-right: 1px solid #ccc;
}
.dl_card_detail .dl_card_footer .col:last-child {
  border-right: none;
}
.dl_card_detail .dl_card_footer .col .icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
  color: #3ca2e0;
  font-size: 16px;
}
.dl_card_detail .dl_card_footer .col .dl_icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 200px;
  vertical-align: middle;
  margin-top: 3px;
}
.dl_card_detail .dl_card_footer .col .ion_member {
  background-position: 5px -148px;
}
.dl_card_detail .dl_cp_time_status {
  color: #9e6dd0;
  margin-right: 10px;
}
.dl_card_detail .dl_cp_time_countdown {
  margin-top: -6px;
  width: 70px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #806dd0;
  border-radius: 3px;
  color: #9e6dd0;
  font-size: 16px;
  float: right;
}
.dl_card_detail .dl_cp_time_countdown .dl_cp_time_count,
.dl_card_detail .dl_cp_time_countdown .dl_cp_time_unit {
  display: block;
  float: left;
  width: 34px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.dl_card_detail .dl_cp_time_countdown .dl_cp_time_count {
  border-right: 1px solid #806dd0;
}
.dl_card_detail .dl_notice span {
  color: #999;
}
.dl_card_detail .dl_notice .dl_notice_sender {
  color: #3ca2e0;
}
.dl_card_detail .dl_notice .dl_notice_content {
  margin-left: 10px;
}
.dl_card_detail .dl_card_member {
  background-color: #3ca2e0;
  padding: 6px 46px 2px 10px;
  border-radius: 5px !important;
  min-height: 50px;
}
.dl_card_detail .dl_card_member .dl_member {
  position: relative;
}
.dl_card_detail .dl_card_member .dl_member .dl_member_logo {
  border-radius: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}
.dl_card_detail .dl_card_member .dl_member .dl_member_leader {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 3px;
  background-color: #fbc441;
  border-radius: 100%;
  background-image: url("../img/icon.png");
  background-size: 192px 240px;
  background-position: -45px -140px;
}
.dl_card_detail .dl_card_member .dl_card_more {
  background-color: #3ca2e0;
  color: #fff;
  border: none;
  position: absolute;
  top: 0;
  right: 10px;
  line-height: 50px;
}
.dl_card_detail .dl_card_member .dl_card_more .icon {
  margin-left: 5px;
}
.dl_card_detail .dl_card_time {
  height: 50px;
  font-size: 14px;
  border-radius: 5px !important;
}
.dl_card_detail .item:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.dl_photo_album_card {
  display: block;
  margin: 10px 10px 5px;
  padding: 10px;
  box-shadow: 0 2px 0 #ccc;
  line-height: 18px;
  background-color: #fff;
}
.dl_photo_album_card .card_header {
  height: 20px;
}
.dl_photo_album_card .header_title {
  float: left;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: #333;
}
.dl_photo_album_card .photo {
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  width: 65px;
  height: 65px;
}
.dl_photo_album_card .photo_wrap {
  display: block;
  position: relative;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  width: 65px;
  height: 65px;
}
.dl_photo_album_card .photo_wrap .family_photo {
  width: 65px;
  height: 65px;
}
.dl_photo_album_card .photo_wrap .delete_op_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  background-color: transparent;
  z-index: 10;
}
.dl_photo_album_card .photo_wrap .delete_icon_background {
  position: absolute;
  top: 20px;
  left: 18px;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background-color: #fff;
}
.dl_photo_album_card .photo_wrap .delete_icon {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 25px;
  color: #e74c3c;
}
.bar-footer {
  padding: 0;
}
.button-bar > .button {
  padding: 0;
}
.dl_button {
  margin: 0;
  color: #fff;
  padding: 0 10px;
  border-width: 0;
  border-radius: 2px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 30px;
  cursor: pointer;
}
.dl_button:hover {
  color: #fff;
}
input::-webkit-input-placeholder {
  color: #3ca2e0;
}
input::-moz-placeholder {
  color: #3ca2e0;
}
input:-ms-input-placeholder {
  color: #3ca2e0;
}
input:focus::-webkit-input-placeholder textarea {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}
.bar {
  border-bottom: 1px solid #ccc;
}
.bar .dl_title {
  left: 70px !important;
  right: 70px !important;
}
.bar .title + .button.ion_discuss_active:last-child {
  right: 15px;
  width: 30px;
}
.bar .button {
  border: 0;
  background-color: transparent;
  color: #3ca2e0;
  font-size: 16px;
  font-weight: 600;
  line-height: 35px;
}
.bar .button.activated {
  box-shadow: 0 0 0;
  color: #ddd;
}
.bar .icon-left.button:before,
.bar .icon-right.button:before {
  font-size: 16px;
}
.login>.bar .icon-left.button:before,
.login>.bar .icon-right.button:before {
  padding-left: 10px;
}
.login>.bar .icon-right.button:before {
  padding-left: 5px;
  padding-right: 10px;
}
.home {
  background-color: #e2e2e2;
}
.home .slider {
  height: 100%;
}
.home .slider .page_1 {
  height: 100%;
  background: url("../img/index_1.gif") center no-repeat;
  background-size: 401px;
}
.home .slider .page_2 {
  height: 100%;
  background: url("../img/index_2.gif") center no-repeat;
  background-size: 320px;
}
.home .slider-pager {
  bottom: 90px;
}
.home .slider-pager .active>.icon.ion-record {
  color: #3ca2e0;
}
.home .home_buttons {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  z-index: 2;
}
.home .home_buttons .button {
  width: 45%;
  min-height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
}
.home .home_buttons .login_button {
  background-color: #3ca2e0;
  margin-right: 3%;
}
.home .home_buttons .register_button {
  background-color: #618bd7;
}
.login .dl_search_icon,
.edit_team_info .dl_search_icon {
  color: #3ca2e0;
  font-size: 30px;
  margin: -10px 10px;
}
.login {
  background-color: #fff;
}
.login input {
  color: #3ca2e0;
}
.login .bar .title {
  color: #3ca2e0;
}
.login .list.list-inset:first-child {
  margin: 20px 20px 10px;
}
.login .list.list-inset {
  margin: 15px 20px;
}
.login .list.list-inset .item {
  border: 1px solid #3ca2e0;
  border-radius: 5px;
}
.login .list.list-inset .login_button {
  background-color: #3ca2e0;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  min-height: 40px;
  line-height: 40px;
}
.login .list.list-inset .dkblue_button {
  background-color: #618bd7;
}
.login .links,
.login .tip_msg {
  margin: 0 20px;
}
.login .links .medium_tip,
.login .tip_msg .medium_tip {
  font-size: 14px;
}
.login .links .large_tip,
.login .tip_msg .large_tip {
  font-size: 16px;
}
.login .links .gray_msg,
.login .tip_msg .gray_msg {
  color: #999;
}
.login .links .black_msg,
.login .tip_msg .black_msg {
  color: #666;
  font-weight: 600;
}
.login .links .blue_msg,
.login .tip_msg .blue_msg {
  color: #3ca2e0;
}
.login .links .dkblue_msg,
.login .tip_msg .dkblue_msg {
  color: #618bd7;
}
.login .links a,
.login .tip_msg a {
  text-decoration: none;
}
.login .companies_list {
  color: #3ca2e0;
  padding: 16px 18px;
}
a>.login .companies_list:activated {
  background-color: #676767;
}
.login .companies_list .icon.ion-chevron-right {
  font-size: 18px;
}
.login .login_form .item-input>input {
  height: 37px;
}
.login .signup_form .dl_list {
  display: flex;
  margin: 15px 20px;
  border: 1px solid #3ca2e0;
  border-radius: 5px;
  padding: 5px 0 5px 16px;
  height: 47px;
}
.login .signup_form .dl_list select {
  width: 32%;
  float: left;
  border: 0;
  background-color: transparent;
  margin-right: 3px;
  color: #3ca2e0;
  height: 34px;
}
.login .signup_form .dl_list input.arecode {
  width: 25%;
  float: left;
}
.login .signup_form .dl_list input.number {
  width: 50%;
  float: left;
}
.login .signup_form .dl_list input.extension {
  width: 25%;
  float: left;
}
.login .signup_form .ng-dirty.ng-invalid {
  background-color: #fcebeb;
}
.pull-right {
  float: right;
}
.app_tabs > .tabs {
  background-color: #000;
  color: #fff;
}
.app_tabs > .tabs .tab-item {
  position: relative;
}
.app_tabs > .tabs .tab-item .icon {
  width: 32px;
  height: 30px;
}
.app_tabs > .tabs .tab-item .badge {
  background-color: #ff5724;
  width: 12px;
  height: 12px;
  color: transparent;
  right: calc(50% - 20px);
}
.app_tabs > .tabs .tab-item-active .tab-title {
  color: #3ca2e0;
}
.ion_campaign,
.ion_campaign_active,
.ion_discuss,
.ion_discuss_active,
.ion_company,
.ion_company_active,
.ion_personal,
.ion_personal_active {
  background-image: url("../img/nav_tab.png");
  background-size: 300px 110px;
}
.ion_campaign {
  background-position: 6px -7px;
}
.ion_campaign_active {
  background-position: 6px -50px;
}
.ion_discuss {
  background-position: -75px -7px;
}
.ion_discuss_active {
  background-position: -75px -50px;
}
.ion_company {
  background-position: -153px -7px;
}
.ion_company_active {
  background-position: -153px -50px;
}
.ion_personal {
  background-position: -233px -7px;
}
.ion_personal_active {
  background-position: -233px -50px;
}
.ion_member,
.ion_comment,
.ion_ballon,
.ion_teams,
.ion_team,
.ion_foot,
.ion_message,
.ion_calendar,
.ion_setting,
.ion_invite_code {
  background-image: url("../img/icon.png");
  background-size: 160px 200px;
}
.ion_member {
  background-position: 0px -80px;
}
.ion_comment {
  background-position: -40px -80px;
}
.ion_ballon {
  background-position: -110px -65px;
}
.ion_teams {
  background-position: -70px -62px;
}
.ion_foot {
  background-position: -110px -103px;
}
.ion_message {
  background-position: 10px -342px;
}
.ion_calendar {
  background-position: -70px -103px;
}
.ion_setting {
  background-position: -30px -145px;
}
.ion_invite_code {
  background-position: 10px -25px;
}
.emoji {
  margin: 0 0.1rem;
  vertical-align: middle;
}
.discuss_detail {
  background-image: url("../img/discuss_bgd.jpg");
  background-size: 400px;
  background-position: center;
}
.discuss_detail .icon-right {
  width: 40px;
  margin-top: 3px;
}
.discuss_detail .notice.show {
  display: block;
}
.discuss_detail .notice {
  display: none;
  height: 85px;
  position: absolute;
  top: 5rem;
  width: 90%;
  margin: 5%;
}
.discuss_detail .notice .notice_cover {
  background-color: #fff;
  opacity: 0.8;
  height: 85px;
  z-index: 1;
  border-radius: 3px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.discuss_detail .notice .content {
  z-index: 2;
  padding: 10px;
}
.discuss_detail .notice .content .notice_title {
  color: #3ca2e0;
  float: left;
  font-size: 14px;
  font-weight: 600;
}
.discuss_detail .notice .content .notice_content {
  color: #666;
  width: 100%;
  float: left;
  font-size: 16px;
  margin-top: 10px;
}
.discuss_detail .notice .content .close_button {
  color: #3ca2e0;
  background-color: transparent;
  font-size: 20px;
  line-height: 1;
  padding: 0;
}
.discuss_detail .comments .time_block {
  text-align: center;
  width: 100%;
  float: left;
  opacity: 0.8;
  padding: 5px;
}
.discuss_detail .comments .time_block .time {
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  padding: 2px 15px;
}
.discuss_detail .comments .failed {
  text-align: center;
  color: #fff;
}
.discuss_detail .comments .failed .tip {
  background-color: #999;
  padding: 2px 10px;
  border-radius: 5px;
  display: -webkit-inline-box;
}
.discuss_detail .comments .comment {
  width: 100%;
  clear: both;
  margin-bottom: 1rem;
}
.discuss_detail .comments .comment .logo {
  float: left;
  width: 5rem;
  height: 5rem;
  padding-left: 1rem;
}
.discuss_detail .comments .comment .logo img {
  float: left;
}
.discuss_detail .comments .comment .contents {
  float: left;
  width: 80%;
}
.discuss_detail .comments .comment .contents .name {
  width: 100%;
  text-align: left;
  color: #fff;
  font-weight: 600;
  padding: 0 0.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.discuss_detail .comments .comment .contents .ion-looping {
  float: left;
  margin-top: 0.8rem;
  color: #fff;
  font-size: 14px;
}
.discuss_detail .comments .comment .contents .content {
  display: inline-block;
  font-size: 16px;
  color: #676767;
  max-width: 100%;
  padding: 2px 7px;
  line-height: 22px;
}
.discuss_detail .comments .comment .triangle_isosceles {
  position: relative;
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 5px;
  background: linear-gradient(top, #fff, #fbfbfb);
  margin-left: 0.8rem;
}
.discuss_detail .comments .comment .triangle_isosceles a {
  text-decoration: none;
  color: #676767;
}
.discuss_detail .comments .comment .triangle_isosceles:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-style: solid;
  border-color: #fff transparent;
  top: 0.8rem;
  left: -0.7rem;
  bottom: auto;
  border-width: 0.5rem 0.8rem 0.5rem 0;
  border-color: transparent #fff;
}
.discuss_detail .comments .comment .triangle_img {
  background: none;
  padding: 0;
}
.discuss_detail .comments .comment .triangle_img .box {
  position: relative;
  overflow: hidden;
  width: 170px;
  height: 170px;
  border-radius: 10px;
  background-color: #fff;
}
.discuss_detail .comments .comment .triangle_img .box img {
  position: absolute;
  top: -10px;
  left: -10px;
}
.discuss_detail .comments .comment .triangle_img .tr {
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: -5px;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
}
.discuss_detail .comments .comment .triangle_img .tr img {
  position: absolute;
  top: -4px;
  left: -20px;
  -webkit-transform-origin: 0px 0px;
  -ms-transform-origin: 0px 0px;
  transform-origin: 0px 0px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.discuss_detail .comments .comment .triangle_img:after {
  display: none;
}
.discuss_detail .comments .putright .logo {
  float: right;
  padding-left: 0;
  padding-right: 1rem;
}
.discuss_detail .comments .putright .logo img {
  float: right;
}
.discuss_detail .comments .putright .contents {
  float: right;
}
.discuss_detail .comments .putright .contents .name {
  text-align: right;
}
.discuss_detail .comments .putright .contents .ion-looping {
  float: right;
}
.discuss_detail .comments .putright .contents .content {
  color: #fff;
  float: right;
}
.discuss_detail .comments .putright .triangle_isosceles {
  margin-right: 0.4rem;
  background: #3ca2e0;
}
.discuss_detail .comments .putright .triangle_isosceles:after {
  right: -0.7rem;
  left: auto;
  bottom: auto;
  border-width: 0.5rem 0rem 0.5rem 0.8rem;
  border-color: transparent #3ca2e0;
}
.discuss_detail .comments .putright .triangle_img {
  background: none;
}
.discuss_detail .comments .putright .triangle_img .tr {
  top: 10px;
  left: 162px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.discuss_detail .comments .putright .triangle_img .tr img {
  top: -19px;
  left: -33px;
  -webkit-transform-origin: 106px -129px;
  -ms-transform-origin: 106px -129px;
  transform-origin: 106px -129px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.discuss_detail .comments .putright .triangle_img .box img {
  left: auto;
  border: none;
  right: -10px;
}
.comment_box {
  color: #333;
  background-color: #e2e2e2;
  display: block;
  height: auto;
  padding-top: 5px;
}
.comment_box .icon.ion-image {
  font-size: 22px;
  margin-top: -12px;
  padding: 6% 10px 0;
  float: left;
}
.comment_box .comment_input {
  float: left;
  width: 68%;
  margin-top: 3px;
  padding-left: 5px;
  background-color: #fff;
  border-radius: 3px;
  padding-top: 5px;
  box-shadow: 0 0 0;
  border-radius: 3px;
  min-height: 28px;
  resize: none;
  margin-bottom: 5px;
}
.comment_box .emotion_button {
  float: left;
  background-color: transparent;
  width: 24px;
  margin-left: 2px;
  margin-top: -12px;
  padding: 6% 0 0;
}
.comment_box .emotion_button .emoji {
  vertical-align: baseline;
}
.comment_box button.publish_button[disabled] {
  color: #999 !important;
}
.comment_box .publish_button {
  float: left;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #333;
  text-align: cesfdgnter;
  width: 3rem;
  font-size: 14px;
  line-height: 21px;
  margin-top: -12px;
  padding: 6% 0 5px;
  font-weight: 600;
}
.comment_box .emotion_box {
  border-top: 1px solid #ccc;
  padding: 5px 0;
  width: 100%;
  height: 160px;
  float: left;
  background-color: #fff;
}
.comment_box .emotion_box .box {
  width: 320px;
  padding: 4px;
  margin: auto;
}
.comment_box .emotion_box .box .emotion {
  padding: 9px;
  float: left;
}
.comment_box .emotion_box .box .emotion .emoji {
  margin-right: 0;
  height: 21px;
  width: 21px;
  margin: 0;
}
.comment_box .emotion_box .slider-pager {
  bottom: 5px;
}
.comment_box .emotion_box .slider-pager .icon.ion-record {
  color: #3ca2e0;
}
.discuss_list .list {
  padding-top: 0;
}
.discuss_list .list .item {
  position: relative;
}
.discuss_list .list .item .red_spot {
  background-color: #f48361;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  left: 4rem;
  top: 1rem;
}
.item-avatar > img:first-child {
  border-radius: 0;
}
.discover .discover_image {
  width: 100%;
  display: block;
  background: url("../img/discover.jpg") no-repeat;
  background-size: 100%;
  height: 15rem;
  margin-top: 10px;
}
.discover .list .item:first-child {
  border-top: 0;
}
.discover .list .item .icon {
  width: 3rem;
  font-size: 14px;
  color: #3ca2e0;
}
.discover .list .item .icon.ion-android-contacts {
  font-size: 22px;
  padding-left: 4px;
}
.discover .list .item .item-note {
  color: #3ca2e0;
}
.company .company_image {
  width: 100%;
  display: block;
  background: url("../img/discover.jpg") no-repeat;
  background-size: 100%;
  height: 15rem;
  margin-top: 10px;
}
.company .list .item:first-child {
  border-top: 0;
}
.company .list .item .icon {
  width: 3rem;
  font-size: 14px;
  color: #3ca2e0;
}
.company .list .item .icon.ion-android-contacts {
  font-size: 22px;
  padding-left: 4px;
}
.company .list .item .item-note {
  color: #3ca2e0;
}
.personal .list,
.settings .list,
.about .list,
.settings_account .list,
.contacts .list,
.company .list {
  margin-top: 10px;
}
.personal .list .ion-chevron-right,
.settings .list .ion-chevron-right,
.about .list .ion-chevron-right,
.settings_account .list .ion-chevron-right,
.contacts .list .ion-chevron-right,
.company .list .ion-chevron-right {
  font-size: 14px;
  color: #ccc;
}
.personal .list .ion-compose,
.settings .list .ion-compose,
.about .list .ion-compose,
.settings_account .list .ion-compose,
.contacts .list .ion-compose,
.company .list .ion-compose {
  color: #333;
  font-size: 20px;
  display: block;
  top: 16px;
}
.contacts .search_box {
  width: 100%;
  background-color: #e2e2e2;
}
.contacts .search_box .item-input-wrapper {
  background-color: #fff;
}
.contacts .search_box input {
  background-color: #fff;
}
.settings_account a.item {
  color: #444;
}
.personal .list {
  padding-top: 0;
  margin-bottom: 10px;
}
.personal .list .item.item-avatar {
  padding-bottom: 5px;
}
.personal .list .item.item-avatar h2 {
  font-weight: 400;
  margin-bottom: 5px;
}
.personal .list .item.item-avatar p {
  margin-bottom: 5px;
  color: #999;
}
.personal .list .item.item-avatar .tags {
  white-space: normal;
}
.personal .list .item.item-avatar .tags .tag {
  padding: 2px;
}
.personal .list .item.item-icon-left .icon {
  width: 3rem;
}
.personal .user_card>.item>.introduce {
  white-space: normal;
}
.personal .user_card>.item>.introduce .title {
  float: left;
}
.personal .user_card>.item>.introduce .content {
  float: left;
  width: 18rem;
}
.personal .statistics {
  text-align: center;
  padding: 0;
}
.personal .statistics .row {
  padding: 0;
}
.personal .statistics .row .col-33 {
  border-left: 1px solid #ccc;
  padding: 5px 0;
}
.personal .statistics .row .col-33 .number {
  color: #222;
  font-size: 16px;
}
.personal .statistics .row .col-33:first-child {
  border-left: 0;
}
.personal .statistics .row a {
  text-decoration: none;
}
.edit_info .list {
  padding-top: 10px;
}
.edit_info .list .item-thumbnail-right h2 {
  margin-top: 10px;
}
.edit_info .list .item-thumbnail-right img:first-child {
  left: 36%;
}
.edit_info .list .item-input {
  padding: 6px 20px 5px;
}
.edit_info .list .item-input input {
  color: #3ca2e0;
}
.edit_info .list .item-input .introduce {
  color: #3ca2e0;
  resize: none;
}
.edit_info .list .item-radio .item-content {
  padding: 0 30px;
}
.edit_info .list .item-radio .radio-icon {
  padding: 0 5px;
  font-size: 16px;
  color: #666;
}
.edit_info .list .item-icon-right input {
  z-index: 2;
}
.edit_info .list .item-icon-right .icon {
  color: #999;
  z-index: 1;
  font-size: 24px;
}
.edit_team_info .list {
  background-color: #fff;
}
.edit_team_info .list .leader span {
  float: left;
}
.edit_team_info .list .leader .leader_logo {
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.edit_team_info .list .search {
  border: 1px solid #3ca2e0;
  border-radius: 5px;
  margin: 5px 16px;
}
.edit_team_info .list .people .person {
  float: left;
  width: 25%;
  text-align: center;
}
.edit_team_info .list .people .person .photo {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.edit_team_info .list .people .person .photo.selected {
  border: 1px solid #f44;
}
.edit_team_info .list .people .person .name {
  width: 100%;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
}
.user_card .tags {
  white-space: normal;
}
.user_card .tags .tag {
  padding: 2px;
}
.user_card .tabs {
  border-top: 1px solid #e2e2e2 !important;
}
.settings .list {
  padding-top: 0;
  border-bottom: 1px solid #ccc;
}
.settings .list:first-child {
  margin-bottom: 10px;
  margin-top: 10px;
}
.settings .list .item {
  color: #333;
  padding-left: 20px;
}
.settings .quit_button {
  border-top: 0;
  color: #f3835c;
  height: 50px;
  border-bottom: 1px solid #ccc;
}
.about .list {
  color: #666;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
}
.about .list .item {
  padding-left: 20px;
}
.about .about_title {
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 16px;
  padding: 30px;
  color: #333;
}
.settings_feedback .list>.list-inset,
.changePwd .list>.list-inset {
  background-color: transparent;
  margin: 20px;
}
.settings_feedback .list>.list-inset .item,
.changePwd .list>.list-inset .item {
  border-radius: 5px;
}
.settings_feedback .list>.list-inset .item input::-webkit-input-placeholder,
.changePwd .list>.list-inset .item input::-webkit-input-placeholder {
  color: #676767;
}
.settings_feedback .list>.list-inset .item input::-moz-placeholder,
.changePwd .list>.list-inset .item input::-moz-placeholder {
  color: #676767;
}
.settings_feedback .list>.list-inset .item input:-ms-input-placeholder,
.changePwd .list>.list-inset .item input:-ms-input-placeholder {
  color: #676767;
}
.settings_feedback .list>.list-inset .item textarea::-webkit-input-placeholder,
.changePwd .list>.list-inset .item textarea::-webkit-input-placeholder {
  color: #676767;
}
.settings_feedback .list>.list-inset .item textarea::-moz-placeholder,
.changePwd .list>.list-inset .item textarea::-moz-placeholder {
  color: #676767;
}
.settings_feedback .list>.list-inset .item textarea:-ms-input-placeholder,
.changePwd .list>.list-inset .item textarea:-ms-input-placeholder {
  color: #676767;
}
.settings_feedback .list>.list-inset .item textarea,
.changePwd .list>.list-inset .item textarea {
  height: 100px;
}
.settings_feedback .list>.list-inset .item .ng-dirty.ng-invalid,
.changePwd .list>.list-inset .item .ng-dirty.ng-invalid {
  background-color: #fcebeb;
}
.settings_feedback .list>.list-inset .submit_button,
.changePwd .list>.list-inset .submit_button {
  border: 0;
  border-radius: 5px;
  background-color: #3ca2e0;
  font-size: 16px;
  font-weight: 600;
}
.calendar {
  margin: 6px 4px;
  color: #999;
  height: 100%;
}
.calendar nav {
  background-color: #f6f6f6;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.calendar nav .operator {
  background-color: #3ca2e0;
  color: #fbfbfb;
  border: none;
  margin: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.calendar nav .week {
  position: relative;
  background-color: #3ca2e0;
  background-image: -webkit-linear-gradient(#57b4ec, #3ca2e0);
}
.calendar nav .week .day {
  float: left;
  width: 14.285714285714286%;
  height: 20px;
  line-height: 20px;
  color: #fff;
  border-right: solid 1px #2184bf;
}
.calendar nav .date_list {
  position: relative;
}
.calendar nav .date_list .date_box {
  float: left;
  width: 14.285714285714286%;
  height: 60px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.calendar nav .date_list .date_box.other_month {
  background-color: #efefef;
  color: #ccc;
}
.calendar nav .date_list .date_box .date {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.calendar nav .date_list .date_box .campaign_count {
  margin-top: 15%;
  display: inline-block;
  color: #fff;
  background-color: #3ca2e0;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.calendar nav .date_list .date_box.current_day {
  background-color: #3ca2e0;
  color: #fff;
  border-top: solid 1px #2184bf;
}
.calendar nav .date_list .date_box.current_day .date {
  color: #fff;
  border-radius: 50px;
}
.calendar nav .date_list .date_box.current_day .campaign_count {
  color: #3ca2e0;
  background-color: #fff;
}
.calendar nav .date_bar {
  margin: 5px auto;
}
.calendar .full_box {
  height: 100%;
}
.calendar .calendar_box {
  position: relative;
  height: 100%;
}
.calendar .calendar_year {
  height: 100%;
}
.calendar .calendar_year .year_section {
  float: left;
  width: 33.333333333333336%;
  height: 25%;
  text-align: center;
}
.calendar .calendar_month {
  height: 100%;
  margin-top: 1px;
}
.calendar .calendar_month .today_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  height: 50px;
}
.calendar .calendar_month .today_container .today {
  height: 30px;
  min-height: 30px;
  line-height: 30px;
  margin: 10px;
  border-radius: 6px;
}
.calendar .calendar_month .month {
  width: 14.285714285714286%;
  height: 40px;
  padding-top: 15px;
  text-align: center;
}
.calendar .calendar_month .calendar_day {
  position: relative;
  float: left;
  width: 14.285714285714286%;
  height: 60px;
  background-color: #fbfbfb;
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
}
.calendar .calendar_month .calendar_day .calendar_date {
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
}
.calendar .calendar_month .calendar_day .calendar_campaign_count {
  margin-top: 15%;
  display: inline-block;
  color: #fff;
  background-color: #3ca2e0;
  border-radius: 100%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}
.calendar .calendar_month .calendar_day.today {
  background-color: #3ca2e0;
}
.calendar .calendar_month .calendar_day.today .calendar_date {
  color: #fff;
  border-radius: 50px;
}
.calendar .calendar_month .calendar_day.today .calendar_campaign_count {
  color: #3ca2e0;
  background-color: #fff;
}
.calendar .calendar_month .calendar_day .weekend {
  color: #808080;
}
.calendar .calendar_month .offset_0 {
  margin-left: 0%;
}
.calendar .calendar_month .offset_1 {
  margin-left: 14.285714285714286%;
}
.calendar .calendar_month .offset_2 {
  margin-left: 28.571428571428573%;
}
.calendar .calendar_month .offset_3 {
  margin-left: 42.857142857142854%;
}
.calendar .calendar_month .offset_4 {
  margin-left: 57.142857142857146%;
}
.calendar .calendar_month .offset_5 {
  margin-left: 71.42857142857143%;
}
.calendar .calendar_month .offset_6 {
  margin-left: 85.71428571428571%;
}
.calendar .calendar_day {
  height: 100%;
}
.calendar .calendar_day .no_campagin {
  background-color: #fbfbfb;
}
.calendar .calendar_day .calendar_campaign {
  margin: 0;
  padding: 0;
  border-bottom: 1px;
  border-left: none;
  border-right: none;
}
.calendar .calendar_day .calendar_campaign:first-child {
  border-top: none;
}
.calendar .calendar_day .calendar_campaign .provoke {
  padding-left: 116px;
}
.calendar .calendar_day .calendar_campaign .provoke .second_team {
  position: absolute;
  top: 16px;
  left: 66px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  border-radius: 4px;
}
.calendar .calendar_day .calendar_campaign .flag {
  position: absolute;
  top: 0;
  right: 5px;
}
.calendar .calendar_day .calendar_campaign .flag.now {
  color: #9e6dd0;
}
.calendar .calendar_day .calendar_campaign .flag.join {
  color: #3ca2e0;
}
.calendar .calendar_day .calendar_campaign .campaign_link {
  text-decoration: none;
}
.calendar .calendar_day .calendar_campaign .campaign_link .campaign_title {
  padding: 0;
}
.calendar .calendar_day .calendar_campaign .campaign_link .campaign_title .campaign_group_logo {
  margin: 10px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 5px;
}
.calendar .calendar_day .calendar_campaign .campaign_link .campaign_title .campaign_label {
  padding: 10px 0;
}
.calendar .calendar_day .calendar_campaign .campaign_link .campaign_title .campaign_label p {
  padding: 0;
  margin: 0;
}
.calendar .calendar_day .calendar_campaign .campaign_link .campaign_title .campaign_label .campaign_theme {
  font-size: 16px;
  color: #000;
}
.calendar .calendar_day .calendar_campaign .campaign_link .campaign_title .campaign_label .new_campaign_time {
  font-size: 14px;
}
.calendar .calendar_day .calendar_campaign .campaign_link .campaign_title .campaign_label .joined_sign {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-color: transparent #43cee6 transparent transparent;
  border-style: solid;
  border-width: 0 20px 20px;
}
.dl_popover {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0 !important;
}
.dl_popover .dl_popover_content .dl_popover_button {
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #000;
}
.dl_popover .popover-arrow {
  top: -19px;
}
.dl_popover .popover-arrow:after {
  background-color: rgba(0,0,0,0.7) !important;
}
.calendar_filter_popover {
  width: 80px;
  height: 105px;
}
.user_more_popover {
  width: 80px;
  height: 46px;
}
.user_more_popover .dl_popover_button .full_parent_link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 100%;
}
.dl_message_unread {
  color: #8b0000;
}
.team_page .team_header {
  position: relative;
}
.team_page .team_header .team_family {
  width: 100%;
}
.team_page .team_header .logo {
  position: absolute;
  left: 20px;
  bottom: 15px;
  border-radius: 5px;
  width: 65px;
  height: 65px;
  border: 3px solid #fff;
}
.team_page .team_info {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}
.team_page .team_info .info_header {
  position: relative;
  padding: 0 1rem;
  height: 50px;
  color: #fff;
  background-color: #3ca2e0;
}
.team_page .team_info .team_name {
  float: left;
  font-size: 16px;
  line-height: 50px;
}
.team_page .team_info .team_type {
  float: right;
  margin: 10px 0;
  padding: 0 1rem;
  font-size: 12px;
  line-height: 30px;
  color: #3ca2e0;
  background-color: #fff;
  border-radius: 5px;
}
.team_page .team_info .info_body {
  padding: 1rem;
}
.team_page .team_info .start_time,
.team_page .team_info .team_des {
  font-size: 14px;
  color: #333;
}
.team_page .team_info .team_des {
  margin-top: 5px;
}
.team_page .team_info .btn_join,
.team_page .team_info .btn_joined {
  display: block;
  width: 100%;
  margin: 0;
  margin-top: 15px;
  padding: 0 1rem;
  border: 0;
  height: 40px;
  text-align: center;
  cursor: pointer;
  text-overflow: ellipsis;
  border-radius: 5px;
}
.team_page .team_info .btn_join {
  color: #fff;
  background-color: #3ca2e0;
}
.team_page .team_info .btn_joined {
  color: #3ca2e0;
  background-color: #fff;
  border: 1px solid #3ca2e0;
}
.team_page .team_info .info_footer {
  position: relative;
  padding: 0;
  height: 40px;
  border-top: 1px solid #e2e2e2;
}
.team_page .team_info .info_footer .icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
  color: #3ca2e0;
  font-size: 16px;
}
.team_page .team_info .ion_member {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 200px;
  background-position: 5px -148px;
  vertical-align: middle;
  margin-top: 3px;
}
.team_page .team_info .btn_member,
.team_page .team_info .btn_cp {
  border-left: 1px solid #e2e2e2;
}
.team_page .team_info .btn_upload_photo,
.team_page .team_info .btn_member,
.team_page .team_info .btn_cp {
  padding: 0;
  color: #999;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 40px;
}
.team_page .team_home_court {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 5px;
}
.team_page .team_home_court .home_court_tabs {
  padding: 0;
  height: 35px;
}
.team_page .team_home_court .tab {
  text-align: center;
  padding: 0;
  line-height: 35px;
  font-size: 16px;
  color: #3ca2e0;
  background-color: #fff;
}
.team_page .team_home_court .tab.active {
  color: #fff;
  background-color: #3ca2e0;
}
.team_page .team_home_court .map_wrap {
  display: block;
}
.team_page .team_home_court .map_img {
  display: block;
  width: 100%;
}
.team_page .team_home_court .home_court_name {
  padding: 0 1rem;
  margin: 0;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
.team_page .team_home_court .no_homecourt {
  max-width: 100%;
  display: block;
}
.team_page .member_card {
  position: relative;
  background-color: #3ca2e0;
  height: 60px;
  padding: 0 1rem;
  border-radius: 5px;
}
.team_page .member_card .member_wrap {
  position: relative;
  height: 60px;
  line-height: 60px;
  float: left;
}
.team_page .member_card .member {
  margin: 10px 0;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.team_page .member_card .dl_member_leader {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 9px;
  background-color: #fbc441;
  border-radius: 100%;
  background-image: url("../img/icon.png");
  background-size: 192px 240px;
  background-position: -45px -140px;
}
.team_page .member_card .member_link {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 60px;
  display: block;
  border-radius: 5px;
  background-color: #3ca2e0;
  color: #fff;
  line-height: 60px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.team_page .dl_campaign_group .dl_campaign_group_date {
  margin: 1rem;
  height: 20px;
  background-color: #999;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}
.dl_timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 70px;
  width: 3px;
  background: #ccc;
  left: 50%;
}
.dl_timeline .dl_timeline_card {
  z-index: 10;
}
.dl_timeline .dl_timeline_date {
  display: block;
  margin: 1rem auto;
  width: 100px;
  height: 20px;
  background-color: #ccc;
  color: #fff;
  border-radius: 5px;
  text-align: center;
  position: relative;
  z-index: 10;
}
.nomore_text {
  margin: 10px;
  font-size: 14px;
  text-align: center;
}
.member_page .member_group {
  margin: 0.833333rem;
}
.member_page .member_group_name {
  display: block;
  margin: 0 0.833333rem;
  border: 1px solid #999;
  color: #999;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
}
.member_page .member {
  position: relative;
  margin: 0.833333rem 0.833333rem 0;
  float: left;
  text-decoration: none;
}
.member_page .member_photo {
  display: block;
  width: 55px;
  height: 55px;
  border-radius: 5px;
}
.member_page .dl_member_leader {
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 23px;
  background-color: #fbc441;
  border-radius: 100%;
  background-image: url("../img/icon.png");
  background-size: 192px 240px;
  background-position: -45px -140px;
}
.member_page .member_name {
  margin: 3px auto 0;
  width: 50px;
  text-align: center;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.photo_album_detail_page .hidden_figcaption {
  display: none;
}
.dl_team_title {
  font-size: 14px;
  margin-left: 10px;
}
.dl_team_card {
  display: block;
  margin: 10px 10px 5px;
  padding: 10px;
  box-shadow: 0 2px 0 #ccc;
  line-height: 18px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  min-height: 80px;
}
.dl_team_card .team_logo {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
}
.dl_team_card .team_info {
  width: 100%;
  padding-left: 70px;
  color: #333;
  text-decoration: none;
}
.dl_team_card .team_info .team_name {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}
.dl_team_card .team_info .team_cp_title,
.dl_team_card .team_info .team_count,
.dl_team_card .team_info .team_member,
.dl_team_card .team_info .team_cp_number {
  margin: 0;
  font-size: 12px;
}
.dl_team_card .team_info .team_count {
  margin-top: 12px;
}
.dl_team_card .team_info .team_cp_title {
  margin-top: 5px;
}
.dl_team_card .team_info .team_cp_number {
  margin-left: 10px;
}
.dl_team_card .team_info .team_name,
.dl_team_card .team_info .team_cp_title,
.dl_team_card .team_info .team_cp_number {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all_team_list_page .dl_team_card .team_logo {
  width: 85px;
  height: 85px;
}
.all_team_list_page .dl_team_card .team_info {
  padding-left: 95px;
}
.all_team_list_page .dl_team_card .team_count {
  margin-top: 6px;
}
.all_team_list_page .dl_team_card .btn_quit,
.all_team_list_page .dl_team_card .btn_join {
  margin-top: 10px;
  padding: 0;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}
.all_team_list_page .dl_team_card .btn_quit {
  border: 1px solid #3ca2e0;
  color: #3ca2e0;
  background-color: #fff;
}
.all_team_list_page .dl_team_card .btn_join {
  color: #fff;
  background-color: #3ca2e0;
  border: none;
}
.loading_cover {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  color: #666;
  font-size: 16px;
}
.scroll-content>.scroll .ion-looping {
  font-size: 24px;
}
.map_page {
  display: block;
  margin: 10px 10px 5px;
  padding: 10px;
  box-shadow: 0 2px 0 #ccc;
  line-height: 18px;
  background-color: #fff;
}
.map_page .map .map_img {
  width: 100%;
}
.sponsor {
  background-color: #fff;
}
.sponsor .list .input-label {
  color: #999;
  padding-top: 0;
  padding-bottom: 0;
}
.sponsor .list .item-label {
  margin: 5px 20px;
  border: none;
  padding: 0;
}
.sponsor .list .item-input {
  margin: 5px 20px;
  border: 1px solid #3ca2e0;
  border-radius: 5px;
  color: #3ca2e0;
}
.sponsor .list .item-input textarea {
  color: #3ca2e0;
}
.sponsor .list .item-input input {
  height: 22px;
  color: #3ca2e0;
  padding-top: 2px;
}
.sponsor .list .item-input .introduce {
  color: #3ca2e0;
}
.sponsor .list .item-input .introduce::-webkit-input-placeholder {
  color: #3ca2e0;
}
.sponsor .list .item-select select {
  color: #3ca2e0;
  padding: 7px 48px 7px 16px;
}
.sponsor .list .item-select:after {
  color: #3ca2e0;
}
.sponsor .list .item-button {
  margin: 10px 20px;
}
.sponsor .list .item-button .button {
  width: 100%;
  border-radius: 5px;
}
.sponsor .list .item-button .button_sponsor {
  background-color: #3ca2e0;
  color: #fff;
}
.sponsor .list .item-button .button_close {
  background-color: #999;
  border: none;
}
.pswp .dl_button_to_album {
  background-image: none;
  color: #fff;
}
.pswp .dl_button_to_album .icon {
  font-size: 20px;
}
.map_container {
  height: 400px;
}
.popup-container .popup {
  width: 100%;
}
.campaign_card_container {
  -moz-transition: -moz-transform 1s;
  -webkit-transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
}
.campaign_card_container.remove {
  transform: translateY(500px) scale(0.1);
  -moz-transform: translateY(500px) scale(0.1);
  -webkit-transform: translateY(500px) scale(0.1);
  -o-transform: translateY(500px) scale(0.1);
}
#inviteKeyQrCode img {
  margin: 0 auto;
}
.invite_key .ion-clipboard {
  color: #3ca2e0;
}
.circle_send_content_page .circle_content_form .content_border,
.circle_uploader_page .circle_content_form .content_border {
  padding-right: 6px;
  z-index: 1500;
  height: 5px;
  border-left: 1px solid #33b5e5;
  border-right: 1px solid #33b5e5;
  border-bottom: 1px solid #33b5e5;
  background-color: transparent;
}
.circle_send_content_page .circle_content_form textarea,
.circle_uploader_page .circle_content_form textarea {
  overflow: hidden;
  height: auto;
  padding: 0px;
  resize: none;
  max-height: 560px;
  margin: 0px 4px 2px;
  background-color: transparent;
}
.circle_send_content_page .circle_content {
  margin: 20px 20px 10px;
}
.circle_uploader_page .preview_img_box {
  display: block;
  position: relative;
  float: left;
  padding: 5px;
  width: 33.3333333333333%;
}
.circle_uploader_page .preview_img {
  width: 100%;
  height: 100%;
}
.circle_company .circle_company_image {
  width: 100%;
  display: block;
  background: url("../img/discover.jpg") no-repeat;
  background-size: 100%;
  height: 15rem;
}
.circle_company .circle_user {
  position: relative;
  height: 20px;
}
.circle_company .circle_user .circle_user_name {
  position: absolute;
  bottom: 30px;
  right: 110px;
  color: #fff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.circle_company .circle_user .circle_user_image {
  display: block;
  position: absolute;
  top: auto;
  bottom: 10px;
  right: 30px;
  padding: 2px;
}
.dl_circle_company_card {
  display: block;
  margin: 10px 10px 5px;
  padding: 10px;
  box-shadow: 0 2px 0 #ccc;
  line-height: 18px;
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  min-height: 80px;
}
.dl_circle_company_card .circle_company_logo {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
}
.dl_circle_company_card .circle_info {
  margin-left: 45px;
  color: #333;
  text-decoration: none;
}
.dl_circle_company_card .circle_info .user_name {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}
.dl_circle_company_card .circle_info .circle_content {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}
.dl_circle_company_card .circle_info .icon_comment {
  height: 15px;
}
.dl_circle_company_card .circle_info .circle_comment {
  position: absolute;
  right: 10px;
  width: 15px;
  height: 15px;
}
.dl_circle_company_card .circle_info .circle_delete {
  font-size: 4px;
  margin-left: 4px;
  color: #618bd7;
}
.rank_select .groups .group {
  min-width: 50px;
  float: left;
  width: 25%;
  text-align: center;
  padding: 10px;
}
.rank_select .groups .group a {
  text-decoration: none;
}
.rank_select .groups .group a label {
  color: #000;
}
.rank_select .groups .group a label.active {
  color: #3ca2e0;
}
.rank_select .groups .group a .img_contain {
  width: 50px;
  height: 50px;
  background-image: url("/img/icons/groups_new.png");
  background-repeat: no-repeat;
  background-size: 600px 1500px;
  margin: 0 auto;
}
.rank_select .groups .group a .group_1 {
  background-position: 0px 0px;
}
.rank_select .groups .group a .group_2 {
  background-position: -100px 0px;
}
.rank_select .groups .group a .group_3 {
  background-position: -200px 0px;
}
.rank_select .groups .group a .group_4 {
  background-position: -300px 0px;
}
.rank_select .groups .group a .group_5 {
  background-position: -400px 0px;
}
.rank_select .groups .group a .group_6 {
  background-position: -500px 0px;
}
.rank_select .groups .group a .group_7 {
  background-position: 0px -100px;
}
.rank_select .groups .group a .group_8 {
  background-position: -100px -100px;
}
.rank_select .groups .group a .group_9 {
  background-position: -200px -100px;
}
.rank_select .groups .group a .group_10 {
  background-position: -300px -100px;
}
.rank_select .groups .group a .group_11 {
  background-position: -400px -100px;
}
.rank_select .groups .group a .group_12 {
  background-position: -500px -100px;
}
.rank_select .groups .group a .group_13 {
  background-position: 0px -200px;
}
.rank_select .groups .group a .group_14 {
  background-position: -100px -200px;
}
.rank_select .groups .group a .group_15 {
  background-position: -200px -200px;
}
.rank_select .groups .group a .group_16 {
  background-position: -300px -200px;
}
.rank_select .groups .group a .group_17 {
  background-position: -400px -200px;
}
.rank_table .belong {
  color: #3ca2e0;
}
.rank_table .top {
  color: #f00;
}
.rank_table .no_rank_table {
  text-align: center;
}
.competition_message_panel .competition_message_list .type_filter {
  text-align: center;
  padding: 10px 0;
}
.competition_message_panel .competition_message_list .competition_message {
  text-decoration: none;
  color: #000;
  background-color: #fff;
}
.search_opponent .select_team .units {
  background-color: #fbfbfb;
}
.search_opponent .select_team .units .unit {
  float: left;
  width: 30%;
  padding: 10px;
  cursor: pointer;
  background-color: #edebec;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid #3ca2e0;
  box-shadow: 1px 1px 3px #c8cac7;
  text-align: center;
}
.search_opponent .select_team .units .unit.leader {
  border: 1px solid #f48361;
}
.search_opponent .select_team .units .unit .logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.search_opponent .select_team .units .unit .text .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 10px;
  float: left;
}
.search_opponent .select_team .units .unit .button {
  width: 100%;
  height: 25px;
  background-color: #ccc;
  box-shadow: 0 0 0;
}
.search_opponent .selected_team .team .logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}
.search_opponent .selected_team .tab_view {
  width: 100%;
  background-color: #fff;
  margin-top: 10px;
}
.search_opponent .selected_team .tab_view .tab_content {
  padding: 50px 0 10px 0;
}
.search_opponent .selected_team .tab_view .tab_content .team {
  float: left;
  padding: 10px;
  text-decoration: none;
  color: #3ca2e0;
  width: 100%;
  background-color: #fff;
}
.search_opponent .selected_team .tab_view .tab_content .operator {
  clear: both;
  text-align: center;
}
.search_opponent .selected_team .tab_view .opponent_tab_style {
  width: 30%;
  float: left;
  text-align: center;
  background-color: #3ca2e0;
  border-right: 1px solid #3ca2e0;
}
.search_opponent .selected_team .tab_view .opponent_tab_style a {
  font-size: 16px;
  height: 100%;
  padding: 10px;
  display: block;
  color: #fff;
}
.search_opponent .selected_team .tab_view .opponent_tab_style.active {
  background-color: #fff;
}
.search_opponent .selected_team .tab_view .opponent_tab_style.active a {
  color: #3ca2e0;
}
.search_opponent .selected_team .tab_view .sameCity {
  width: 25%;
}
.search_opponent .selected_team .tab_view .nearbyTeam {
  width: 25%;
}
.search_opponent .selected_team .tab_view .nearbyTeam .nav_img {
  width: 16px;
}
.search_opponent .selected_team .tab_view .search {
  width: 50%;
  position: relative;
}
.search_opponent .selected_team .tab_view .search a {
  padding: 5px;
}
.search_opponent .selected_team .tab_view .search .searchOpponentInput {
  height: 30px;
  width: 280px;
  border-radius: 5px;
  border: 0;
  padding: 8px 10px;
  color: #3ca2e0;
  background-color: #e2e2e2;
}
.search_opponent .selected_team .tab_view .search .search_button {
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  color: #3ca2e0;
  font-size: 22px;
  padding: 0;
  border: none;
}
